@model AboutMe.Web.Admin.Controllers.AdminCouponController.MyMultiModelForProduct

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AboutMeAdminLayoutA.cshtml";
}

@section Scripts{

    <script type="text/javascript">

        $(document).ready(function(){

            var bSuccess = '@TempData["bSuccess"]';
            if(bSuccess){
                alert("쿠폰상품 정보가 등록되었습니다!");
            }
        });
    </script>
}

@{

    //[1] 마스터 정보

    string CouponName = "", CouponGbn = "", CouponGbnM = "";
    DateTime MasterFromDate, MasterToDate;
    string ServiceLifeGbn = "";
    DateTime FixedPeriodFrom, FixedPeriodTo;
    string UsableDeviceGbn = "", UsableYN = "", CouponDiscountMoney = "", CouponDiscountRate = "";
    string IssueMethodGbn = "", IssueMethodWithAuto = "";
    string RateOrMoney = "";
    string PRODUCT_APP_SCOPE_GBN = "";

    List<AboutMe.Domain.Entity.AdminCoupon.SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result> SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result
        = ViewData["SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result"] as List<AboutMe.Domain.Entity.AdminCoupon.SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result>;

    CouponName = SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result[0].COUPON_NAME;
    CouponGbn = SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result[0].COUPON_GBN;
    CouponGbnM = SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result[0].COUPON_GBN_M;
    MasterFromDate = SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result[0].MASTER_FROM_DATE.Value;
    MasterToDate = SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result[0].MASTER_TO_DATE.Value;
    ServiceLifeGbn = SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result[0].SERVICE_LIFE_GBN;
    //FixedPeriodFrom = SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result[0].FIXED_PERIOD_FROM.Value  ;
    //FixedPeriodTo = SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result[0].FIXED_PERIOD_TO.Value;
    UsableDeviceGbn = SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result[0].USABLE_DEVICE_GBN;
    UsableYN = SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result[0].USABLE_YN;
    CouponDiscountMoney = SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result[0].COUPON_DISCOUNT_MONEY.ToString();
    CouponDiscountRate = SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result[0].COUPON_DISCOUNT_RATE.ToString();
    IssueMethodGbn = SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result[0].ISSUE_METHOD_GBN;
    IssueMethodWithAuto = SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result[0].ISSUE_METHOD_WITH_AUTO;

    RateOrMoney = SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result[0].RATE_OR_MONEY;

    PRODUCT_APP_SCOPE_GBN = SP_ADMIN_COUPON_MASTER_DETAIL_SEL_Result[0].PRODUCT_APP_SCOPE_GBN;

}




@section Left {

    @{Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminLeft.cshtml");}
}

@section Header{
    @{ Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminHeader.cshtml");}
}

@section Body{

    <div class="content">
        <!--path-->
        <div class="path">
            <a href="/index.asp">HOME</a> &gt; <a href="/AdminPromotion/Index">프로모션관리</a> &gt; <a href="/AdminCoupon/Index">쿠폰정책관리</a> &gt; <strong>쿠폰적용 상품</strong>
        </div>
        <!--//path-->

        <div class="tar mb10">
            @{
                if (CouponGbn == "M")
                {
                     if(PRODUCT_APP_SCOPE_GBN == "B")
                        {<text><font color="red">이 쿠폰은 모든상품을 대상으로 발행되는 쿠폰입니다</font></text>}
                        else
                        {<a class="btn btn-default middium" href="/AdminCoupon/CouponProductCreate?CdCoupon=@Request["CdCoupon"]">상품 등록</a>}
                   
                }
            }

            
           <!-- <a class="btn btn-default middium" href="#">EXEL 다운로드</a> -->
        </div>

        <div class="panel">
            <h3 class="sub-header">쿠폰 적용된 상품 리스트</h3>
            <div class="alert alert-info">
                <ul>
                    <li>· 쿠폰에 적용된 상품의 리스트입니다.</li>
                    <li>. 쿠폰명  :  @CouponName  / 사용가능여부  :  @UsableYN</li>
                    <li>
                        · 쿠폰용도구분 : @{ if (CouponGbn == "M")
                         {<text>지불쿠폰</text>}
                         else
                         {<text>배송쿠폰</text>}}
                    </li>
@{ 
    if (CouponGbn == "M") 
    { 
                    <li>
                         @if(PRODUCT_APP_SCOPE_GBN == "B")
                         {<text><font color="red">. 이 쿠폰은 모든상품을 대상으로 발행되는 쿠폰입니다</font></text>}
                         else
                         {<text><font color="red">. 이 쿠폰은 특정상품을 선택하여 발행되는 쿠폰입니다</font></text>}
                    </li>
   }
}
                    <li>
                        · 쿠폰용도상세구분 : @{ if (CouponGbnM == "R")
                         {<text>회원가입</text>}
                         else if (CouponGbnM == "B")
                         {<text>생일</text>}
                         else if (CouponGbnM == "B")
                         {<text>일반이벤트쿠폰</text>}
                        }
                    </li>
                    <li>. 발행가능기간 : @MasterFromDate.ToString() ~ @MasterToDate.ToString() </li>


                    <li>
                        . 사용가능매체 : @{ if (CouponGbn == "P")
                         {<text>PC,모바일</text>}
                         else
                         {<text>모바일전용</text>}}
                    </li>
                    <li>. 금액   :  @CouponDiscountMoney   . 할인율 : @CouponDiscountRate</li>
                    <li>
                        . 발행방법 : @{ if (IssueMethodGbn == "A")
                         {<text>자동발행 </text>}
                         else if (IssueMethodGbn == "B")
                         {<text>수동발행</text>}}
                    </li>
                    <li>
                        . 자동발행 Type : @{ if (IssueMethodWithAuto == "A")
                         {<text>Action 발행(회원가입등..) </text>}
                         else if (IssueMethodWithAuto == "B")
                         {<text>Batch 발행(생일등...)</text>}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel">
            <h4>[ @CouponName ]쿠폰에 적용된 상품 리스트</h4>
            @using (Html.BeginForm("CouponProductList", "AdminCoupon", FormMethod.Post, new { id = "frm01", name = "frm01"}))
            {
                <input type="hidden" name="CdCoupon" value="@Request["CdCoupon"].ToString()" />
                @Html.AntiForgeryToken()  //폼 데이터 위조 방지 토큰 생성


                                        <table class="table table_row">
                                            <colgroup><col width="20%" /><col width="*" /></colgroup>
                                            <tbody>
                                                <tr>
                                                    <th scope="row" class="vam">검색</th>
                                                    <td class="condition_seacth">
                                                        <select name="SearchCol" style="width:170px;">
                                                            <option>-선택하세요-</option>
                                                            <option value="P_NAME" @if (ViewBag.SearchCol == "P_NAME")
                                                                                   {  <text> selected</text> }>상품명</option>
                                                            <option value="P_CODE" @if (ViewBag.SearchCol == "P_CODE") {  <text> selected</text> }>상품코드</option>

                                                        </select>  <input type="text" class="input-sm text-left" name="SearchKeyword" value="@ViewBag.SearchKeyword" />
                                                        <!--<a href="javascript:document.frm01.submit();" class="btn btn-default small">search</a>-->
                                                        <input type="submit" value=" Search >> ">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
            }
        </div>

        <div class="panel">
            <h4>[ @CouponName ]쿠폰에 적용된 상품 리스트</h4>
            <!-- 처음과 마지막  th, td에 각각 "brnone" class 사용합니다.-->
            <table class="table table_col">
                <colgroup>
                    <col width="5%" />
                    <col width="12%" />
                    <col width="9%" />
                    <col width="9%" />
                    <col width="*" />
                    <col width="7%" />
                    <col width="9%" />
                    <col width="9%" />
                    <col width="7%" />
                    <col width="7%" />
                    <col width="7%" />
                    <col width="7%" />

                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" class="brnone">No</th>
                        <th scope="col">상품코드</th>
                        <th scope="col">상품명</th>

                        <th scope="col">DEPTH1_NAME</th>
                        <th scope="col">DEPTH2_NAME</th>
                        <th scope="col">DEPTH3_NAME</th>

                        <th scope="col">생성일자</th>
                        <th scope="col">활성화/비활성화</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.inst_SP_ADMIN_COUPON_PRODUCT_DETAIL_SEL_Result)
                    {
                        <tr>
                            <td class="brnone">@item.IDX</td>
                            <td>@Html.DisplayFor(modelItem => item.P_CODE)</td>
                            <td>@Html.DisplayFor(modelItem => item.P_NAME)</td>
                            <td>@Html.DisplayFor(modelItem => item.DEPTH1_NAME)</td>
                            <td>@Html.DisplayFor(modelItem => item.DEPTH2_NAME)</td>
                            <td>@Html.DisplayFor(modelItem => item.DEPTH3_NAME)</td>
                            <td>@item.INS_DATE</td>
                            <td>@item.USABLE_YN</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


        @{Html.RenderAction("Paging", "CommonChildAction", new { TotalRecord = ViewBag.TotalRecord, RecordPerPage = ViewBag.PageSize, PagePerBlock = 10, CurrentPage = ViewBag.Page, QueryStr = "SearchCol=" + ViewBag.SearchCol + "&SearchKeyword=" + ViewBag.SearchKeyword + "&CdCoupon=" + Request["CdCoupon"].ToString() });}


        <!--버튼모음--
        ************************************************<br />
        버튼가이드 <br /><br />
        대버튼 : <br />
        <a href="#" class="btn btn-default large">확인</a>
        <a href="#" class="btn btn-primary large">취소</a>
        <br /><br />
        중버튼 : <br />
        <a href="#" class="btn btn-default middium">편집중인 설정으로 저장</a>
        <br /><br />
        소버튼 : <br />
        <a href="#" class="btn btn-default small">저장</a>
        <a href="#" class="btn btn-success small">수정</a>
        <a href="#" class="btn btn-primary small">삭제</a><br />
        ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑<br />
        3가지 타입 버튼이 필요할때 적용<br />
        <a href="#" class="btn btn-info small">추가</a>
        --//버튼모음-->

    </div>
}
