@*@model AboutMe.Domain.Entity.AdminPromotion.TB_PROMOTION_BY_TOTAL*@

@model AboutMe.Web.Admin.Controllers.AdminCouponController.MyMultiModelForCreate

@{
    Layout = "~/Views/Shared/_AboutMeAdminLayoutA.cshtml";
}

@section Scripts{

    @if (TempData["jsMessage"] != null && TempData["jsMessage"] != "")
    {
        @Html.Raw(TempData["jsMessage"]);
    }
    
    <script language="javascript">

        function frmCheck() {
            //alert("여기입니다");

            var f = document.frm01;

      
            //용도구분값이 지불쿠폰 일때 
            
            if (getRadioVal(f, 'inst_TB_COUPON_MASTER_COUPON_GBN') == 'M' )
            {
                if (getRadioVal(f, 'inst_TB_COUPON_MASTER_PRODUCT_APP_SCOPE_GBN') == '') {
                    alert("[용도구분]이 -지불-일때는 [상품적용범위]를 선택해야 합니다.");
                    f.inst_TB_COUPON_MASTER_PRODUCT_APP_SCOPE_GBN[0].focus();
                    return false;
                }

                if (getRadioVal(f, 'inst_TB_COUPON_MASTER_RATE_OR_MONEY') == '')
                {
                    alert("[용도구분]이 -지불-일때는 [정률/정액 구분]을 선택해야 합니다.");
                    f.inst_TB_COUPON_MASTER_RATE_OR_MONEY[0].focus();
                    return false;
                }
            }
          

            if (getRadioVal(f, 'inst_TB_COUPON_MASTER.ISSUE_METHOD_GBN') == '') {

                alert("발행방법을 선택하세요");
                //f.inst_TB_COUPON_MASTER.ISSUE_METHOD_GBN.focus();
                return false;
            }


            if (getRadioVal(f, 'inst_TB_COUPON_MASTER.ISSUE_METHOD_GBN') == 'A') {

                if (getRadioVal(f, 'inst_TB_COUPON_MASTER_ISSUE_METHOD_WITH_AUTO') == '') {

                    alert("발행방법이 [자동발행]일 때에는 자동발행 TYPE을 선택하세요");
                    // f.inst_TB_COUPON_MASTER_ISSUE_METHOD_WITH_AUTO.focus();
                    return false;
                }

            }


            if (getRadioVal(f, 'inst_TB_COUPON_MASTER_SERVICE_LIFE_GBN') == '')
            {
                alert("[사용기간 기준 구분]을 선택하세요.");
                f.inst_TB_COUPON_MASTER_SERVICE_LIFE_GBN[0].focus();
                return false;
            }

            if (getRadioVal(f, 'inst_TB_COUPON_MASTER.ISSUE_METHOD_GBN') == 'A') {

                if (getRadioVal(f, 'inst_TB_COUPON_MASTER_SERVICE_LIFE_GBN') == 'A' ) {

                    alert("발행방법이 [자동발행]일 때에는 [사용기간 기준 구분]을 [실제 발행일 기준]으로 선택하세요");
                    f.inst_TB_COUPON_MASTER_SERVICE_LIFE_GBN[1].checked = true;
                    return false;
                }

            }


            if (getRadioVal(f, 'inst_TB_COUPON_MASTER.ISSUE_METHOD_GBN') == 'B') {

                if (getRadioVal(f, 'inst_TB_COUPON_MASTER_SERVICE_LIFE_GBN') == 'B') {

                    alert("발행방법이 [수동발행]일 때에는 [사용기간 기준 구분]을 [고정기간 기준]으로 선택하세요");
                    f.inst_TB_COUPON_MASTER_SERVICE_LIFE_GBN[0].checked = true;
                    return false;
                }

            }
           
    
           
            if (getRadioVal(f, 'inst_TB_COUPON_MASTER_SERVICE_LIFE_GBN') == 'A') {

                //alert(getRadioVal(f, 'inst_TB_COUPON_MASTER_SERVICE_LIFE_GBN'));
                if (f.inst_TB_COUPON_MASTER_FIXED_PERIOD_FROM.value == '' || f.inst_TB_COUPON_MASTER_FIXED_PERIOD_TO.value == '') {
                    alert("[사용기간 기준구분이]이 -고정기간 기준-일때는 [고정기간 일자]를 선택해야 합니다.");
                    f.inst_TB_COUPON_MASTER_FIXED_PERIOD_FROM.focus();
                    return false;
                }
            }
           

            if (getRadioVal(f, 'inst_TB_COUPON_MASTER_SERVICE_LIFE_GBN') == 'B') {


                //alert(getRadioVal(f, 'inst_TB_COUPON_MASTER_SERVICE_LIFE_GBN'));
                if (f.inst_TB_COUPON_MASTER_EXRIRED_DAY_FROM_ISSUE_DT.value == '' ) {
                    alert("[사용기간 기준구분이]이 -발행일 기준-일때는 [발행일 기준 유효기간]을 선택해야 합니다.");
                    f.inst_TB_COUPON_MASTER_EXRIRED_DAY_FROM_ISSUE_DT.focus();
                    return false;
                }
            }



           
            //alert("여기 " + getRadioVal(f, 'inst_TB_COUPON_MASTER_SERVICE_LIFE_GBN'));
            //사용기간 기준구분 - 정상
            if (getRadioVal(f, 'inst_TB_COUPON_MASTER_RATE_OR_MONEY') == 'R') {
                //alert(getRadioVal(f, 'inst_TB_COUPON_MASTER_SERVICE_LIFE_GBN'));
                if (f.inst_TB_COUPON_MASTER_COUPON_DISCOUNT_RATE.value == '' )
                {
                    alert("[정률/정액 구분]이 -정률-일때는 [쿠폰 할인율]를 입력해야 합니다.");
                    f.inst_TB_COUPON_MASTER_COUPON_DISCOUNT_RATE.focus();
                    return false;
                }
            }


            if (getRadioVal(f, 'inst_TB_COUPON_MASTER_RATE_OR_MONEY') == 'M') {
                //alert(getRadioVal(f, 'inst_TB_COUPON_MASTER_SERVICE_LIFE_GBN'));
                if (f.inst_TB_COUPON_MASTER_COUPON_DISCOUNT_MONEY.value == '') {
                    alert("[정률/정액 구분]이 -정액-일때는 [쿠폰 금액]을 입력해야 합니다.");
                    f.inst_TB_COUPON_MASTER_COUPON_DISCOUNT_MONEY.focus();
                    return false;
                }
            }

            if (getRadioVal(f, 'inst_TB_COUPON_MASTER.USABLE_DEVICE_GBN') == '') {

                alert("사용가능 매체를 선택하세요");
                //f.inst_TB_COUPON_MASTER.USABLE_DEVICE_GBN.focus();
                return false;
            }

            if (getRadioVal(f, 'inst_TB_COUPON_MASTER_COUPON_GBN') == 'M') {
                if (getRadioVal(f, 'inst_TB_COUPON_MASTER_PRODUCT_APP_SCOPE_GBN') == '') {

                    alert("상품적용범위를 선택하세요");
                    //f.inst_TB_COUPON_MASTER_PRODUCT_APP_SCOPE_GBN.focus();
                    return false;
                }
            }




       
            var is_mem_checked = false;
           // alert(f.CheckMemGrade.length);

            for (var k = 0 ; f.CheckMemGrade.length > k ; k++)
            {
                if (f.CheckMemGrade[k].checked == true) {
                    is_mem_checked = true;
                    //alert(k);
                    break;
                }
            }

            if (is_mem_checked == false) {
              
                 alert("적용회원등급을 선택하세요");
                 f.CheckMemGrade[0].focus();
                 return false;
                
            }

            if (f.inst_TB_COUPON_MASTER_FIXED_PERIOD_FROM.value != '' || f.inst_TB_COUPON_MASTER_FIXED_PERIOD_TO.value != '') {

                if (f.inst_TB_COUPON_MASTER_FIXED_PERIOD_FROM.value > f.inst_TB_COUPON_MASTER_FIXED_PERIOD_TO.value) {
                    alert("[고정기간 일자]의 시작일이 종료일보다 먼저여야 합니다.");
                    f.inst_TB_COUPON_MASTER_FIXED_PERIOD_FROM.focus();
                    return false;
                }
            }


            if (f.inst_TB_COUPON_MASTER_MASTER_FROM_DATE.value != '' || f.inst_TB_COUPON_MASTER_MASTER_TO_DATE.value != '') {

                if (f.inst_TB_COUPON_MASTER_MASTER_FROM_DATE.value > f.inst_TB_COUPON_MASTER_MASTER_TO_DATE.value) {
                    alert("[발행가능기간]의 시작일이 종료일보다 먼저여야 합니다.");
                    f.inst_TB_COUPON_MASTER_FIXED_PERIOD_FROM.focus();
                    return false;
                }
            }


           
            
            return true;

        }

        function getRadioVal(form, name) {
            var val = "";
            // get list of radio buttons with specified name
            var radios = form.elements[name];
          

            // loop through list of radio buttons
            // for (var i = 0; radios.length < i; i++)
            for (var i = 0, len = radios.length; i < len; i++) {
                //alert('in:   ' +name + ':' + radios[i].value);
                if (radios[i].checked) { // radio checked?
                    val = radios[i].value; // if so, hold its value in val
                    break; // and break out of for loop
                }
            }
            return val; // return value of checked radio or undefined if none checked
        }

        function setTotalCategory(obj_selectbox, sel_index) {
            //alert(obj_selectbox[sel_index].value);
            var f = document.frm01;
            f.inst_TB_COUPON_MASTER_PMO_TOTAL_CATEGORY.value = obj_selectbox.options[sel_index].value;

            //alert(obj_selectbox[sel_index].value);

            if (obj_selectbox[sel_index].value == "01") //일반회원 전용할인
            {

                f.CheckMemGrade[0].disabled = false;
                f.CheckMemGrade[1].disabled = false;
                f.CheckMemGrade[2].disabled = false;
                f.CheckMemGrade[3].disabled = false;

                f.CheckMemGrade[4].disabled = true;
                f.CheckMemGrade[5].disabled = true;
                f.CheckMemGrade[6].disabled = true;
                f.CheckMemGrade[7].disabled = true;

            }

            if (obj_selectbox[sel_index].value == "00") //임직원 전용할인
            {
                f.CheckMemGrade[0].disabled = true;
                f.CheckMemGrade[1].disabled = true;
                f.CheckMemGrade[2].disabled = true;
                f.CheckMemGrade[3].disabled = true;

                f.CheckMemGrade[4].disabled = false;
                f.CheckMemGrade[5].disabled = false;
                f.CheckMemGrade[6].disabled = false;
                f.CheckMemGrade[7].disabled = false;

            }

            if (obj_selectbox[sel_index].value == "03") //등급할인
            {
                f.CheckMemGrade[0].disabled = false;
                f.CheckMemGrade[1].disabled = false;
                f.CheckMemGrade[2].disabled = false;
                f.CheckMemGrade[3].disabled = false;

                f.CheckMemGrade[4].disabled = false;
                f.CheckMemGrade[5].disabled = false;
                f.CheckMemGrade[6].disabled = false;
                f.CheckMemGrade[7].disabled = false;

            }

        }
    </script>

}

@section Left {

    @{Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminLeft.cshtml");}
}

@section Header{
    @{ Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminHeader.cshtml");}
}

@section Body{

    <div class="content">
        <!--path-->
        <div class="path">
            <a href="/">HOME</a> &gt; <a href="#">쿠폰 관리</a> &gt; <strong>쿠폰정책 등록</strong>
        </div>
        <!--//path-->

        <div class="panel">
            <h3 class="sub-header">쿠폰정책 등록</h3>

            @using (Html.BeginForm("Create", "AdminCoupon", FormMethod.Post, new { id = "frm01", name = "frm01", onsubmit = "return frmCheck();" }))
            {
                @Html.AntiForgeryToken()  //폼 데이터 위조 방지 토큰 생성



                                        <table class="table table_row">
                                            <colgroup><col width="25%" /><col width="75%" /></colgroup>
                                            <tbody>

                                                <tr>
                                                    <th>쿠폰명 </th>
                                                    <td>@Html.TextBoxFor(model => model.inst_TB_COUPON_MASTER.COUPON_NAME, new { cssClass = "input-sm text-left", size = "30", maxlength = "25" })  <font color="red">@Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.COUPON_NAME)</font></td>

                                                </tr>
                                                <tr>
                                                    <th>쿠폰사용조건 </th>
                                                    <td>@Html.TextAreaFor(model => model.inst_TB_COUPON_MASTER.COUPON_USE_DESCRIPTION, new { cssClass = "input-sm text-left",cols="30", rows="3", maxlength="60" })  </td>

                                                </tr>

                                                <tr>
                                                    <th>용도구분 </th>
                                                    <td>@Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.COUPON_GBN, "M") 지불 @Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.COUPON_GBN, "S") 배송쿠폰 <font color="red">@Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.COUPON_GBN)</font></td>

                                                </tr>
                                                <tr>
                                                    <th>용도구분 2차 </th>
                                                    <td>@Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.COUPON_GBN_M, "E", new { onclick = "this.form.inst_TB_COUPON_MASTER_ISSUE_METHOD_GBN[0].checked=true;this.form.inst_TB_COUPON_MASTER_SERVICE_LIFE_GBN[0].checked=true;" }) 일반이벤트 
                                                        @Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.COUPON_GBN_M, "B", new { onclick = "this.form.inst_TB_COUPON_MASTER_ISSUE_METHOD_GBN[1].checked=true;this.form.inst_TB_COUPON_MASTER_SERVICE_LIFE_GBN[1].checked=true;this.form.inst_TB_COUPON_MASTER_ISSUE_METHOD_WITH_AUTO[1].checked=true;" }) 생일쿠폰이벤트 
                                                        @Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.COUPON_GBN_M, "R", new { onclick = "this.form.inst_TB_COUPON_MASTER_ISSUE_METHOD_GBN[1].checked=true;this.form.inst_TB_COUPON_MASTER_SERVICE_LIFE_GBN[1].checked=true;this.form.inst_TB_COUPON_MASTER_ISSUE_METHOD_WITH_AUTO[0].checked=true" }) 회원가입 <font color="red">@Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.COUPON_GBN_M)</font></td>

                                                </tr>
                                                <tr>
                                                    <th>정률/정액 </th>
                                                    <td>@Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.RATE_OR_MONEY, "R") 정률(%) @Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.RATE_OR_MONEY, "M") 정액 <font color="red">@Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.RATE_OR_MONEY)</font></td>

                                                </tr>

                                                <tr>
                                                    <th>쿠폰 할인율(%) </th>
                                                    <td>
                                                        @Html.TextBoxFor(model => model.inst_TB_COUPON_MASTER.COUPON_DISCOUNT_RATE, new { cssClass = "input-sm text-left" })  <font color="red">@Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.COUPON_DISCOUNT_RATE)</font>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>쿠폰 할인금액 </th>
                                                    <td>
                                                        @Html.TextBoxFor(model => model.inst_TB_COUPON_MASTER.COUPON_DISCOUNT_MONEY, new { cssClass = "input-sm text-left" })  <font color="red">@Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.COUPON_DISCOUNT_MONEY)</font>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>발행방법 </th>
                                                    <td>@Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.ISSUE_METHOD_GBN, "B", new { onclick="this.form.inst_TB_COUPON_MASTER_SERVICE_LIFE_GBN[0].checked=true;" })수동발행  @Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.ISSUE_METHOD_GBN, "A" ,new { onclick="this.form.inst_TB_COUPON_MASTER_SERVICE_LIFE_GBN[1].checked=true;" }) 자동발행(예를들면 회원가입시 자동발행)   <font color="red">@Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.ISSUE_METHOD_GBN)</font></td>

                                                </tr>
                                                <tr>
                                                    <th>자동발행TYPE </th>
                                                    <td>@Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.ISSUE_METHOD_WITH_AUTO, "A") Action(회원가입..)  @Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.ISSUE_METHOD_WITH_AUTO, "B") Batch  <font color="red">@Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.ISSUE_METHOD_WITH_AUTO)</font></td>

                                                </tr>
                                                             
                                                <tr>
                                                    <th>사용기간기준 구분 </th>
                                                    <td>@Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.SERVICE_LIFE_GBN, "A") 고정기간 기준 @Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.SERVICE_LIFE_GBN, "B") 실제 발행일기준 <font color="red">@Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.SERVICE_LIFE_GBN)</font></td>

                                                </tr>
                                                
                                                 <tr>
                                                    <th>고정기간 시작일시 (YYYY-MM-DD HH:MM:SS) </th>
                                                    <td>@Html.TextBoxFor(model => model.inst_TB_COUPON_MASTER.FIXED_PERIOD_FROM, new { cssClass = "input-sm text-left", value = "2015-09-15 00:00:00" })  @Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.FIXED_PERIOD_FROM)<font color="red">@Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.FIXED_PERIOD_FROM)</font></td>

                                                </tr>
                                                <tr>
                                                    <th>고정기간 만료일시 (YYYY-MM-DD HH:MM:SS) </th>
                                                    <td>@Html.TextBoxFor(model => model.inst_TB_COUPON_MASTER.FIXED_PERIOD_TO, new { cssClass = "input-sm text-left", value = "2015-09-20 23:59:59" })  @Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.FIXED_PERIOD_TO)<font color="red">@Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.FIXED_PERIOD_TO)</font></td>
                                                </tr>
                                                  
                                                <tr>
                                                    <th>발행일 기준 유효기간(DAY) </th>
                                                    <td>@Html.TextBoxFor(model => model.inst_TB_COUPON_MASTER.EXRIRED_DAY_FROM_ISSUE_DT, new { cssClass = "input-sm text-left" })  <font color="red">@Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.EXRIRED_DAY_FROM_ISSUE_DT)</font></td>
                                                </tr>


                                                <tr>
                                                    <th>사용가능매체(PC,모바일) </th>
                                                    <td>@Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.USABLE_DEVICE_GBN, "P") PC & 모바일  @Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.USABLE_DEVICE_GBN, "M") 모바일 <font color="red">@Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.USABLE_DEVICE_GBN)</font></td>

                                                </tr>
                                                
                                                <tr>
                                                    <th>상품적용범위 </th>
                                                    <td>@Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.PRODUCT_APP_SCOPE_GBN, "A") 특정상품  @Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.PRODUCT_APP_SCOPE_GBN, "B") 전체상품 <font color="red">@Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.PRODUCT_APP_SCOPE_GBN)</font></td>

                                                </tr>
                                               <!---
                                                <tr>
                                                    <th>회원적용범위 </th>
                                                    <td>@Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.MEMBER_APP_SCOPE_GBN, "A") 전체회원  @Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.MEMBER_APP_SCOPE_GBN, "B") 등급회원전체 @Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.MEMBER_APP_SCOPE_GBN, "C") 특정회원 <font color="red">@Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.MEMBER_APP_SCOPE_GBN)</font></td>

                                                </tr>
                                                -->



                                                
                                                <!--
                                                <tr>
                                                    <th>다운로드가능기간 시작일시 (YYYY-MM-DD HH:MM:SS) </th>
                                                    <td>@Html.TextBoxFor(model => model.inst_TB_COUPON_MASTER.DOWNLOAD_DATE_FROM, new { cssClass = "input-sm text-left", value = "2015-09-15 00:00:00" })  <font color="red">@Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.DOWNLOAD_DATE_FROM)</font></td>

                                                </tr>
                                                <tr>
                                                    <th>다운로드가능기간 만료일시 (YYYY-MM-DD HH:MM:SS) </th>
                                                    <td>@Html.TextBoxFor(model => model.inst_TB_COUPON_MASTER.DOWNLOAD_DATE_TO, new { cssClass = "input-sm text-left", value = "2015-09-20 23:59:59" }) <font color="red"> @Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.DOWNLOAD_DATE_TO)</font></td>

                                                </tr>
                                                    -->
                                                <tr>
                                                    <th>정책유효기간 시작일시 (YYYY-MM-DD HH:MM:SS) </th>
                                                    <td>@Html.TextBoxFor(model => model.inst_TB_COUPON_MASTER.MASTER_FROM_DATE, new { cssClass = "input-sm text-left", value = "2015-09-15 00:00:00" })  <font color="red">@Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.MASTER_FROM_DATE)</font></td>

                                                </tr>
                                                <tr>
                                                    <th>정책유효기간 만료일시 (YYYY-MM-DD HH:MM:SS) </th>
                                                    <td>@Html.TextBoxFor(model => model.inst_TB_COUPON_MASTER.MASTER_TO_DATE, new { cssClass = "input-sm text-left", value = "2015-09-20 23:59:59" }) <font color="red">@Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.MASTER_FROM_DATE)</font></td>

                                                </tr>
                                                <tr>
                                                    <th>발행 대상 회원등급 </th>
                                                    <td>
                                                        <b>일반</b>   <input type="checkbox" id="CheckMemGrade" name="CheckMemGrade" value="A$B" />브론즈 , <input type="checkbox" id="CheckMemGrade" name="CheckMemGrade" value="A$S" />실버  , <input type="checkbox" id="CheckMemGrade" name="CheckMemGrade" value="A$G" />골드 , <input type="checkbox" id="CheckMemGrade" name="CheckMemGrade" value="A$V" /> VIP
                                                        <br><b>임직원</b> <input type="checkbox" id="CheckMemGrade" name="CheckMemGrade" value="S$B" />브론즈 , <input type="checkbox" id="CheckMemGrade" name="CheckMemGrade" value="S$S" />실버  , <input type="checkbox" id="CheckMemGrade" name="CheckMemGrade" value="S$G" />골드 , <input type="checkbox" id="CheckMemGrade" name="CheckMemGrade" value="S$V" /> VIP
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <th>활성화/비활성화 </th>
                                                    <td>@Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.USABLE_YN, "Y")  활성화  @Html.RadioButtonFor(model => model.inst_TB_COUPON_MASTER.USABLE_YN, "N") 비활성화  <font color="red">@Html.ValidationMessageFor(model => model.inst_TB_COUPON_MASTER.USABLE_YN)</font></td>

                                                </tr>


                                                <tr>
                                                    <th>저장</th>
                                                    <td>
                                                        <input type="submit" value="저장" class="btn btn-default middium" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

            }
        </div>

        <div class="btn_area">
            <a class="btn btn-primary small" href="/AdminCoupon/Index">목록</a>
        </div>


    </div>
}

