@model AboutMe.Domain.Entity.Cart.MYPAGE_WISHLIST_MODEL
@{
    ViewBag.Title = "찜한상품 - ABOUT ME";
    ViewBag.TopClass = "mypage";
    Layout = "~/Views/Shared/_AboutMeLayoutB.cshtml";
    
    string ProductPath = AboutMe.Common.Helper.Config.GetConfigValue("ProductPhotoPath");     
}

@section Scripts {
    <link href="/aboutCom/css/mypage.css" rel="stylesheet" />
    
    <script language="javascript">
        function GridCheck(c)
        {
            var chk_count = 0;
            $("input:checkbox[name='gridchk']").each(function (idx) {
                if (this.checked) {
                    chk_count++;
                }
            });
            if (chk_count > 0) {
                $("#CartCntTxt").text("(" + chk_count + ")");
                $("#DelCntTxt").text("(" + chk_count + ")");
                $("#CartCntTxt").parent().parent().parent().find(".cart").addClass("on");
                $("#DelCntTxt").parent().parent().parent().find(".del").addClass("on");
            }
            else {
                $("#CartCntTxt").text("");
                $("#DelCntTxt").text("");
                $("#CartCntTxt").parent().parent().parent().find(".cart").removeClass("on");
                $("#DelCntTxt").parent().parent().parent().find(".del").removeClass("on");
            }

        }

        //선택 모두 삭제
        function CheckAllDelete(b) {
            if ($(b).hasClass("on")) {
                var cnt = 0;
                var arrP = new Array;


                $("input:checkbox[name='gridchk']").each(function (idx) {
                    if (this.checked) {
                        cnt++;
                        arrP.push($(this).attr('data-wishidx'));
                    }
                });

                if (cnt == 0) {
                    alert("삭제할 상품을 선택해주세요.");
                    return false;
                }

                if (confirm(cnt + "개의 상품을 찜목록에서 삭제하시겠습니까?")) {
                    Wish_Delete(arrP);
                    location.href = "/MyPage/MyWish";

                }
            }
        }

        //선택 쇼핑백 담기
        function CheckAllCart(b) {
            if ($(b).hasClass("on")) {
                var cnt = 0;
                var arrP = new Array;


                $("input:checkbox[name='gridchk']").each(function (idx) {
                    if (this.checked) {
                        cnt++;
                        var obj = new Object();
                        obj.p_code = $(this).val();
                        obj.p_count = 1;
                        arrP.push(obj);
                    }
                });

                if (cnt == 0) {
                    alert("쇼핑백에 담을 상품을 선택해주세요.");
                    return false;
                }

                Cart_Input(arrP);
                
            }
        }
    </script>
}
<!--container-->

<div id="container" class="wishlist">
    <div class="container1080">
        <!--mypage_top-->
        <div class="mypage_top">
            <!--h2_area-->
            <div class="h2_area">
                <h2>찜목록<i></i></h2>
                <!--mypage_menu-->
                @{ Html.RenderPartial("~/Views/AboutMePartial/_MyPageSubMenu.cshtml");}
                <!--//mypage_menu-->
            </div>
            <!--//h2_area-->
            <!--user_area-->
            <div class="user_area">
                <div class="info">
                   @Model.UserProfile.M_NAME 님<br /><img src="/aboutCom/images/mypage/ico_wish.gif" alt="" /><span class="wishcount">찜한상품이 <em>@Model.WishCnt</em>개</span> 담겨 있습니다
                </div>
            </div>
            <!--//user_area-->
        </div>
        <!--//mypage_top-->
        <div class="product_area_t2">
@if (Model.WishCnt == 0)
{     
            <!--데이터없음-->
            <div class="no_data">
                <img alt="" src="/aboutCom/images/common/ico_nodata2.gif">
                <p class="txt">찜한 상품이 없습니다.</p>
            </div>
            <!--//데이터없음-->
}
else
{
            <!-- 상품리스트 -->
            <ul class="product_list">
            @foreach (var item in Model.WishList)
            {
                string img1 = ProductPath + "R270_" + item.MAIN_IMG;
                string img2 = ProductPath + "R270_" + item.OTHER_IMG1;
                <li>
                    <a href="/shopping/detail?pcode=@item.P_CODE" class="list">
                        <span class="photo">
                            <img src="@img1" data-pic="@img2" class="item" alt="">
                        </span>
                        <span class="info">
                            @if (item.SOLDOUT_YN == "Y")
                            {
                                <span class="tag"><span class="ico_soldout">SOLD OUT</span></span>
                            }
                            <span class="title">
                                <em class="product_tit">@item.P_NAME</em>
                                <em class="product_name">@item.P_SUB_TITLE</em>
                            </span>
                            <em class="price"><strong>@String.Format("{0:#,#0.}", @item.DISCOUNT_PRICE)</strong>원</em>
                        </span>
                    </a>
                    <label class="chkcon t2"><input type="checkbox" name="gridchk" title="" value="@item.P_CODE" data-wishidx="@item.IDX" onclick="GridCheck(this)" /></label>
                    <span class="frame"><span class="l"></span><span class="t"></span><span class="r"></span><span class="b"></span></span>
                </li>
            }
            </ul>
            <!-- //상품리스트 -->
}    
        </div>

@if (Model.WishCnt > 0)
{
        <!-- 선택항목 액션 버튼 -->
        <div class="btn_group mt20">
            <!-- [Desc] 항목 선택 시 <a>태그 "on"클래스 추가 및 <strong>태그 안에 갯수 "(000)" 입력 -->
            <a href="javascript:void(0)" class="cart" onclick="CheckAllCart(this);">
                <span class="ico"><i></i></span>
                <span class="txt">쇼핑백 담기<strong id="CartCntTxt"></strong></span>
            </a>
            <a href="javascript:void(0)" class="del" onclick="CheckAllDelete(this);">
                <span class="ico"><i></i></span>
                <span class="txt">선택삭제<strong id="DelCntTxt"></strong></span>
            </a>
        </div>
        <!-- //선택항목 액션 버튼 -->
}
        <!--페이징-->
        @{
            Html.RenderAction("Paging", "CommonChildAction", new { TotalRecord = Model.WishCnt, RecordPerPage = Model.PageCnt, PagePerBlock = 10, CurrentPage = Model.Page, QueryStr = "" });
        }


        <!--//페이징-->
    </div>
</div>
<!--//container-->