@model AboutMe.Domain.Entity.AdminFrontMember.SP_ADMIN_FRONT_MEMBER_VIEW_Result

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AboutMeAdminLayoutA.cshtml";

}

@{

    var QueryStr = "";
    QueryStr = QueryStr + "PAGESIZE=" + ViewBag.PAGESIZE;
    QueryStr = QueryStr + "&SORTCOL=" + ViewBag.SORTCOL;
    QueryStr = QueryStr + "&SORTDIR=" + ViewBag.SORTDIR;

    QueryStr = QueryStr + "&SEL_DATE_FROM=" + ViewBag.SEL_DATE_FROM;
    QueryStr = QueryStr + "&SEL_DATE_TO=" + ViewBag.SEL_DATE_TO;
    QueryStr = QueryStr + "&SEL_GBN=" + ViewBag.SEL_GBN;
    QueryStr = QueryStr + "&SEL_GRADE_LIST=" + ViewBag.SEL_GRADE_LIST;
    QueryStr = QueryStr + "&SEL_IS_RETIRE=" + ViewBag.SEL_IS_RETIRE;

    QueryStr = QueryStr + "&SEARCH_COL=" + ViewBag.SEARCH_COL;
    QueryStr = QueryStr + "&SEARCH_KEYWORD=" + ViewBag.SEARCH_KEYWORD;

@helper fGradeName(string gradeCode)
{
    var grade_name = gradeCode;
    switch (gradeCode)
    {
        case "B": grade_name = "브론즈";
            break;
        case "S": grade_name = "실버";
            break;
        case "G": grade_name = "골드";
            break;
        case "V": grade_name = "VIP";
            break;

    }
    <div>@grade_name</div>
}

@helper fIsRerireNAME(string is_retire)
{
    var isretire_name = is_retire;
    switch (is_retire)
    {
        case "Y": isretire_name = "탈퇴";
            break;
        case "N": isretire_name = "활동";
            break;

    }
    <div>@isretire_name</div>
}

@helper fM_GBN_NAME(string m_gbn)
{
    var m_gbn_name = m_gbn;
    switch (m_gbn)
    {
        case "A": m_gbn_name = "일반회원";
            break;
        case "S": m_gbn_name = "임직원";
            break;

    }
    <div>@m_gbn_name</div>
}

@helper fCheckBoxChecked(string strList, string strChked)
{
    if (strList != null && strChked != null)
    {
        if (strList.Contains(strChked))
        {
            @(" checked")
        }
    }

}

@helper fSelectBoxSelecteded(string str1, string str2)
{
    if (str1 != null && str2 != null)
    {
        if (str1 == str2)
        {
            @(" selected")
        }
    }

}

@helper fIS_RENAME_YN(string strDI)
{
    if (strDI != null && strDI != "")
    {
            @("인증")
    }
    else
    {
        @("미인증")
    }

}



}






@section Scripts{

}

@section Left {

    @{Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminLeft.cshtml");}
}

@section Header{
    @{ Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminHeader.cshtml");}
}

@section Body{

<!-- 다음 우편번호 검색-->
<div id="layerPOST" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
    <img src="//i1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
</div>

<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script language="javascript">
    // 우편번호 찾기 화면을 넣을 element
    var element_layer = document.getElementById('layerPOST');

    function closeDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element_layer.style.display = 'none';
    }

    function sample2_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullAddr = data.address; // 최종 주소 변수
                var extraAddr = ''; // 조합형 주소 변수

                // 기본 주소가 도로명 타입일때 조합한다.
                if (data.addressType === 'R') {
                    //법정동명이 있을 경우 추가한다.
                    if (data.bname !== '') {
                        extraAddr += data.bname;
                    }
                    // 건물명이 있을 경우 추가한다.
                    if (data.buildingName !== '') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                    fullAddr += (extraAddr !== '' ? ' (' + extraAddr + ')' : '');
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById("M_ZIPCODE").value = data.postcode; //6자리 우편번호 사용
                //document.getElementById("sample2_postcode").value = data.zonecode; //5자리 기초구역번호 사용
                document.getElementById('M_ADDR1').value = fullAddr;
                // document.getElementById('sample2_addressEnglish').value = data.addressEnglish;

                // iframe을 넣은 element를 안보이게 한다.
                element_layer.style.display = 'none';
            },
            width: '100%',
            height: '100%'
        }).embed(element_layer);

        // iframe을 넣은 element를 보이게 한다.
        element_layer.style.display = 'block';

        // iframe을 넣은 element의 위치를 화면의 가운데로 이동시킨다.
        initLayerPosition();
    }

    // 브라우저의 크기 변경에 따라 레이어를 가운데로 이동시키고자 하실때에는
    // resize이벤트나, orientationchange이벤트를 이용하여 값이 변경될때마다 아래 함수를 실행 시켜 주시거나,
    // 직접 element_layer의 top,left값을 수정해 주시면 됩니다.
    function initLayerPosition() {
        var width = 300; //우편번호서비스가 들어갈 element의 width
        var height = 460; //우편번호서비스가 들어갈 element의 height
        var borderWidth = 5; //샘플에서 사용하는 border의 두께

        // 위에서 선언한 값들을 실제 element에 넣는다.
        element_layer.style.width = width + 'px';
        element_layer.style.height = height + 'px';
        element_layer.style.border = borderWidth + 'px solid';
        // 실행되는 순간의 화면 너비와 높이 값을 가져와서 중앙에 뜰 수 있도록 위치를 계산한다.
        element_layer.style.left = (((window.innerWidth || document.documentElement.clientWidth) - width) / 2 - borderWidth) + 'px';
        element_layer.style.top = (((window.innerHeight || document.documentElement.clientHeight) - height) / 2 - borderWidth) + 'px';
    }
</script>
<!-- 다음 우편번호 검색-->





<div class="content">
    <!--path-->
    <div class="path">
        <a href="/index.asp">HOME</a> &gt; <a href="#">수퍼어드민</a> &gt; <a href="#">회원관리</a> &gt; <strong>회원수정</strong>
    </div>
    <script>
            function fGoSave()
            {
                var f = document.frmFORM;
                //if (f.ADM_ID.value.length < 4) {
                //    alert("아이디를 입력하세요.");
                //    return;
                //}
                if (f.ADM_NAME.value.length < 1) {
                    alert("이름을 입력하세요.");
                    return;
                }
                if (f.ADM_PWD.value.length > 1 && f.ADM_PWD.value.length < 4) {
                    alert("암호를 수정하려면 4자이상 입력하세요.\n 수정하지않으려면 공란으로 두세요");
                    return;
                }
                f.action = "/AdminUser/EditOK";
                f.submit();
            }
    </script>

    <div class="panel">
        <h3 class="sub-header">회원정보 수정</h3>
        <div class="alert alert-info">
            <ul>
                <li>· 회원정보를  수정 합니다.</li>
            </ul>
        </div>
    </div>

@{ var selected_str = "selected";}
@using (Html.BeginForm("EditOK", "AdminUser", FormMethod.Post, new { id = "frmFORM", name = "frmFORM" }))
{
    @Html.AntiForgeryToken()  //폼 데이터 위조 방지 토큰 생성

    <input type="hidden" name="SEL_M_ID" value="@Html.DisplayFor(model =>model.M_ID)" />
    <input type="hidden" name="M_GRADE" value="@Html.DisplayFor(model =>model.M_GRADE)" />
    <input type="hidden" name="M_SEX" value="@Html.DisplayFor(model =>model.M_SEX)" />
    <input type="hidden" name="M_BIRTHDAY" value="@Html.DisplayFor(model => model.M_BIRTHDAY)" />


    <div class="panel">
        <h4 class="sub-header">1.기본정보 수정</h4>

        <table class="table table_row">
            <colgroup><col style="width:12%" /><col style="width:21%" /><col style="width:12%" /><col style="width:21%" /><col style="width:12%" /><col style="width:21%" /></colgroup>
            <tbody>
                <tr>
                    <th>아이디</th>
                    <td>@Model.M_ID</td>
                    <th>이름</th>
                    <td>@Model.M_NAME</td>
                    <th>회원등급</th>
                    <td>@fGradeName(@Model.M_GRADE)</td>
                </tr>
                <tr>
                    <th>성별</th>
                    <td>@Model.M_SEX</td>
                    <th>생년월일</th>
                    <td>@Model.M_BIRTHDAY</td>
                    <th>가입일</th>
                    <td>@Model.M_CREDATE.ToString("yyyy-MM-dd HH:mm")</td>
                </tr>
                <tr>
                    <th>휴대폰</th>
                    <td><input type="text" name="M_MOBILE" value="@Model.M_MOBILE" maxlength="15" /> 000-0000-0000</td>
                    <th>집전화</th>
                    <td><input type="text" name="M_PHONE" value="@Model.M_PHONE" maxlength="15" /> 00-0000-0000</td>
                    <th>EMAIL</th>
                    <td><input type="text" name="M_EMAIL" value="@Model.M_EMAIL" maxlength="80" /> aaa@bbb.co.kr</td>
                </tr>
                <tr>
                    <th>우편번호</th>
                    <td><input type="text" id="M_ZIPCODE" name="M_ZIPCODE" value="@Model.M_ZIPCODE" maxlength="7" style="width:70px" / > <input type="button" value="우편번호찾기" onclick="javascript:sample2_execDaumPostcode();" /></td>
                    <th>주소/나머지</th>
                    <td colspan="3">
                    
                    <input type="text" id="M_ADDR1" name="M_ADDR1" value="@Model.M_ADDR1" maxlength="80" style="width:400px"/>
                    /
                    <input type="text" id="M_ADDR2" name="M_ADDR2" value="@Model.M_ADDR2" maxlength="80" style="width:300px" />
                    </td>
                </tr>
                <tr>
                    <th>SMS수신</th>
                    <td>
                        <select name="M_ISSMS" style="width:170px;">
                            <option value="N" @fSelectBoxSelecteded(@Model.M_ISSMS, "N")>No</option>
                            <option value="Y" @fSelectBoxSelecteded(@Model.M_ISSMS, "Y")>Yes</option>
                        </select>
                    </td>
                    <th>이메일수신</th>
                    <td>
                        <select name="M_ISEMAIL" style="width:170px;">
                            <option value="N" @fSelectBoxSelecteded(@Model.M_ISEMAIL, "N")>No</option>
                            <option value="Y" @fSelectBoxSelecteded(@Model.M_ISEMAIL, "Y")>Yes</option>
                        </select>
                    </td>
                    <th>DM일수신</th>
                    <td>
                        <select name="M_ISDM" style="width:170px;">
                            <option value="N" @fSelectBoxSelecteded(@Model.M_ISDM, "N")>No</option>
                            <option value="Y" @fSelectBoxSelecteded(@Model.M_ISDM, "Y")>Yes</option>
                        </select>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="btn_area">
        <a class="btn btn-default small" href="javascript:fGoSaveBasic();">기본정보 수정</a>
    </div>



    <div class="panel">
        <h4 class="sub-header">2.실명인증</h4>

        <table class="table table_row">
            <colgroup><col style="width:12%" /><col style="width:21%" /><col style="width:12%" /><col style="width:21%" /><col style="width:12%" /><col style="width:21%" /></colgroup>
            <tbody>
                <tr>
                    <th>실명인증 여부</th>
                    <td>@fIS_RENAME_YN(@Model.M_DI)</td>
                    <th>인증방식</th>
                    <td>@Model.M_JOIN_MODE</td>
                    <th></th>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>



    <div class="panel">
        <h4 class="sub-header">3.비밀번호 변경</h4>

        <table class="table table_row">
            <colgroup><col style="width:12%" /><col style="width:21%" /><col style="width:12%" /><col style="width:21%" /><col style="width:12%" /><col style="width:21%" /></colgroup>
            <tbody>
                <tr>
                    <th style="width:12%">비밀번호 변경</th>
                    <td style="width:21%"><input type="text" value="@Model.M_PWD" maxlength="12" /> <a class="btn btn-default small" href="javascript:fGoSavePWD();">비밀번호 변경</a></td>
                    <td style="width:66%" colspan="4" >*.영문숫자조합 6~12자리로 만들어 주세요.</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="panel">
        <h4 class="sub-header">4.임직원정보</h4>

        <table class="table table_row">
            <colgroup><col style="width:12%" /><col style="width:21%" /><col style="width:12%" /><col style="width:21%" /><col style="width:12%" /><col style="width:21%" /></colgroup>
            <tbody>
                <tr>
                    <th>임직원 여부</th>
                    <td>
                        <select name="M_GBN" style="width:170px;">
                            <option value="A" @fSelectBoxSelecteded(@Model.M_GBN, "A")>일반회원</option>
                            <option value="S" @fSelectBoxSelecteded(@Model.M_GBN, "S")>임직원회원</option>
                        </select>
                    </td>
                    <th>소속회사</th>
                    <td><input type="text" value="@Model.M_STAFF_COMPANY" maxlength="40" /></td>
                    <th>사번</th>
                    <td><input type="text" value="@Model.M_STAFF_ID" maxlength="40" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="btn_area">
        <a class="btn btn-default small" href="javascript:fGoSaveStaff();">임직원정보 수정</a>
    </div>

    
    <div class="panel">
        <h4 class="sub-header">5.탈퇴여부</h4>

        <table class="table table_row">
            <colgroup><col style="width:12%" /><col style="width:21%" /><col style="width:12%" /><col style="width:21%" /><col style="width:12%" /><col style="width:21%" /></colgroup>
            <tbody>
                <tr>
                    <th>탈퇴 여부</th>
                    <td>@Model.M_IS_RETIRE</td>
                    <th>탈퇴일</th>
                    <td>@Model.M_DEL_DATE</td>
                    <th>탈퇴시 잔여포인트</th>
                    <td>@Model.M_DEL_POINT</td>
                </tr>
                <tr>
                    <th>탈퇴사유</th>
                    <td colspan="5">
                        <textarea name="M_DEL_REASON" cols="80" rows="4">@Model.M_DEL_REASON</textarea>
                        <a class="btn btn-default small" href="javascript:fGoSaveRetire();">탈퇴처리</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="panel">
        <h4 class="sub-header">6.쇼핑정보/활동내역</h4>

        <table class="table table_row">
            <colgroup><col style="width:12%" /><col style="width:21%" /><col style="width:12%" /><col style="width:21%" /><col style="width:12%" /><col style="width:21%" /></colgroup>
            <tbody>
                <tr>
                    <th>회원등급</th>
                    <td>@fGradeName(@Model.M_GRADE)</td>
                    <th>총구매건수</th>
                    <td>(구현)@ViewBag.TOTAL_ORDER_CNT</td>
                    <th>총 구매액</th>
                    <td>(구현)@ViewBag.TOTAL_ORDER_PRICE</td>
                </tr>
                <tr>
                    <th>보유포인트</th>
                    <td>@Model.M_POINT</td>
                    <th>보유쿠폰</th>
                    <td>(구현)@ViewBag.TOTAL_CUPON_CNT</td>
                    <th>1:1문의</th>
                    <td>@ViewBag.TOTAL_QNA_CNT</td>
                </tr>
            </tbody>
        </table>
    </div>
    <span>*.클릭시 상세팝업 링크.</span>
}

    </div>








        }

