@model AboutMe.Domain.Entity.AdminDisplay.AdminDisplayCartViewModel
@using AboutMe.Common.Data
@using AboutMe.Web.Admin.Controllers
@{
    ViewBag.Title = "Point";
    Layout = "~/Views/Shared/_AboutMeAdminLayoutA.cshtml";
    var myctrl = ViewContext.Controller as AdminDisplayController;
}
@section Left {

    @{Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminLeft.cshtml");}
}

@section Header{
    @{ Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminHeader.cshtml");}
    @{Html.RenderPartial("~/Views/AdminDisplay/_Display.cshtml");}
}


@section Body{

					<!--content-->
<div class="content">
    <!--path-->
    <div class="path">
        <a href="/index.asp">HOME</a> &gt; <a href="#">전시관리</a> &gt; <strong>장바구니배너전시</strong>
    </div>
    <!--//path-->

    <div class="panel">
        <h3 class="sub-header">장바구니배너전시</h3>
    </div>

    <div class="ofh">
        <div class="panel fl wper50">
            <table class="table table_row pd16">
                <tr>
                    <td class="bdr">
                      @using (Html.BeginForm("SaveImageTypeDisplayer", "AdminDisplay", FormMethod.Post, new { enctype = "multipart/form-data" }))
                      {

                        <h4 class="">웹-1080*150 </h4>
                        if(Model.Web.IMG != null)
                        {
                            <img src="@string.Format("{0}{1}", myctrl._img_path_display, Model.Web.IMG)" alt="" style="width:500px"/>
                        }

                          <span class="tac"> @Model.Web.IMG <a href="#" class="btn btn-info small" onclick="removeDisplayer(this.parentElement.parentElement); return false;">삭제</a></span>
                        
                         <input type="file" name="IMG_FILE" style="width:80%; margin-left:35px;">
                        <span> URL : </span><input type="text" name="URL" class="input-sm mt5" style="width:80%" value="@Model.Web.URL">

                        <input type="hidden" name="IDX" value="@Model.Web.IDX" />
                        <input type="hidden" name="IMG_NAME" value="@Model.Web.IMG" />
                        <input type="hidden" name="KIND" value="@DisplayerCode.CART_WEB" />
                          
						<p class="mt10 tac"><a href="#" class="btn btn-default small" style="width:200px;" onclick="saveImageTypeDisplayer(this.parentElement.parentElement); return false;">저장</a></p>

                      }
           
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel fl wper50">
            <table class="table table_row pd16">
                <tr>
                    <td class="bdr">
                        @using (Html.BeginForm("SaveImageTypeDisplayer", "AdminDisplay", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                        <h4>모바일-280*250 </h4>
                            if (Model.Web.IMG != null)
                            {
                                <img src="@string.Format("{0}{1}", myctrl._img_path_display, Model.Mobile.IMG)" alt="" style="width:500px" />
                            }
                            <span class="tac"> @Model.Mobile.IMG <a href="#" class="btn btn-info small" onclick="removeDisplayer(this.parentElement.parentElement); return false;">삭제</a></span>

                        <input type="file" name="IMG_FILE" style="width:80%; margin-left:35px;">
                        <span> URL : </span><input type="text" name="URL" class="input-sm mt5" style="width:80%" value="@Model.Mobile.URL">

                        <input type="hidden" name="IDX" value="@Model.Mobile.IDX" />
                        <input type="hidden" name="IMG_NAME" value="@Model.Mobile.IMG" />
                        <input type="hidden" name="KIND" value="@DisplayerCode.CART_MOBILE" />

                        <p class="mt10 tac"><a href="#" class="btn btn-default small" style="width:200px;" onclick="saveImageTypeDisplayer(this.parentElement.parentElement); return false;">저장</a></p>

                    }
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel">
        <h4>장바구니 상품전시(공통) 240*240</h4>
        <!-- 처음과 마지막  th, td에 각각 "brnone" class 사용합니다.-->
        <table class="table table_col">
            <colgroup><col width="25%"><col width="25%"><col width="25%"><col width="25%"></colgroup>
            <tbody>
                <tr>
                    <td class="brnone">
                        @using (Html.BeginForm("SaveProductTypeDisplayer", "AdminDisplay", FormMethod.Post))
                        {
                            <img src="@string.Format("{0}R270_{1}", myctrl._img_path_product, Model.CommonDisplay10.P_MAIN_IMG)" alt="" /><br><p class="tac mt5">@Model.CommonDisplay10.P_NAME</p><br><br>
                            <span>상품코드 :</span><input type="text" name="P_CODE" class="input-sm mt5" style="width:80%" value="@Model.CommonDisplay10.P_CODE" maxlength="10">
                            <input type="hidden" name="IDX" value="@Model.CommonDisplay10.IDX" />
                            <input type="hidden" name="KIND" value="@DisplayerCode.CART_PRODUCT_DISPLAY" />
                            <input type="hidden" name="SUB_KIND" value="@DisplayerCode.SUB_KIND_10" />
                            <input type="hidden" name="SEQ" value="1" />
                            <a href="#" class="btn btn-default small mt10" onclick="saveProductTypeDisplayer(this.parentElement); return false;">저장</a>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("SaveProductTypeDisplayer", "AdminDisplay", FormMethod.Post))
                        {
                            <img src="@string.Format("{0}R270_{1}", myctrl._img_path_product, Model.CommonDisplay11.P_MAIN_IMG)" alt="" /><br><p class="tac mt5">@Model.CommonDisplay11.P_NAME</p><br><br>
                            <span>상품코드 :</span><input type="text" name="P_CODE" class="input-sm mt5" style="width:80%" value="@Model.CommonDisplay11.P_CODE" maxlength="10">
                            <input type="hidden" name="IDX" value="@Model.CommonDisplay11.IDX" />
                            <input type="hidden" name="KIND" value="@DisplayerCode.CART_PRODUCT_DISPLAY" />
                            <input type="hidden" name="SUB_KIND" value="@DisplayerCode.SUB_KIND_10" />
                            <input type="hidden" name="SEQ" value="2" />
                            <a href="#" class="btn btn-default small mt10" onclick="saveProductTypeDisplayer(this.parentElement); return false;">저장</a>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("SaveProductTypeDisplayer", "AdminDisplay", FormMethod.Post))
                        {
                            <img src="@string.Format("{0}R270_{1}", myctrl._img_path_product, Model.CommonDisplay12.P_MAIN_IMG)" alt="" /><br><p class="tac mt5">@Model.CommonDisplay12.P_NAME</p><br><br>
                            <span>상품코드 :</span><input type="text" name="P_CODE" class="input-sm mt5" style="width:80%" value="@Model.CommonDisplay12.P_CODE" maxlength="10">
                            <input type="hidden" name="IDX" value="@Model.CommonDisplay12.IDX" />
                            <input type="hidden" name="KIND" value="@DisplayerCode.CART_PRODUCT_DISPLAY" />
                            <input type="hidden" name="SUB_KIND" value="@DisplayerCode.SUB_KIND_10" />
                            <input type="hidden" name="SEQ" value="3" />
                            <a href="#" class="btn btn-default small mt10" onclick="saveProductTypeDisplayer(this.parentElement); return false;">저장</a>
                        }
                    </td>
                    <td class="brnone">
                                                @using (Html.BeginForm("SaveProductTypeDisplayer", "AdminDisplay", FormMethod.Post))
                                                {
                                                    <img src="@string.Format("{0}R270_{1}", myctrl._img_path_product, Model.CommonDisplay13.P_MAIN_IMG)" alt="" /><br><p class="tac mt5">@Model.CommonDisplay13.P_NAME</p><br><br>
                            <span>상품코드 :</span><input type="text" name="P_CODE" class="input-sm mt5" style="width:80%" value="@Model.CommonDisplay13.P_CODE" maxlength="10">
                            <input type="hidden" name="IDX" value="@Model.CommonDisplay13.IDX" />
                            <input type="hidden" name="KIND" value="@DisplayerCode.CART_PRODUCT_DISPLAY" />
                            <input type="hidden" name="SUB_KIND" value="@DisplayerCode.SUB_KIND_10" />
                            <input type="hidden" name="SEQ" value="4" />
                            <a href="#" class="btn btn-default small mt10" onclick="saveProductTypeDisplayer(this.parentElement); return false;">저장</a>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--//content-->
}
