@model AboutMe.Domain.Entity.AdminDisplay.AdminDisplayGBNViewModel
@using AboutMe.Common.Data

@{
    ViewBag.Title = "Point";
    Layout = "~/Views/Shared/_AboutMeAdminLayoutA.cshtml";
}
@section Left {

    @{Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminLeft.cshtml");}
}

@section Header{
    @{ Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminHeader.cshtml");}
    @{Html.RenderPartial("~/Views/AdminDisplay/_Display.cshtml");}
}


@section Body{

					<!--content-->
<div class="content">
    <!--path-->
    <div class="path">
        <a href="/index.asp">HOME</a> &gt; <a href="#">전시관리</a> &gt; <strong>GNB배너관리</strong>
    </div>
    <!--//path-->

    <div class="panel">
        <h3 class="sub-header">GNB배너관리</h3>
    </div>

    <div class="panel">
        <h4>GNB배너 -260*228 </h4>
        <!-- 처음과 마지막  th, td에 각각 "brnone" class 사용합니다.-->
        <table class="table table_col">
            <colgroup><col width="25%"><col width="25%"><col width="25%"><col width="25%"></colgroup>
            <tbody>
                <tr>
                    <td class="brnone">
                        @using (Html.BeginForm("SaveImageTypeDisplayer", "AdminDisplay", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <img src="" alt="" /><span class="tac"> @Model.Banner10.IMG  <a href="#" class="btn btn-info small" onclick="removeDisplayer(this.parentElement.parentElement); return false;">삭제</a></span>

                            <input type="file" name="IMG_FILE" style="width:80%; margin-left:35px;">
                            <span> URL : </span><input type="text" name="URL" class="input-sm mt5" style="width:80%" value="@Model.Banner10.URL">

                            <input type="hidden" name="IDX" value="@Model.Banner10.IDX" />
                            <input type="hidden" name="KIND" value="@DisplayerCode.GBN_BANNER" />
                            <input type="hidden" name="SUB_KIND" value="@DisplayerCode.SUB_KIND_10" />
                            <input type="hidden" name="SEQ" value="1" />
                             <input type="hidden" name="IMG_NAME" value="@Model.Banner10.IMG" />

                            <p class="mt10 tac"><a href="#" class="btn btn-default small" style="width:200px;" onclick="saveImageTypeDisplayer(this.parentElement.parentElement); return false;">저장</a></p>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("SaveImageTypeDisplayer", "AdminDisplay", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <img src="" alt="" /><span class="tac"> @Model.Banner11.IMG  <a href="#" class="btn btn-info small" onclick="removeDisplayer(this.parentElement.parentElement); return false;">삭제</a></span>

                            <input type="file" name="IMG_FILE" style="width:80%; margin-left:35px;">
                            <span> URL : </span><input type="text" name="URL" class="input-sm mt5" style="width:80%" value="@Model.Banner11.URL">

                            <input type="hidden" name="IDX" value="@Model.Banner11.IDX" />
                            <input type="hidden" name="KIND" value="@DisplayerCode.GBN_BANNER" />
                            <input type="hidden" name="SUB_KIND" value="@DisplayerCode.SUB_KIND_10" />
                            <input type="hidden" name="SEQ" value="2" />
                            <input type="hidden" name="IMG_NAME" value="@Model.Banner11.IMG" />

                            <p class="mt10 tac"><a href="#" class="btn btn-default small" style="width:200px;" onclick="saveImageTypeDisplayer(this.parentElement.parentElement); return false;">저장</a></p>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("SaveImageTypeDisplayer", "AdminDisplay", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <img src="" alt="" /><span class="tac"> @Model.Banner12.IMG  <a href="#" class="btn btn-info small" onclick="removeDisplayer(this.parentElement.parentElement); return false;">삭제</a></span>

                            <input type="file" name="IMG_FILE" style="width:80%; margin-left:35px;">
                            <span> URL : </span><input type="text" name="URL" class="input-sm mt5" style="width:80%" value="@Model.Banner12.URL">

                            <input type="hidden" name="IDX" value="@Model.Banner12.IDX" />
                            <input type="hidden" name="KIND" value="@DisplayerCode.GBN_BANNER" />
                            <input type="hidden" name="SUB_KIND" value="@DisplayerCode.SUB_KIND_10" />
                            <input type="hidden" name="SEQ" value="3" />
                            <input type="hidden" name="IMG_NAME" value="@Model.Banner12.IMG" />

                            <p class="mt10 tac"><a href="#" class="btn btn-default small" style="width:200px;" onclick="saveImageTypeDisplayer(this.parentElement.parentElement); return false;">저장</a></p>
                        }
                    </td>
                    <td class="brnone">
                        @using (Html.BeginForm("SaveImageTypeDisplayer", "AdminDisplay", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <img src="" alt="" /><span class="tac"> @Model.Banner13.IMG  <a href="#" class="btn btn-info small" onclick="removeDisplayer(this.parentElement.parentElement); return false;">삭제</a></span>

                            <input type="file" name="IMG_FILE" style="width:80%; margin-left:35px;">
                            <span> URL : </span><input type="text" name="URL" class="input-sm mt5" style="width:80%" value="@Model.Banner13.URL">

                            <input type="hidden" name="IDX" value="@Model.Banner13.IDX" />
                            <input type="hidden" name="KIND" value="@DisplayerCode.GBN_BANNER" />
                            <input type="hidden" name="SUB_KIND" value="@DisplayerCode.SUB_KIND_10" />
                            <input type="hidden" name="SEQ" value="4" />
                            <input type="hidden" name="IMG_NAME" value="@Model.Banner13.IMG" />

                            <p class="mt10 tac"><a href="#" class="btn btn-default small" style="width:200px;" onclick="saveImageTypeDisplayer(this.parentElement.parentElement); return false;">저장</a></p>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="ofh pt5">
        <div class="panel fl wper50">
            @using (Html.BeginForm("saveLinkTypeDisplayer", "AdminDisplay", FormMethod.Post))
            {    
                <h4>GNB링크 1</h4>
                <span>타이틀1 : </span><input type="text" name="TITLE1" class="input-sm mt5" style="width:80%" value="@Model.Link10.TITLE1"/><br />
                <span>타이틀2 : </span><input type="text" name="TITLE2" class="input-sm mt5" style="width:80%" value="@Model.Link10.TITLE2"/><br />
                <span> URL  : </span><input type="text" name="URL"  class="input-sm mt5" style="width:80%" value="@Model.Link10.URL"/><br />
                <input type="hidden" name="IDX" value="@Model.Link10.IDX" />
                <input type="hidden" name="KIND" value="@DisplayerCode.GBN_LINK" />
                <input type="hidden" name="SUB_KIND" value="@DisplayerCode.SUB_KIND_10" />
                <input type="hidden" name="SEQ" value="1" />
            
                <p class="tac  mt10">
                    <a href="#" class="btn btn-default small" style="width:200px;" onclick="saveLinkTypeDisplayer(this.parentElement.parentElement); return false;" >저장</a>
                </p>
            }
        </div>
        <div class="panel fl wper50">
            @using (Html.BeginForm("saveLinkTypeDisplayer", "AdminDisplay", FormMethod.Post))
            {
                <h4>GNB링크 2</h4>
                <span>타이틀1 : </span><input type="text" name="TITLE1" class="input-sm mt5" style="width:80%" value="@Model.Link11.TITLE1" /><br />
                <span>타이틀2 : </span><input type="text" name="TITLE2" class="input-sm mt5" style="width:80%" value="@Model.Link11.TITLE2" /><br />
                <span> URL  : </span><input type="text" name="URL" class="input-sm mt5" style="width:80%" value="@Model.Link11.URL" /><br />
                <input type="hidden" name="IDX" value="@Model.Link11.IDX" />
                <input type="hidden" name="KIND" value="@DisplayerCode.GBN_LINK" />
                <input type="hidden" name="SUB_KIND" value="@DisplayerCode.SUB_KIND_10" />
                <input type="hidden" name="SEQ" value="2" />

                <p class="tac  mt10">
                    <a href="#" class="btn btn-default small" style="width:200px;" onclick="saveLinkTypeDisplayer(this.parentElement.parentElement); return false;" >저장</a>
                </p>
            }
        </div>
    </div>
    <!--//content-->
}
