@model AboutMe.Domain.Entity.AdminDisplay.AdminDisplayWebMainViewModel
@using AboutMe.Common.Helper
@using AboutMe.Common.Data
@using AboutMe.Web.Admin.Controllers


@{
    //TempData["ResultNum"];
   // TempData["ResultMessage"];
}

@{
    ViewBag.Title = "Point";
    Layout = "~/Views/Shared/_AboutMeAdminLayoutA.cshtml";
    var myctrl = ViewContext.Controller as AdminDisplayController;
}
@section Left {

    @{Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminLeft.cshtml");}
}

@section Header{
    @{ Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminHeader.cshtml");}
    @{Html.RenderPartial("~/Views/AdminDisplay/_Display.cshtml");}
}



@section Body{



<div class="content">
    <!--path-->
    <div class="path">
        <a href="/index.asp">HOME</a> &gt; <a href="#">전시관리</a> &gt; <strong>웹메인 메인</strong>
    </div>
    <!--//path-->

    <div class="panel">
        <h3 class="sub-header">웹메인관리</h3>
    </div>

    <div class="panel">
        <h4>메인 배너 -1080*540</h4>

        <table class="table table_row main_bnr_table">
            <colgroup><col width="20%"><col width="*"><col width="15%"></colgroup>
            <tbody>

                @foreach (var item in Model.WebMainBannerList)
                {
                    <tr>
                        <th scope="row" class="vam">
                            <img src="" alt=""><br>
                            <p class="tac"> @item.IMG 
                                <a href="#" class="btn btn-info small" onclick="removeDisplayer(this.parentElement.parentElement.parentElement.getElementsByTagName('form')[0]); return false;">전체삭제</a>
                            </p>
                        </th>
                        <td>
                            @using (Html.BeginForm("SaveImageTypeDisplayer", "AdminDisplay", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                if (item.IMG != null)
                                {
                                    <img src="@string.Format("{0}{1}", myctrl._img_path_display, item.IMG)" alt="" style="width:500px"/>
                                }
                                <input type="file" name="IMG_FILE" style="width:80%; margin-left:35px;">
                                <span> URL : </span><input type="text" name="URL" class="input-sm mt5" style="width:80%" value="@item.URL">
                                <input type="hidden" name="IDX" value="@item.IDX" />
                                <input type="hidden" name="IMG_NAME" value="@item.IMG" />
                                <input type="hidden" name="KIND" value="@DisplayerCode.WEB_MAIN_BANNER" />
                            }
                            <!--/form>-->
                        </td>
                        <td class="tac">
                            <a href="#" class="btn btn-default large" onclick="saveImageTypeDisplayer(this.parentElement.parentElement.getElementsByTagName('form')[0]); return false;">저장</a>
                        </td>
                    </tr>
                }

                <tr>
                    <th scope="row" class="vam">
                        <!--<img src="" alt=""><br><p class="tac">  <a href="#" class="btn btn-info small" onclick="removeMainBanner(this); return false;">삭제</a></p>-->
                    </th>
                    <td>
                        @using (Html.BeginForm("SaveImageTypeDisplayer", "AdminDisplay", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <input type="file" name="IMG_FILE" style="width:80%; margin-left:35px;">
                             <span> URL : </span><input type="text" name="URL" class="input-sm mt5" style="width:80%">
                            <input type="hidden" name="IDX" value="" />
                            <input type="hidden" name="IMG_NAME" />
                            <input type="hidden" name="KIND" value="@DisplayerCode.WEB_MAIN_BANNER" />
                        }
                        <!--/form>-->
                    </td>
                    <td class="tac">
                        <a href="#" class="btn btn-warning large" onclick="saveImageTypeDisplayer(this.parentElement.parentElement.getElementsByTagName('form')[0]); return false;">추가</a>
                    </td>
                </tr>


            </tbody>
        </table>

    </div>

    <div class="panel">
        <h4>중간 배너 -805*256</h4>
        <table class="table table_row">
            <colgroup><col width="20%"><col width="*"><col width="15%"></colgroup>
            <tbody>
                <tr>


                    <th scope="row" class="vam">
                        <img src="" alt=""><br><p class="tac"> @Model.WebMiddleBanner.IMG <a href="#" class="btn btn-info small" onclick="removeDisplayer(this.parentElement.parentElement.parentElement.getElementsByTagName('form')[0]); return false;">전체삭제</a></p>
                    </th>
                    <td>

                        @using (Html.BeginForm("SaveImageTypeDisplayer", "AdminDisplay", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            if (Model.WebMiddleBanner.IMG != null)
                            {
                                <img src="@string.Format("{0}{1}", myctrl._img_path_display, Model.WebMiddleBanner.IMG)" alt="" style="width:500px" />
                            }
                            <input type="file" name="IMG_FILE" style="width:80%; margin-left:35px;">
                            <span> URL : </span><input type="text" name="URL" class="input-sm mt5" style="width:80%" value="@Model.WebMiddleBanner.URL">
                            <input type="hidden" name="IDX" value="@Model.WebMiddleBanner.IDX" />
                            <input type="hidden" name="IMG_NAME" value="@Model.WebMiddleBanner.IMG" />
                            <input type="hidden" name="KIND" value="@DisplayerCode.WEB_MAIN_MIDDLE_BANNER" />
                        }
                    </td>
                    <td class="tac">
                        <a href="#" class="btn btn-default large" onclick="saveImageTypeDisplayer(this.parentElement.parentElement.getElementsByTagName('form')[0]); return false;">저장</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="panel">
        <h4>상품전시- 사이즈 미정</h4>
        <!-- 처음과 마지막  th, td에 각각 "brnone" class 사용합니다.-->
        <table class="table table_col">
            <colgroup><col width="25%"><col width="25%"><col width="25%"><col width="25%"></colgroup>
            <tbody>
                <tr>
                    <td class="brnone">
                        @using (Html.BeginForm("SaveImageTypeDisplayer", "AdminDisplay", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                                 
                            <img src="@string.Format("{0}{1}", myctrl._img_path_display, Model.WebProductDisplay10.IMG)" alt=""><br><p class="tac mt5">@Model.WebProductDisplay10.IMG<a href="#" class="btn btn-info small" onclick="removeOnlyImage(this.parentElement.parentElement); return false;">이미지삭제</a></p><br><br>
                            <input type="file" name="IMG_FILE" style="width:80%; margin-left:35px;">
                            <span> URL : </span><input type="text" name="URL" class="input-sm mt5" style="width:80%" value="@Model.WebProductDisplay10.URL">
                            <input type="hidden" name="IDX" value="@Model.WebProductDisplay10.IDX" />
                            <input type="hidden" name="IMG_NAME" value="@Model.WebProductDisplay10.IMG" />
                            <input type="hidden" name="KIND" value="@DisplayerCode.WEB_MAIN_PRODUCT_DISPLAY" />
                            <input type="hidden" name="SUB_KIND" value="@DisplayerCode.SUB_KIND_10" />
                            <input type="hidden" name="SEQ" value="1" />
                            <a href="#" class="btn btn-default small mt10" onclick="saveImageTypeDisplayer(this.parentElement); return false;">저장</a>
                        }
                    </td>
                    <td>
                                                @using (Html.BeginForm("SaveProductTypeDisplayer", "AdminDisplay", FormMethod.Post))
                                                {
                                                    <img src="@string.Format("{0}R270_{1}", myctrl._img_path_product, Model.WebProductDisplay11.P_MAIN_IMG)" alt=""><br><p class="tac mt5">@Model.WebProductDisplay11.P_NAME</p><br><br>
                            <span>상품코드 :</span><input type="text" name="P_CODE" class="input-sm mt5" style="width:80%" value="@Model.WebProductDisplay11.P_CODE" maxlength="10">
                            <input type="hidden" name="IDX" value="@Model.WebProductDisplay11.IDX" />
                            <input type="hidden" name="KIND" value="@DisplayerCode.WEB_MAIN_PRODUCT_DISPLAY" />
                            <input type="hidden" name="SUB_KIND" value="@DisplayerCode.SUB_KIND_10" />
                            <input type="hidden" name="SEQ" value="2" />
                            <a href="#" class="btn btn-default small mt10" onclick="saveProductTypeDisplayer(this.parentElement); return false;">저장</a>
                        }
                    </td>
                    <td>
                                                @using (Html.BeginForm("SaveProductTypeDisplayer", "AdminDisplay", FormMethod.Post))
                                                {
                                                    <img src="@string.Format("{0}R270_{1}", myctrl._img_path_product, Model.WebProductDisplay12.P_MAIN_IMG)" alt=""><br><p class="tac mt5">@Model.WebProductDisplay12.P_NAME</p><br><br>
                            <span>상품코드 :</span><input type="text" name="P_CODE" class="input-sm mt5" style="width:80%" value="@Model.WebProductDisplay12.P_CODE" maxlength="10">
                            <input type="hidden" name="IDX" value="@Model.WebProductDisplay12.IDX" />
                            <input type="hidden" name="KIND" value="@DisplayerCode.WEB_MAIN_PRODUCT_DISPLAY" />
                            <input type="hidden" name="SUB_KIND" value="@DisplayerCode.SUB_KIND_10" />
                            <input type="hidden" name="SEQ" value="3" />
                            <a href="#" class="btn btn-default small mt10" onclick="saveProductTypeDisplayer(this.parentElement); return false;">저장</a>
                        }
                    </td>
                    <td class="brnone">
                                                @using (Html.BeginForm("SaveProductTypeDisplayer", "AdminDisplay", FormMethod.Post))
                                                {
                                                    <img src="@string.Format("{0}R270_{1}", myctrl._img_path_product, Model.WebProductDisplay13.P_MAIN_IMG)" alt=""><br><p class="tac mt5">@Model.WebProductDisplay13.P_NAME</p><br><br>
                            <span>상품코드 :</span><input type="text" name="P_CODE" class="input-sm mt5" style="width:80%" value="@Model.WebProductDisplay13.P_CODE" maxlength="10">
                            <input type="hidden" name="IDX" value="@Model.WebProductDisplay13.IDX" />
                            <input type="hidden" name="KIND" value="@DisplayerCode.WEB_MAIN_PRODUCT_DISPLAY" />
                            <input type="hidden" name="SUB_KIND" value="@DisplayerCode.SUB_KIND_10" />
                            <input type="hidden" name="SEQ" value="4" />
                            <a href="#" class="btn btn-default small mt10" onclick="saveProductTypeDisplayer(this.parentElement); return false;">저장</a>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="brnone">
                                                                        @using (Html.BeginForm("SaveImageTypeDisplayer", "AdminDisplay", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                                        {

                                                                            <img src="@string.Format("{0}{1}", myctrl._img_path_display, Model.WebProductDisplay20.IMG)" alt=""><br><p class="tac mt5">@Model.WebProductDisplay20.IMG<a href="#" class="btn btn-info small" onclick="removeOnlyImage(this.parentElement.parentElement); return false;">이미지삭제</a></p><br><br>
                            <input type="file" name="IMG_FILE" style="width:80%; margin-left:35px;">
                            <span> URL : </span><input type="text" name="URL" class="input-sm mt5" style="width:80%" value="@Model.WebProductDisplay20.URL">
                            <input type="hidden" name="IDX" value="@Model.WebProductDisplay20.IDX" />
                            <input type="hidden" name="IMG_NAME" value="@Model.WebProductDisplay20.IMG" />
                            <input type="hidden" name="KIND" value="@DisplayerCode.WEB_MAIN_PRODUCT_DISPLAY" />
                            <input type="hidden" name="SUB_KIND" value="@DisplayerCode.SUB_KIND_20" />
                            <input type="hidden" name="SEQ" value="1" />
                            <a href="#" class="btn btn-default small mt10" onclick="saveImageTypeDisplayer(this.parentElement); return false;">저장</a>
                                                                        }
                    </td>
                    <td>
                                                @using (Html.BeginForm("SaveProductTypeDisplayer", "AdminDisplay", FormMethod.Post))
                                                {
                                                    <img src="@string.Format("{0}R270_{1}", myctrl._img_path_product, Model.WebProductDisplay21.P_MAIN_IMG)" alt=""><br><p class="tac mt5">@Model.WebProductDisplay21.P_NAME</p><br><br>
                            <span>상품코드 :</span><input type="text" name="P_CODE" class="input-sm mt5" style="width:80%" value="@Model.WebProductDisplay21.P_CODE" maxlength="10">
                            <input type="hidden" name="IDX" value="@Model.WebProductDisplay21.IDX" />
                            <input type="hidden" name="KIND" value="@DisplayerCode.WEB_MAIN_PRODUCT_DISPLAY" />
                            <input type="hidden" name="SUB_KIND" value="@DisplayerCode.SUB_KIND_20" />
                            <input type="hidden" name="SEQ" value="2" />
                            <a href="#" class="btn btn-default small mt10" onclick="saveProductTypeDisplayer(this.parentElement); return false;">저장</a>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("SaveProductTypeDisplayer", "AdminDisplay", FormMethod.Post))
                        {
                            <img src="@string.Format("{0}R270_{1}", myctrl._img_path_product, Model.WebProductDisplay22.P_MAIN_IMG)" alt=""><br><p class="tac mt5">@Model.WebProductDisplay22.P_NAME</p><br><br>
                            <span>상품코드 :</span><input type="text" name="P_CODE" class="input-sm mt5" style="width:80%" value="@Model.WebProductDisplay22.P_CODE" maxlength="10">
                            <input type="hidden" name="IDX" value="@Model.WebProductDisplay22.IDX" />
                            <input type="hidden" name="KIND" value="@DisplayerCode.WEB_MAIN_PRODUCT_DISPLAY" />
                            <input type="hidden" name="SUB_KIND" value="@DisplayerCode.SUB_KIND_20" />
                            <input type="hidden" name="SEQ" value="3" />
                            <a href="#" class="btn btn-default small mt10" onclick="saveProductTypeDisplayer(this.parentElement); return false;">저장</a>
                        }
                    </td>
                    <td class="brnone">
                                                @using (Html.BeginForm("SaveProductTypeDisplayer", "AdminDisplay", FormMethod.Post))
                                                {
                                                    <img src="@string.Format("{0}R270_{1}", myctrl._img_path_product, Model.WebProductDisplay23.P_MAIN_IMG)" alt=""><br><p class="tac mt5">@Model.WebProductDisplay23.P_NAME</p><br><br>
                            <span>상품코드 :</span><input type="text" name="P_CODE" class="input-sm mt5" style="width:80%" value="@Model.WebProductDisplay23.P_CODE" maxlength="10">
                            <input type="hidden" name="IDX" value="@Model.WebProductDisplay23.IDX" />
                            <input type="hidden" name="KIND" value="@DisplayerCode.WEB_MAIN_PRODUCT_DISPLAY" />
                            <input type="hidden" name="SUB_KIND" value="@DisplayerCode.SUB_KIND_20" />
                            <input type="hidden" name="SEQ" value="4" />
                            <a href="#" class="btn btn-default small mt10" onclick="saveProductTypeDisplayer(this.parentElement); return false;">저장</a>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--//content-->
</div>

}