@model AboutMe.Domain.Entity.Order.ORDER_STEP2_MODEL
@{
    ViewBag.Title = "주문/결제 - ABOUT ME";
    ViewBag.TopClass = "cart";
    Layout = "~/Views/Shared/_AboutMeLayoutB.cshtml";
    string productImgPath = AboutMe.Common.Helper.Config.GetConfigValue("ProductPhotoPath");

    if (Model == null)
    {
        Response.Write("<script>alert('존재하지 않은 게시물입니다.'); history.go(-1);</script>");
        Response.End();
    }
    
}
@section Scripts{
<link href="/aboutCom/css/cart.css" rel="stylesheet" />

<!-- 전환페이지 설정 -->
<script type="text/javascript" src="http://wcs.naver.net/wcslog.js"> </script>
<script type="text/javascript">
    var _nasa = {};
    _nasa["cnv"] = wcs.cnv("1", "10"); // 전환유형, 전환가치 설정해야함. 설치매뉴얼 참고
</script>

}

<!--container-->
<div class="container oder">
    
    @if (!Model.OrderResult.Resultcode.Equals("00"))
    {
        
    <div class="h2_area">
        <a href="#" class="historyback"><img src="/aboutCom/images/common/btn_historyback.gif" alt="뒤로가기" /></a>
        <h2>주문에러</h2>
    </div>
    
    <div class="boxtypec">
        <h3>이니시스 결제도중 에러가 발생했습니다. 재주문하시기 바랍니다.</h3>
        <ul class="con_list pd0">
            <li>
                <div>
                    <span class="tit">에러메시지</span>
                    <span class="tit">@Model.OrderResult.ResultMsg</span>
                </div>
            </li>
            <li>
                <div>
                    <span class="tit">Order IDX</span>
                    <span class="tit">@Model.OrderResult.ORDER_IDX</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="btn_group mt20">
        <a href="/Cart" class="btn btn_brown_h40 mr5" style="width:142px;">쇼핑백</a><a href="/" class="btn btn_white_h40" style="width:142px;">홈</a>
    </div>
    }
    else
    {

        if (Model.DetailInfo == null)
        {
            Response.Write("<script>alert('존재하지 않은 게시물입니다.'); history.go(-1);</script>");
            Response.End();
        }

        <div class="h2_area">
            <a href="#" class="historyback"><img src="/aboutCom/images/common/btn_historyback.gif" alt="뒤로가기" /></a>
            <h2>주문완료</h2>
        </div>

    <!--주문완료확인텍스트-->
        <div class="order_fin_txt">
            <strong>@Model.DetailInfo.ORDER_NAME</strong>님이 결제하신 <strong>주문이 완료</strong>되었습니다.<br />
            주문해 주셔서 감사합니다.
        </div>
    <!--주문완료확인텍스트-->
    <!--상품리스트-->
        <div class="product_list v2">
            <h3>주문상품</h3>
            <ul class="btnone">

@foreach (var item in Model.ProductList)
{
     string imgUrl1 = productImgPath + "R120_" + item.P_IMG1_S;
    
                <li>
                    <ul class="product_info">
                        <li class="photo_info">
                            <div class="photo"><img src="@imgUrl1" alt="" /></div>
                            <div class="detail">
                                @if (item.ICON_BEST == 1)
                                {
                                    <span class="ico ico_best">BEST</span>
                                }
                                @if (item.ICON_SOLDOUT == 1)
                                {
                                    <span class="ico ico_soldout">SOLD OUT</span>
                                }
                                @if (item.ICON_NEW == 1)
                                {
                                    <span class="ico ico_new">NEW</span>
                                }
                                @if (item.ICON_CUSTOM == 1)
                                {
                                    <span class="ico ico_custom">커스텀</span>
                                }

                                @if (item.ICON_SET == 1)
                                {
                                    <span class="ico ico_set">SET</span>
                                }
                                @if (item.ICON_ONEPLUS == 1)
                                {
                                    <span class="ico ico_1_1">1+1</span>
                                }
                                @if (item.ICON_TIME == 1)
                                {
                                    <span class="ico ico_time">TIME</span>
                                }

                                @if (item.ICON_COUPON == 1)
                                {
                                    <span class="ico ico_coupon">COUPON</span>
                                }
                                <span class="tit">@(new HtmlString(item.P_NAME))</span>
                                <span class="price">
                                @if (@item.SELLING_PRICE != @item.DISCOUNT_PRICE)
                                {
                                    <del>@item.SELLING_PRICE.ToString("#,#0.")원</del>
                                }
                                @String.Format("{0:#,#0.}", @item.DISCOUNT_PRICE)원</span>
                            </div>
                        </li>
                        
                        @if (item.PROMOTION_TYPE == "02") //1+1
                        {
                            <li>1+1 상품</li>
                        }
                        
                        @if (Model.UserProfile.M_GBN == "S") //임직원
                        {
                            <li>
                                <span class="tit">임직원 금액</span>
                                <span class="num">@item.EMP_DISCOUNT_PRICE.ToString("#,#0.")원</span>
                            </li>
                        }
                        <li class="count_info">
                            <span class="tit">수량</span>
                            <span class="num"><strong>@item.P_COUNT</strong>개</span>
                        </li>
                        <li class="count_info ">
                            <span class="tit">쿠폰할인금액</span>
                            <span class="num">@String.Format("{0:#,#0.}", item.COUPON_DISCOUNT_AMT)원</span>
                        </li>
                        <li>
                            <strong class="tit">주문금액</strong>
                            <strong class="num">@String.Format("{0:#,#0.}", item.COUPON_DISCOUNT_PRICE)원</strong>
                        </li>
                    </ul>
                </li>
}

            </ul>
        </div>
    <!--//상품리스트-->
    <!--결제금액-->
        <div class="boxtypec">
            <h3>결제금액</h3>
            <ul class="con_list pd0">
                <li>
                    <div>
                        <span class="tit">상품금액</span>
                        <span class="num">@String.Format("{0:#,#0.}", Model.DetailInfo.TOTAL_PRICE)원</span>
                    </div>
                    <div>
                        <span class="tit">배송비</span>
                        <span class="num">@String.Format("{0:#,#0.}", Model.DetailInfo.TRANS_PRICE)원</span>
                    </div>
                </li>
                <li>
                    <strong class="tit">총 상품금액</strong>
                    <strong class="num">@String.Format("{0:#,#0.}", Model.DetailInfo.TOTAL_PRICE + Model.DetailInfo.TRANS_PRICE)원</strong>
                </li>
                <li>
                    @if (Model.UserProfile.IS_LOGIN == true && Model.UserProfile.M_GBN == "S")
                    {
                        <div>
                            <span class="tit">임직원할인</span>
                            <span class="num">@String.Format("{0:#,#0.}", Model.DetailInfo.EMP_DISCOUNT_AMT)원</span>
                        </div>
                    }
                    
                    <div>
                        <span class="tit">쿠폰할인금액</span>
                        <span class="num">@String.Format("{0:#,#0.}", Model.DetailInfo.COUPON_DISCOUNT_AMT)원</span>
                    </div>
                    <div>
                        <span class="stit">보유포인트 사용</span>
                        <span class="num">@String.Format("{0:#,#0.}", Model.DetailInfo.POINT_USE_PRICE)원</span>
                    </div>
                    <div>
                        <span class="stit">VIP회원할인</span>
                        <span class="num">@String.Format("{0:#,#0.}", Model.DetailInfo.GRADE_DISCOUNT_AMT)원</span>
                    </div>
                </li>
                <li class="bbnone">
                    <span class="tit">총 할인금액</span>
                    <span class="num">@String.Format("{0:#,#0.}", Model.DetailInfo.DISCOUNT_AMT)원</span>
                </li>
            </ul>
        </div>
        <div class="total_paywrap">
            <div class="total_pay">
                <dl class="point">
                    <dt>예상적립포인트</dt>
                    <dd>ⓟ@String.Format("{0:#,#0.}", Model.DetailInfo.ACCML_POINT)</dd>
                </dl>
                <dl class="amount">
                    <dt>총 결제금액</dt>
                    <dd>@String.Format("{0:#,#0.}", Model.DetailInfo.TOTAL_PAY_PRICE)원</dd>
                </dl>
            </div>
            <p class="pstxt2"><span>ⓘ</span> 최종 결제금액 기준으로 포인트는 적립됩니다.</p>
        </div>
    <!--//결제금액-->
    <!--주문자정보-->
        <div class="boxtypec">
            <h3 class="sliderh3_tit">주문자 정보</h3>
            <div class="sliderh3_con">
                <ul class="addressform2">
                    <li>
                        <dl>
                            <dt>주문하시는 분</dt>
                            <dd>@Model.DetailInfo.ORDER_NAME</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>주소</dt>
                            <dd>
                                @Model.DetailInfo.SENDER_POST<br />
                                @Model.DetailInfo.SENDER_ADDR1<br />
                                @Model.DetailInfo.SENDER_ADDR2
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>집전화번호</dt>
                            <dd>
                                @Model.DetailInfo.SENDER_TEL
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>휴대번호</dt>
                            <dd>
                                @Model.DetailInfo.SENDER_HP
                            </dd>
                        </dl>
                    </li>
                    <li class="bbnone">
                        <dl>
                            <dt>이메일</dt>
                            <dd>
                                @Model.DetailInfo.SENDER_EMAIL
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    <!--//주문자정보-->
    <!--배송지정보-->
        <div class="boxtypec">
            <h3 class="sliderh3_tit on">배송지 정보</h3>

            <div class="sliderh3_con">
                <ul class="addressform2">
                    <li>
                        <dl>
                            <dt>받으시는 분</dt>
                            <dd>@Model.DetailInfo.RECEIVER_NAME</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>주소</dt>
                            <dd>
                                @Model.DetailInfo.RECEIVER_POST<br />
                                @Model.DetailInfo.RECEIVER_ADDR1<br />
                                @Model.DetailInfo.RECEIVER_ADDR2
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>집전화번호</dt>
                            <dd>
                                @Model.DetailInfo.RECEIVER_TEL
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>휴대번호</dt>
                            <dd>
                                @Model.DetailInfo.RECEIVER_HP
                            </dd>
                        </dl>
                    </li>
                    <li class="bbnone">
                        <dl>
                            <dt>배송시 요청사항</dt>
                            <dd>
                                @Model.DetailInfo.ORDER_MEMO
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    <!--//배송지정보-->
    <!--결제정보-->
        <div class="boxtypec payinfo">
            <h3>결제정보</h3>
            <div class="wrap">
                <dl>
                    <dt>주문번호</dt>
                    <dd>@Model.DetailInfo.ORDER_CODE</dd>
                </dl>
                <dl>
                    <dt>결제수단</dt>
                    <dd>@Model.DetailInfo.PAY_GBN_NM</dd>
                </dl>
                @if (!Model.DetailInfo.NOMEMBER_PASS.IsEmpty())
                {
                    <dl>
                        <dt>비회원비밀번호</dt>
                        <dd>@Model.DetailInfo.NOMEMBER_PASS</dd>
                    </dl>
                }
                <dl>
                    <dt>승인번호</dt>
                    <dd>@Model.DetailInfo.PAT_TID</dd>
                </dl>

                @if (Model.DetailInfo.PAY_GBN == "3") //가상계좌
                {
                    <dl>
                        <dt>가상계좌번호</dt>
                        <dd>@Model.DetailInfo.VACT_Num</dd>
                    </dl>
                    <dl>
                        <dt>입금은행</dt>
                        <dd>@Model.DetailInfo.VACT_BankName</dd>
                    </dl>
                    <dl>
                        <dt>예금주명</dt>
                        <dd>@Model.DetailInfo.VACT_Name</dd>
                    </dl>
                    <dl>
                        <dt>입금 예정일</dt>
                        <dd>@Model.DetailInfo.VACT_Date 까지</dd>
                    </dl>
                }
            </div>
        </div>
    <!--//결제정보-->

			<!--배송안내-->
    <div class="boxtypec odercon">
        <h3>배송안내</h3>
        <p class="tit">배송사</p>
        <p class="contxt">CJ 대한통운 <i class="tel"></i>1588-1255</p>
        <p class="tit">배송지역</p>
        <p class="contxt">
            전국<br />
            주문하신 상품은 결제 완료 후 평균 2~5일(휴일 및 공휴일 제외) 이내에 배송됩니다.
            산간 도서지방,군부대 등 일부 지역은 배송기간이 더 소요될 수 있습니다.
        </p>
        <p class="tit">배송비</p>
        <p class="contxt">
            실결제금액 30,000원 이상(할인 등이 적용된 최종 결제 금액
            기준) 배송비 무료, 그 외 2,500원 (도서, 산간, 오지 일부지역은
            배송비가 추가될 수 있습니다.)
        </p>
        <p class="tit">배송 예정일</p>
        <p class="contxt">
            평일 오전 9시 이전 주문 건은 당일 출고되며, 그 후 주문건은
            다음날 출고됩니다.
            주문하신 상품은 결제 완료 후 평균 2~5일(휴일 및 공휴일 제외)
            이내에 배송됩니다. 산간 도서지방,군부대 등 일부 지역은 배송
            기간이 더 소요될 수 있습니다.
            할인 행사로 인한 주문 폭주 및 택배사의 사정 등으로 인한 경우
            배송이 지연될 수 있습니다.
        </p>
    </div>
	<!--//배송안내-->

	<!--주문 취소/ 교환/ 반품 안내-->
    <div class="boxtypec odercon">
        <h3>주문 취소 / 교환 / 반품 안내</h3>
        <p class="contxt mt20">
            상품 불량 및 오배송 등으로 인한 교환/반품 신청의 경우
            배송비는 무료입니다.<br />
            고객님의 단순 변심으로 인한 교환/반품 신청은 고객님께서
            왕복배송비 5,000원을 부담해주셔야 처리가 됩니다.<br />
            신한은행 150-000-061736 ㈜삼양제넥스<br />
            <br />
            사은품 품절 시 공지 없이 대체 상품이 발송됩니다.<br />
            단순변심, 착오구매에 따른 교환/반품 신청은 상품을 공급받은
            날부터 7일 이내 가능합니다. (배송비 고객 부담)<br />
            공급받은 상품이 표시/광고의 내용과 다르거나 계약내용과
            다르게 이행된 경우에는 상품을 공급받은 날부터 3개월 이내,
            그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내 교환/반품
            신청을 하실 수 있습니다. (배송비 회사 부담)<br />
            <br />
            교환/반품을 원하는 고객은 쇼핑몰 고객센터
            (080-740-7983)에 전화하시거나 쇼핑몰의 [마이페이지>
            교환/반품 신청]을 통해 신청하시면 됩니다.<br />
            <br />
            해당 상품 구매 시 사은품/증정품 등이 제공된 경우, 상품
            교환/반품 시 함께 보내주셔야 합니다<br />
            오프라인 매장에서 구매한 제품은 교환/반품이 불가능 합니다.<br />
        </p>
        <p class="tit">배송안내</p>
        <p class="contxt">
            배송사 : CJ대한통운<br />
            배송지역 : 전국<br />
            주문하신 상품은 결제 완료 후 평균 2~5일(휴일 및 공휴일 제외) 이내에 배송됩니다.<br />
            산간 도서지방,군부대 등 일부 지역은 배송기간이 더 소요될 수 있습니다.<br />
            <br />
            배송비 : 실결제금액 30,000원 이상(할인 등이 적용된 최종 결제 금액 기준) 배송비 무료, 그 외 2,500원 (도서, 산간, 오지 일부지역은 배송비가 추가될 수 있습니다.)<br />
            <br />
            배송 예정일 : 평일 오전 9시 이전 주문 건은 당일 출고되며, 그 후 주문건은 다음날 출고됩니다.<br />
            주문하신 상품은 결제 완료 후 평균 2~5일(휴일 및 공휴일 제외) 이내에 배송됩니다.<br />
            산간 도서지방,군부대 등 일부 지역은 배송기간이 더 소요될 수 있습니다.<br />
            할인 행사로 인한 주문 폭주 및 택배사의 사정 등으로 인한 경우 배송이 지연될 수 있습니다.<br />
            <br />
            상품 불량 및 오배송 등으로 인한 교환/반품 신청의 경우 배송비는 무료입니다.<br />
            <br />
            고객님의 단순 변심으로 인한 교환/반품 신청은 고객님께서 왕복배송비 5,000원을 부담해주셔야 처리가 됩니다.<br />
            신한은행 150-000-061736 ㈜삼양제넥스<br />
        </p>
        <p class="tit">교환/반품 안내</p>
        <p class="contxt">
            - 사은품 품절 시 공지 없이 대체 상품이 발송됩니다.<br />
            - 단순변심, 착오구매에 따른 교환/반품 신청은 상품을 공급받은 날부터 7일 이내 가능합니다. (배송비 고객 부담)<br />
            - 공급받은 상품이 표시/광고의 내용과 다르거나 계약내용과 다르게 이행된 경우에는 상품을 공급받은 날부터 3개월 이내,그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내 교환/반품 신청을 하실 수 있습니다. (배송비 회사 부담)<br />
            - 교환/반품을 원하는 고객은 쇼핑몰 고객센터 (080 740-7983)에 전화하시거나 [마이페이지>교환/반품 신청]을 통해 신청하시면 됩니다.<br />
            - 해당 상품 구매 시 사은품/증정품 등이 제공된 경우, 상품 교환/반품 시 함께 보내주셔야 합니다<br />
            - 오프라인 매장에서 구매한 제품은 교환/반품이 불가능 합니다. <br />
        </p>
    </div>
	<!--주문 취소/ 교환/ 반품 안내-->

    <div class="btn_group mt20">
        <a href="/MyPage/MyOrder/" class="btn btn_brown_h40 mr5" style="width:142px;">주문조회</a><a href="/" class="btn btn_white_h40" style="width:142px;">홈</a>
    </div>

    }
</div>
<!--//container-->
