@model AboutMe.Domain.Entity.Order.ORDER_STEP1_MODEL
@{
    ViewBag.Title = "주문/결제 - ABOUT ME";
    ViewBag.TopClass = "cart";
    ViewBag.BodyScript = @"onload='javascript:enable_click()' onfocus='javascript:focus_control()' ";
    Layout = "~/Views/Shared/_AboutMeLayoutB.cshtml";
    string productImgPath = AboutMe.Common.Helper.Config.GetConfigValue("ProductPhotoPath");
}
@section Scripts{
    <link href="/aboutCom/css/cart.css" rel="stylesheet" />

    <script language="javascript">
        function textCounter(field, maxlimit) {
            var applycontents;
    
            var str_cnt = 0;
            var tempStr, tempStr2;	
	
            for(var i=0; i<field.value.length; i++)
            {
                tempStr = field.value.charAt(i);
                if(escape(tempStr).length > 4 || escape(tempStr)=="%0A") str_cnt += 2;
                else str_cnt += 1 ;
            }
    
            if (str_cnt > maxlimit){
                alert("최대 " + maxlimit + "bytes까지만 입력 가능합니다.");		
                str_cnt = 0;		
                tempStr2 = "";
                for(i = 0; i < field.value.length; i++) 
                {
                    tempStr = field.value.charAt(i);	
                    if(escape(tempStr).length > 4 || escape(tempStr)=="%0A") str_cnt += 2;
                    else str_cnt += 1 ;
                    if (str_cnt > maxlimit)
                    {
                        if(escape(tempStr).length > 4 || escape(tempStr)=="%0A") str_cnt -= 2;
                        else str_cnt -= 1 ;	
                        break;	      		
                    }
                    else tempStr2 += tempStr;
                }	    
                field.value = tempStr2;
            }
    
            $("#areatxt").html("(<em>" + str_cnt + "자</em>/" + maxlimit + "자)");

        }

        function cancelOrder()
        {
            if (confirm("쇼핑백으로 이동하시겠습니까?")) {
                location.href = "/Cart";
            }
        }

        //쿠폰팝업
        function CouponPopup(linkname) {
            var sw = screen.availWidth;
            var sh = screen.availHeight;
            var popNM = '/Order/CouponPop?OrderIdx=@Model.OrderIdx#' + linkname;
            var width = 740;
            var height = 600;
            px = (sw - width) / 2;
            py = (sh - height) / 2;
            var set = 'top=' + py + ',left=' + px;
            set += ',width=' + width + ',height=' + height + ',menubar = no, toolbar = no, location = no, status = no, scrollbars = yes, resizable = yes';
            window.name = "CouponPopup";
            window.open(popNM, '', set);
        }
        
        //쿠폰적용
        function setOrderCoupon(arrP, pcode) {
            var jobj = encodeURIComponent(JSON.stringify(arrP));
            var src_url = "/Order/ApplyCoupon";
            var param = "data=" + jobj;
            $.ajax({
                cache: false,
                type: "POST",
                url: src_url,
                data: param,
                success: function (data) {
                    if (data.result == "true") {
                        document.dummyForm1.action = "/Order/Step1#"+pcode;
                        document.dummyForm1.submit();
                    }
                    else {
                        if (data.msg != "") {
                            alert(data.msg);
                        }
                    }
                },
                complete: function (jqXHR, textStatus) {
                }
            });
        }

        function digit_check(evt) {

            var code = evt.which ? evt.which : event.keyCode;
            if (code > 31 && (code < 48 || code > 57) && (code < 96 || code > 105)) {
                return false;
            }
            else {
                return true;
            }
        }
    </script>
}

<form name="dummyForm1" action="" method="POST"><input type="hidden" name="ORDER_IDX" value="@Model.OrderIdx"></form>
<!--container-->
<div class="container oder">
    <div class="h2_area">
        <a href="#" class="historyback"><img src="/aboutCom/images/common/btn_historyback.gif" alt="뒤로가기" /></a>
        <h2>주문결제</h2>
    </div>

    <!--상품리스트-->
    @{Html.RenderAction("Step1ProductList", "Order", new { OrderIdx = @Model.OrderIdx });}
    <!--//상품리스트-->
    <!--할인혜택-->
    @if (Model.UserProfile.IS_LOGIN == true)
    {
        Html.RenderAction("Step1DiscountInfo", "Order", new { OrderIdx = @Model.OrderIdx });
    }
    <!--//할인혜택-->
    <!--결제금액-->
    @{Html.RenderAction("Step1PriceInfo", "Order", new { OrderIdx = @Model.OrderIdx });}
    <!--//결제금액-->
    <!--주문자/배송지 정보-->
    @{Html.RenderAction("Step1AddressInfo", "Order", new { OrderIdx = @Model.OrderIdx });}
    <!--//주문자정보-->
    
    <!--결제 정보-->
    @{Html.RenderAction("Step1PayInfo", "Order", new { OrderIdx = @Model.OrderIdx });}

    <!--알려드립니다-->
    <div class="alert">
        <p class="tit">알려드립니다</p>
        <ul>
            <li>- 결제금액 30,000원 이상 부터 배송비 무료입니다.</li>
            <li>- 30,000원 미만시 2,500원 배송비 부과 (단, 도서지역, 제주도, 군부대 등은 지역 특성상 추가 요금 발행 할 수 도 있습니다.)</li>
            <li>- 교환 및 반품은 물품 수령 후 7일 이내에 접수 (전화 및 게시판)후 <br />당사에 입고된 상품에 한하여 처리됩니다.</li>
            <li>- 배송 진행 이후에는 주문취소는 반품으로 진행되며, 반품배송비가 추가 발생할 수 있습니다.</li>
        </ul>
    </div>
    <!--//알려드립니다-->

</div>
<!--//container-->
