@model AboutMe.Domain.Entity.Order.ORDER_STEP1_PRICEINFO

<div class="boxtypec pd0">
    <h3>결제금액</h3>
    <ul class="con_list">
        <li>
            <div>
                <span class="tit">상품금액</span>
                <span class="num">@String.Format("{0:#,#0.}", Model.PriceInfo.TOTAL_ORDER_PRICE)원</span>
            </div>
            <div>
                <span class="tit">배송비</span>
                <span class="num">@String.Format("{0:#,#0.}", Model.PriceInfo.TRANS_PRICE)원</span>
            </div>
        </li>
        <li>
            <strong class="tit">총 상품금액</strong>
            <strong class="num">@String.Format("{0:#,#0.}", Model.PriceInfo.TOTAL_PRICE)원</strong>
        </li>
        <li>
@if (Model.UserProfile.IS_LOGIN == true && Model.UserProfile.M_GBN == "S")
{
            <div>
                <span class="tit">임직원 할인</span>
                <span class="num">@String.Format("{0:#,#0.}", Model.PriceInfo.EMP_DISCOUNT_AMT)원</span>
            </div>
}
               <div>
                <span class="tit">쿠폰할인금액</span>
                <span class="num">@String.Format("{0:#,#0.}", Model.PriceInfo.COUPON_DISCOUNT_AMT)원</span>
            </div>
            <div>
                <span class="stit">보유포인트 사용</span>
                <span class="num">@String.Format("{0:#,#0.}", Model.PriceInfo.POINT_USE_PRICE)</span>
            </div>
@if (Model.UserProfile.IS_LOGIN == true )
{
            <div>
                <span class="stit">회원할인</span>
                <span class="num">@String.Format("{0:#,#0.}", Model.PriceInfo.GRADE_DISCOUNT_AMT)원</span>
            </div>
}
        </li>
        <li class="bbnone">
            <strong class="tit">총 할인금액</strong>
            <span class="num">@String.Format("{0:#,#0.}", Model.PriceInfo.DISCOUNT_AMT)원</span>
        </li>
    </ul>
</div>
<div class="total_paywrap">
    <div class="total_pay">
        <dl class="point">
            <dt>예상적립포인트</dt>
            <dd>ⓟ@String.Format("{0:#,#0.}", Model.PriceInfo.ACCML_POINT)</dd>
        </dl>
        <dl class="amount">
            <dt>총 결제금액</dt>
            <dd>@String.Format("{0:#,#0.}", Model.PriceInfo.ACCML_POINT)원</dd>
        </dl>
    </div>
    <p class="pstxt2"><span>ⓘ</span> 최종 결제금액 기준으로 포인트는 적립됩니다.</p>
</div>