@model IEnumerable<AboutMe.Domain.Entity.AdminCoupon.SP_COUPON_ISSUED_DETAIL_SEL_Result>


@{
    ViewBag.Title = "사용가능 쿠폰";
    Layout = "~/Views/Shared/_AboutMeLayoutA.cshtml";
}
@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}

    <link href="/aboutCom/css/mypage.css" rel="stylesheet" />
    <script src="/aboutCom/js/lib/jquery-ui.js"></script>
    <script src="/aboutCom/js/lib/ui.datepicker-ko.js"></script>
}
@section Scripts{

    <script language="javascript">
        $(function () {
            //ajaxSelectCateCodeJavascriptInit();
        });

        function bsearch() {
            var f = document.bform;
            //alert('ok');
            f.target = "";
            f.PAGE.value = 1;
            f.submit();
        }

        function pCateCode(code) {
            //alert(code);
            var f = document.bform;
            f.P_CATE_CODE.value = code;
            bsearch();
        }

        function cCateCode(code) {
            var f = document.bform;
            f.C_CATE_CODE.value = code;
            bsearch();
        }

        function lCateCode(code) {
            var f = document.bform;
            f.L_CATE_CODE.value = code;
            bsearch();
        }

        function sortGbn(code) {
            var f = document.bform;
            f.SORT_GBN.value = code;
            bsearch();
        }

        function rePageSize() {
            var f = document.aform;

            f.target = "";
            f.page.value = 1;
            f.submit();
        }
    </script>
}




@section Body{

    <div class="wrap mypage">
    <!--header-->
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Header.cshtml");}
    <!--//header-->

    <!--container-->
    <div id="container" class="coupon">
        <div class="container1080">
            <!--mypage_top-->
            <div class="mypage_top">
                <!--h2_area-->
                <div class="h2_area">
                    <h2>나의 쿠폰<i></i></h2>
                    <!--mypage_menu-->
                    @{ Html.RenderPartial("~/Views/AboutMePartial/_MyPageSubMenu.cshtml");}
                    <!--//mypage_menu-->
                </div>
                <!--//h2_area-->
                <!--꼭 읽어주세요-->
                <div class="userread">
                    <p class="tit">꼭 읽어주세요</p>
                    <ul class="ps_list">
                        <li>쿠폰은 다운로드 후 사용가능 합니다.</li>
                        <li>쿠폰은 1상품당 한번만 사용가능 합니다.</li>
                        <li>무료배송 쿠폰은 최종 결제금액 기준으로 적용됩니다.</li>
                    </ul>
                </div>
                <!--//꼭 읽어주세요-->
            </div>
            <!--//mypage_top-->
            <!--쿠폰영역-->
            <div class="contypeb">
                <div class="couponwrap">
                    <!--쿠폰소팅-->
                    <div class="sort">
                        <ul>
                            <li><a href="/MyPage/MyCoupon/Downloadable">다운로드 가능 쿠폰</a></li>
                            <li class="cnt"><a href="/MyPage/MyCoupon/Availablelist">사용 가능 쿠폰</a></li>
                            <li><a href="javascript:alert('작업중');">지난 쿠폰 내역</a></li>
                        </ul>
                    </div>
                    <!--//쿠폰소팅-->
                    <!--쿠폰리스트-->
                    <div class="coupon_list tabletypeb">
                        <table>
                            <colgroup><col width="210" /><col width="203" /><col width="*" /><col width="170" /><col width="225" /></colgroup>
                            <thead>
                                <tr>
                                    <th>쿠폰</th>
                                    <th>쿠폰명</th>
                                    <th>조건</th>
                                    <th>적용대상</th>
                                    <th>사용 가능기간</th>
                                </tr>
                            </thead>
                            <tbody>


                            @{
                                string cssType = "";
                                string couponTitle = "";
                                string discount_str = "";

                                string FromYYYY = "", FromMM = "", FromDD = "";
                                string ToYYYY = "", ToMM = "", ToDD = "";

                                string DwFromYYYY = "", DwFromMM = "", DwFromDD = "";
                                string DwToYYYY = "", DwToMM = "", DwToDD = "";
                            }

                            @foreach (var item in Model)
                            {
                                if (item.COUPON_GBN == "S") //배송쿠폰이면
                                {
                                    cssType = "couponimg type3";
                                    couponTitle = "무료배송";
                                }
                                else if (item.COUPON_GBN == "M") //지불쿠폰이면
                                {
                                    if (item.RATE_OR_MONEY == "R") //정률할인제 이면
                                    {
                                        cssType = "couponimg type1";
                                        couponTitle = "<strong>" + item.COUPON_DISCOUNT_RATE.ToString() + "</strong>%";
                                    }

                                    if (item.RATE_OR_MONEY == "M") //정액할인제 이면
                                    {
                                        cssType = "couponimg type2";
                                        couponTitle = "<strong>" + String.Format("{0:#,##0}", item.COUPON_MONEY) + "</strong>원";
                                    }
                                }


                                FromYYYY = item.USABLE_DATE_FROM.Value.Year.ToString();
                                FromMM = item.USABLE_DATE_FROM.Value.Month.ToString().PadLeft(2, '0');
                                FromDD = item.USABLE_DATE_FROM.Value.Day.ToString().PadLeft(2, '0');

                                ToYYYY = item.USABLE_DATE_TO.Value.Year.ToString();
                                ToMM = item.USABLE_DATE_TO.Value.Month.ToString().PadLeft(2, '0');
                                ToDD = item.USABLE_DATE_TO.Value.Day.ToString().PadLeft(2, '0');

                                DwFromYYYY = item.DOWNLOAD_DATE_FROM.Value.Year.ToString();
                                DwFromMM = item.DOWNLOAD_DATE_FROM.Value.Month.ToString().PadLeft(2, '0');
                                DwFromDD = item.DOWNLOAD_DATE_FROM.Value.Day.ToString().PadLeft(2, '0');

                                DwToYYYY = item.DOWNLOAD_DATE_TO.Value.Year.ToString();
                                DwToMM = item.DOWNLOAD_DATE_TO.Value.Month.ToString().PadLeft(2, '0');
                                DwToDD = item.DOWNLOAD_DATE_TO.Value.Day.ToString().PadLeft(2, '0');

    

                                <tr>
                                    <td>
                                        <!--
                                            쿠폰 타입 3가지 있습니다.
                                            type1, type2, type3
                                        -->
                                        <div class="@cssType">@Html.Raw(couponTitle)</div>
                                    </td>
                                    <td>@item.COUPON_NAME</td><!--@item.COUPON_AD_MSG-->
                                    <td>@item.COUPON_USE_DESCRIPTION</td>
                                    <td>
                                       @if (item.COUPON_GBN == "M")
                                       {
                                        <a href="/Mypage/MyCoupon/CouponProductPop?IdxCouponNumber=@item.IDX_COUPON_NUMBER" onclick="PopupCenter(this.href, '', '800', '950'); return false;" class="btn_coupongoods">적용대상 보기<i></i></a>
                                       }
                                       else if (item.COUPON_GBN == "S")
                                       {
                                            @:무료배송쿠폰
                                       }
                                    </td>
                                    <td>@DwFromYYYY. @DwFromMM. @DwFromDD~@DwToMM. @DwToDD</td>
                                </tr>
                            }
                               
                                <!--
                                 <tr>
                                    <td>
                                       
                                            쿠폰 타입 3가지 있습니다.
                                            type1, type2, type3
                                        
                                        <div class="couponimg type2"><strong>10,000</strong>원</div>
                                    </td>
                                    <td>가을아이템 5% 할인</td>
                                    <td>상품금액 3만원 이상 ~ 7만원 이하</td>
                                    <td><a href="/mypage/pop_coupongoods.asp" onclick="PopupCenter(this.href, '', '800', '806'); return false;" class="btn_coupongoods">적용대상 보기<i></i></a></td>
                                    <td>2015. 09. 01 ~ 09. 15</td>
                                </tr>
                                <tr>
                                    <td>
                                        
                                            쿠폰 타입 3가지 있습니다.
                                            type1, type2, type3
                                        
                                        <div class="couponimg type3">무료배송</div>
                                    </td>
                                    <td>가을아이템 5% 할인</td>
                                    <td>상품금액 3만원 이상 ~ 7만원 이하</td>
                                    <td>전체 상품</td>
                                    <td>2015. 09. 01 ~ 09. 15</td>
                                </tr>
                                <tr>
                                    <td>
                                       
                                            쿠폰 타입 3가지 있습니다.
                                            type1, type2, type3
                                      
                                        <div class="couponimg type2"><strong>10,000</strong>원</div>
                                    </td>
                                    <td>가을아이템 5% 할인</td>
                                    <td>상품금액 3만원 이상 ~ 7만원 이하</td>
                                    <td>전체 상품</td>
                                    <td>2015. 09. 01 ~ 09. 15</td>
                                </tr>
                                <tr>
                                    <td>
                                        
                                            쿠폰 타입 3가지 있습니다.
                                            type1, type2, type3
                                     
                                        <div class="couponimg type2"><strong>10,000</strong>원</div>
                                    </td>
                                    <td>가을아이템 5% 할인</td>
                                    <td>상품금액 3만원 이상 ~ 7만원 이하</td>
                                    <td>전체 상품</td>
                                    <td>2015. 09. 01 ~ 09. 15</td>
                                </tr>
                            -->
                            </tbody>
                        </table>
                    </div>
                    <!--//쿠폰리스트-->
                    <!--페이징-->
                  
                    @{

                        Html.RenderAction("Paging", "CommonChildAction", new { TotalRecord = ViewBag.TotalRecord, RecordPerPage = 10, PagePerBlock = ViewBag.PageSize, CurrentPage = ViewBag.Page, QueryStr = "" });
                    }
                   
                    <!---
                    <div class="paging mt30">
                        <a href="#" class="prev">이전</a>
                       
                        <strong>1</strong>
                      
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">7</a>
                        <a href="#">8</a>
                        <a href="#">9</a>
                        <a href="#">10</a>
                        <a href="#" class="next">다음</a>
                    </div>
                        -->
                    <!--//페이징-->

                </div>
            </div>
            <!--//쿠폰영역-->


        </div>
    </div>
}
<!--//container-->
<!--footer-->
@section Footer{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Footer.cshtml");}
}
<!--//footer-->
