@model IEnumerable<AboutMe.Domain.Entity.AdminFrontMember.SP_ADMIN_MEMBER_STAFF_REQUST_REF_BASEDB_Result>

@{
    ViewBag.Title = "ChildStaffRequest_REF_BASEDB";
    Layout = null;
}





<div class="panel">
    <h4>참조1.임직원DB: [<font color="ff0000">@ViewBag.STAFF_ID</font>]</h4>
    <!-- 처음과 마지막  th, td에 각각 "brnone" class 사용합니다.-->
    <table class="table table_col">
        <colgroup><col /><col /><col /><col /><col /></colgroup>
        <thead>
            <tr>
                <th scope="col" class="brnone">No</th>
                <th scope="col">임직원사번</th>
                <th scope="col">임직원이름</th>
                <th scope="col">소속회사</th>
                <th scope="col" class="brnone">DB Update</th>
            </tr>
        </thead>
        <tbody>
@{
            if (@Model != null)
            {
                if (@Model.Count() < 1)
                {
                    <tr>
                        <td colspan="5" class="brnone">No data...</td>
                    </tr>
                }
            }

            
            var count = 1;
            foreach (var item in @Model)
            {
                <tr>
                    <td class="brnone">@count.ToString("#,##0")</td>
                    <td>@item.STAFF_ID</td>
                    <td>@item.STAFF_NAME</td>
                    <td>@item.STAFF_COMPANY</td>
                    <td class="brnone">@item.INS_DATE</td>
                </tr>
                count = count + 1;
            }

            
}
        </tbody>
    </table>
</div>






