@model AboutMe.Domain.Entity.AdminOrder.INIREPAY_RESULT
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>INIpay5.0 부분취소 목록</title>
    <meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
    <link rel="stylesheet" href="/Content/inipay/css/group.css" type="text/css">
    <style>
        BODY {
            FONT-SIZE: 10pt;
            COLOR: #433f37;
            LINE-HEIGHT: 19px;
            FONT-FAMILY: 굴림,verdana;
        }

        TR {
            FONT-SIZE: 10pt;
            COLOR: #433f37;
            LINE-HEIGHT: 19px;
            FONT-FAMILY: 굴림,verdana;
        }

        TD {
            FONT-SIZE: 10pt;
            COLOR: #433f37;
            LINE-HEIGHT: 19px;
            FONT-FAMILY: 굴림,verdana;
        }

        TABLE {
            BORDER-RIGHT: medium none;
            BORDER-TOP: medium none;
            BORDER-LEFT: medium none;
            BORDER-BOTTOM: medium none;
        }

        IMG {
            BORDER-RIGHT: medium none;
            BORDER-TOP: medium none;
            BORDER-LEFT: medium none;
            BORDER-BOTTOM: medium none;
        }

        .pl_01 {
            PADDING-RIGHT: 10px;
            PADDING-LEFT: 10px;
            PADDING-BOTTOM: 0px;
            LINE-HEIGHT: 19px;
            PADDING-TOP: 1px;
        }

        .pl_03 {
            FONT-SIZE: 20pt;
            COLOR: #ffffff;
            LINE-HEIGHT: 29px;
            FONT-FAMILY: 굴림,verdana;
        }

        .a:link {
            FONT-SIZE: 9pt;
            COLOR: #333333;
            TEXT-DECORATION: none;
        }

        .a:visited {
            FONT-SIZE: 9pt;
            COLOR: #333333;
            TEXT-DECORATION: none;
        }

        .a:hover {
            FONT-SIZE: 9pt;
            COLOR: #0174cd;
            TEXT-DECORATION: underline;
        }

        .txt_03a:link {
            FONT-SIZE: 8pt;
            COLOR: #333333;
            LINE-HEIGHT: 18px;
            TEXT-DECORATION: none;
        }

        .txt_03a:visited {
            FONT-SIZE: 8pt;
            COLOR: #333333;
            LINE-HEIGHT: 18px;
            TEXT-DECORATION: none;
        }

        .txt_03a:hover {
            FONT-SIZE: 8pt;
            COLOR: #ec5900;
            LINE-HEIGHT: 18px;
            TEXT-DECORATION: underline;
        }
    </style>

    <link href="/cmsManager/aboutCom/css/style.css" rel="stylesheet" type="text/css" />
    <script language="javascript">
        var openwin = window.open("/Content/inipay/loading.html", "childwin", "width=299,height=149");
        openwin.close();
    </script>
</head>
<body bgcolor="#FFFFFF" text="#242424" leftmargin=0 topmargin=15 marginwidth=0 marginheight=0 bottommargin=0 rightmargin=0 >
    <center>

            <table width="632" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="85" background="/Content/inipay/img/card.gif" style="padding:0 0 0 64">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="3%" valign="top"><img src="/Content/inipay/img/title_01.gif" width="8" height="27" vspace="5"></td>
                                <td width="97%" height="40" class="pl_03"><font color="#FFFFFF"><b>부분취소 요청 결과</b></font></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>


            <br />
            <table width="510" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="7"><img src="/Content/inipay/img/life.gif" width="7" height="30"></td>
                    <td background="/Content/inipay/img/center.gif">
                        <img src="/Content/inipay/img/icon03.gif" width="12" height="10"> <b>
                            부분취소 결과
                        </b>
                    </td>
                    <td width="8"><img src="/Content/inipay/img/right.gif" width="8" height="30"></td>
                </tr>
            </table>

            <table cellspacing="0" cellpadding="0" width="470" border="0">
                <tr>
                    <td width="18" align="center"><img src="/Content/inipay/img/icon02.gif" width="7" height="7"></td>
                    <td width="177" height="26">결과코드</td>
                    <td width="300">@Model.ResultCode</td>
                </tr>
                <tr>
                    <td colspan="3" align="center" background="/Content/inipay/img/line.gif" height="1"></td>
                </tr>
                <tr>
                    <td width="18" align="center"><img src="/Content/inipay/img/icon02.gif" width="7" height="7"></td>
                    <td width="109" height="25">결과메시지</td>
                    <td width="343">@Model.ResultMsg</td>
                </tr>
                <tr>
                    <td height="1" colspan="3" align="center" background="/Content/inipay/img/line.gif"></td>
                </tr>
                <tr>
                    <td width="18" align="center"><img src="/Content/inipay/img/icon02.gif" width="7" height="7"></td>
                    <td width="109" height="25">원거래번호</td>
                    <td width="343">
                        @Model.PRTC_TID
                    </td>
                </tr>
                <tr>
                    <td height="1" colspan="3" align="center" background="/Content/inipay/img/line.gif"></td>
                </tr>
                <tr>
                    <td width="18" align="center"><img src="/Content/inipay/img/icon02.gif" width="7" height="7"></td>
                    <td width="109" height="25">신거래번호</td>
                    <td width="343">@Model.TID</td>
                </tr>
                <tr>
                    <td height="1" colspan="3" align="center" background="/Content/inipay/img/line.gif"></td>
                </tr>
                <tr>
                    <td width="18" align="center"><img src="/Content/inipay/img/icon02.gif" width="7" height="7"></td>
                    <td width="109" height="25">최종결제금액</td>
                    <td width="343">@Model.PRTC_Remains</td>
                </tr>
                <tr>
                    <td height="1" colspan="3" align="center" background="/Content/inipay/img/line.gif"></td>
                </tr>
                <tr>
                    <td width="18" align="center"><img src="/Content/inipay/img/icon02.gif" width="7" height="7"></td>
                    <td width="109" height="25">취소금액</td>
                    <td width="343">@Model.PRTC_Price</td>
                </tr>
                <tr>
                    <td height="1" colspan="3" align="center" background="/Content/inipay/img/line.gif"></td>
                </tr>
                <tr>
                    <td width="18" align="center"><img src="/Content/inipay/img/icon02.gif" width="7" height="7"></td>
                    <td width="109" height="25">부분취소횟수</td>
                    <td width="343">@Model.PRTC_Cnt</td>
                </tr>
                <tr>
                    <td height="1" colspan="3" align="center" background="/Content/inipay/img/line.gif"></td>
                </tr>
                <tr valign="bottom">
                    <td height="40" colspan="3" align="center">
                        <a href="/Order/INIrepay?ORDER_IDX=@Model.ORDER_IDX"> 목록으로 </a>
                    </td>
                </tr>
                <tr valign="bottom">
                    <td height="45" colspan="3"></td>
                </tr>
            </table>
    </center>

</body>
</html>