@model AboutMe.Domain.Entity.Review.ReviewExpListViewModel
@using AboutMe.Common.Data
@using AboutMe.Domain.Entity.Review
@using AboutMe.Web.Mobile.Controllers
@using System.Text.RegularExpressions
@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_AboutMeLayoutA.cshtml";
    var mycontrl = ViewContext.Controller as ReviewController;
}
@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}
    <link href="/aboutCom/css/review.css" rel="stylesheet" />
}

<!--header-->
@section Header{
}
<!--//header-->
@section Scripts{
    <script language="javascript">
    function selectMenu() {

    }

    function selCate(my) {

        var link = "@(Url.Action("Experience", "Review"))?";
        link += "CATE=@(Model.MobileParam.CATE)&";
        link += "CATE_CODE=" + my.value+ "&";
        link += "PAGE=@(Model.MobileParam.PAGE)&";
        link += "PAGE_SIZE=@(Model.MobileParam.PAGE_SIZE)&";
        link += "SORT=@Model.MobileParam.SORT";


        window.location.href = link;
    }

    function selOrder(my) {

        var link = "@(Url.Action("Experience", "Review"))?";
        link += "CATE=@(Model.MobileParam.CATE)&";
        link += "CATE_CODE=@(Model.MobileParam.CATE_CODE)&";
        link += "PAGE=@(Model.MobileParam.PAGE)&";
        link += "PAGE_SIZE=@(Model.MobileParam.PAGE_SIZE)&";
        link += "SORT=" + my.value;

        window.location.href = link;
    }

    </script>
}

@section Body{
    <div class="wrap review">
        @{Html.RenderPartial("~/Views/AboutMePartial/_Header.cshtml");}

        <!--container-->
        <div class="container exp">
            <div class="h2_area">
                <a href="#" class="historyback"><img src="/aboutCom/images/common/btn_historyback.gif" alt="뒤로가기" /></a>
                <h2>체험단리뷰</h2>
            </div>
            <!-- 리뷰 목록 -->
            <!-- 항목 선택 -->
            <ul class="tabs tabtypee">
                <li class="@(Model.MobileParam.CATE == CategoryCode.BEAUTY_MOBLE_PARAM ? "cnt" : "")"><a href="@Url.Action("Experience", "Review", new ReviewListMobileUrlParam() { CATE = CategoryCode.BEAUTY_MOBLE_PARAM, CATE_CODE = CategoryCode.BEAUTY_DEFAULT, PAGE = 1, SORT = ReviewProductListViewModel.SORT_PHOTO })">뷰티</a></li>
                <li class="@(Model.MobileParam.CATE == CategoryCode.HEALTH_MOBLE_PARAM ? "cnt" : "")"><a href="@Url.Action("Experience", "Review", new ReviewListMobileUrlParam() { CATE = CategoryCode.HEALTH_MOBLE_PARAM, CATE_CODE = CategoryCode.HEALTH_DEFAULT, PAGE = 1, SORT = ReviewProductListViewModel.SORT_PHOTO })">헬스</a></li>
                <li class="@(Model.MobileParam.CATE == CategoryCode.SEL_SHOP_MOBLE_PARAM ? "cnt" : "")"><a href="@Url.Action("Experience", "Review", new ReviewListMobileUrlParam() { CATE = CategoryCode.SEL_SHOP_MOBLE_PARAM, CATE_CODE = CategoryCode.SEL_SHOP_DEFAULT, PAGE = 1, SORT = ReviewProductListViewModel.SORT_PHOTO })">기타브랜드</a></li>
            </ul>
            <!-- //항목 선택 -->
            <!-- 뷰티 -->
            <div id="beauty" class="tab_content" style="display:block">
                <h3>뷰티</h3>
                <div class="sub_top">
                    <form action="">
                        <fieldset>
                            <legend>뷰티상세 선택</legend>
                            <span class="selbox select_a" style="@(Model.MobileParam.CATE == CategoryCode.HEALTH_MOBLE_PARAM ? "visibility:hidden" : "")">
                                @if (Model.MobileParam.CATE == CategoryCode.BEAUTY_MOBLE_PARAM)
                                {
                                    <select title="세부항목 선택" onchange="selCate(this); return false;">
                                        @if (Model.CategoryBeauty.Count > 0)
                                        {
                                            <option value="@CategoryCode.BEAUTY_DEFAULT">전체</option>
                                            foreach (var item in Model.CategoryBeauty)
                                            {
                                                <option value="@item.CATE_CODE" @(item.CATE_CODE == Model.MobileParam.CATE_CODE ? "selected" : "")>@item.DEPTH2_NAME</option>
                                            }
                                        }


                                    </select>
                                }
                                else if (Model.MobileParam.CATE == CategoryCode.HEALTH_MOBLE_PARAM)
                                {
                                    <select title="세부항목 선택" onchange="selCate(this); return false;" style="visibility:hidden"></select>
                                }
                                else if (Model.MobileParam.CATE == CategoryCode.SEL_SHOP_MOBLE_PARAM)
                                {
                                    <select title="세부항목 선택" onchange="selCate(this); return false;">
                                        @if (Model.CategorySelShop.Count > 0)
                                        {
                                            <option value="@CategoryCode.SEL_SHOP_DEFAULT">전체</option>
                                            foreach (var item in Model.CategorySelShop)
                                            {
                                                <option value="@item.CATE_CODE" @(item.CATE_CODE == Model.MobileParam.CATE_CODE ? "selected" : "")>@item.DEPTH2_NAME</option>
                                            }
                                        }


                                    </select>
                                }
                            </span><!--
                     --><span class="selbox select_a">
                                <select title="정렬" onchange="selOrder(this); return false;">
                                    <option value="@(ReviewExpListViewModel.SORT_LASTEST)" @(Model.MobileParam.SORT == ReviewExpListViewModel.SORT_LASTEST ? "selected" : "")>최신순</option>
                                    <option value="@(ReviewExpListViewModel.SORT_LIKE)" @(Model.MobileParam.SORT == ReviewExpListViewModel.SORT_LIKE ? "selected" : "")>인기순</option>
                                </select>
                            </span>
                        </fieldset>
                    </form>
                    <!--체험단배너-->
                    @Html.Action("ExpBanner", "ChildActionDisplayer")
                    <!--/체험단배너-->
                    @* <a class="information">어바웃미 <strong>1기 체험단</strong> 모집<br>2015.06.01-2015.06.30</a>*@
                   
                    <p class="count">총 <strong>@Model.Total</strong>개 상품이 있습니다.</p>
                </div>
                @if (true)
                {
                    <ul class="review_list">
                        <!-- [Desc] Best 상품평은 li에 best클래스를 추가 -->
                        @foreach (var item in Model.ReviewsMobile)
                        {
					<!-- [Desc] Best 상품평은 li에 best클래스를 추가 -->
                            <li class="product_info">
                                <div class="photo_info">
                                    <div class="photo"><img src="@string.Format("{0}R120_{1}", mycontrl._img_path_product, item.P_MAIN_IMG)" alt="" /></div>
                                    <div class="detail">
                                        <span class="tit">@item.P_NAME</span>
                                        <span class="stit">@item.P_SUB_TITLE</span>
                                    </div>
                                </div>
                                <div class="review_info">
                                    <div class="rinfo_top">
                                        <p class="winfo"><span class="type @(item.SKIN_TYPE_CSS)" style="@(item.SKIN_TYPE != null ? "":"display:none")"></span><span class="@(item.SKIN_TYPE != null ? "age":"")">@(item.M_BIRTHDAY_LBL)대, @(item.M_SEX_LBL)</span><strong class="id">@item.M_ID_LBL</strong><span class="hit">조회수 @item.VIEW_CNT</span></p>
                                    </div>
                                    <div class="rinfo_con">
                                        <!-- 해시태그 -->
                                        <ul class="hash">
                                            @{
                                                @*tag common*@
                                                var arr = item.TAG.Split('#');
                                                
                                                foreach (var tag in arr)
                                                {
                                                    if (!String.IsNullOrEmpty(tag))
                                                    {
                                                        <li>#@tag</li>
                                                    }                                                    
                                                }
                                            }                                            
                                        </ul>
                                        <!-- //해시태그 -->
                                        <div class="review_view">
                                            <div class="photo"><img src="@string.Format("{0}{1}", mycontrl._img_path_review, item.SUB_IMG_1)" alt="" /></div>
                                            <div class="detail">
                                                <p class="tit">@item.TITLE</p>
                                                <p class="txt">@item.COMMENT_TEXT</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @{
                                    var param = new ReviewExpDetailParam();
                                    param.ARTICLE_IDX = item.IDX;
                                    param.P_CODE = item.P_CODE;
                                }
                                <a href="#" onclick="window.open('@(Url.Action("ExperienceDetail", "Review", param))'); return false;" class="view_link"><!-- 여기에 상품별 링크를 연결 --></a>
                            </li>
                        }
                    </ul>

                <!--페이징-->
                    <div class="paging">
                        @{
                        var prev = Model.MobileParam;
                        prev.PAGE = Model.PrevPage;
                        }
                        <a href="@(Url.Action("Experience", "Review", prev))" class="prev"></a>
                        <strong>@Model.MobileParam.PAGE</strong> / @Model.Pages

                        @{
                        var next = Model.MobileParam;
                        next.PAGE = Model.NextPage;
                        }
                        <a href="@(Url.Action("Experience", "Review", next))" class="next"></a>
                    </div>
                <!--//페이징-->
                }
                else
                {
                    <div class="datanone nobg">
                        <p class="txt_none">체험단리뷰가  없습니다.</p>
                    </div>
                }

            </div>
            <!-- //뷰티 -->
            <!-- 리뷰 목록 -->
        </div>

        <!--//container-->
        @{ Html.RenderPartial("~/Views/AboutMePartial/_Footer.cshtml");}
    </div>
}


<!--footer-->
@section Footer{
}
<!--//footer-->
