@model AboutMe.Domain.Entity.Review.ReviewInProductDetailViewModel
@using AboutMe.Web.Mobile.Controllers
@{
    Layout = null;
    var myController = ViewContext.Controller as ReviewController;
}

<div id="Review" class="tab_content">
    <div class="review_tab">
        <ul class="tabs tabtypeb">
            <li class="cnt"><a href="#proReview">상품리뷰</a></li>
            <li><a href="#expReview">체험단리뷰</a></li>
        </ul>
    </div>
    <!--제품리뷰-->
    <div style="display:block" class="tab_content" id="proReview">
        <div class="brnwrap">
            <a href="@Url.Action("Ready", "MyReview")" class="bnr">
                <span class="txt">리뷰등록하면 <strong>500P</strong>,<br />포토리뷰는 <strong>1000P</strong> 바로 적립!</span>
            </a>
        </div>
        <ul id="review_pro_list" class="review_list" style="display:@(Model.Reviews.Count > 0 ? "block":"none")">
            @Model.Reviews.Count
            @if (Model.Reviews.Count > 0)
            {

                foreach (var item in Model.Reviews)
                {
                    <li class="review_info">
                        <div class="rinfo_top">
                            <p class="winfo"><span class="type oily"></span><span class="age">@(item.M_BIRTHDAY_LBL)대, @item.M_SEX_LBL</span><strong class="id">@item.M_ID_LBL</strong></p>
                        </div>
                        <div class="rinfo_con">
                            <p class="txtbox">@item.COMMENT</p>

                            @if (item.ADD_IMAGE != null)
                            {
                                <div class="imgbox"><img src="@string.Format("{0}{1}", myController._img_path_review, item.ADD_IMAGE )" alt="" /></div>
                                <div class="morebox">
                                    <!-- [Desc] 포토가 없으면 span.photo_review가 없음 -->
                                    <span class="photo_review"><i></i>포토리뷰</span>
                                    <a href="#none" class="btn_more"><i></i></a>
                                </div>
                            }

                        </div>
                    </li>
                }
            }
        </ul>

        <div class="datanone nobg" style="display:@(Model.Reviews.Count > 0 ? "none":"block")">
            <p class="txt_none">상품리뷰가 없습니다.</p>
        </div>

        <!--페이징-->
        <div class="paging" style="display:@(Model.Reviews.Count > 0 ? "block":"none")">
        </div>
        <!--//페이징-->

    </div>
    <!--//제품리뷰-->

    <!--체험단리뷰-->
    <div class="tab_content" id="expReview">
        <div class="brnwrap">
            <a href="#" class="bnr">
                <span class="txt">어바웃미 <strong>1기 체험단</strong> 모집<br />2015.06.01-2015.06.30</span>
            </a>
        </div>
        <ul id="review_exp_list" class="review_list exp">


        </ul>
        <!--//리뷰팝업-->
        <div class="datanone nobg" style="display:none">
            <p class="txt_none">체험단리뷰가 없습니다.</p>
        </div>
        <!--페이징-->
        <div class="paging">
            
        </div>
        <!--//페이징-->
    </div>
    <!--//체험단리뷰-->
</div>

<script>

    var img_path_product = "@myController._img_path_product";
    var img_path_review = "@myController._img_path_review";


    (function(){

        window.review = {};
        var exp_first = false;
        $(".review_tab .tabs li").click(function(){
            if ($(this).index() == 1 && !exp_first) {

                review.getReviewExpListByPageNo(1);

                exp_first = true;
            }
        });
        //공통 이하
        var pcode ="@Model.Pcode";
        var img_path_review = "@myController._img_path_review";

        var pageNo = @Model.PageNo;
        var pageSize = @Model.PageSize;

        //상품리뷰 총수
        var total = @Model.Total;


        /*
            init
        */
        $(function(){

            if(total > 0){
                //상품리뷰 페이징 초기화
                paging(pageNo, pageSize, total, $("#proReview .paging"), "review.getReviewProducListByPageNo" );
            }

        });

        /**
            페이징 - 공통
        */
        function paging(pno, psize, total, $target, callback) {
            var totalPage = Math.ceil(total / psize);

           // console.log("totalPage", totalPage)

            var prevPage = 0;
            var nextPage = 0;

            prevPage = pno - 1 < 1 ? 1 : pno - 1;
            nextPage = pno + 1 > totalPage ? totalPage : pno + 1;

            var html = "";
            html += "<a href='#' class='prev'  onclick='"+callback+"("+prevPage+");return false;'></a>";
            html += "<strong>"+pno+"</strong> / "+totalPage;
            html += "<a href='#' class='next'  onclick='"+callback+"("+nextPage+");return false;'></a>";

            $target.html(html)

        }//end func

        /**
            상품리뷰 데이타 로드
        */
        review.getReviewProducListByPageNo= function(no) {

            $.ajax({
                url: "@(Url.Action("GetReviewProductListInShopping", "Review"))",
                type: "POST",
                dataType: "json",
                data: {
                    P_CODE: pcode
                    , PAGE_NO :no
                },
                success: function (data) {

                    if (data.Success) {

                        buildList(data.Reviews)

                        paging(no, pageSize, data.Total, $("#proReview .paging"), "review.getReviewProducListByPageNo" );
                    }else{


                    }
                },
                error: function (e) {
                    //console.log(e);
                }
            });
        }//end func

        /**
            상품리뷰 목록 구성
        */
        function buildList(dd) {
           // console.log(dd)
            var $container  = $("#review_pro_list")
            $container.empty();


            for (var i = 0; i < dd.length; i++) {
                var d = dd[i];

                var html = "";

                html += "<li class='review_info'>";
                html += "   <div class='rinfo_top'>";
                html += "<p class='winfo'><span class='type oily'></span><span class='age'>"+d.M_BIRTHDAY_LBL+"대, "+d.M_SEX_LBL+"</span><strong class='id'>"+d.M_ID_LBL+"</strong></p>";
                html += "</div>";
                html += "<div class='rinfo_con'>";
                html += "<p class='txtbox'>"+d.COMMENT+"</p>";

                if (d.IS_PHOTO == "Y"){
                    
                        html += "<div class='imgbox'><img src='"+ img_path_review+ d.ADD_IMAGE +"' alt='' /></div>";
                        html += "<div class='morebox'>";
		
                        html += " <span class='photo_review'><i></i>포토리뷰</span>";
                        html += " <a href='#none' class='btn_more'><i></i></a>";
                        html += "</div>";
                    }

                    html += "</div>";
                    html += "</li>";
                    //console.log(html)

                    $container.append($(html));
            }// end for
            
            $(".review_info .btn_more").click(function(){
                $(this).parents(".review_info").toggleClass("on");
            });
            
        }//end func

        /**
            체험단 리뷰 데이타
        */
        review.getReviewExpListByPageNo = function(no) {

            $.ajax({
                url: "@(Url.Action("GetReviewExpListInShopping", "Review"))",
                type: "POST",
                dataType: "json",
                data: {
                    P_CODE: pcode
                    , PAGE_NO :no
                },
                success: function (data) {

                    if (data.Success) {
                        if(data.Reviews.length > 0){
                            buildList2(data.Reviews);
                            paging(no, pageSize, data.Total, $("#expReview .paging"), "review.getReviewExpListByPageNo" );
                        }else{
                            $("#expReview .paging").hide();                        
                            $("#expReview .datanone").show();
                        }

                    }else{
   
                    }
                },
                error: function (e) {
                    //console.log(e);
                }
            });
        }//end func


        /**
            목록 구성
        */
        function buildList2(dd) {

            var $container  = $("#review_exp_list")
            $container.empty();


            for (var i = 0; i < dd.length; i++) {
                var item = dd[i];

                var html = "";


                html += "<li class='review_info'>";
                html += "<div class='rinfo_top'>";
                html += "  <p class='winfo'><span class='type normal'></span><span class='age'>"+item.M_BIRTHDAY_LBL+"대, "+item.M_SEX_LBL+"</span><strong class='id'>"+item.M_ID_LBL+"</strong><span class='hit'>조회수 "+item.VIEW_CNT+"</span></p>";
                html += "   </div>";
                html += "   <div class='rinfo_con'>";

                html += "    <ul class='hash'>";

                /*tag common*/
                var arr = item.TAG.split("#");
                for(var k = 0; k < arr.length ; ++k){
                    html += "<li>#" + arr[k] + "</li>"
                }
                
               
                html += "    </ul>";
                    
                html += "   <div class='review_view'>";
                html += "   <div class='photo'><img src='"+img_path_review+item.SUB_IMG_1+"' alt='' /></div>";
                html += "   <div class='detail'>";
                html += "   <p class='tit'>"+item.TITLE+"</p>";
                html += "    <p class='txt'>"+item.COMMENT_TEXT+"</p>";
                html += "    </div>";
                html += "   </div>";
                html += "   </div>";
                html += "    <a href='#' onclick=\"window.open(\'/Review/ExperienceDetail?ARTICLE_IDX="+item.IDX+"&P_CODE="+item.P_CODE+"\');return false;\" class='view_link'></a>";
                html += "   </li>";

                $container.append($(html));
            }

        }//end func


    })();
</script>