@model AboutMe.Web.Front.Models.MyPointListViewModel
@using AboutMe.Web.Front.Controllers.Mypage
@using AboutMe.Common.Helper
@{
    ViewBag.Title = "내포인트 - ABOUT ME";
    ViewBag.TopClass = "mypage";
    
    Layout = "~/Views/Shared/_AboutMeLayoutB.cshtml";

    var myController = ViewContext.Controller as MyPointController;
}
@section Scripts {
    <link href="/aboutCom/css/mypage.css" rel="stylesheet" />
}


<!--container-->
<div id="container" class="point">
    <div class="container1080">
        <!--mypage_top-->
        <div class="mypage_top">
            <!--h2_area-->
            <div class="h2_area">
                <h2>내 포인트<i></i></h2>
                <!--mypage_menu-->
                @{ Html.RenderPartial("~/Views/AboutMePartial/_MyPageSubMenu.cshtml");}
                <!--//mypage_menu-->
            </div>
            <!--//h2_area-->
            <!--꼭 읽어주세요-->
            <div class="userread">
                <p class="tit">꼭 읽어주세요</p>
                <ul class="ps_list">
                    <li>5,000원 이상 보유 시 10원 단위로 결제 시 사용 가능합니다.</li>
                    <li>상품 구매 시 적립금 정책에 의하여 적립됩니다.</li>
                    <li>구매확정 후 적립 됩니다.</li>
                </ul>
            </div>
            <!--//꼭 읽어주세요-->
        </div>
        <!--//mypage_top-->
        <!--현재적립금액-->
        <div class="boxtypee savepoint_txt">
            <div class="top"></div>
            <div class="middle">
                <p><img src="/aboutCom/images/mypage/ico_savepoint.gif" alt="" />@(Model.MyName)님 현재 포인트 <span>@string.Format("{0:#,##0}", Model.MyTotalPoint) </span>원</p>
            </div>
            <div class="bottom"></div>
        </div>
        <!--//현재적립금액-->
        <!--포인트리스트-->
        <div class="tabletypeb savepoint_table">
            <table>
                <colgroup><col width="160" /><col width="*" /><col width="135" /><col width="145" /><col width="132" /></colgroup>
                <thead>
                    <tr>
                        <th>주문일자</th>
                        <th>주문 상품 정보</th>
                        <th>포인트 내역</th>
                        <th>비고</th>
                        <th>잔여 포인트</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.List)
                    {
                        <tr>
                            <td>@item.INS_DATE.Value.ToString("yyyy.MM.dd")</td>
                            <td class="subject"><a href="#">@item.DETAIL</a></td>
                            @{
                                var pt = item.POINT.Value ;
                            }
                            <td><span class="@(pt > 0 ? "pluspoint" : "minuspoint")">@string.Format("{0:#,##0}", Math.Abs( pt ))</span></td>
                            <td class="fcblue">@item.KIND</td>
                            <td>@string.Format("{0:#,##0}", item.SUM_POINT)</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <!--//포인트리스트-->
        <!--페이징-->
        @{
            string search = Utility01.ConvertObject2UriQuery(Model.Route);

            Html.RenderAction("Paging", "CommonChildAction", new { TotalRecord = Model.Total, RecordPerPage = 10, PagePerBlock = 10, CurrentPage = Model.Route.PAGE, QueryStr = search });
        }
        <!--//페이징-->


    </div>
</div>
<!--//container-->


