@model AboutMe.Web.Front.Models.BaseDisplayerViewModel
@using AboutMe.Web.Front.Controllers
@{
    Layout = null;
    var myController = ViewContext.Controller as ChildActionDisplayerController;
}
<div class="bnr_subj">
    <span class="ico"><img src="@(myController._img_path_display)@(Model.List[0].IMG)" alt="" /></span>
    <a href="@(Model.List[0].URL)" class="btn_more">더보기<i></i></a>
</div>
<div class="bnr_list">
    <ul>

        @for (int i = 1; i < Model.PdtList.Count; i++)
        {
            var item = Model.PdtList[i];
            <li>
                <a href="@Url.Action("Detail", "Shopping", new { pcode=item.P_CODE})">
                    <!--200x200사이즈로 들어갑니다.-->
                    <span class="photo"><img src="@string.Format("{0}{1}{2}", myController._img_path_product, "R270_", item.MAIN_IMG)" alt="" /></span>
                    <span class="tit">@Html.Raw(item.P_NAME)</span>
                    <span class="stit">@Html.Raw(item.P_SUB_TITLE)</span>
                    <span class="price"><em>@string.Format("{0:#,##0}", item.SELLING_PRICE)</em>원</span>
                </a>
            </li>
        }

    </ul>
</div>