@model AboutMe.Domain.Entity.Display.ProductDisplayMainViewModel
@using AboutMe.Web.Front.Controllers
@{
    Layout = null;
    var myController = ViewContext.Controller as ChildActionDisplayerController;
}
<div class="bnr_subj">
    <span class="ico"><img src="@(myController._img_path_display)@(Model.Header.IMG)" alt="" /></span>
    <a href="@(Model.Header.URL)" class="btn_more">더보기<i></i></a>
</div>
<div class="bnr_list">
    <ul>
@if (Model.Product_1 != null) {
        <li>
            <a href="@Url.Action("Detail", "Shopping", new { pcode = Model.Product_1.P_CODE })">
                <!--200x200사이즈로 들어갑니다.-->
                <span class="photo"><img src="@string.Format("{0}{1}{2}", myController._img_path_product, "R270_", Model.Product_1.MAIN_IMG)" alt="" /></span>
                <span class="tit txtdotdot">@Html.Raw(Model.Product_1.P_NAME)</span>
                <span class="stit">@Html.Raw(Model.Product_1.P_SUB_TITLE)</span>
                <span class="price">
                    @if (Model.Product_1.RESULT_PRICE != Model.Product_1.SELLING_PRICE)
                    {
                        <del>@(string.Format("{0:#,##0}", Model.Product_1.SELLING_PRICE))원</del>
                    }
                    <em>@string.Format("{0:#,##0}", Model.Product_1.RESULT_PRICE)</em>원
                </span>
            </a>
        </li>
}
@if (Model.Product_2 != null) { 
        <li>
            <a href="@Url.Action("Detail", "Shopping", new { pcode = Model.Product_2.P_CODE })">
                <!--200x200사이즈로 들어갑니다.-->
                <span class="photo"><img src="@string.Format("{0}{1}{2}", myController._img_path_product, "R270_", Model.Product_2.MAIN_IMG)" alt="" /></span>
                <span class="tit txtdotdot">@Html.Raw(Model.Product_2.P_NAME)</span>
                <span class="stit">@Html.Raw(Model.Product_2.P_SUB_TITLE)</span>

                <span class="price">
                    @if (Model.Product_2.RESULT_PRICE != Model.Product_2.SELLING_PRICE)
                    {
                        <del>@(string.Format("{0:#,##0}", Model.Product_2.SELLING_PRICE))원</del>
                    }
                    <em>@string.Format("{0:#,##0}", Model.Product_2.RESULT_PRICE)</em>원
                </span>
            </a>
        </li>
        }
        
@if (Model.Product_3 != null)
        {
        <li>
            <a href="@Url.Action("Detail", "Shopping", new { pcode = Model.Product_3.P_CODE })">
                <!--200x200사이즈로 들어갑니다.-->
                <span class="photo"><img src="@string.Format("{0}{1}{2}", myController._img_path_product, "R270_", Model.Product_3.MAIN_IMG)" alt="" /></span>
                <span class="tit txtdotdot">@Html.Raw(Model.Product_3.P_NAME)</span>
                <span class="stit">@Html.Raw(Model.Product_3.P_SUB_TITLE)</span>
                <span class="price">
                    @if (Model.Product_3.RESULT_PRICE != Model.Product_3.SELLING_PRICE)
                    {
                        <del>@(string.Format("{0:#,##0}", Model.Product_3.SELLING_PRICE))원</del>
                    }
                    <em>@string.Format("{0:#,##0}", Model.Product_3.RESULT_PRICE)</em>원
                </span>
            </a>
        </li>

}
    </ul>
</div>