@model List<AboutMe.Domain.Entity.Exhibit.SP_EXHIBIT_PCODE_LINK_ALL_Result>

@if(Model.Count > 0 )
{ 
    <div class="promotion">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a href="@item.LINK_URL">
                        <img src="@item.WEB_BANNER" alt="" width="255" height="255" />
                        <span class="date"><em>@item.FROM_DATE</em>~<em>@item.TO_DATE</em></span>
                        <strong>@item.EXHIBIT_NAME</strong>
                    </a>
                </li>
            }
        </ul>
    </div>
}
