@model AboutMe.Domain.Entity.Event.EVENT_MAIN_INDEX
@{
    ViewBag.Title = "이벤트 - ABOUT ME";
    ViewBag.TopClass = "event";

    Layout = "~/Views/Shared/_AboutMeLayoutB.cshtml";
}
@section Scripts {
   <link href="/aboutCom/css/event.css" rel="stylesheet" />

    <script language="javascript">
        
    </script>
}

    <!--container-->
    <div id="container">
        <div class="container1080">
            <h3>프로모션</h3>
            <div class="row1">
                <div class="rolling">
                    <!-- 슬라이드 -->
                    <ul class="slist">
                        @if (!string.IsNullOrEmpty(Model.MainInfo.MAIN_IMG1))
                        {
                            <li><a href="@Model.MainInfo.MAIN_URL1"><img src="@Model.MainInfo.MAIN_IMG1" alt="" width="862" height="400" /></a></li>
                        }
                        @if (!string.IsNullOrEmpty(Model.MainInfo.MAIN_IMG2))
                        {
                            <li><a href="@Model.MainInfo.MAIN_URL2"><img src="@Model.MainInfo.MAIN_IMG2" alt="" width="862" height="400" /></a></li>
                        }
                        @if (!string.IsNullOrEmpty(Model.MainInfo.MAIN_IMG3))
                        {
                            <li><a href="@Model.MainInfo.MAIN_URL3"><img src="@Model.MainInfo.MAIN_IMG3" alt="" width="862" height="400" /></a></li>
                        }
                        @if (!string.IsNullOrEmpty(Model.MainInfo.MAIN_IMG4))
                        {
                            <li><a href="@Model.MainInfo.MAIN_URL4"><img src="@Model.MainInfo.MAIN_IMG4" alt="" width="862" height="400" /></a></li>
                        }
                        @if (!string.IsNullOrEmpty(Model.MainInfo.MAIN_IMG5))
                        {
                            <li><a href="@Model.MainInfo.MAIN_URL5"><img src="@Model.MainInfo.MAIN_IMG5" alt="" width="862" height="400" /></a></li>
                        }
                        
                        <!--li><a href="#"><img src="/aboutCom/images/sample/event_slide1.jpg" width="862" height="400" alt="" /></a></li>
                        <li><a href="#"><img src="/aboutCom/images/sample/event_slide1.jpg" width="862" height="400" alt="" /></a></li-->
                    </ul>
                    <div class="sbtn">
                        <a href="javascript:void(0)" class="btn_left"><i></i></a>
                        <a href="javascript:void(0)" class="btn_right"><i></i></a>
                    </div>
                </div>
                <div class="beautytest">
                    <!-- 테스트 -->
                    @if (!string.IsNullOrEmpty(Model.MainInfo.RIGHT_IMG))
                    {
                        <li><a href="@Model.MainInfo.RIGHT_URL"><img src="@Model.MainInfo.RIGHT_IMG" alt="" width="208" height="400" /></a></li>
                    }
                    <!--a href="#"><img src="/aboutCom/images/sample/event_beautytest.jpg" width="208" height="400" alt="" /></a-->
                </div>
            </div>
            <div class="row2">
                <ul class="benefit">
                    <!-- 고객혜택 -->
                    @if (!string.IsNullOrEmpty(Model.MainInfo.MIDDLE_IMG1))
                    {
                    <li>
                        <a href="@Model.MainInfo.MIDDLE_URL1">
                            <!--img src="/aboutCom/images/sample/event_thum1.jpg" width="208" height="208" alt="" /-->
                            <img src="@Model.MainInfo.MIDDLE_IMG1" alt="" width="208" height="208" />
                            <strong>@Model.MainInfo.MIDDLE_TITLE1</strong>
                            <span>@Model.MainInfo.MIDDLE_DESC1</span>
                        </a>
                    </li>
                    }
                    
                    @if (!string.IsNullOrEmpty(Model.MainInfo.MIDDLE_IMG2))
                    {
                    <li>
                        <a href="@Model.MainInfo.MIDDLE_URL2">
                            <img src="@Model.MainInfo.MIDDLE_IMG2" alt="" width="208" height="208" />
                            <strong>@Model.MainInfo.MIDDLE_TITLE2 </strong>
                            <span>@Model.MainInfo.MIDDLE_DESC2</span>
                        </a>
                    </li>
                    }
                    
                    @if (!string.IsNullOrEmpty(Model.MainInfo.MIDDLE_IMG3))
                    {
                        <li>
                            <a href="@Model.MainInfo.MIDDLE_URL3">
                                <img src="@Model.MainInfo.MIDDLE_IMG3" alt="" width="208" height="208" />
                                <strong>@Model.MainInfo.MIDDLE_TITLE3 </strong>
                                <span>@Model.MainInfo.MIDDLE_DESC3</span>
                            </a>
                        </li>
                    }
                    
                    @if (Model.TimeSaleCnt == 0)
                    { 
                        if (!string.IsNullOrEmpty(Model.MainInfo.MIDDLE_IMG4))
                        {
                            <li>
                                <a href="@Model.MainInfo.MIDDLE_URL4">
                                    <img src="@Model.MainInfo.MIDDLE_IMG4" alt="" width="426" height="284" />
                                </a>
                            </li>
                        }
                    }
                </ul>

                <!-- time sale-->
                @{Html.RenderAction("EventPgTimeSaleBanner", "ChildActionPromotion");}
                <!-- time sale-->
     
            </div>
        </div>
        <div class="container100per">
            <div class="inner">
                <ul class="tabs">
                    <li class="cnt"><a href="#tabCon1">진행이벤트</a></li>
                    <li><a href="#tabCon2">종료이벤트</a></li>
                </ul>
                <div id="tabCon1" class="ingevent tab_content" style="display:block">
                    <!-- 진행이벤트 -->
                    <h3>진행이벤트</h3>
                    <ul>
                        @foreach(var item in Model.IngListInfo)
                        { 
                            
                            string urlPath = "";
                            if (item.GBN == "EVENT")
                            {
                                urlPath = "/Event/EventView?IDX=" + Convert.ToString(item.IDX);
                            }
                            else if (item.GBN == "EXHIBIT")
                            {
                                urlPath = "/Event/ExhibitView?IDX=" + Convert.ToString(item.IDX);
                            }
                            else if (item.GBN == "SAMPLE")
                            {
                                urlPath = "/Event/SampleView?IDX=" + Convert.ToString(item.IDX);
                            }
                              
                            
                            <li>
                                <a href="@urlPath">
                                    <img src="@item.WEB_BANNER" alt=""  />
                                    <span class="edate"><em>@item.FROM_DATE</em>~<em>@item.TO_DATE</em></span>
                                    <strong>@item.NAME</strong>
                                </a>
                            </li>
                        }

                    </ul>
                </div>
                <div id="tabCon2" class="endevent tab_content">
                    <!-- 종료이벤트 -->
                    <h3>종료이벤트</h3>
                    <ul>
                        @foreach (var item in Model.EndListInfo)
                        {

                            string urlPath = "";
                            if (item.GBN == "EVENT")
                            {
                                urlPath = "/Event/EventView?IDX=" + Convert.ToString(item.IDX);
                            }
                            else if (item.GBN == "EXHIBIT")
                            {
                                urlPath = "/Event/ExhibitView?IDX=" + Convert.ToString(item.IDX);
                            }
                            else if (item.GBN == "SAMPLE")
                            {
                                urlPath = "/Event/SampleView?IDX=" + Convert.ToString(item.IDX);
                            }


                            <li>
                                <a href="@urlPath">
                                    <img src="@item.WEB_BANNER" alt="" />
                                    <span class="edate"><em>@item.FROM_DATE</em>~<em>@item.TO_DATE</em></span>
                                    <strong>@item.NAME</strong>
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--//container-->
