@model AboutMe.Domain.Entity.Event.EVENT_MAIN_INDEX
@{
    ViewBag.Title = "이벤트 - ABOUT ME";
    ViewBag.TopClass = "event";

    Layout = "~/Views/Shared/_AboutMeLayoutB.cshtml";
}
@section Scripts {
   <link href="/aboutCom/css/event.css" rel="stylesheet" />

    <script language="javascript">
        
    </script>
}

    <!--container-->
    <div id="container">
        <div class="container1080">
            <h3>프로모션</h3>
            <div class="row1">
                <div class="rolling">
                    <!-- 슬라이드 -->
                    <ul class="slist">
                        @if (!string.IsNullOrEmpty(Model.MainInfo.MAIN_IMG1))
                        {
                            <li><a href="@Model.MainInfo.MAIN_URL1"><img src="@Model.MainInfo.MAIN_IMG1" width="862" height="400" alt="" /></a></li>
                        }
                        @if (!string.IsNullOrEmpty(Model.MainInfo.MAIN_IMG2))
                        {
                            <li><a href="@Model.MainInfo.MAIN_URL2"><img src="@Model.MainInfo.MAIN_IMG2" width="862" height="400" alt="" /></a></li>
                        }
                        @if (!string.IsNullOrEmpty(Model.MainInfo.MAIN_IMG3))
                        {
                            <li><a href="@Model.MainInfo.MAIN_URL3"><img src="@Model.MainInfo.MAIN_IMG3" width="862" height="400" alt="" /></a></li>
                        }
                        @if (!string.IsNullOrEmpty(Model.MainInfo.MAIN_IMG4))
                        {
                            <li><a href="@Model.MainInfo.MAIN_URL4"><img src="@Model.MainInfo.MAIN_IMG4" width="862" height="400" alt="" /></a></li>
                        }
                        @if (!string.IsNullOrEmpty(Model.MainInfo.MAIN_IMG5))
                        {
                            <li><a href="@Model.MainInfo.MAIN_URL5"><img src="@Model.MainInfo.MAIN_IMG5" width="862" height="400" alt="" /></a></li>
                        }
                        
                        <!--li><a href="#"><img src="/aboutCom/images/sample/event_slide1.jpg" width="862" height="400" alt="" /></a></li>
                        <li><a href="#"><img src="/aboutCom/images/sample/event_slide1.jpg" width="862" height="400" alt="" /></a></li-->
                    </ul>
                    <div class="sbtn">
                        <a href="javascript:void(0)" class="btn_left"><i></i></a>
                        <a href="javascript:void(0)" class="btn_right"><i></i></a>
                    </div>
                </div>
                <div class="beautytest">
                    <!-- 테스트 -->
                    @if (!string.IsNullOrEmpty(Model.MainInfo.RIGHT_IMG))
                    {
                        <li><a href="@Model.MainInfo.RIGHT_URL"><img src="@Model.MainInfo.RIGHT_IMG" width="208" height="400" alt="" /></a></li>
                    }
                    <!--a href="#"><img src="/aboutCom/images/sample/event_beautytest.jpg" width="208" height="400" alt="" /></a-->
                </div>
            </div>
            <div class="row2">
                <ul class="benefit">
                    <!-- 고객혜택 -->
                    @if (!string.IsNullOrEmpty(Model.MainInfo.MIDDLE_IMG1))
                    {
                    <li>
                        <a href="@Model.MainInfo.MIDDLE_URL1">
                            <!--img src="/aboutCom/images/sample/event_thum1.jpg" width="208" height="208" alt="" /-->
                            <img src="@Model.MainInfo.MIDDLE_IMG1" width=" 208" height="208" alt="" />
                            <strong>@Model.MainInfo.MIDDLE_TITLE1</strong>
                            <span>@Model.MainInfo.MIDDLE_DESC1</span>
                        </a>
                    </li>
                    }
                    
                    @if (!string.IsNullOrEmpty(Model.MainInfo.MIDDLE_IMG2))
                    {
                    <li>
                        <a href="@Model.MainInfo.MIDDLE_URL2">
                            <img src="@Model.MainInfo.MIDDLE_IMG2" alt="" width="208" height="208" />
                            <strong>@Model.MainInfo.MIDDLE_TITLE2 </strong>
                            <span>@Model.MainInfo.MIDDLE_DESC2</span>
                        </a>
                    </li>
                    }
                    
                    @if (!string.IsNullOrEmpty(Model.MainInfo.MIDDLE_IMG3))
                    {
                        <li>
                            <a href="@Model.MainInfo.MIDDLE_URL3">
                                <img src="@Model.MainInfo.MIDDLE_IMG3" alt="" width="208" height="208" />
                                <strong>@Model.MainInfo.MIDDLE_TITLE3 </strong>
                                <span>@Model.MainInfo.MIDDLE_DESC3</span>
                            </a>
                        </li>
                    }
                </ul>
                <div class="timesale" style="background-color:gray;">
                    <a href="/event/timesale.asp"><img src="/aboutCom/images/sample/event_timesale.jpg" width="426" height="284" alt="Time Sale 늦가을 자외선으로부터 내 피부를 보호하자 굿나이트 모이스처 앰플 23,000원" /></a>
                    <!-- 타임세일 -->
                    <p id="timesale" class="remain_time"></p>
                    <script type="text/javascript">
                        $(function () {
                            //타임세일 현재날짜와 종료날짜를 입력해주세요.
                            $('#timesale').countdown({
                                starttimestamp: "2014,07,12,12,00,00",	//현재날짜
                                endtimestamp: "2014,07,13,10,20,30",	//종료날짜
                                callback: function (m) {
                                    $('#timesale').html(m);
                                }
                            });
                            //레이어타임세일의 현재날짜와 종료날짜 입력해주세요 (위와 같은 날자 입력)
                            $('#ly_timesale').countdown({
                                starttimestamp: "2014,07,12,12,00,00",	//현재날짜
                                endtimestamp: "2014,07,13,10,20,30",	//종료날짜
                                callback: function (m) {
                                    $('#ly_timesale').html(m);
                                }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="container100per">
            <div class="inner">
                <ul class="tabs">
                    <li class="cnt"><a href="#tabCon1">진행이벤트</a></li>
                    <li><a href="#tabCon2">종료이벤트</a></li>
                </ul>
                <div id="tabCon1" class="ingevent tab_content" style="display:block">
                    <!-- 진행이벤트 -->
                    <h3>진행이벤트</h3>
                    <ul>
                        @foreach(var item in Model.IngListInfo)
                        { 
                            
                            string urlPath = "";
                            if (item.GBN == "EVENT")
                            {
                                urlPath = "/Event/EventView?IDX=" + Convert.ToString(item.IDX);
                            }
                            else
                            {
                                urlPath = "/Event/ExhibitView?IDX=" + Convert.ToString(item.IDX);
                            }
                              
                            
                            <li>
                                <a href="@urlPath">
                                    <img src="@item.WEB_BANNER" alt="" width="255" height="255" />
                                    <span class="edate"><em>@item.FROM_DATE</em>~<em>@item.TO_DATE</em></span>
                                    <strong>@item.NAME</strong>
                                </a>
                            </li>
                        }

                    </ul>
                </div>
                <div id="tabCon2" class="endevent tab_content">
                    <!-- 종료이벤트 -->
                    <h3>종료이벤트</h3>
                    <ul>
                        @foreach (var item in Model.EndListInfo)
                        {

                            string urlPath = "";
                            if (item.GBN == "EVENT")
                            {
                                urlPath = "/Event/EventView?IDX=" + Convert.ToString(item.IDX);
                            }
                            else
                            {
                                urlPath = "/Event/ExhibitView?IDX=" + Convert.ToString(item.IDX);
                            }


                            <li>
                                <a href="@urlPath">
                                    <img src="@item.WEB_BANNER" alt="" width="255" height="255" />
                                    <span class="edate"><em>@item.FROM_DATE</em>~<em>@item.TO_DATE</em></span>
                                    <strong>@item.NAME</strong>
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--//container-->
