@model AboutMe.Domain.Entity.Sample.SAMPLE_VIEW
@using  AboutMe.Web.Front.Common;
@{

    if (Model.SampleInfo == null)
    {
        Response.Write("<script>alert('존재하지 않은 게시물입니다.'); history.go(-1);</script>");
        Response.End();
    }

    ViewBag.Title = "샘플/체험단신청 - ABOUT ME";
    ViewBag.TopClass = "detail";

    Layout = "~/Views/Shared/_AboutMeLayoutB.cshtml";

    bool IS_LOGIN = MemberInfo.IsMemberLogin();
}
@section Scripts {
    <link href="/aboutCom/css/event.css" rel="stylesheet" />

    <script language="javascript">
    function goEvent(s)
    {
        var idx = s.value;
        var gubun = $(s).find("option:selected").attr("gubun")
        if (idx != "") {
            if (gubun == "EVENT")
            {
                location.href = "/Event/EventView?IDX=" + idx;
            }
            else if (gubun == "EXHIBIT") {
                location.href = "/Event/ExhibitView?IDX=" + idx;
            }
            else if (gubun == "SAMPLE") {
                location.href = "/Event/SampleView?IDX=" + idx;
            }
        }
    }

    function isLogin() {
        if (confirm('로그인 후 신청할 수 있습니다.\n로그인페이지로 이동하시겠습니까?')) {
            location.href = '/MemberShip/Login';
            return;
        }
    }

    function RegistSample()
    {
        var islogin = "@IS_LOGIN";
          
        if (islogin == "True") {

            if (confirm("신청하시겠습니까?")) {
                var src_url = "/Event/RegistSample";
                var param = "IDX=@Model.SampleInfo.IDX";

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: src_url,
                    data: param,
                    success: function (data) {
                        if (data.result == "true") {
                            alert("체험단 신청을 완료하였습니다.");
                        }
                        else {
                            if (data.msg != "") {
                                alert(data.msg);
                            }
                        }
                    },
                    complete: function (jqXHR, textStatus) {
                    }
                });
            }
        }
        else
        {
            isLogin();
        }
    }
    </script>
}

<!--container-->
<div id="container">
    <div class="container100per">
        <div class="inner">
            <div class="etit">
                <h3>@Model.SampleInfo.SAMPLE_NAME</h3>
                <p class="edate"><em>@Model.SampleInfo.FROM_DATE</em>~<em>@Model.SampleInfo.TO_DATE</em></p>
                <select class="selectstyleb" title="" onchange="goEvent(this)">
                    <option selected="selected" value="">다른 이벤트 보기</option>
                    @foreach (var item in Model.IngListInfo)
                    {
                        if (item.GBN != "SAMPLE" && item.IDX != Model.SampleInfo.IDX)
                        {
                            @Html.Raw("<option value='" + Convert.ToString(item.IDX) + "' gubun='" + item.GBN + "'>" + item.NAME + "</option>");
                        }
                    }
                </select>
            </div>
            <div class="econt" width="1080">
                @Html.Raw(Model.SampleInfo.WEB_CONTENTS)
            </div>
            <div class="btn_application">
                <a href="#none" class="btn_brown_w185h60" onclick="RegistSample();">신청하기</a>
            </div>
        </div>
    </div>
</div>
<!--//container-->
