@model AboutMe.Domain.Entity.Review.ReviewExpListViewModel
@using AboutMe.Domain.Entity.Review
@using AboutMe.Common.Data
@using AboutMe.Common.Helper
@using AboutMe.Web.Front.Models
@using AboutMe.Web.Front.Controllers
@using Newtonsoft.Json
@{
    ViewBag.Title = "Review Experience";
    Layout = "~/Views/Shared/_AboutMeLayoutA.cshtml";
    var myController = ViewContext.Controller as ReviewController;
}

@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}
    <script src="/aboutCom/js/lib/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="/aboutCom/js/lib/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <link href="/aboutCom/css/review.css" rel="stylesheet" />

    <script>

    </script>


    <script type="text/javascript">


    var $grid;


    var img_path_product = "@myController._img_path_product";
    var img_path_review = "@myController._img_path_review";

    var categoryCode = "@CategoryCode.BEAUTY_DEFAULT";
    var sort = "@ReviewExpListViewModel.SORT_LASTEST";//최신순
    var tailIdx = @(Model.Reviews.Count > 0 ? Model.Reviews.Last().IDX : -1);


    // select category
    function selectCategoryMenu(cc) {
        if (categoryCode != cc) categoryCode = cc;
        tailIdx = undefined;
        removeAllItems();

        getReviewList();
    }

    //
    function sorting(s) {
        if (sort != s) sort = s;
        tailIdx = undefined;
        removeAllItems();
        getReviewList();
    }

    //더 보기
    function moreView() {
        getReviewList();
    }

    $(function () {
        initMasonry();
    });

    function initMasonry() {
        /**/
        // init Masonry
        $grid = $('#reviewConts').masonry({
            itemSelector: ".grid",
            transitionDuration: 0
        });
        // layout Masonry after each image loads
        $grid.imagesLoaded().progress(function () {
            $grid.masonry('layout');
        });

        /*
        //example  http://masonry.desandro.com/methods.html#appended

       */
    }
    function getReviewList() {
        console.log(tailIdx, categoryCode, sort);

        $.ajax({
            url: "@(Url.Action("GetReviewExpList", "Review"))",
            type: "POST",
            dataType: "json",
            data: {
                TAIL_IDX: tailIdx
                , CATEGORY_CODE: categoryCode
                , SORT: sort
            },
            success: function (data) {
                //alert(data.success);
                console.log(data);

                if (data.Success) {


                    addItems(data.Reviews);

                    $("#totalReview").text(data.Total);

                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }//end func

    function addItems(list) {
        if (list.length > 0) {
            //var $items = [];
            for (var i = 0 ; i < list.length ; ++i) {
                var item = list[i];


                var html = "<div class='grid' onclick=\"reviewpop_view("+item.IDX +",'"+item.P_CODE+"',this);return false;\">";

                //<!--제품 이름 및 정보-->
                html += "<div class='product_info'>";
                html += "    <div class='photo'><img src='"+img_path_product + item.P_MAIN_IMG+"' alt=''></div>";
                html += "    <div class='detail'>";
                html += "       <p class='tit'>"+item.P_NAME+"</p>";
                html += "       <p class='stit'>"+(item.P_SUB_TITLE != undefined ? item.P_SUB_TITLE : "")+"</p>";
                html += "    </div>";
                html += "</div>";

                // <!--리뷰-->
                html += "<div class='comments'>";
                html += "   <div class='idhit'>";
                html += "       <span class='id'>"+item.M_ID_LBL+"</span>";
                html += "       <span class='hit'>조회수 <em>"+(item.VIEW_CNT != undefined ? item.VIEW_CNT : "0")+"</em></span>";
                html += "   </div>";

                html += "   <div class='writer'>";
                html += "       <span class='skin "+item.SKIN_TYPE_LBL+"'>"+item.SKIN_TYPE_CSS+"</span><em class='userage'>"+item.M_BIRTHDAY_LBL+"대, "+item.M_SEX_LBL+"</em>";
                html += "   </div>";
                html += "   <div class='tag'>";
                html +=         item.TAG;
                html += "   </div>";
                html += "   <div class='reviewtxt'>";
                html += "       <p class='title'>"+item.TITLE+"</p>";
                html += "       <p class='txt txtdotdot'>";
                html +=             item.COMMENT_TEXT;

                html += "       </p>";

                if (item.SUB_IMG_1 != null)
                {
                    html += "<img src='"+ img_path_review +item.SUB_IMG_1+"' alt='' /><br />";
                }
                if (item.SUB_IMG_2 != null)
                {
                    html += "<img src='"+ img_path_review +item.SUB_IMG_2+"' alt='' /><br />";
                }

                html += "   </div>";
                html += "</div>";
                // <!--//리뷰-->

                html += "</div>";




                var elem = $(html);
                $grid.masonry().append(elem).masonry('appended', elem).masonry();
            }

            // console.log("d.IDX", d.IDX)

            //꼬리값 물기
            if (tailIdx != item.IDX) {
                tailIdx = item.IDX;
            }
        } else {
            alert("더 이상 결과값이 없습니다.");
        }
    }//end func

    function removeAllItems() {
        $(".grid").each(function () {
            $grid.masonry('remove', this)
        });
    }//end func


    </script>
}

@section Body{
    <div class="wrap review">
        <!--header-->
        @{ Html.RenderPartial("~/Views/AboutMePartial/_Header.cshtml");}
        <!--//header-->
        <!--container-->
        <div id="container">
            <div class="container1080">
                <div class="h_tit">
                    <h2><a href="@Url.Action("Product", "Review")">상품 리뷰</a></h2>
                    <h2 class="cnt">체험단 리뷰</h2>
                </div>

                <div class="selecttypeC">
                    <!--현재 소팅 대분류 class "on" 사용-->
                    <div class="sort on">
                        <p class="tit"><a href="#">뷰티</a></p>
                        @if (Model.CategoryBeauty.Count > 0)
                        {
                            <ul>
                                <li class="cnt"><a href="#" onclick="selectCategoryMenu('@CategoryCode.BEAUTY_DEFAULT'); return false;">전체</a></li>
                                @foreach (var item in Model.CategoryBeauty)
                                {

                                    <li><a href="#" onclick="selectCategoryMenu('@item.CATE_CODE'); return false;">@item.DEPTH2_NAME</a></li>
                                }
                            </ul>
                        }
                    </div>
                    <div class="sort nolist">
                        <p class="tit">헬스</p>
                        <ul>
                            <li><a href="#" onclick="selectCategoryMenu('@CategoryCode.HEALTH_DEFAULT'); return false;">전체</a></li>
                        </ul>
                    </div>
                    <div class="sort">
                        <p class="tit">기타브랜드</p>
                        @if (Model.CategorySelShop.Count > 0)
                        {
                            <ul>
                                <li><a href="#" onclick="selectCategoryMenu('@CategoryCode.SEL_SHOP_DEFAULT'); return false;">전체</a></li>
                                @foreach (var item in Model.CategorySelShop)
                                {
                                    <li><a href="#" onclick="selectCategoryMenu('@item.CATE_CODE');return false;">@item.DEPTH2_NAME</a></li>
                                }
                            </ul>
                        }
                    </div>
                </div>

                <div class="reviewConts_area">
                    <span class="totaltxt">총 <strong id="totalReview">@Model.Total</strong>개의 상품이 있습니다.</span>
                    <!--sort-->
                    <div class="sort">
                        <ul>
                            <li class="cnt"><a href="#" onclick="sorting('@ReviewExpListViewModel.SORT_LASTEST');return false;">최신순</a></li>
                            <li><a href="#" onclick="sorting('@ReviewExpListViewModel.SORT_LIKE');return false;">인기순</a></li>
                            
                        </ul>
                    </div>
                    <!--//sort-->
                    <div id="reviewConts" class="bocksitls">

@foreach (var item in Model.Reviews)
{
                        <div class="grid" onclick="reviewpop_view(@item.IDX, '@item.P_CODE', this);return false;">
                           
                            <!--제품 이름 및 정보-->
                            <div class="product_info">
                                <div class="photo"><img src="@myController._img_path_product@item.P_MAIN_IMG" alt=""></div>
                                <div class="detail">
                                    <p class="tit">@item.P_NAME</p>
                                    <p class="stit">@item.P_SUB_TITLE</p>
                                </div>
                            </div>
                            <!--//제품 이름 및 정보-->
                            <!--리뷰-->
                            <div class="comments">
                                <div class="idhit">
                                    <span class="id">@item.M_ID_LBL</span>
                                    <span class="hit">조회수 <em>@(item.VIEW_CNT ?? 0)</em></span>
                                </div>
                                <div class="writer">
                                    <span class="skin @(item.SKIN_TYPE_CSS)">@(item.SKIN_TYPE_LBL)</span><em class="userage">@(item.M_BIRTHDAY_LBL)대, @(item.M_SEX_LBL)</em>
                                </div>
                                <div class="tag">
                                    @(item.TAG)
                                    <!--<span>#마사지</span> <span>#미백</span> <span>#촉촉</span>-->
                                </div>
                                <div class="reviewtxt">
                                    <p class="title">@item.TITLE</p>
                                    <p class="txt txtdotdot">
                                        @item.COMMENT_TEXT                                    
                                    </p>

                                    @if (item.SUB_IMG_1 != null)
                                    {
                                        <img src="@string.Format("{0}{1}", myController._img_path_review, item.SUB_IMG_1)" alt="" /><br />
                                    }
                                   
                                    @if (item.SUB_IMG_2 != null)
                                    {
                                        <img src="@string.Format("{0}{1}", myController._img_path_review, item.SUB_IMG_2)" alt="" /><br />
                                    }
                                    
                                </div>
                            </div>
                            <!--//리뷰-->
                        </div>
                       
}
                    </div>

                    <!--리뷰상세팝업-->
                    <div class="reviewpop_wrap">

                        <div class="dim"></div>
                        <div class="reviewpop">
                            <a href="#none" class="reviewpop_close" onclick="reviewpop_close()"><img src="/aboutCom/images/review/reviewpop_close.gif" alt="" /></a>
                            <!--reviewpop_top-->
                            <div class="reviewpop_top">
                                <div class="title_area">
                                    <p class="title"></p>
                                    <div class="tag">
                                        <!--<span>#마사지</span> <span>#촉촉</span> <span>#미백</span>-->
                                    </div>
                                </div>
                                <div class="writer">
                                    <div class="userinfo">
                                        <span id="skin_type" class=""></span>
                                        <span class="age_gender"></span>
                                    </div>
                                    <div class="right">
                                        <span class="id"></span>
                                        <span class="date"></span>
                                        <span class="hits">조회수 <em></em></span>
                                    </div>
                                </div>
                            </div>
                            <!--//reviewpop_top-->
                            <!--reviewpop_bottom-->
                            <div class="reviewpop_bottom">


                                <div class="reviewtxt">
                                    
                                </div>
                                <div class="reviewproduct">
                                    <p class="title"><img src="/aboutCom/images/review/txt_review.gif" alt="리뷰상품" /></p>
                                    <div class="pro_info">
                                        <!--이미지사이즈 96x96-->
                                        <div class="photo"><img src="" alt="" /></div>
                                        <div class="detail">
                                            <p class="tit"></p>
                                            <p class="stit"></p>
                                        </div>
                                    </div>
                                    <!--상품관련 기획전-->
                                    <div class="plbanr" data-url="" onclick="gotoEvent(this); return false;" style="cursor: pointer">
                                        
                                            <img src="/aboutCom/images/sample/event_thum3.jpg" class="bnrimg" alt="">
                                        
                                        <div class="txtarea">
                                            <div class="date"></div>
                                            <div class="bnr_txt"></div>
                                        </div>
                                       
                                    </div>
                                    <!--//상품관련 기획전-->
                                </div>
                            </div>
                            <!--//reviewpop_bottom-->

                        </div>


                    </div>
                    <!--//리뷰상세팝업-->

                </div>

                <a href="#" class="btn_more"  onclick="moreView(); return false;">더보기<i></i></a>

                <script type="text/javascript">

                    var detail;

                    function gotoEvent(my){
  
                        var url =  $(my).attr("data-url");
                        if (url != undefined) {
                            window.location.href = url ;
                        }                       
                    }

                    //리뷰팝업
                    function reviewpop_view(aidx,pcode, my) {
                        console.log(aidx, pcode);
                        $.ajax({
                            url: "@(Url.Action("GetReviewExpDetail", "Review"))",
                            type: "POST",
                            dataType: "json",
                            data: {
                                ARTICLE_IDX: aidx, P_CODE: pcode                                
                            },
                            success: function (data) {
                                //alert(data.success);
                                console.log(data);

                                if (data.Success) {

                                    var item = data.Detail;
                                    //detail = item;
                                    //console.log(item.TITLE);
                             
                                    $(".reviewpop_wrap .title_area .title").text( item.TITLE );
                                    $(".reviewpop_wrap .title_area .tag").text( item.TAG );

                                    $(".reviewpop_wrap .writer .skin").removeClass();
                              
                                    $("#skin_type").addClass("skin " + item.SKIN_TYPE_CSS);

                                    $(".reviewpop_wrap .writer .skin").text( item.SKIN_TYPE_LBL );
                                    $(".reviewpop_wrap .writer .age_gender").text( item.M_BIRTHDAY_LBL +"대, "+ item.M_SEX_LBL );

                                    $(".reviewpop_wrap .writer .id").text( item.SKIN_TYPE_LBL );
                                    $(".reviewpop_wrap .writer .date").text( item.INS_DATE_LBL );
                                    $(".reviewpop_wrap .writer .hits em").text( item.VIEW_CNT != undefined ? item.VIEW_CNT : 0 );
                                    
                                    $(".reviewpop_bottom .reviewtxt").html( item.COMMENT );

                                    $(".reviewpop_bottom .pro_info .photo img").attr("src", img_path_product + item.P_MAIN_IMG );
                                    $(".reviewpop_bottom .pro_info .detail tit").text(item.P_NAME);
                                    $(".reviewpop_bottom .pro_info .detail stit").text(item.P_SUB_TITLE);

                                    $(my).find(".hit em").text(item.VIEW_CNT);
                                    
                                    
                                    if(item.EXHIBIT_IDX != undefined){
                                       
                                        $(".reviewpop_bottom .plbanr").attr("data-url", item.EXHIBIT_LINK_URL);
          
                                        $(".reviewpop_bottom .plbanr img").attr("src", item.EXHIBIT_WEB_BANNER);
                                        $(".reviewpop_bottom .plbanr .date").text(item.EXHIBIT_DATE);
                                        $(".reviewpop_bottom .plbanr .bnr_txt").text( item.EXHIBIT_NAME);

                                        $(".reviewpop_bottom .plbanr").show();
                                    }else{
                                        $(".reviewpop_bottom .plbanr").hide();
                                    }
       
                                    $("html").css({ "overflow-y": "hidden" });
                                    $(".reviewpop_wrap").show();
                                    $(".reviewpop_wrap").css({ "overflow-y": "auto" });

                                    return;
                                }

                                //detail = undefined;
                            },
                            error: function (e) {
                                //console.log(e);
                                //detail = undefined;
                            }
                        });

                    }

                    function reviewpop_close() {
                        $(".reviewpop_wrap").hide();
                        $(".reviewpop_wrap").css({ "overflow-y": "hidden" });
                        $("html").css({ "overflow-y": "auto" });
                    }



                </script>
            </div>
        </div>
        <!--//container-->

        <!--Footer-->
        @{ Html.RenderPartial("~/Views/AboutMePartial/_Footer.cshtml");}
        <!--//Footer-->

    </div>
    <!--//wrap-->
}

