@model AboutMe.Domain.Entity.Review.ReviewProductListViewModel
@using AboutMe.Common.Data
@using AboutMe.Common.Helper
@using AboutMe.Web.Front.Models
@using AboutMe.Web.Front.Controllers
@using AboutMe.Domain.Entity.Review
@{
    ViewBag.Title = "Review Product";
    Layout = "~/Views/Shared/_AboutMeLayoutA.cshtml";
    var myController = ViewContext.Controller as ReviewController;
}
@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}
    <script src="/aboutCom/js/lib/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="/aboutCom/js/lib/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <link href="/aboutCom/css/review.css" rel="stylesheet" />

    <script>

    </script>


<script type="text/javascript">


    var $grid;


    var img_path_product = "@myController._img_path_product";
    var img_path_review = "@myController._img_path_review";

    var categoryCode = "@CategoryCode.BEAUTY_DEFAULT";
    var sort = "@ReviewProductListViewModel.SORT_PHOTO";//포토순
    var tailIdx = @(Model.Reviews.Count > 0 ? Model.Reviews.Last().IDX : -1);



    // select category
    function selectCategoryMenu(cc) {
        is_more_req = false;
        if (categoryCode != cc) categoryCode = cc;
        tailIdx = undefined;
        removeAllItems();

        getReviewProducList();
    }

    //
    function sorting(s) {
        if (sort != s) sort = s;
        tailIdx = undefined;
        removeAllItems();
        getReviewProducList();
    }

    //더 보기
    var is_more_req = false;
    function moreView() {
        is_more_req = true;
        getReviewProducList();
    }

    $(function () {
        initMasonry();
    });

    function initMasonry() {

        // init Masonry
        $grid = $('#reviewConts').masonry({
            itemSelector: ".grid",
            transitionDuration: 0
        });

        // layout Masonry after each image loads
        $grid.imagesLoaded().progress(function () {
            $grid.masonry('layout');
        });


        $grid.imagesLoaded(function(){
            $grid.masonry('layout');
        })

    }
    function getReviewProducList() {

        $.ajax({
            url: "@(Url.Action("GetReviewProductList", "Review"))",
            type: "POST",
            dataType: "json",
            data: {
                TAIL_IDX: tailIdx
                , CATEGORY_CODE: categoryCode
                , SORT: sort
            },
            success: function (data) {


                if (data.Success) {

                    $("#totalReview").text(data.Total);
                    if(data.Reviews.length > 0){
                        addItems(data.Reviews);
                        $(".no_data").hide();
                        $(".btn_more").show();


                    }else{
                        if ( $(".grid").size() == 0) {
                            $(".no_data").show();
                            $(".btn_more").hide();
                            $("#reviewConts").height(0)
                        }

                        if(is_more_req){
                            alert("더 이상 결과값이 없습니다.");
                            is_more_req = false;
                        }

                    }

                    initMasonry();
                    $grid.masonry('reloadItems');

                }
            },
            error: function (e) {

            }
        });
    }//end func

    function addItems(list) {
        if (list.length > 0) {

            var all_html = "";
            for (var i = 0 ; i < list.length ; ++i) {
                var d = list[i];

                var html = "<div class='grid'>";

                if (d.IS_BEST == "Y") {
                    html += "<span class='best_choice'><img src='/aboutCom/images/review/ico_best.png' alt='best'></span>";
                }
                // onclick=\"window.location.href='/Shopping/Detail?pcode="+item.P_CODE +"\"
                //<!--제품 이름 및 정보-->
                html += "<div class='product_info' onclick=\"window.location.href='/Shopping/Detail?pcode="+d.P_CODE+"';return false;\">";
                console.log(html)
                html += "<div class='photo'><img src='" + img_path_product + "R120_" + d.P_MAIN_IMG + "' alt''></div>";
                html += "<div class='detail'>";
                html += "<p class='tit'>" + d.P_NAME + "</p>";
                html += "<p class='stit'>" + (d.P_SUB_TITLE ? d.P_SUB_TITLE : "") + "</p>";

                html += "</div>";
                html += "</div>";

                html += "<div class='comments'>";
                html += "<div class='writer'>";

                html += "<span class='skin " + d.SKIN_TYPE_CSS + "' ></span>";
                html += "<span class='id'>" + d.M_ID_LBL + "</span>";
                html += "<span class='userage'>" + d.M_BIRTHDAY_LBL + "대, " +d.M_SEX_LBL + "</span>";

                html += "</div>";


                html += "<div class='reviewtxt'>";

                if (d.IS_PHOTO == "Y" ) {

                    if(d.ORDER_DETAIL_IDX != undefined){
                        html += "<img src='" + img_path_review +"R308_"+ d.ADD_IMAGE + "' alt=''>";
                    }else{//구리뷰
                        html += "<img src='" + img_path_review +"old/"+ d.ADD_IMAGE + "' alt=''>";
                    }
                    
                }

                html += "<div class='txt txtdotdot'>";
               
                html +=  $('<div/>').html(d.COMMENT).text();

                html += "</div>";
                html += "</div>";
                html += "</div>"; //end comment

                html += "</div>"; //end grid

                all_html += html;

               // var elem = $(html);
                //$grid.masonry().append(elem).masonry('appended', elem).masonry();
            }


            $grid.masonry().append($(all_html)  ).masonry('appended', $(all_html)).masonry();

            //꼬리값 물기
            if (tailIdx != d.IDX) {
                tailIdx = d.IDX;
            }
        } else {
            //alert("더 이상 결과값이 없습니다.");
        }
    }//end func

    function removeAllItems() {
        $(".grid").each(function () {
            $grid.masonry('remove', this)
        });
    }//end func

</script>

}

@section Body{
    <div class="wrap review">
        <!--header-->
        @{ Html.RenderPartial("~/Views/AboutMePartial/_Header.cshtml");}
        <!--//header-->
        <!--container-->
        <div id="container">
            <div class="container1080">
                <div class="h_tit">
                    <h2 class="cnt">상품 리뷰</h2>
                    <h2><a href="/Review/Experience">체험단 리뷰</a></h2>
                </div>

                <div class="selecttypeC">
                    <!--현재 소팅 대분류 class "on" 사용-->
                    <div class="sort on">
                        <p class="tit"><a href="#">뷰티</a></p>

                        @if (Model.CategoryBeauty.Count > 0)
                        {
                            <ul>
                                <li class="cnt"><a href="#" onclick="selectCategoryMenu('@CategoryCode.BEAUTY_DEFAULT'); return false;">전체</a></li>
                                @foreach (var item in Model.CategoryBeauty)
                                {

                                     <li><a href="#" onclick="selectCategoryMenu('@item.CATE_CODE'); return false;">@item.DEPTH2_NAME</a></li>
                                }
                            </ul>
                        }

                    </div>
                    <div class="sort nolist">
                        <p class="tit" onclick="selectCategoryMenu('@CategoryCode.HEALTH_DEFAULT'); return false;">헬스</p>
                        <!--
                        <ul>
                            <li><a href="#" onclick="selectCategoryMenu('@CategoryCode.HEALTH_DEFAULT'); return false;">전체</a></li>
                        </ul>
                            -->
                    </div>
                    <div class="sort">
                        <p class="tit">기타브랜드</p>
                        @if (Model.CategorySelShop.Count > 0)
                        {
                            <ul>
                                <li><a href="#" onclick="selectCategoryMenu('@CategoryCode.SEL_SHOP_DEFAULT'); return false;">전체</a></li>
                                @foreach (var item in Model.CategorySelShop)
                                {
                                    <li><a href="#" onclick="selectCategoryMenu('@item.CATE_CODE');return false;">@item.DEPTH2_NAME</a></li>
                                }
                            </ul>
                        }
                    </div>
                    <div class="sort">
                        <p class="tit">테마별</p>
                        <ul>
                            @foreach (var item in Model.CategoryThema)
                            {
                                <li><a href="#" onclick="selectCategoryMenu('@item.CODE');return false;">@item.TITLE</a></li>
                            }

                        </ul>
                    </div>
                </div>

                <div class="reviewConts_area">
                    <span class="totaltxt">총 <strong id="totalReview">@Model.Total</strong>개의 상품이 있습니다.</span>
                    <!--sort-->
                    <div class="sort">
                        <ul>
                            <li class="cnt"><a href="#" onclick="sorting('@ReviewProductListViewModel.SORT_PHOTO');return false;">포토리뷰순</a></li>
                            <li><a href="#" onclick="sorting('@ReviewProductListViewModel.SORT_LASTEST');return false;">최신순</a></li>
                        </ul>
                    </div>
                    <!--//sort-->
                    <div id="reviewConts" class="bocksitls">
                      @foreach (var item in Model.Reviews)
                      {
                        <div class="grid">
                            <!--
                                best 선정시 class="best_choice" 추가됩니다.
                            -->
                            @if ( item.IS_BEST == "Y" )
                            {
                                <span class="best_choice"><img src="/aboutCom/images/review/ico_best.png" alt="best"></span>
                            }
                            
                            <!--제품 이름 및 정보-->
                            <div class="product_info" onclick="window.location.href='@(Url.Action("Detail", "Shopping", new  { pcode=item.P_CODE }))';return false;">
                                <div class="photo"><img src="@string.Format("{0}R120_{1}",   myController._img_path_product, item.P_MAIN_IMG)" alt=""></div>
                                <div class="detail">
                                    <p class="tit">@item.P_NAME</p>
                                    <p class="stit">@item.P_SUB_TITLE</p>
                                </div>
                            </div>
                            <!--//제품 이름 및 정보-->
                            <!--리뷰-->
                            <div class="comments">
                                <div class="writer">
                                    <span class="skin @item.SKIN_TYPE_CSS"></span>
                                    <span class="id">@item.M_ID_LBL</span>
                                    <span class="userage"> @item.M_BIRTHDAY_LBL 대,  @item.M_SEX_LBL</span>
                                    
                                </div>
                                <div class="reviewtxt">
                                    @if (@item.IS_PHOTO == "Y")
                                    {
                                        if (item.ORDER_DETAIL_IDX != null)
                                        {
                                            <img src="@string.Format("{0}R308_{1}",  myController._img_path_review, item.ADD_IMAGE)" alt="">
                                        }
                                        else //구리뷰
                                        {
                                            <img src="@string.Format("{0}old/{1}",  myController._img_path_review, item.ADD_IMAGE)" alt="">
                                        }

                                    }
                                   
                                    <div class="txt txtdotdot">
                                       @Html.Raw( Server.HtmlDecode(  item.COMMENT ) )
                                        
                                    </div>
                                </div>
                            </div>
                            <!--//리뷰-->
                        </div>
                      }
                    </div>
                </div>
                <a href="#" class="btn_more" onclick="moreView(); return false;">더보기<i></i></a>

                <div class="no_data" style="display:none">
                    <img alt="" src="/aboutCom/images/common/ico_nodata2.gif">
                    <p class="txt">총 0개의 상품 리뷰가 있습니다.</p>
                </div>
            </div>
        </div>
        <!--//container-->
        <!--Footer-->
        @{ Html.RenderPartial("~/Views/AboutMePartial/_Footer.cshtml");}
        <!--//Footer-->

    </div>
    <!--//wrap-->

}

