@model AboutMe.Domain.Entity.Review.ReviewInProductDetailViewModel
@using AboutMe.Web.Front.Controllers
@using AboutMe.Web.Front.Common
@using System.Text.RegularExpressions
@using AboutMe.Domain.Entity.Product
@using AboutMe.Domain.Entity.Review

@using AboutMe.Common.Helper
@{
    Layout = null;
    var myController = ViewContext.Controller as ReviewController;
}

@*헬스 상품은 리뷰 안보이게 처리*@
@if (!ReviewHelper.CheckHealth( Model.P_CATE_CODE) )
{
    


<div class="pro_content">
    <div class="review_tab">
        <ul class="tabs">
            <!--
            <li class="cnt"><a href="#review1"><img src="/aboutCom/images/shopping/review_tab1.gif" alt="" /></a></li>
            <li><a href="#review2"><img src="/aboutCom/images/shopping/review_tab2.gif" alt="" /></a></li>
             -->
            <li class="cnt"><a href="#review1"><img src="/aboutCom/images/shopping/review_tab1.gif" alt="" /></a></li>
            <li><a href="#review2"><img src="/aboutCom/images/shopping/review_tab3.gif" alt="" /></a></li>
            <li><a href="#review3"><img src="/aboutCom/images/shopping/review_tab2.gif" alt="" /></a></li>
        </ul>


        <!--(신)상품리뷰 2015.10.12-->


        <div id="review1" class="tab_content" style="display:block">
            @{
                MyReviewPdtInputParam p = new MyReviewPdtInputParam();
                p.ORDER_DETAIL_IDX = 0;
                p.P_CODE = Model.Pcode;
                
            }
            <div class="btn_riviewenroll">
            @if (MemberInfo.IsMemberLogin() == true)
            { 
                <a href="#" onclick="PopupCenter('@Url.Action("Write", "Review", p)', '', 780, 600); return false;" class="btn_white_w120h38">상품리뷰 등록</a>
            }
            else
            {
                <a href="/MemberShip/Login?RedirectUrl=@Server.UrlEncode(Request.Url.OriginalString)" class="btn_white_w120h38">상품리뷰 등록</a>
            }
            </div>
            <!--리뷰 슬라이드-->
            <div class="pur_review accordion" style="display:@(Model.FreeReviews.Count > 0 ? "block" : "none")">
                @{
                        var i = 0;
                        var count = Model.FreeReviews.Count;

                }
                @foreach (var item in Model.FreeReviews)
                {
                    var cssClassName = "";
                    var selectContent = "";

                    if (i == 0)
                    {
                        cssClassName = "first";
                        selectContent = "cnt";
                    }
                    else if (i >= count - 1)
                    {
                        cssClassName = "last";
                    }
                    <div class="cont accordcont @cssClassName @selectContent">
                        <div class="subj accordsubject">
                            <div class="writer">
                                <span class="userage"><em class="skin @item.SKIN_TYPE_CSS" style="@(!ReviewHelper.CheckHealth(item.C_CATE_CODE) ? "" : "display:none")"></em><em class="@(!ReviewHelper.CheckHealth(item.C_CATE_CODE) ? "age" : "")">@(item.M_BIRTHDAY_LBL)대, @item.M_SEX_LBL</em></span>
                                <span class="id">@item.M_ID_LBL</span>
                            </div>
                            <p class="txtdotdot" style="">
                                @Html.Raw(item.COMMENT_SHORT)
                            </p>
                            @if (item.IS_PHOTO == "Y")
                            {
                                <span class="ico_photo">포토리뷰</span>
                            }
                            
                            @if (item.M_ID == MemberInfo.GetMemberId())
                            {
                                <!-- 수정 버튼 추가 -->
                                <a href="#" onclick="PopupCenter('@Url.Action(string.Format("Update/{0}", item.IDX), "Review")', '', 780, 690); return false;" class="btn_gray_w96h38 fs14 btn_modify">
                                    수정
                                </a>
                               <!-- //수정 버튼 추가 -->
                            }
                          </div>
                        <div class="contxt accordtxt">
                            <div class="writer">
                                <span class="userage"><em class="skin @item.SKIN_TYPE_CSS" style="@(!ReviewHelper.CheckHealth(item.C_CATE_CODE) ? "" : "display:none")"></em><em class="@(!ReviewHelper.CheckHealth(item.C_CATE_CODE) ? "age" : "")">@(item.M_BIRTHDAY_LBL)대, @item.M_SEX_LBL</em></span>
                                <span class="id">@item.M_ID_LBL</span>
                            </div>
                            @Html.Raw(item.COMMENT_HTML)
                            @if (item.IS_PHOTO == "Y")
                            {
                                <img src="@string.Format("{0}{1}", myController._img_path_review, item.ADD_IMAGE_PATH)" alt="" />
                            }
                        </div>
                    </div>
                            i++;
                }
            </div>
            <!--//리뷰 슬라이드-->

            <div class="no_data" style="display:@(Model.FreeReviews.Count > 0 ? "none" : "block")">
                <img src="/aboutCom/images/common/ico_nodata2.gif" alt="">
                <p class="txt">상품 리뷰가 없습니다.</p>
            </div>

            <!--페이징-->
            <div class="paging">

            </div>
            <!--//페이징-->
        </div>



        <!--- 2015.10.12 아래로 변경
        <div id="review1" class="tab_content" style="display:block">
        -->
        <!--구매리뷰 (구)상품리뷰 -->
        <div id="review2" class="tab_content" style="display:block">
            <div class="btn_riviewenroll">
                <a href="@Url.Action("Ready", "MyReview")" class="btn_white_w120h38">구매리뷰 등록</a>
            </div>
            <!--리뷰 슬라이드-->
            <div class="pur_review accordion" >
               
            </div>
            <!--//리뷰 슬라이드-->

            <div class="no_data" style="display:none;">
                <img src="/aboutCom/images/common/ico_nodata2.gif" alt="">
                <p class="txt">구매 리뷰가 없습니다.</p>
            </div>

            <!--페이징-->
            <div class="paging">

            </div>
            <!--//페이징-->
        </div>





        
        
       <!-- <div id="review2" class="tab_content"> 2015.10.12 아래로 변경 -->
        <!--체험단 리뷰-->
        <div id="review3" class="tab_content">
            <div class="btn_riviewenroll">
                <!--<a href="#" class="btn_white_w120h38">체험단 신청</a>-->
            </div>
            <!--체험단리뷰-->
            <div class="exp_review">
                <!--마지막 li에 last class 붙습니다.-->
                <ul></ul>
            </div>

            <div class="no_data" style="display:none;">
                <img src="/aboutCom/images/common/ico_nodata2.gif" alt="">
                <p class="txt">체험단 리뷰가 없습니다.</p>
            </div>


            <!--//체험단리뷰-->
            <!--리뷰상세팝업-->
            <div class="reviewpop_wrap">
                <div class="dim"></div>
                <div class="reviewpop">
                    <a href="#none" class="reviewpop_close" onclick="reviewpop_close()"><img src="/aboutCom/images/review/reviewpop_close.gif" alt="" /></a>
                    <!--reviewpop_top-->
                    <div class="reviewpop_top">
                        <div class="title_area">
                            <p class="title"></p>
                            <div class="tag">

                            </div>
                        </div>
                        <div class="writer">
                            <div class="userinfo">
                                <span id="skin_type" class=""></span>
                                <span class="age_gender"></span>
                            </div>

                            <div class="right">
                                <span class="id"></span>
                                <span class="date"></span>
                                <span class="hits">조회수 <em></em></span>
                            </div>
                        </div>
                    </div>
                    <!--//reviewpop_top-->
                    <!--reviewpop_bottom-->
                    <div class="reviewpop_bottom">
                        <div class="userinfo">
                            <span id="skin_type" class=""></span>
                            <span class="age_gender"></span>
                        </div>
                        <div class="reviewtxt">

                        </div>
                        <div class="reviewproduct">
                            <p class="title"><img src="/aboutCom/images/review/txt_review.gif" alt="리뷰상품" /></p>
                            <div class="pro_info">
                                <!--이미지사이즈 96x96-->
                                <div class="photo"><img src="" alt="" /></div>
                                <div class="detail">
                                    <p class="tit"></p>
                                    <p class="stit"></p>

                                </div>
                            </div>
                            <!--상품관련 기획전-->
                            <div class="plbanr">
                                <img src="" class="bnrimg" alt="">
                                <div class="txtarea">
                                    <div class="date"></div>
                                    <div class="bnr_txt"></div>
                                </div>
                            </div>
                            <!--//상품관련 기획전-->
                        </div>
                    </div>
                    <!--//reviewpop_bottom-->
                </div>
            </div>
            <!--//리뷰상세팝업-->
            <script type="text/javascript">

                function reviewpop_close() {
                    $(".reviewpop_wrap").hide();
                    $(".reviewpop_wrap").css({ "overflow-y": "hidden" });
                    $("html").css({ "overflow-y": "auto" });
                }
            </script>
            <!--페이징-->
            <div class="paging">

            </div>
            <!--//페이징-->
        </div>
    </div>
</div>

<script>

    window.review = {};

    var img_path_product = "@myController._img_path_product";
    var img_path_review = "@myController._img_path_review";


    function reviewReload(){

        //alert("review reload");
        review.getReviewFreeListByPageNo(1);
    }


    (function(){
        var exp_first = false;
        var buy_first = false;
        
        $(".review_tab .tabs li").click(function(){
        //console.log($(this).index());
        if ($(this).index() == 2 && !exp_first) {

            review.getReviewExpListByPageNo(1);

            exp_first = true;
        }else if($(this).index() == 1 && !buy_first) {

            review.getReviewProducListByPageNo(1);
            buy_first = true;
        }
    
        
      });

    //공통 이하
    var pcode ="@Model.Pcode";
    var img_path_review = "@myController._img_path_review";

    var pageNo = @Model.PageNo;
    var pageSize = @Model.PageSize;
    var blockSize = @Model.PageSize;

        //상품리뷰 총수
    var total = @Model.Total;

        /*
            init
        */
    $(function(){

        //구매리뷰 - (구)상품리뷰 페이징 초기화
        if(total > 0){
            paging(pageNo, pageSize, blockSize, total, $("#review1 .paging"), "review.getReviewFreeListByPageNo" );
            //------------------paging(pageNo, pageSize, blockSize, total, $("#review .paging"), "review.getReviewProducListByPageNo" );
        }
        
    });

        /**
            페이징 - 공통
        */
    function paging(pno, psize, pbloc, total, $target, callback) {
        var totalPage = Math.ceil(total / psize);
        var totalBlock = Math.ceil(totalPage / pbloc);

        var curBlock = Math.ceil(pno / pbloc);

        var endPageNo = curBlock * pbloc;
        if (endPageNo > totalPage) {
            endPageNo = totalPage;
        }
        var startPageNo = (curBlock - 1) * pbloc + 1;

        var prevStartPageNo;
        var nextEndPageNo;
        var isPrevBlock = false;
        var isNextBlock = false;
        if (1 < curBlock && curBlock < totalBlock) {
            isPrevBlock = true;
            isNextBlock = true;

            prevStartPageNo = startPageNo - 1;
            nextEndPageNo = endPageNo + 1;
        } else if (curBlock == 1 && totalBlock > 1) {
            isPrevBlock = false;
            isNextBlock = true;
            nextEndPageNo = endPageNo + 1;
        } else if (curBlock == totalBlock && totalBlock > 1) {
            isPrevBlock = true;
            isNextBlock = false;
            prevStartPageNo = startPageNo - 1;
        }

        var html = "";
        if(isPrevBlock)
        {
            html += " <a href='' class='prev' onclick='"+callback+"("+prevStartPageNo+");return false;'>이전</a>";
        }
        else
        {
            html += "<a href='#' class='prev' onclick='return false;'>이전</a>";
        }

        for (var i = startPageNo; i <= endPageNo; i++)
        {
            if (i == pno)
            {
                html += "<strong>["+ i +"]</strong>";
            }
            else
            {
                html += "<a href='' onclick='"+callback+"("+i+");return false;'>"+i+"</a>";
            }
        }

        if(isNextBlock)
        {
            html += " <a href='' class='next' onclick='"+callback+"("+nextEndPageNo+");return false;'>다음</a>";
        }
        else
        {
            html += "<a href='#' class='next' onclick='return false;'>다음</a>";
        }

        $target.html(html)

    }//end func


    /** ##############################################################################################################################
    
           (신)상품 리뷰 데이터 로드 - 2015.10.12  ==============================================================================[ START ]
    
    ###############################################################################################################################**/

        /**
                 구매리뷰 (구)상품리뷰 데이타 로드
         */
    review.getReviewFreeListByPageNo = function(no) {

        $.ajax({
            url: "@(Url.Action("GetReviewFreeListInShopping", "Review"))",
            type: "POST",
        dataType: "json",
        data: {
            P_CODE: pcode
            , PAGE_NO :no
        },
        success: function (data) {
            //console.log(data)
            if (data.Success) {
                if(data.FreeReviews.length > 0){
                    buildListFree(data.FreeReviews);
                    // paging(no, pageSize, blockSize, data.Total, $("#review1 .paging"), "review.getReviewProducListByPageNo" );
                    paging(no, pageSize, blockSize, data.Total, $("#review1 .paging"), "review.getReviewFreeListByPageNo" );
                }else{
                        
                }
                    

                    
            }else{


            }
        },
        error: function (e) {
            // console.log(e);
        }
    });
}//end func

        /**
         (신)상품리뷰 목록 구성
        */
   function buildListFree(dd) {



       var $container  = $("#review1 .pur_review")
    $container.empty();

    var cur_idx = 0 ;

    for (var i = 0; i < dd.length; i++) {
        var item = dd[i];

        var html = "";
        var cssClassName = "";
        var selectContent = "";
        if (i == 0)
        {
            cssClassName = "first";
            selectContent = "cnt";
        }
        else if (i >= dd.length - 1)
        {
            cssClassName = "last";
        }

        html = "<div class='cont accordcont "+cssClassName +" "+ selectContent+"'>";

        html += "<div class='subj accordsubject'>";

        html += "   <div class='writer'>";
        html += "      <span class='userage'><em class='skin "+item.SKIN_TYPE_CSS+ "' style='"+(item.C_CATE_CODE.substr(0, 3)!="102" ? "" :"display:none")+"' ></em><em class='"+( item.C_CATE_CODE.substr(0, 3)!="102" ? "age" :"" )+"'>"+item.M_BIRTHDAY_LBL+"대, "+item.M_SEX_LBL+"</em></span>";
        html += "        <span class='id'>"+item.M_ID_LBL+"</span>";
        html += "     </div>";


        html += "     <p class='txtdotdot' style=''>";


        html +=      item.COMMENT_SHORT;
        html += "                </p>";

        if (item.IS_PHOTO == 'Y')
        {
            html += "     <span class='ico_photo'>포토리뷰</span>";
        }

        cur_idx = item.IDX ;
        if (item.M_ID == '@MemberInfo.GetMemberId()')
        {
            
            html += "<a href='#' onclick=\"PopupCenter('/Review/Update/"+item.IDX+"', '', 780, 690); return false;\" class='btn_gray_w96h38 fs14 btn_modify'>" ;
            html +=   "수정" ;
            html += "</a>" ;
          
        }
        html += "</div>";
        html += " <div class='contxt accordtxt'>";
        html += "  <div class='writer'>";
        html += "                <span class='userage'><em class='skin "+item.SKIN_TYPE_CSS+ "' style='"+(item.C_CATE_CODE.substr(0, 3)!="102" ? "" :"display:none")+"'  ></em><em class='"+( item.C_CATE_CODE.substr(0, 3)!="102" ? "age" :"" )+"'>"+item.M_BIRTHDAY_LBL+"대, "+item.M_SEX_LBL+"</em></span>";
        html += "                <span class='id'>"+item.M_ID_LBL+"</span>";
        html += "          </div>";

        html += item.COMMENT_HTML;
        if (item.IS_PHOTO == "Y")
        {
            html += "          <img src='"+img_path_review+item.ADD_IMAGE_PATH+"' alt='' />";
        }
        html += "       </div>";



        html += "</div>";

        $container.append($(html));
    }

    /*아코디언타입 */
    $(".accordion .accordcont .accordtxt").hide();
    $(".accordion .accordcont.cnt .accordtxt").show();
    $(".accordion .accordcont .accordsubject").click(function(){
        if ( 'none' == $(this).parent().find(".accordtxt").css('display') ) {
            $(".accordion .accordcont .accordtxt").slideUp();
            $(this).parent().find(".accordtxt").slideDown();
            $(".accordcont").removeClass("cnt");
            $(this).parent().addClass("cnt");
        }
        else {
            $(".accordion .accordcont .accordtxt").slideUp();
            $(this).parent().removeClass("cnt");
        }
    });


    $(".txtdotdot").dotdotdot();

}//end func



/** ##############################################################################################################################
         
 (신)상품 리뷰 데이터 로드 - 2015.10.12  ==============================================================================[ END ]
         
###############################################################################################################################**/




    /**
            구매리뷰 (구)상품리뷰 데이타 로드
    */
    review.getReviewProducListByPageNo = function(no) {

        $.ajax({
            url: "@(Url.Action("GetReviewProductListInShopping", "Review"))",
            type: "POST",
            dataType: "json",
            data: {
                P_CODE: pcode
                , PAGE_NO :no
            },
            success: function (data) {
                //console.log(data)
                if (data.Success) {
                    if(data.Reviews.length > 0){
                        buildList(data.Reviews);
                        // paging(no, pageSize, blockSize, data.Total, $("#review1 .paging"), "review.getReviewProducListByPageNo" );
                        paging(no, pageSize, blockSize, data.Total, $("#review2 .paging"), "review.getReviewProducListByPageNo" );
                    }else{
                        
                    }
                    

                    
                }else{


                }
            },
            error: function (e) {
               // console.log(e);
            }
        });
    }//end func

        /**
           구매리뷰 (구)상품리뷰 목록 구성
        */
    function buildList(dd) {

        var $container  = $("#review2 .pur_review")
        $container.empty();


        for (var i = 0; i < dd.length; i++) {
            var item = dd[i];

            var html = "";
            var cssClassName = "";
            var selectContent = "";
            if (i == 0)
            {
                cssClassName = "first";
                selectContent = "cnt";
            }
            else if (i >= dd.length - 1)
            {
                cssClassName = "last";
            }

            html = "<div class='cont accordcont "+cssClassName +" "+ selectContent+"'>";

            html += "<div class='subj accordsubject'>";

            html += "   <div class='writer'>";
            html += "      <span class='userage'><em class='skin "+item.SKIN_TYPE_CSS+ "' style='"+(item.C_CATE_CODE.substr(0, 3)!="102" ? "" :"display:none")+"' ></em><em class='"+( item.C_CATE_CODE.substr(0, 3)!="102" ? "age" :"" )+"'>"+item.M_BIRTHDAY_LBL+"대, "+item.M_SEX_LBL+"</em></span>";
            html += "        <span class='id'>"+item.M_ID_LBL+"</span>";
            html += "     </div>";


            html += "     <p class='txtdotdot' style=''>";


            html +=      item.COMMENT_SHORT;
            html += "                </p>";

                            if (item.IS_PHOTO == 'Y')
            {
                                html += "     <span class='ico_photo'>포토리뷰</span>";
            }
                            html += "</div>";
                            html += " <div class='contxt accordtxt'>";
                            html += "  <div class='writer'>";
                            html += "                <span class='userage'><em class='skin "+item.SKIN_TYPE_CSS+ "' style='"+(item.C_CATE_CODE.substr(0, 3)!="102" ? "" :"display:none")+"'  ></em><em class='"+( item.C_CATE_CODE.substr(0, 3)!="102" ? "age" :"" )+"'>"+item.M_BIRTHDAY_LBL+"대, "+item.M_SEX_LBL+"</em></span>";
                            html += "                <span class='id'>"+item.M_ID_LBL+"</span>";
                            html += "          </div>";

                            html += item.COMMENT_HTML;
            if (item.IS_PHOTO == "Y")
            {
                                html += "          <img src='"+img_path_review+item.ADD_IMAGE_PATH+"' alt='' />";
                                }
                            html += "       </div>";



            html += "</div>";

            $container.append($(html));
        }

        /*아코디언타입 */
        $(".accordion .accordcont .accordtxt").hide();
        $(".accordion .accordcont.cnt .accordtxt").show();
        $(".accordion .accordcont .accordsubject").click(function(){
            if ( 'none' == $(this).parent().find(".accordtxt").css('display') ) {
                $(".accordion .accordcont .accordtxt").slideUp();
                $(this).parent().find(".accordtxt").slideDown();
                $(".accordcont").removeClass("cnt");
                $(this).parent().addClass("cnt");
            }
            else {
                $(".accordion .accordcont .accordtxt").slideUp();
                $(this).parent().removeClass("cnt");
            }
        });


        $(".txtdotdot").dotdotdot();

    }//end func


    /**
            체험단 리뷰 데이타 로드
    */
    review.getReviewExpListByPageNo = function(no) {

        $.ajax({
            url: "@(Url.Action("GetReviewExpListInShopping", "Review"))",
            type: "POST",
            dataType: "json",
            data: {
                P_CODE: pcode
                , PAGE_NO :no
            },
            success: function (data) {

                if (data.Success) {

                    //#review2 -> #review3 으로 모두 바꿈 - 2015.10.12 송선우
                    if(data.Reviews.length > 0){
                        buildList2(data.Reviews);

                        $("#review3 .no_data").hide();


                        paging(no, pageSize, blockSize, data.Total, $("#review3 .paging"), "review.getReviewExpListByPageNo" );

                    }else {
                        $("#review3 .no_data").show();
                       
                    }



                }else{


                }
            },
            error: function (e) {
              //  console.log(e);
            }
        });
    }//end func


        /**
            체험단 리뷰 목록 구성
        */
    function buildList2(dd) {

        var $container  = $(".exp_review ul")
        $container.empty();


        for (var i = 0; i < dd.length; i++) {
            var item = dd[i];

            var html = "";
            var cssClassName = "";

            if (i >= dd.length - 1)
            {
                cssClassName = "last";
            }

            html = "<li class='"+cssClassName+"'>";
            html += " <div class='writer'>";

            html += "<span class='userage'>";
            html += "<em class='skin "+item.SKIN_TYPE_CSS+"'  style='"+(item.SKIN_TYPE != undefined ? "" :"display:none")+"' >";
            html += "</em><em class='"+(item.SKIN_TYPE != undefined ? "age" :"")+"'>"+item.M_BIRTHDAY_LBL+"대, "+item.M_SEX_LBL+"</em>";
            html += "</span>";

            html += "<span class='idhit'>";
            html += "<em class='id'>"+item.M_ID_LBL+"</em>";
            html += "<em class='hits'>조회수 <em>"+item.VIEW_CNT+"</em></em>";
            html += "</span>";



            html += "     </div>";

            html += "    <div class='reviewcont' onclick=\"reviewpop_view("+item.IDX +",'"+item.P_CODE+"',this);return false;\">";
            html += "        <div class='photo'>";
            if (item.SUB_IMG_1 != undefined) {
                html += "             <img src='"+img_path_review+"R308_"+item.SUB_IMG_1+"' alt='' />";
            }
            
            html += "        </div>";
            html += "        <div class='detail'>";
            html += "            <div class='tag'>";

            /*tag common*/
            var arr = item.TAG.split("#");
            for(var k = 0; k < arr.length ; ++k){
                if (arr[k] != "") {
                    html += "<span>#" + arr[k] + "</span>\n";
                }
                
            }

            html += "            </div>";
            html += "            <div class='reviewtxt'>";
            html += "                <p class='tit'>"+ item.TITLE +"</p>";
            html += "               <p class='txt txtdotdot'>";
            html +=                     item.COMMENT_TEXT;
            html += "                        </p>";
            html += "                    </div>";
            html += "                 </div>";
            html += "            </div>";
            html += "       </li>";


            $container.append($(html));
        }

    }//end func


        //리뷰팝업
    window.reviewpop_view = function(aidx,pcode, my) {
       // console.log(aidx, pcode);
        $.ajax({
            url: "@(Url.Action("GetReviewExpDetail", "Review"))",
            type: "POST",
            dataType: "json",
            data: {
                ARTICLE_IDX: aidx, P_CODE: pcode
            },
            success: function (data) {
                //alert(data.success);
                //console.log(data);

                if (data.Success) {

                    var item = data.Detail;
                    //detail = item;
                    //console.log(item.TITLE);

                    $(".reviewpop_wrap .title_area .title").text( item.TITLE );

                    /*tag common*/
                    var arr = item.TAG.split("#");
                    var html = "";
                    for(var k = 0; k < arr.length ; ++k){
                        html += "<span>#" + arr[k] + "</span>\n";
                    }

                    $(".reviewpop_wrap .title_area .tag").html( html );

                    $(".reviewpop_wrap .writer .skin").removeClass();

                    $("#skin_type").addClass("skin " + item.SKIN_TYPE_CSS);

                    $(".reviewpop_wrap .writer .skin").text( item.SKIN_TYPE_LBL );
                    $(".reviewpop_wrap .writer .age_gender").text( item.M_BIRTHDAY_LBL +"대, "+ item.M_SEX_LBL );

                    $(".reviewpop_wrap .writer .id").text( item.SKIN_TYPE_LBL );
                    $(".reviewpop_wrap .writer .date").text( item.INS_DATE_LBL );
                    $(".reviewpop_wrap .writer .hits em").text( item.VIEW_CNT != undefined ? item.VIEW_CNT : 0 );

                    $(".reviewpop_bottom .reviewtxt").html( item.COMMENT );

                    $(".reviewpop_bottom .pro_info .photo img").attr("src", img_path_product + item.P_MAIN_IMG );
                    $(".reviewpop_bottom .pro_info .detail tit").text(item.P_NAME);
                    $(".reviewpop_bottom .pro_info .detail stit").text(item.P_SUB_TITLE);

                    $(my).parent().find(".writer .hits em").text(item.VIEW_CNT);


                    if(item.EXHIBIT_IDX != undefined){

                        $(".reviewpop_bottom .plbanr").attr("data-url", item.EXHIBIT_LINK_URL);

                        $(".reviewpop_bottom .plbanr img").attr("src", item.EXHIBIT_WEB_BANNER);
                        $(".reviewpop_bottom .plbanr .date").text(item.EXHIBIT_DATE);
                        $(".reviewpop_bottom .plbanr .bnr_txt").text( item.EXHIBIT_NAME);

                        $(".reviewpop_bottom .plbanr").show();
                    }else{
                        $(".reviewpop_bottom .plbanr").hide();
                    }

                    $("html").css({ "overflow-y": "hidden" });
                    $(".reviewpop_wrap").show();
                    $(".reviewpop_wrap").css({ "overflow-y": "auto" });

                    return;
                }

                //detail = undefined;
            },
            error: function (e) {
                //console.log(e);
                //detail = undefined;
            }
        });

    }
    })();
</script>
    
}