@model AboutMe.Common.Data.PagingProps

<div class="paging">

    @if (Model.BeforePage == 0)
    {
        <a href="#" class="prev"></a>
    }
    else
    {
        <a href="@(Html.Raw(Request.Url.LocalPath + "?" + "page=" + Model.BeforePage + "&" + Model.QStr))" class="prev"></a>
    }

    <strong>@Model.CurrentPage</strong> @(Html.Raw("/")) @Model.TotalNumOfPage
    
    @if (Model.NextPage == Model.CurrentPage)
    {
        <a href="#" class="next"></a>
    }
    else
    {
        <a href="@(Html.Raw(Request.Url.LocalPath + "?" + "page=" + Model.NextPage + "&" + Model.QStr))" class="next"></a>
    }
</div>


