@model  IEnumerable<AboutMe.Domain.Entity.AdminEtc.SP_APP_LOG_DETAIL_SEL_Result>

@{
    ViewBag.Title = "Index";
    Layout = null ;
}


<div class="content">
    <!--path-->
    <div class="path">
       <font color="Red" size="10"><b>aat Sala mal i cum? يرجى يوما سعيدا أيضا. الله معك!</b></font><br/>
        알라신이 오늘도 함께 하시길...
    </div>
    <!--//path-->

    <div class="tar mb10">
        
    </div>
    <div class="panel">
        <h4><font color="orange" size="5">꿀 에러뷰어 ver 1.0 Written by Cornerstone</font></h4>

        @{ var selected_str = "selected";}
        @using (Html.BeginForm("ErrIndex", "AdminPromotion", FormMethod.Post, new { id = "frm01", name = "frm01" }))
        {
            @Html.AntiForgeryToken()  //폼 데이터 위조 방지 토큰 생성


                                    <table class="table table_row">
                                        <colgroup><col width="20%" /><col width="*" /></colgroup>
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="vam">Klicken Sie hier</th>
                                                <td class="condition_seacth">
                                                    <select name="SearchCol" style="width:170px;">
                                                        <option>-사와디캅?-</option>
                                                        <option value="MEMB_ID" @if (ViewBag.SearchCol == "MEMB_ID") { @selected_str       ; }>회원아이디</option>
                                                        <option value="MODULE_ID" @if (ViewBag.SearchCol == "MODULE_ID"){ @selected_str          ; }>MODULE_ID</option>
                                                        <option value="ERR_MSG" @if (ViewBag.SearchCol == "ERR_MSG"){ @selected_str        ; }>에러메시지</option>
                                                        <option value="EMP_EMAIL" @if (ViewBag.SearchCol == "EMP_EMAIL"){ @selected_str         ; }>IP ADDRESS</option>
                                                    </select>  <input type="text" class="input-sm text-left" name="SearchKeyword" value="@ViewBag.SearchKeyword" />
                                                    <a href="javascript:document.frm01.submit();" >[點擊這裡]</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
        }
    </div>

    <div class="panel">
        <h4>꿀 에러 리스트</h4>
        <!-- 처음과 마지막  th, td에 각각 "brnone" class 사용합니다.-->
        <table border="1">
            <colgroup><col width="3%" /><col width="8%" /><col width="10%" /><col width="3%" /><col width="*" /><col width="6%" /><col width="6%" /><col width="8%" /><col width="10%" /><col width="10%" /></colgroup>
            <thead>
                <tr >
                    <th scope="col" class="brnone">SEQNO</th>
                    <th scope="col">ERR_DATE</th>
                    <th scope="col">MODULE_ID</th>
                    <th scope="col">PC/MOBILE</th>

                    <th scope="col">ERR_MSG</th>
                    <th scope="col">COMPUTER_NAME</th>
                    <th scope="col">USER_IP</th>
                    <th scope="col">MEMB_ID</th>

                    <th scope="col">POST_DATA</th>
                    <th scope="col">HTTP_COOKIE</th>
           
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td >@item.SEQNO</td>

                        <td >@item.ERR_DATE.ToString() </td>
                        <td>@item.MODULE_ID </td>
                        <td>@item.EMP_NAME </td>

                        <td><font color="brown">@item.ERR_MSG</font> </td>
                        <td>@item.COMPUTER_NAME </td>
                        <td>@item.EMP_EMAIL </td>
                        <td>@item.MEMB_ID </td>

                        <td>@item.POST_DATA </td>
                        <td>@item.HTTP_COOKIE </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @{Html.RenderAction("Paging", "CommonChildAction", new { TotalRecord = ViewBag.TotalRecord, RecordPerPage = ViewBag.PageSize, PagePerBlock = 10, CurrentPage = ViewBag.Page, QueryStr = "SearchCol=" + ViewBag.SearchCol + "&SearchKeyword=" + ViewBag.SearchKeyword });}












 

</div>


