@*@model AboutMe.Domain.Entity.AdminPromotion.TB_PROMOTION_BY_PRODUCT*@

@model AboutMe.Web.Admin.Controllers.AdminPromotionController.MyMultiModelForCreateProduct

@{
    Layout = "~/Views/Shared/_AboutMeAdminLayoutA.cshtml";
}

@functions{

    //시작일자가 현재보다 이전인지
    protected bool IsOverStartTime(DateTime StartDate)
    {

        bool rtn = false;

        if (DateTime.Now > StartDate)
        {
            rtn = true;
        }


        return rtn;
    }


    //종료일자가 지났는지
    protected bool IsOverEndingTime(DateTime ToDate)
    {

        bool rtn = false;

        if (DateTime.Now > ToDate)
        {
            rtn = true;
        }


        return rtn;
    }

}

@section Scripts{

    @if (TempData["jsMessage"] != null && TempData["jsMessage"] != "")
    {
        if (TempData["jsMessage"] == "-1")
        {
            <text>
                <script language='javascript'>alert('데이터 insert 과정에서 에러 발생.')</script>
            </text>
        }

        if (TempData["jsMessage"] == "-2")
        {
            <text>
                <script language='javascript'>alert('동일 날짜대에 같은 종류의 (활성화된)프로모션이 존재합니다.')</script>
            </text>
        }

        if (TempData["jsMessage"] == "-3")
        {
            <text>
                <script language='javascript'>alert('프로모션 시작시간과 종료시간을 확인하세요.')</script>
            </text>
        }

        
        if (TempData["jsMessage"] == "-5")
        {
            <text>
                <script language='javascript'>alert('시작일시를 현재보다 이전으로 변경할 수 없습니다.')</script>
            </text>
        }
        if (TempData["jsMessage"] == "-6")
        {
            <text>
                <script language='javascript'>alert('종료일시를 현재보다 이전으로 변경할 수 없습니다.')</script>
            </text>
        }

        if (TempData["jsMessage"] == "-7")
        {
            <text>
                <script language='javascript'>alert('변경하고자 하는 시간대의 다른 프로모션들에 중복된 상품이 있습니다.')</script>
            </text>
        }
    }


    <script language="javascript">

        function frmCheck() {
            //alert("여기입니다");

            var f = document.frm01;

            /**
            if (f.SEL_PMO_PRODUCT_CATEGORY.value == '') {
                alert("프로모션 종류를 선택하세요.");
                f.SEL_PMO_PRODUCT_CATEGORY.focus();
                return false;
            }
            **/

        }



        function setProductCategory(obj_selectbox, sel_index) {

            // alert(obj_selectbox[sel_index].value);
            var f = document.frm01;
            f.inst_TB_PROMOTION_BY_PRODUCT_PMO_PRODUCT_CATEGORY.value = obj_selectbox.options[sel_index].value;

            //alert(obj_selectbox[sel_index].value);

            if (obj_selectbox[sel_index].value == "01") //세트상품
            {

                f.inst_TB_PROMOTION_BY_PRODUCT_PMO_SET_DISCOUNT_CNT.disabled = false;
                f.inst_TB_PROMOTION_BY_PRODUCT_PMO_ONEONE_MULTIPLE_CNT.disabled = true;

            }

            if (obj_selectbox[sel_index].value == "02") //1+1
            {
                f.inst_TB_PROMOTION_BY_PRODUCT_PMO_SET_DISCOUNT_CNT.disabled = true;
                f.inst_TB_PROMOTION_BY_PRODUCT_PMO_ONEONE_MULTIPLE_CNT.disabled = false;

            }

            if (obj_selectbox[sel_index].value == "03") //일반품별할인
            {
                f.inst_TB_PROMOTION_BY_PRODUCT_PMO_SET_DISCOUNT_CNT.disabled = true;
                f.inst_TB_PROMOTION_BY_PRODUCT_PMO_ONEONE_MULTIPLE_CNT.disabled = true;
            }

        }


    </script>

}

@section Left {

    @{Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminLeft.cshtml");}
}

@section Header{
    @{ Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminHeader.cshtml");}
}

@section Body{

    <div class="content">
        <!--path-->
        <div class="path">
            <a href="/index.asp">HOME</a> &gt; <a href="#">환경설정</a> &gt; <a href="#">전체운영설정</a> &gt; <strong>배송설정</strong>
        </div>
        <!--//path-->

        <div class="panel">
            <h3 class="sub-header">상품별 할인 프로모션 수정</h3>

            @using (Html.BeginForm("PrdUpdate", "AdminPromotion", FormMethod.Post, new { id = "frm01", name = "frm01", onsubmit = "return frmCheck();" }))
            {
                @Html.AntiForgeryToken()  //폼 데이터 위조 방지 토큰 생성


            <input type="hidden" name="CdPromotionProduct" value="@Request["CdPromotionProduct"]" />
            <input type="hidden" name="orgin_date_from" value="@Model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_DATE_FROM" />
            <input type="hidden" name="orgin_date_to" value="@Model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_DATE_TO" />

                                        <table class="table table_row">
                                            <colgroup><col width="25%" /><col width="75%" /></colgroup>
                                            <tbody>

                                                <tr>
                                                    <th>프로모션명 </th>
                                                    <td>@Html.TextBoxFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_NAME, new { cssClass = "input-sm text-left" })  <font color="red">@Html.ValidationMessageFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_NAME)</font></td>

                                                </tr>
                                                <tr>
                                                    <th>프로모션 종류 </th>
                                                    <td>
                                                        @Html.HiddenFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_CATEGORY)  <font color="red">@Html.ValidationMessageFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_CATEGORY)</font>

                                                        @Model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_CATEGORY_NAME;
                                                        @* 상품프로모션 기간시작이전/이후 모두 프로모션 카테고리는 변경불가 
                                                        @if (IsOverStartTime(Convert.ToDateTime(Model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_DATE_FROM)) != true)
                                                        {
                                                            <text>
                                                                <select name="SEL_PMO_PRODUCT_CATEGORY" style="width:270px;" onchange="setProductCategory(this,this.selectedIndex);">
                                                                    <option value="">==선택==</option>
                                                                    <option value="01">세트상품</option>
                                                                    <option value="02">1+1 프로모션</option>
                                                                    <option value="03">일반 품별할인(타임세일포함)</option>
                                                                </select>
                                                            </text>
                                                        }
                                                        else
                                                        {
                                                            @Model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_CATEGORY_NAME;
                                                        }*@
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>프로모션 Main Title </th>
                                                    <td>@Html.TextAreaFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_MAIN_TITLE, new { cssClass = "input-sm text-left" }) </td>

                                                </tr>
                                                <tr>
                                                    <th>프로모션 Sub Title </th>
                                                    <td>@Html.TextAreaFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_SUB_TITLE, new { cssClass = "input-sm text-left" })</td>

                                                </tr>
                                                <tr>
                                                    <th>프로모션 쇼핑팁 </th>
                                                    <td>@Html.TextAreaFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_SHOPPING_TIP, new { cssClass = "input-sm text-left" })</td>

                                                </tr>

                                              
                                                 <tr>
                                                    <th>정률/정액 </th>
                                                    <td>
                                                        @if (Model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_RATE_OR_MONEY == "R")
                                                        {
                                                            @:정률할인 (%)
                                                        }
                                                        @if (Model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_RATE_OR_MONEY == "M")
                                                        {
                                                            @:정액할인
                                                        }
                                                    
                                                    
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <th>할인율 </th>
                                                    <td>@Html.TextBoxFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_DISCOUNT_RATE, new { cssClass = "input-sm text-left" , Readonly ="true"})  @Html.ValidationMessageFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_DISCOUNT_RATE)</td>

                                                </tr>
                                                <tr>
                                                    <th>할인액 </th>
                                                    <td>@Html.TextBoxFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_DISCOUNT_MONEY, new { cssClass = "input-sm text-left", Readonly = "true" })  @Html.ValidationMessageFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_DISCOUNT_MONEY)</td>

                                                </tr>
                                                

                                                <tr>
                                                    <th>세트상품 할인적용 기준 종류수 </th>
                                                    <td>
                                                        @if (IsOverStartTime(Convert.ToDateTime(Model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_DATE_FROM)) != true)
                                                        {
                                                            @Html.TextBoxFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_SET_DISCOUNT_CNT, new { cssClass = "input-sm text-left" }) <TEXT>종류 구매시 할인</TEXT>
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_SET_DISCOUNT_CNT, new { cssClass = "input-sm text-left", Readonly = true }) <TEXT><font color="red"><b>수정불가</b></font> 종류 구매시 할인</TEXT>
                                                        }
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <th>1+1 추가증정 배수  </th>
                                                    <td>
                                                        @if (IsOverStartTime(Convert.ToDateTime(Model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_DATE_FROM)) != true)
                                                        {
                                                            @Html.TextBoxFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_ONEONE_MULTIPLE_CNT, new { cssClass = "input-sm text-left" }) <text>( <font color="red">ex:</font> ) (*)1+1의 경우 기본적으로 '2' 를 입력합니다 </text>

                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_ONEONE_MULTIPLE_CNT, new { cssClass = "input-sm text-left", Readonly = true }) <text> <font color="red"><b>수정불가</b></font>  (*) 1+1의 경우 기본적으로 '2' 를 입력합니다</text>

                                                        }
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <th>프로모션시작일시 (YYYY-MM-DD) </th>
                                                    <td>

                                                        @if (IsOverStartTime(Convert.ToDateTime(Model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_DATE_FROM)) != true)
                                                        {  
                                                            @Html.TextBoxFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_DATE_FROM, new { cssClass = "input-sm text-left" })  @Html.ValidationMessageFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_DATE_FROM)
                                                        }
                                                        else
                                                        {  //이미 시작한 프로모션이면 수정불가능 => Readonly
                                                            @Html.TextBoxFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_DATE_FROM, new { cssClass = "input-sm text-left",ReadOnly =true })  @Html.ValidationMessageFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_DATE_FROM)

                                                        }
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <th>프로모션종료일시 (YYYY-MM-DD) </th>
                                                    <td>
                                                        @if (IsOverEndingTime(Convert.ToDateTime(Model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_DATE_TO)) != true)
                                                        { //종료일자가 지나지 않았을때에만 수정가능
                                                            @Html.TextBoxFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_DATE_TO, new { cssClass = "input-sm text-left" })  @Html.ValidationMessageFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_DATE_TO)
                                                        }
                                                        else
                                                        { //Readonly
                                                            @Html.TextBoxFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_DATE_TO, new { cssClass = "input-sm text-left",Readonly = true })  @Html.ValidationMessageFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].PMO_PRODUCT_DATE_TO) <text><font color="red"><b>수정불가</b></font></text>
                                                        }

                                                    </td>

                                                </tr>
                                                <tr>
                                                    <th>활성화/비활성화 </th>
                                                    <td>@Html.RadioButtonFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].USABLE_YN, "Y")  활성화  @Html.RadioButtonFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].USABLE_YN, "N") 비활성화 @Html.ValidationMessageFor(model => model.inst_PROMOTION_BY_PRODUCT_DETAIL_SEL_Result[0].USABLE_YN)</td>

                                                </tr>


                                                <tr>
                                                    <th>저장</th>
                                                    <td>
                                                        <input type="submit" value="저장" class="btn btn-default middium" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

            }
        </div>

        <div class="btn_area">
            <a class="btn btn-default middium" href="/AdminPromotion/PrdIndex"> 리스트로 돌아가기 </a>
        </div>


    </div>
}

