@model AboutMe.Domain.Entity.Product.SP_PRODUCT_DETAIL_VIEW_Result
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AboutMeLayoutA.cshtml";
}
@{
    string DomainUrl = "http://"+HttpContext.Current.Request.Url.Host;
    string thumb_img1 = ViewBag.PRODUCT_PATH + "R64_" + Model.MAIN_IMG;
    string big_img1 = ViewBag.PRODUCT_PATH + "R500_" + Model.MAIN_IMG;
    string meta_big_img1 = DomainUrl + ViewBag.PRODUCT_PATH + "R500_" + Model.MAIN_IMG;
    string thumb_img2 = ViewBag.PRODUCT_PATH + "R64_" + Model.OTHER_IMG1;
    string big_img2 = ViewBag.PRODUCT_PATH + "R500_" + Model.OTHER_IMG1;
    string thumb_img3 = ViewBag.PRODUCT_PATH + "R64_" + Model.OTHER_IMG2;
    string big_img3 = ViewBag.PRODUCT_PATH + "R500_" + Model.OTHER_IMG2;
    string thumb_img4 = ViewBag.PRODUCT_PATH + "R64_" + Model.OTHER_IMG3;
    string big_img4 = ViewBag.PRODUCT_PATH + "R500_" + Model.OTHER_IMG3;

    string preUrl = HttpContext.Current.Request.Url.ToString();
}
@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}
    <link href="/aboutCom/css/shoping.css" rel="stylesheet" />
<meta property="fb:app_id" content="817303641716698" />
<meta property="og:type" content="website" />
<meta property="og:title" content="상품 상세페이지" />
<meta property="og:url" content="@preUrl" />
<meta property="og:description" content="상품설명" />
<meta property="og:image" content="@meta_big_img1" />
<meta property="og:site_name" content="@DomainUrl" />

}


<!--header-->
@section Header{
}
<!--//header-->

@section Scripts{

    <script language="javascript">

        $(function () {
            //ajaxSelectCateCodeJavascriptInit();
        });

        function isJJimLogin() {
            if (confirm('로그인 후 찜을 저장할 수 있습니다.\n로그인페이지로 이동하시겠습니까?')) {
                location.href = '/MemberShip/Login?RedirectUrl=/Shopping/Detail?pcode=@ViewBag.P_CODE&page=@ViewBag.PAGE&pagesize=@ViewBag.PAGESIZE&SORT_GBN=@ViewBag.SORT_GBN&P_CATE_CODE=@ViewBag.P_CATE_CODE&C_CATE_CODE=@ViewBag.C_CATE_CODE&L_CATE_CODE=@ViewBag.L_CATE_CODE&P_CATE_CODE_3DEPTH=@ViewBag.P_CATE_CODE_3DEPTH&DEPTH_NAME3=@ViewBag.DEPTH_NAME3';
                return;
            }
        }

        function sendSns(sns, url, txt) {
            var o;
            var _url = encodeURIComponent(url);
            var _txt = encodeURIComponent(txt);
            var _br = encodeURIComponent('\r\n');

            switch (sns) {
                case 'facebook':
                    o = {
                        method: 'popup',
                        url: 'http://www.facebook.com/sharer/sharer.php?u=' + _url
                    };
                    break;

                case 'twitter':
                    o = {
                        method: 'popup',
                        url: 'http://twitter.com/intent/tweet?text=' + _txt + '&url=' + _url
                    };
                    break;

                case 'me2day':
                    o = {
                        method: 'popup',
                        url: 'http://me2day.net/posts/new?new_post[body]=' + _txt + _br + _url + '&new_post[tags]=epiloum'
                    };
                    break;

                case 'kakaotalk':
                    o = {
                        method: 'web2app',
                        param: 'sendurl?msg=' + _txt + '&url=' + _url + '&type=link&apiver=2.0.1&appver=2.0&appid=dev.epiloum.net&appname=' + encodeURIComponent('Epiloum 개발노트'),
                        a_store: 'itms-apps://itunes.apple.com/app/id362057947?mt=8',
                        g_store: 'market://details?id=com.kakao.talk',
                        a_proto: 'kakaolink://',
                        g_proto: 'scheme=kakaolink;package=com.kakao.talk'
                    };
                    break;

                case 'kakaostory':
                    o = {
                        method: 'web2app',
                        param: 'posting?post=' + _txt + _br + _url + '&apiver=1.0&appver=2.0&appid=dev.epiloum.net&appname=' + encodeURIComponent('Epiloum 개발노트'),
                        a_store: 'itms-apps://itunes.apple.com/app/id486244601?mt=8',
                        g_store: 'market://details?id=com.kakao.story',
                        a_proto: 'storylink://',
                        g_proto: 'scheme=kakaolink;package=com.kakao.story'
                    };
                    break;

                case 'band':
                    o = {
                        method: 'web2app',
                        param: 'create/post?text=' + _txt + _br + _url,
                        a_store: 'itms-apps://itunes.apple.com/app/id542613198?mt=8',
                        g_store: 'market://details?id=com.nhn.android.band',
                        a_proto: 'bandapp://',
                        g_proto: 'scheme=bandapp;package=com.nhn.android.band'
                    };
                    break;

                default:
                    alert('지원하지 않는 SNS입니다.');
                    return false;
            }

            switch (o.method) {
                case 'popup':
                    window.open(o.url);
                    break;

                case 'web2app':
                    if (navigator.userAgent.match(/android/i)) {
                        // Android
                        setTimeout(function () { location.href = 'intent://' + o.param + '#Intent;' + o.g_proto + ';end' }, 100);
                    }
                    else if (navigator.userAgent.match(/(iphone)|(ipod)|(ipad)/i)) {
                        // Apple
                        setTimeout(function () { location.href = o.a_store; }, 200);
                        setTimeout(function () { location.href = o.a_proto + o.param }, 100);
                    }
                    else {
                        alert('이 기능은 모바일에서만 사용할 수 있습니다.');
                    }
                    break;
            }
        }

    </script>
}

<!--container-->
@section Body{
    
    <div class="wrap detail">
        @{ Html.RenderPartial("~/Views/AboutMePartial/_Header.cshtml");}
     <div id="container">
            <h2>본문시작</h2>
            <div class="container1080">
                <!--path-->
                <div class="path">
                    <a href="#" class="home"><img src="/aboutCom/images/common/ico_home.png" alt="home" /></a>
                    <a href="/shopping/Index?p_cate_code=@ViewBag.P_CATE_CODE">@ViewBag.DEPTH1_NAME</a>
                    <span>@ViewBag.DEPTH2_NAME</span>
                </div>
                <!--//path-->
                <!--detail_top : 상품정보-->
                <div class="detail_top">
                    <!--상품사진-->
                    <div class="photo_area">
                        <div class="thumb_area">
                            <!--썸네일 이미지 등록 시 ul의 li 사용-->
                            <!--
                            작은 이미지 클릭 시 큰 이미지가 보여집니다. 작은 썸네일의 기본크기는 64X64입니다.
                        -->
                            <ul>
                                @if (!string.IsNullOrEmpty(Model.MAIN_IMG))
                                { <li class="cnt"><img src="@thumb_img1" data-pic="@big_img1" alt="" width="64" height="64"/><i></i></li>}
                                @if (!string.IsNullOrEmpty(Model.OTHER_IMG1))
                                { <li><img src="@thumb_img2" data-pic="@big_img2" alt="" width="64" height="64" /><i></i></li>}
                                @if (!string.IsNullOrEmpty(Model.OTHER_IMG2))
                                { <li><img src="@thumb_img3" data-pic="@big_img3" alt="" width="64" height="64" /><i></i></li> }
                                @if (!string.IsNullOrEmpty(Model.OTHER_IMG3))
                                {<li><img src="@thumb_img4" data-pic="@big_img4" alt="" width="64" height="64" /><i></i></li> }
                            </ul>
                            <!--동영상 업로드가 있을 시 사용-->
                            @if (!string.IsNullOrEmpty(Model.MV_URL))
                            { 
                            <div class="movie_thumb">
                                <img src="/aboutCom/images/shopping/thumb_move.jpg" class="viewmv" alt="" /><i></i>
                                <!--해당영상-->
                                <div class="lydim"></div>
                                <div class="lymv">
                                    <a href="#" class="mv_close">닫기</a>
                                    <div class="mv">
                                        <iframe width="640" height="390" src="@Model.MV_URL" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <!--//해당영상-->
                            </div>
                            }    
                            <!--//동영상 업로드가 있을 시 사용-->
                        </div>
                        <div class="large_area">
                            <!--500 x 500 이미지 사용-->
                            @if (!string.IsNullOrEmpty(Model.MAIN_IMG)){ <img src="@big_img1" alt="" />}
                        </div>
                    </div>
                    <!--//상품사진-->
                    <!--상품정보-->
                    <div class="info_area">
                        <!--sns버튼-->
                        <div class="sns">
                            <ul>
                                <li><a href="javascript:sendSns('facebook','@preUrl','@Model.P_NAME')"><img src="/aboutCom/images/common/sns_facebook.gif" alt="페이스북" /></a></li>
                                <li><a href="javascript:sendSns('kakaostory','@preUrl','@Model.P_NAME')" ><img src="/aboutCom/images/common/sns_kakaostory.gif" alt="카카오스토리" /></a></li>
                                <li><a href="javascript:sendSns('kakaotalk','@preUrl','@Model.P_NAME')" ><img src="/aboutCom/images/common/sns_kakaotalk.gif" alt="카카오톡" /></a></li>
                            </ul>
                        </div>
                        <!--//sns버튼-->
                        
    
                        <!--상품해당아이콘-->
                        <div class="ico_area">
                            @if (!string.IsNullOrEmpty(Model.ICON_YN))
                            {
                                if (Model.ICON_YN.IndexOf('B') != -1)
                                { <text> <span class="ico_best">BEST</span></text> }
                                if (Model.ICON_YN.IndexOf('S') != -1)
                                { <text> <span class="ico_soldout">SOLD OUT</span></text> }
                                if (Model.ICON_YN.IndexOf('N') != -1)
                                { <text> <span class="ico_new">NEW</span></text> }
                                if (Model.ICON_YN.IndexOf('C') != -1)
                                { <text> <span class="ico_custom ">커스텀</span></text> }
                            }
                            @if (!string.IsNullOrEmpty(Model.PMO_PRODUCT_CATEGORY))
                            {
                                if (Model.PMO_PRODUCT_CATEGORY == "01")
                                { <text> <span class="ico_set">SET</span></text> }
                                if (Model.PMO_PRODUCT_CATEGORY == "02")
                                { <text> <span class="ico_1_1">1+1</span></text> }
                                if (Model.PMO_PRODUCT_CATEGORY == "03")
                                { <text> <span class="ico_time">TIME</span></text> }
                            }
                            @if (!string.IsNullOrEmpty(Model.COUPON_CODE))
                            {
                                <text> <span class="ico_coupon">COUPON</span></text>
                            }
                        </div>
                        <!--//상품해당아이콘-->
                        <div class="pro_tit">
                            <!--각각 2줄씩 제한-->
                            <p class="tit">@(new HtmlString(Model.P_NAME))</p>
                            <p class="stit">@(new HtmlString(Model.P_SUB_TITLE))</p>
                        </div>
                        <div class="pro_info">
                            <ul>
                                <li class="price">
                                    <strong>판매가</strong>
                                    <del>@string.Format("{0:#,##0}", Model.SELLING_PRICE)원</del><span class="curprice"><em>@string.Format("{0:#,##0}", Model.RESULT_PRICE)</em>원</span>
                                </li>
                                <!--쿠폰, 임직원가, 포인트 -->
                                @{Html.RenderAction("ProductDetailSalePrice", "ChildActionPromotion", new { UsableDeviceGbn = "P", P_CODE = @ViewBag.P_CODE, ResultPrice = @Model.RESULT_PRICE });}
                                <li>
                                    <strong>구입개수</strong>
                                    <div class="counttypeb">
                                        <input type='text' name='count' id='product_num_count' value='1' size='3' readonly />
                                        <span class="btn_updown">
                                            <a href="javascript:fncAdd(1);" class="up"><i>up</i></a>
                                            <a href="javascript:fncAdd(-1);" class="down"><i>down</i></a>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="btn_group">
                                <a href="#" class="btn_brown_w160h60" onclick="javascript:NowOrderInput('@Model.P_CODE',$('#product_num_count').val());">바로 구매</a>
                                <a href="#" class="btn_white_w148h60" onclick="javascript:Cart_Product_Input('@Model.P_CODE',$('#product_num_count').val());"><img src="/aboutCom/images/common/ico_cart3.png" class="cartimg" alt="" />쇼핑백</a>
                                @{
                                   bool bLogin = ViewBag.IS_LOGIN;  //로그인 정보는 ViewBag 에 담겨져 있을것
                                 }
                                 @if (bLogin)  //로그인 상황
                                {
                                <a href="#" class="btn_white_w148h60" onclick="javascript:Wish_Product_Input('@Model.P_CODE');"><img src="/aboutCom/images/common/ico_heart.png" class="wishimg" alt="" />찜하기</a>
                                }
                                 else
                                 {
                                    <a href="#" class="btn_white_w148h60" onclick="javascript:isJJimLogin();"><img src="/aboutCom/images/common/ico_heart.png" class="wishimg" alt="" />찜하기</a>
                                 }

                            </div>
                       
                    </div>
                    <!--//상품정보-->
                    <!-- cartinfo -->
                    <div class="ly cartinfo boxtypee">
                        <div class="top"></div>
                        <div class="middle">
                            <p class="txt"><em>8</em>명 고객님이<br />쇼핑백에 담았습니다.</p>
                            <a href="javascript:void(0)" class="ly_close"></a>
                        </div>
                        <div class="bottom"></div>
                    </div>
                    <!-- //cartinfo -->
                </div>
                <!--//detail_top : 상품정보-->
                <!--detail_bottom : 사용자 보유정보 , 제품상세정보 -->
                <div class="detail_bottom">
                    <!--왼쪽영역 : 이벤트 배너, 연관상품, 상품정보, 리뷰, 품질보증 제공-->
                    <div class="left_area">
                        <!--event_banner : 이벤트 상세페이지로 이동 dykim-->
                        @{Html.RenderAction("BannerInProductDetail", "ChildActionDisplayer", new { P_CODE = @ViewBag.P_CODE });}
                        <!--//event_banner : 이벤트 상세페이지로 이동-->
                        <!--상세정보, 리뷰, 품질보증/배송관련 tab-->
                        <div class="product_tab">

                            <!--상세정보-->
                            <div class="menu" id="tabCon1">
                                <a href="#"><img src="/aboutCom/images/shopping/img_top.gif" class="btn_top" alt="top" /></a>
                                <!--tab메뉴-->
                                <ul class="protabs">
                                    <li class="cnt"><a href="#tabCon1"><img src="/aboutCom/images/shopping/txt_tab1.gif" alt="상세정보" /></a></li>
                                    <li><a href="#tabCon2"><img src="/aboutCom/images/shopping/txt_tab2.gif" alt="리뷰" /></a></li>
                                    <li><a href="#tabCon3"><img src="/aboutCom/images/shopping/txt_tab3.gif" alt="품질보증/배송관련" /></a></li>
                                </ul>
                                <!--//tab메뉴-->
                            </div>

                            <!--관련상품-->
                            <div class="related_product">
                                @(new HtmlString(Model.P_INFO_DETAIL_WEB))
                            </div>
                            <!--//상세정보-->
                            <div class="menu" id="tabCon2">
                                <a href="#"><img src="/aboutCom/images/shopping/img_top.gif" class="btn_top" alt="top" /></a>
                                <!--tab메뉴-->
                                <ul class="protabs">
                                    <li><a href="#tabCon1"><img src="/aboutCom/images/shopping/txt_tab1.gif" alt="상세정보" /></a></li>
                                    <li class="cnt"><a href="#tabCon2"><img src="/aboutCom/images/shopping/txt_tab2.gif" alt="리뷰" /></a></li>
                                    <li><a href="#tabCon3"><img src="/aboutCom/images/shopping/txt_tab3.gif" alt="품질보증/배송관련" /></a></li>
                                </ul>
                                <!--//tab메뉴-->
                            </div>
                            <!--리뷰 dykim-->
                            @{Html.RenderAction("ReviewInShoppingDetail", "Review", new { P_CODE = @ViewBag.P_CODE });}
                            <!--//리뷰-->
                            <!--품질보증-->
                            <div class="menu" id="tabCon3">
                                <a href="#"><img src="/aboutCom/images/shopping/img_top.gif" class="btn_top" alt="top" /></a>
                                <!--tab메뉴-->
                                <ul class="protabs">
                                    <li><a href="#tabCon1"><img src="/aboutCom/images/shopping/txt_tab1.gif" alt="상세정보" /></a></li>
                                    <li><a href="#tabCon2"><img src="/aboutCom/images/shopping/txt_tab2.gif" alt="리뷰" /></a></li>
                                    <li class="cnt"><a href="#tabCon3"><img src="/aboutCom/images/shopping/txt_tab3.gif" alt="품질보증/배송관련" /></a></li>
                                </ul>
                                <!--//tab메뉴-->
                            </div>
                            <div class="pro_content">
                                <div class="quality_assurance">
                                    <ul>
                                        <li>
                                            <div class="cont">
                                                <p class="quality_tit">품질 보증 기준</p>
                                                <p class="quality_txt">
                                                    본 제품은 구입 시 유통기한이 경과 되었거나 유통 과정 중 변질, 변패 또는 파손된 제품일 경우에는 소비자기본법에 따른 소비자분쟁해결기준에 의거 교환 또는 보상을 받을 수 있습니다.
                                                </p>
                                            </div>
                                            <div class="cont">
                                                <p class="quality_tit">소비자 상담 연락처</p>
                                                <p class="quality_txt">
                                                    080-740-7983
                                                </p>
                                            </div>
                                            <div class="cont">
                                                <p class="quality_tit">사용시 주의사항</p>
                                                <p class="quality_txt">
                                                    1. 화장품을 사용하여 다음과 같은 이상이 있는 경우에는 사용을 중지하여야 하며, 계속 사용하면 증상이 악화되므로 피부과 전문의 등에게 상담할 것<br />
                                                    &nbsp;&nbsp;&nbsp;&nbsp;가) 사용 중 붉은 반점, 부어오름, 가려움증, 자극 등의 이상이 있는 경우<br />
                                                    &nbsp;&nbsp;&nbsp;&nbsp;나) 적용부위가 직사광선에 의하여 위와 같은 이상이 있는 경우<br />
                                                    2. 상처가 있는 부위, 습진 및 피부염 등의 이상이 있는 부위에는 사용을 하지 말 것<br />
                                                    3.(스크럽 제품의 경우) 사용시 입자가 눈에 들어가지 아니하도록 할 것<br />
                                                    4. 보관 및 취급 시의 주의사항<br />
                                                    &nbsp;&nbsp;&nbsp;&nbsp;가) 사용후에는 반드시 마개를 닫아둘 것<br />
                                                    &nbsp;&nbsp;&nbsp;&nbsp;나) 유아,소아의 손이 닿지 않는 곳에 보관할 것<br />
                                                    &nbsp;&nbsp;&nbsp;&nbsp;다) 고온 또는 저온의 장소 및 직사광선이 닿는 곳에는 보관하지 말 것<br />
                                                    5.(자외선 차단 기능이 포함된 제품의 경우) 이 제품의 자외선차단지수 및 자외선 A 차단등급은 식품의약품안전청고시 자외선 차단 효과 측정방법 및<br />
                                                    &nbsp;&nbsp;&nbsp;&nbsp;기준에 따라 측정하였음<br />
                                                    6. (버블워시의 경우) 살리실릭애씨드 및 그 염류를 함유하고 있으므로 만3세 이하 어린이에게는 사용하지 말 것<br />
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="cont">
                                                <p class="quality_tit">배송 안내</p>
                                                <p class="quality_txt">
                                                    배송사 : 00택배(0000-0000) <br />
                                                    배송비 : 2500원(단, 제주도 및 도서산간지역은 추가 운임료 발생) <br />
                                                    배송기간 : 입금완료 확인 후 2-5일 이내에 배송됩니다.(단, 제주도 및 도서산간지역은 추가기간 발생)<br />
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;고객님의 연락두절 및 부재 등으로 인하여 반송된 경우에는 왕복 택배비가 부과 됩니다.<br />
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;연락처 및 주소를 정확히 기입해 주시기 바랍니다.<br />
                                                    배송전 취소 및 변경 : 게시판 또는 웹상에서 접수하신 경우 처리가 지연.(누락)될 수 있사오니, 신속한 처리를 위하여 고객센터로 문의 부탁드립니다.
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="cont">
                                                <p class="quality_tit">주문 취소/교환 / 반품 안내</p>
                                                <p class="quality_txt">
                                                    교환 및 반품은 물품 수령 후 <strong>7일 이내</strong>에 접수(전화 및 게시판)후 당사에 입고된 상품에 한하여 처리됩니다.<br />
                                                    시일이 지난 상품에 대해서는 처리가 되지 않습니다.(물품훼손/ 빈 포장폐기 및 물품가치를 상실할 경우에는 불가합니다.)<br />
                                                    교환 및 반품 신청 시에는 <strong>해당구매 사이트</strong>를 통하여 해주시길 바랍니다. 신청하지 않고 임의 발송하신 경우 처리가 지연될 수 있습니다.<br />
                                                    (상품을 보내실 때 발송 시 동봉되었던 교환/반품 요청서를 작성하여 함께 보내주시면 신속하고 원활한 처리가 이루어집니다.)
                                                </p>
                                                <p class="quality_txt mt25">
                                                    <strong class="stit">불량 및 오배송 등으로 인한 교환</strong><br />
                                                    맞교환은 불가하며 교환 상품이 물류센터에 도착하여 상품 확인 후 처리가 가능합니다.<br />
                                                    왕복운송료는 모두 ㈜삼양제넥스에서 부담합니다. 단, 동일상품이 아닌 다른 칼라나 사이즈 등으로 교환 원하시는 경우에는 고객 변심으로 처리됩니다.(교환택배 구매자 부담)
                                                </p>
                                                <p class="quality_txt mt25">
                                                    <strong class="stit">교환 및 반품이 불가한 상품</strong><br />
                                                    0000000<br />
                                                    00000
                                                </p>
                                                <p class="quality_txt mt25">
                                                    <strong class="stit">교환 및 반품 배송비 결제시</strong><br />
                                                    무료배송 상품, 단순교환일 경우 5000원(동봉 또는 계좌)을 지불하셔야 합니다.<br />
                                                    선결제, 착불, 단순 반품 및 교환일 경우 모두 5000원을 지불하셔야 하며, 선결제 배송비는 상품금액+배송료 모두 함께 환불됩니다.
                                                </p>
                                                <p class="quality_txt mt25">
                                                    <strong class="stit">교환 및 반품 배송비 계좌</strong><br />
                                                    교환 및 반품 배송비는 아래 계좌로 입금해 주십시오.<br />
                                                    은행명 : 00은행 / 계좌번호 000-000-00000 예금주 00000 (동봉시 분실 및 분쟁의 소지가 있사오니 가급적 계좌로 입금 부탁 드립니다.)
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--//품질보증-->
                        </div>
                        <!--//상세정보, 리뷰, 품질보증/배송관련 tab-->
                    </div>
                    <!--//왼쪽영역 : 이벤트 배너, 연관상품, 상품정보, 리뷰, 품질보증 제공-->
                    <!--오른쪽영역 : 사용자 보유 정보-->
                    <div class="right_area">
                        <!--배너 지젠 기획전-->
                       @* @{Html.RenderAction("BannerInProductDetail", "ChildActionDisplayer", new { P_CODE = @ViewBag.P_CODE });}*@
                        <!--오른쪽영역 : 상품상세의 right 프로모션-->
                        
                                @{Html.RenderAction("EventInProductDetail", "Event");}
                            
                        <!--오른쪽영역 : 상품상세의 right 프로모션-->
                        <!--세트상품 ssw --2015.8.8 ssw 수정 CD_PROMOTION_PRODUCT 추가-->
                        @{Html.RenderAction("ProductDetailSetList", "ChildActionPromotion", new { P_CODE = @ViewBag.P_CODE, CD_PROMOTION_PRODUCT = @ViewBag.CD_PROMOTION_PRODUCT });}
                        @if (this.ViewBag.withCnt != 0) //관련상품 리스트
                        { 
                           <div class="setgoods">
                            <img src="/aboutCom/images/shopping/tit_relgoods.gif" alt="관련 상품" />
                            <ul>
                                @foreach (var item in ViewData["WITH_PRODUCT_LIST"] as List<AboutMe.Domain.Entity.Product.SP_PRODUCT_WITH_SEL_Result>)
                                 {
                                        string imgUrl1 = ViewBag.PRODUCT_PATH + "R270_" + item.MAIN_IMG;
                                    <li>
                                        <a href="/shopping/detail?pcode=@item.P_CODE">
                                            <img src="@imgUrl1" alt="" />
                                            <span class="tag">
                                                @if (!string.IsNullOrEmpty(item.ICON_YN))
                                                {
                                                    if (item.ICON_YN.IndexOf('B') != -1)
                                                    { <text> <span class="ico ico_best">BEST</span></text> }
                                                    if (item.ICON_YN.IndexOf('S') != -1)
                                                    { <text> <span class="ico ico_soldout">SOLD OUT</span></text> }
                                                    if (item.ICON_YN.IndexOf('N') != -1)
                                                    { <text> <span class="ico ico_new">NEW</span></text> }
                                                    if (item.ICON_YN.IndexOf('C') != -1)
                                                    { <text> <span class="ico ico_custom ">커스텀</span></text> }
                                                }
                                                @if (!string.IsNullOrEmpty(item.PMO_PRODUCT_CATEGORY))
                                                {
                                                    if (item.PMO_PRODUCT_CATEGORY == "01")
                                                    { <text> <span class="ico ico_set">SET</span></text> }
                                                    if (item.PMO_PRODUCT_CATEGORY == "02")
                                                    { <text> <span class="ico ico_1_1">1+1</span></text> }
                                                    if (item.PMO_PRODUCT_CATEGORY == "03")
                                                    { <text> <span class="ico ico_time">TIME</span></text> }
                                                }
                                                @if (!string.IsNullOrEmpty(item.COUPON_CODE))
                                                {
                                                    <text> <span class="ico ico_coupon">COUPON</span></text>
                                                }
                                            </span>
                                            <strong class="gti">@(new HtmlString(item.P_NAME))</strong>
                                            <span class="desc">@(new HtmlString(item.P_SUB_TITLE))</span>
                                            <span class="price"><strong>@string.Format("{0:#,##0}", item.RESULT_PRICE)</strong>원</span>
                                        </a>
                                    </li>
                                    }
                            </ul>
                        </div>
                        }
                    </div>
                    <!--오른쪽영역 : //사용자 보유 정보-->
                </div>
                <!--//detail_bottom : 사용자 보유정보 , 제품상세정보 -->

            </div>
        </div>
    </div>
    }
<!--//container-->
<!--footer-->
@section Footer{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Footer.cshtml");}
}
<!--//footer-->
