@model IEnumerable<AboutMe.Domain.Entity.Product.SP_PRODUCT_SEL_Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AboutMeLayoutA.cshtml";
}
@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}
    <link href="/aboutCom/css/shoping.css" rel="stylesheet" />
}


<!--header-->
@section Header{
    
}
<!--//header-->

@section Scripts{

    <script language="javascript">

        $(function () {
            //ajaxSelectCateCodeJavascriptInit();
        });

        function bsearch() {
            var f = document.bform;
            //alert('ok');
            //alert(f.P_CATE_CODE_3DEPTH[0].checked);
            f.target = "";
            f.PAGE.value = 1;
            f.submit();
        }

        function pCateCode(code,depthName3) {
            //alert(code);
            var f = document.bform;
            f.P_CATE_CODE.value = code;
            f.DEPTH_NAME3.value = depthName3;


            //if (depthName3 == "전체") //유형별 선택시 3depth의 checked 값을 모두 false 처리한다.
            //{
            //유형별 선택시 3depth의 checked 값을 모두 false 처리한다.
            NotAllchecked();
            //}
            //$('#span3depthname').html(depthName3); //3depth이름 넣어준다.
            bsearch();
        }

        function cCateCode(code) {
            //alert(code);
            var f = document.bform;
            f.C_CATE_CODE.value = code;
            bsearch();
        }

        function lCateCode(code) {
            var f = document.bform;
            f.L_CATE_CODE.value = code;
            bsearch();
        }

        function sortGbn(code) {
            var f = document.bform;
            f.SORT_GBN.value = code;
            bsearch();
        }

        function rePageSize() {
            var f = document.bform;

            f.target = "";
            f.page.value = 1;
            f.submit();
        }

        //체크 박스 모두 체크
        function NotAllchecked() {
            var f = document.bform
            //f.DEPTH_NAME3.value = "";
            var cbox;
            cbox = document.bform.P_CATE_CODE_3DEPTH;
            

            if (cbox != undefined) {

                if (cbox.length) {  // 여러 개일 경우
                    for (var i = 0; i < cbox.length; i++) {

                        cbox[i].checked = false;

                    }

                } else { // 한 개일 경우
                    cbox.checked = false;

                }
            }
        }

    </script>
}

<!--container-->
@section Body{

    <div class="wrap display">
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Header.cshtml");}
@using (Html.BeginForm("Index", "Shopping", FormMethod.Post, new { id = "bform", name = "bform" }))
{
    @Html.AntiForgeryToken()  //폼 데이터 위조 방지 토큰 생성
                            <input type="hidden" name="PAGE" value="@ViewBag.PAGE">
                            <input type="hidden" name="P_CATE_CODE" value="@ViewBag.P_CATE_CODE">
                            <input type="hidden" name="L_CATE_CODE" value="@ViewBag.L_CATE_CODE">
                            <input type="hidden" name="C_CATE_CODE" value="@ViewBag.C_CATE_CODE">
                            <input type="hidden" name="SORT_GBN" value="@ViewBag.SORT_GBN">
                            <input type="hidden" name="P_CATE_CODE_3DEPTH_OLD" value="@ViewBag.P_CATE_CODE_3DEPTH">
                            <input type="hidden" name="DEPTH_NAME3" value="@ViewBag.DEPTH_NAME3">
        <div id="container">
            @{
    //뷰티,헬스,셀렉샵 분기시 초기화 작업
                var divClassGbn = "beauty";
                var divClassImg = "/aboutCom/images/shopping/h2_beauty.png";
                var divClassAlt = "BEAUTY 뷰티라인";

                var subtitle1 = "유형별";
                var subtitle2 = "피부고민별";
                var subtitle3 = "라인별"; 
                }
@if (ViewBag.P_CATE_CODE.Substring(0, 3) == "101") //뷰티
{
    divClassGbn = "beauty";
    divClassImg = "/aboutCom/images/shopping/h2_beauty.png";
    divClassAlt = "BEAUTY 뷰티라인";
    subtitle1 = "유형별";
    subtitle2 = "피부고민별";
    subtitle3 = "라인별";     
}
else if (ViewBag.P_CATE_CODE.Substring(0, 3) == "102") // 헬스
{
    divClassGbn = "health";
    divClassImg = "/aboutCom/images/shopping/h2_health.png";
    divClassAlt = "HEALTH 헬스라인";
    subtitle1 = "유형별";
    subtitle2 = "건강고민별";
    subtitle3 = "라인별";
    
}
else if (ViewBag.P_CATE_CODE.Substring(0, 3) == "103") //셀렉샵
{
    divClassGbn = "beauty";
    divClassImg = "/aboutCom/images/shopping/h2_selectshop.png";
    divClassAlt = "SELECT SHOP 셀렉샵";
    subtitle1 = "브랜드별";
    subtitle2 = "피부고민별";
    subtitle3 = "라인별";
}

    

            <div class="container100per @divClassGbn">
                <div class="inner">

                    <!--display_top-->
                    <div class="display_top">
                        <h2><img src="@divClassImg" alt="@divClassAlt" /></h2>


                        <div class="selecttypeC">
                            <!--현재 소팅 대분류 class "on" 사용-->
                            <div class="sort">
                                <p class="tit">@subtitle1</p>
                                <!--현재 소팅된 소분류 class "cnt" 사용합니다.-->
                                <ul><li @if (ViewBag.P_CATE_CODE.ToString() == ViewBag.P_CATE_CODE.Substring(0, 3) + 100100)
                                        { <text> class="cnt" </text>      } ><a href="#none" onclick="javascript:pCateCode('@ViewBag.P_CATE_CODE.Substring(0, 3)100100','전체');">전체</a></li>

                                    @{ var i = 0; }
                                    @foreach (var item in ViewData["CateCodeP"] as List<AboutMe.Domain.Entity.Product.SP_CATEGORY_DEPTH_SEL_Result>)
                                    {

                                        <li @if (ViewBag.P_CATE_CODE.ToString() == @item.CATE_CODE.ToString())
                                            { <text> class="cnt" </text>     }><a href="javascript:pCateCode('@item.CATE_CODE');" onclick="javascript:pCateCode('@item.CATE_CODE','@item.DEPTH2_NAME');">@item.DEPTH2_NAME</a></li>

                                    i++;
                                    }
                                </ul>
                            </div>
                            <div class="sort">
                                <p class="tit">@subtitle2</p>
                                <ul>
                                    <li @if (ViewBag.C_CATE_CODE.ToString() == "") { <text> class="cnt" </text> }><a href="" onclick="javascript:cCateCode('');">전체</a></li>

                                    @{ i = 0; }
                                    @foreach (var item in ViewData["CateCodeC"] as List<AboutMe.Domain.Entity.Product.SP_CATEGORY_DEPTH_SEL_Result>)
                                    {

                                        <li @if (ViewBag.C_CATE_CODE.ToString() == @item.CATE_CODE.ToString())
                                            { <text> class="cnt" </text>    }><a href="javascript:cCateCode('@item.CATE_CODE');" onclick="javascript:cCateCode('@item.CATE_CODE');">@item.DEPTH2_NAME</a></li>

                                    i++;
                                    }
                                </ul>
                            </div>
@if (ViewBag.P_CATE_CODE.Substring(0, 3) != "102") //헬스에서는 제외
{
                            <div class="sort">
                                <p class="tit">@subtitle3</p>
                                <ul>
                                    <li @if (ViewBag.L_CATE_CODE.ToString() == "") { <text> class="cnt" </text>  }><a href="#none" onclick="javascript:lCateCode('');">전체</a></li>
                                    @{ i = 0; }
                                    @foreach (var item in ViewData["CateCodeL"] as List<AboutMe.Domain.Entity.Product.SP_CATEGORY_DEPTH_SEL_Result>)
                                    {

                                        <li @if (ViewBag.L_CATE_CODE.ToString() == @item.CATE_CODE.ToString())
                                            { <text> class="cnt" </text>   } ><a href="javascript:lCateCode('@item.CATE_CODE');" onclick="javascript:lCateCode('@item.CATE_CODE');">@item.DEPTH2_NAME</a></li>

                                        i++;
                                    }
                                </ul>
                            </div>
}    
                        </div>
                    </div>
                    <!--//display_top-->
                </div>
            </div>
@if ((ViewBag.P_CATE_CODE.Substring(0, 3) == "101") && (ViewBag.P_CATE_CODE.Substring(3, 3) != "100")) //뷰티 3depth 필요시 display
{
            <div class="container100per sortingdepth3">
                
                         <!-- filter -->
                    <div class="filter">
                        <span class="fti" >@ViewBag.DEPTH_NAME3</span>
                        <ul>

                            @{ i = 0; }
                            @foreach (var item in ViewData["3DEPTH"] as List<AboutMe.Domain.Entity.Product.SP_CATEGORY_DEPTH_SEL_Result>)
                            {
                                <li @if ((!String.IsNullOrEmpty(ViewBag.P_CATE_CODE_3DEPTH)) && (ViewBag.P_CATE_CODE_3DEPTH.ToString().IndexOf(item.CATE_CODE) != -1)) { <text> class="cnt" </text>     }><label class="chkcon"><input type="checkbox" id="P_CATE_CODE_3DEPTH" name="P_CATE_CODE_3DEPTH" title="" value="@item.CATE_CODE" @if ((!String.IsNullOrEmpty(ViewBag.P_CATE_CODE_3DEPTH)) && (ViewBag.P_CATE_CODE_3DEPTH.ToString().IndexOf(item.CATE_CODE) != -1)) { <text> checked </text>      }> <span class="txt">@item.DEPTH3_NAME</span></label></li>
i++;
                            }
                           
                        </ul>
                        <a href="javascript:document.bform.submit();" class="btn_brown_w96h38"><i></i>검색</a>
                    </div>
                        <!-- filter -->

            </div>
}
            <div class="container1080">
                <div class="display_bottom">
                    <!--상품리스트-->
                    <div class="product_area">
                        <div class="product_top">
                            <span class="totaltxt">총 @ViewBag.TotalRecord 개의 상품이 있습니다. </span>
                            <!--분류-->
                            <ul class="sort">
                                <li @if (ViewBag.SORT_GBN == "NEW"){ <text> class="cnt" </text>  } ><a href="javascript:sortGbn('NEW');" onclick="javascript:sortGbn('NEW');">신상품순</a></li>
                                <li @if (ViewBag.SORT_GBN == "LIKE"){ <text> class="cnt" </text>   }><a href="javascript:sortGbn('LIKE');" onclick="javascript:sortGbn('LIKE');">인기순</a></li>
                                <li @if (ViewBag.SORT_GBN == "UP"){ <text> class="cnt" </text>   }><a href="javascript:sortGbn('UP');" onclick="javascript:sortGbn('UP');">최고가순 ↑</a></li>
                                <li @if (ViewBag.SORT_GBN == "DOWN"){ <text> class="cnt" </text>   }><a href="javascript:sortGbn('DOWN');" onclick="javascript:sortGbn('DOWN');">최저가순 ↓</a></li>
                            </ul>
                            <!--//분류-->
                        </div>


                        <!--상품리스트-->
                        <ul class="product_list">
                            @foreach (var item in Model)
                            {
                                string imgUrl1 = ViewBag.PRODUCT_PATH + "R270_" + item.MAIN_IMG;
                                string imgUrl2 = ViewBag.PRODUCT_PATH + "R270_" + item.OTHER_IMG1;
                                <li>
                                    <a href="/shopping/detail?pcode=@item.P_CODE&page=@ViewBag.PAGE&pagesize=@ViewBag.PAGESIZE&SORT_GBN=@ViewBag.SORT_GBN&P_CATE_CODE=@ViewBag.P_CATE_CODE&C_CATE_CODE=@ViewBag.C_CATE_CODE&L_CATE_CODE=@ViewBag.L_CATE_CODE&P_CATE_CODE_3DEPTH=@ViewBag.P_CATE_CODE_3DEPTH&DEPTH_NAME3=@ViewBag.DEPTH_NAME3" class="list">
                                        <span class="photo">
                                            <img src="@imgUrl1" data-pic="@imgUrl2" class="item" alt="" />
                                        </span>
                                        <span class="info">
                                            <span class="ico ">
                                                @if (!string.IsNullOrEmpty(item.ICON_YN))
                                                {
                                                    if (item.ICON_YN.IndexOf('B') != -1)
                                                    { <text> <span class="ico_best">BEST</span></text> }
                                                    if (item.ICON_YN.IndexOf('S') != -1)
                                                    { <text> <span class="ico_soldout">SOLD OUT</span></text> }
                                                    if (item.ICON_YN.IndexOf('N') != -1)
                                                    { <text> <span class="ico_new">NEW</span></text> }
                                                    if (item.ICON_YN.IndexOf('C') != -1)
                                                    { <text> <span class="ico_custom ">커스텀</span></text> }
                                                }
                                                @if (!string.IsNullOrEmpty(item.PMO_PRODUCT_CATEGORY))
                                                {
                                                    if (item.PMO_PRODUCT_CATEGORY == "01")
                                                    { <text> <span class="ico_set">SET</span></text> }
                                                    if (item.PMO_PRODUCT_CATEGORY == "02")
                                                    { <text> <span class="ico_1_1">1+1</span></text> }
                                                    if (item.PMO_PRODUCT_CATEGORY == "03")
                                                    { <text> <span class="ico_time">TIME</span></text> }
                                                }
                                                @if (!string.IsNullOrEmpty(item.COUPON_CODE))
                                                {
                                                    <text> <span class="ico_coupon">COUPON</span></text>
                                                }
                                                </span>
                                                <span class="title">
                                                    <em class="product_tit">@(new HtmlString(item.P_SUB_TITLE))</em>
                                                    <em class="product_name">@(new HtmlString(item.P_NAME))</em>
                                                </span>
                                                <em class="price">
                                                    <del>@string.Format("{0:#,##0}", item.SELLING_PRICE)원</del>
                                                    <strong>@string.Format("{0:#,##0}", item.RESULT_PRICE)원</strong>
                                                </em>
                                            </span>
                                    </a>
                                    <a href="#" class="cart" onclick="javascript:Cart_Product_Input('@item.P_CODE','1');"><img src="/aboutCom/images/shopping/ico_cart.png" alt="" /></a>
                                    <span class="frame"><span class="l"></span><span class="t"></span><span class="r"></span><span class="b"></span></span>
                                </li>
                            }
                           
                        </ul>
                        <!--//상품리스트-->
                    </div>
                    <!--//상품리스트-->
                    <!--페이징-->
                    @{
                        //paging 파라메터
                        string PagingParam = "";
                        PagingParam = PagingParam + "&SORT_GBN=" + ViewBag.SORT_GBN;
                        PagingParam = PagingParam + "&P_CATE_CODE=" + ViewBag.P_CATE_CODE;
                        PagingParam = PagingParam + "&C_CATE_CODE=" + ViewBag.C_CATE_CODE;
                        PagingParam = PagingParam + "&L_CATE_CODE=" + ViewBag.L_CATE_CODE;
                        PagingParam = PagingParam + "&P_CATE_CODE_3DEPTH=" + ViewBag.P_CATE_CODE_3DEPTH;
                        PagingParam = PagingParam + "&DEPTH_NAME3=" + ViewBag.DEPTH_NAME3;
             
                    }
                    @{Html.RenderAction("Paging", "CommonChildAction", new { TotalRecord = ViewBag.TotalRecord, RecordPerPage = ViewBag.PAGESIZE, PagePerBlock = 10, CurrentPage = ViewBag.PAGE, QueryStr = PagingParam });}
                    <!--//페이징-->
                </div>
            </div>
        </div>
        <!--//container-->
}
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Footer.cshtml");}
    </div>
}
<!--footer-->
@section Footer{
    
}
<!--//footer-->
