@{
    ViewBag.Title = "AES256";
}
<h2>@ViewBag.Title.</h2>

<table class="table table_row">
    <colgroup><col width="25%" /><col width="75%" /></colgroup>
    <tbody>

        <tr>
            <th>test567암호화</th>
            <td><input type="text" class="input-sm text-left" size="100" name="aes_en" value="@ViewBag.encode" /></td>

        </tr>
        <tr>
            <th>ITXL5+ehBoUKyWWrO8Miog==복호화</th>
            <td><input type="text" name="aes_de" size="100" class="input-sm text-left" value="@ViewBag.decode" /></td>
        </tr>

        <tr>
            <th>test567 MD5</th>
            <td><input type="text" class="input-sm text-left" size="100" name="aes_MD5" value="@ViewBag.md5_encode" /></td>

        </tr>
        <tr>
            <th>test567 SHA256</th>
            <td><input type="text" name="aes_SHA256" size="350" class="input-sm text-left" value="@ViewBag.sha256_encode" /></td>
        </tr>

        <tr>
            <th>test567 MD5 이후 SHA256 </th>
            <td><input type="text" name="aes_md5_SHA256" size="150" class="input-sm text-left" value="@ViewBag.md5_sha256_enc" /></td>
        </tr>


        
    </tbody>
</table>