@model AboutMe.Domain.Entity.Cart.CART_INDEX_MODEL
@{
    ViewBag.Title = "쇼핑백 - ABOUT ME";
    ViewBag.TopClass = "cart";

    if (!Model.UserProfile.IS_LOGIN)
    {
        ViewBag.TopClass += " nonmb";
    }

    Layout = "~/Views/Shared/_AboutMeLayoutB.cshtml";
}
@section Scripts {
    <link href="/aboutCom/css/cart.css" rel="stylesheet" />
    <!--script src="/Scripts/cart_script.js"></script-->
    <script language="javascript">
    function GridCheckAll(c) {

        $("input:checkbox[name='gridchk']").each(function (idx) {
            var chk = $(this);
            if (c.checked) {
                chk.prop('checked', true);
                chk.parent().parent().find(".chkcon").addClass("chkcon_on");
            }
            else {
                chk.prop('checked', false);
                chk.parent().parent().find(".chkcon").removeClass("chkcon_on");
            }
        });
        chkPriceCalculate();
    }

    function GridCheck(c) {
        chkPriceCalculate();
    }

    function chkPriceCalculate() {

        var arrP = new Array;
        var obj = new Object();
        $("input:checkbox[name='gridchk']").each(function (idx) {
            if (this.checked) {
                arrP.push(parseInt($(this).val()));
            }
        });

        var jobj = encodeURIComponent(JSON.stringify(arrP));

        var src_url = "/Cart/CartCalculatePrice";
        var param = "data=" + jobj;
        $.ajax({
            cache: false,
            type: "POST",
            url: src_url,
            data: param,
            success: function (data) {
                if (data.result == "true") {
                    $("#SumPointTxt").text(data.sum_point);
                    $("#SumPriceTxt").text(data.sum_price);
                    if (data.chk_count > 0) {
                        $("#WishCntTxt").text("(" + data.chk_count + ")");
                        $("#DelCntTxt").text("(" + data.chk_count + ")");
                        $("#WishCntTxt").parent().parent().parent().find(".wish").addClass("on");
                        $("#DelCntTxt").parent().parent().parent().find(".del").addClass("on");
                    }
                    else {
                        $("#WishCntTxt").text("");
                        $("#DelCntTxt").text("");
                        $("#WishCntTxt").parent().parent().parent().find(".wish").removeClass("on");
                        $("#DelCntTxt").parent().parent().parent().find(".del").removeClass("on");
                    }
                }
                else {
                    if (data.msg != "") {
                        alert(data.msg);
                    }
                }
            },
            complete: function (jqXHR, textStatus) {
            }
        });
    }


    //cart 수량변경
    function count_change(idx) {
        var f = document.cartform;
        var txtname = 'count_txt_' + idx
        var txtbox = $("#" + txtname);
        var cnt = txtbox.val();
        if (cnt == "" || cnt == "0" || cnt < 1) {
            alert('수량을 입력해주세요.');
            txtbox.focus();
            return;
        }

        if (confirm("수량을 변경하시겠습니까?")) {
            f.IDX.value = idx;
            f.CNT.value = cnt;
            f.OrderList = '';
            f.action = "/Cart/CartUpdateCnt";
            f.submit();
        }

    }
    //cart 삭제
    function cart_delete(idx) {

        var f = document.cartform;
        if (confirm("삭제하시겠습니까?")) {
            f.IDX.value = idx;
            f.CNT.value = '';
            f.OrderList = '';
            f.action = "/Cart/CartDelete";
            f.submit();
        }

    }

    //선택 모두 삭제
    function CheckAllDelete(b) {
        if ($(b).hasClass("on")) {

            var cnt = 0;
            var idxstr = "";

            $("input:checkbox[name='gridchk']").each(function (idx) {
                if (this.checked) {
                    if (idxstr != "") {
                        idxstr += ",";
                    }
                    idxstr += $(this).val();
                    cnt++;
                }
            });

            if (cnt == 0) {
                alert("삭제할 상품을 선택해주세요.");
                return false;
            }

            var f = document.cartform;

            if (confirm(cnt + "개의 상품을 장바구니에서 삭제하시겠습니까?")) {
                f.IDX.value = idxstr;
                f.CNT.value = '';
                f.OrderList = '';
                f.action = "/Cart/CartDelete";
                f.submit();
            }
        }
    }

    function jjim_insert(pcode) {

        @if (Model.UserProfile.IS_LOGIN)
            {
                @Html.Raw(new HtmlString("var arrP = new Array; "));
                @Html.Raw(new HtmlString("arrP.push(pcode); "));
                @Html.Raw(new HtmlString("Wish_Input(arrP); "));
            }
            else
            {
                @Html.Raw(new HtmlString("isJJimLogin();"));
            }

    }

    function jjim_chkinsert(b) {
        if ($(b).hasClass("on")) {
            @if (Model.UserProfile.IS_LOGIN)
            {
                    @Html.Raw(new HtmlString("CheckAllWishInsert(b); "));
            }
            else
            {
                    @Html.Raw(new HtmlString("isJJimLogin();"));
            }
        }
    }

    //선택전체 찜
    function CheckAllWishInsert(b) {
        if ($(b).hasClass("on")) {

            var cnt = 0;
            var arrP = new Array;

            $("input:checkbox[name='gridchk']").each(function (idx) {
                if (this.checked) {
                    arrP.push($(this).attr('data-pcode'));
                }
            });

            if (arrP.length == 0) {
                alert("찜할 상품을 선택해주세요.");
                return false;
            }

            Wish_Input(arrP);

        }
    }

    function isJJimLogin() {
        if (confirm('로그인 후 찜을 저장할 수 있습니다.\n로그인페이지로 이동하시겠습니까?')) {
            location.href = '/MemberShip/Login';
            return;
        }
    }

    function SelectNextStep(isall) {
        var cnt = 0;
        var pcodelist = "";
        var arrP = new Array;

        $("input:checkbox[name='gridchk']").each(function (idx) {
            if (this.checked || isall) {
                var obj = new Object();
                var oidx = $(this).val();
                var txtname = 'count_txt_' + oidx
                var txtbox = $("#" + txtname);
                var pcnt = txtbox.val();
                if (pcnt == 0) {
                    pcnt = 1;
                }
                obj.p_code = $(this).attr('data-pcode');
                obj.p_count = pcnt;
                arrP.push(obj);
                cnt++;
            }
        });

        if (cnt == 0) {
            alert("상품을 선택해 주세요.");
            return;
        }
        else {
            var jobj = JSON.stringify(arrP);
            var f = document.cartform;
            f.IDX.value = '';
            f.CNT.value = '';
            f.OrderList.value = jobj;

            @if (Model.UserProfile.IS_LOGIN)
            {
                @Html.Raw(" f.action = '/Order/InsertOrderStep1' ;")
            }
            else
            {
                @Html.Raw(" f.action = '/MemberShip/Login' ;")
            }
            f.submit();
        }
    }

    function AllNextStep() {

    }

    </script>
}

@helper MemberTop()
{
    string gradeclass = Model.UserProfile.M_GRADE_NAME.ToString().ToLower();

    <div class="user_area">
        <!--
            회원 등급 class
            브론즈 : bronze
            실버 : silver
            골드 : gold
            vip : vip
        -->
        <div class="info @gradeclass">
            @Model.UserProfile.M_NAME @if (@Model.UserProfile.M_GBN == "S")
            { @Html.Raw("[임직원]") } 님은<br /><a href="#" class="grade">@Model.UserProfile.M_GRADE_NAME.ToString().ToUpper() 클래스</a>입니다.
            <a class="benefitview" href="#">회원혜택 보기<i></i></a>
        </div>
        <div class="userbenefit">
            <ul>
                <li class="downcoupon">
                    <span class="ico"></span>
                    <span class="num">@Model.DownloadCouponCnt</span>
                    <span class="tit">다운로드 가능 쿠폰</span>
                </li>
                <li class="havecoupon">
                    <span class="ico"></span>
                    <span class="num">@Model.DownloadedCouponCnt</span>
                    <span class="tit">보유 쿠폰</span>
                </li>
                <li class="downpoint">
                    <span class="ico"></span>
                    <span class="num">@Model.MyPoint</span>
                    <span class="tit">포인트</span>
                </li>
            </ul>
        </div>
    </div>
}

@helper NoMemberTop()
{
    <div class="user_area">
        <div class="info nonmb">
            <p class="nonmbmsg">
                지금 어바웃미 멤버십에 가입 하세요!<br />
                <span>회원 구매 시 <strong>할인 쿠폰 및 포인트 적립 등의 다양한 혜택</strong>이 있습니다.</span><br />
                <a href="/customer/benefit.asp" class="benefitview">회원혜택 보기<i></i></a>
            </p>
            <div class="btn_nonmb">
                <a href="/MemberShip/JoinStep1" class="btn_white_w155h48">회원가입</a>
                <a href="/MemberShip/Login" class="btn_white_w155h48 mt5">로그인</a>
            </div>
        </div>
    </div>
}

@helper MemberBanner(string banner_url)
{
    <div class="banner mt40">
        <h3>배너 이미지</h3>
        <a href="#"><img src="@banner_url" alt="" /></a>
    </div>
}

@helper NoMemberBanner()
{
    <div class="banner boxtypef mt40">
        <h3>배너 이미지</h3>
        <a href="#" class="jointxt"><img src="/aboutCom/images/cart/nonmb_jointxt.png" alt="지금 어바웃미 멤버십에 가입 하세요" /></a>
        <span class="benefittxt"><img src="/aboutCom/images/cart/nonmb_bannertxt.png" alt="특별한 회원 혜택 - 구매 금액의 최대 5%  적립 - 회원가입 시 10,000원 할인쿠폰 - 구매금액별 사은품 지급 - 생일쿠폰 지급 VIP 추가 혜택 - 추가 5% 할인 - 무료배송 쿠폰(월 기준)" /></span>
        <div class="btn_nonmb">
            <a href="/MemberShip/JoinStep1" class="btn_white_w155h48">회원가입</a>
            <a href="/MemberShip/Login" class="btn_white_w155h48 mt5">로그인</a>
        </div>
    </div>
}

@*같이구매하면 좋은 상품*@
@helper BuyAsGoods()
{
    <div class="recommend mt40">
        <h3><img src="/aboutCom/images/cart/h3_recommend.png" alt="같이 구매하면 좋은 상품" /></h3>
        <div class="prolist mt20">
            <ul>
                <li>
                    <a href="#">
                        <img src="/aboutCom/images/sample/thum_recommend1.jpg" alt="상품 이미지" />
                        <span class="tag"><span class="ico_new">NEW</span></span>
                        <span class="ptit">리얼 프레쉬 팩 [카렌듈라]</span>
                    </a>
                    <p class="pdesc">매끈한 피부결을 위한 100%천연유래</p>
                    <p class="pprice">
                        <strong>4,000원</strong>
                    </p>
                </li>
                <li>
                    <a href="#">
                        <img src="/aboutCom/images/sample/thum_recommend2.jpg" alt="상품 이미지" />
                        <span class="tag"><span class="ico_new">NEW</span></span>
                        <span class="ptit">어바웃미 화장솜</span>
                    </a>
                    <p class="pdesc">이중압축</p>
                    <p class="pprice">
                        <strong>950원</strong>
                    </p>
                </li>
                <li>
                    <a href="#">
                        <img src="/aboutCom/images/sample/thum_recommend3.jpg" alt="상품 이미지" />
                        <span class="tag"><span class="ico_new">NEW</span></span>
                        <span class="ptit">에너지리커버 2g*15정</span>
                    </a>
                    <p class="pdesc">포도당92%로의 에너지충전 캔디</p>
                    <p class="pprice">
                        <strong>2,000원</strong>
                    </p>
                </li>
                <li>
                    <a href="#">
                        <img src="/aboutCom/images/sample/thum_recommend4.jpg" alt="상품 이미지" />
                        <span class="tag"><span class="ico_time">TIME</span><span class="ico_coupon">COUPON</span></span>
                        <span class="ptit">화이버카페 [8gX14포]</span>
                    </a>
                    <p class="pdesc">마시는 건강한 식이섬유 한잔</p>
                    <p class="pprice">
                        <del>11,000원</del><strong>8,800원</strong>
                    </p>
                </li>
            </ul>
        </div>
    </div>
}

<div id="container">
    <div class="container1080">
        <!--cart_top-->
        <div class="cart_top">
            <!--h2_area-->
            <div class="h2_area">
                <h2>쇼핑백</h2>
            </div>
            <!--//h2_area-->
            <!--user_area-->
            @if (Model.UserProfile.IS_LOGIN == true)
            {
                @MemberTop()
            }
            else
            {
                @NoMemberTop()
            }

            <!--//user_area-->
        </div>
        <form action="" method="post" name="cartform">
            <input type="hidden" name="IDX" />
            <input type="hidden" name="CNT" />
            <input type="hidden" name="OrderList" />    
            <input type="hidden" name="RedirectUrl"  value="/Order/Step1"/>           
        </form>

        <!--//cart_top-->
        <div class="cartform mt40">
            <form name="frm" action="">
                <fieldset>
                    <legend>쇼핑백 상품 및 가격 폼</legend>
                   
                    <div class="row1 tabletypeb">
                        <table summary="상품/옵션정보, 상품금액, 수량, 예상적립 포인트, 주문금액">
                            <caption>쇼핑백 상품 확인</caption>
                            @if (Model.CartCnt == 0)
                            {
                                <tr>
                                    <td width="*" colspan="8">장바구니가 비어있습니다.</td>
                                </tr>
                            }
                            else
                            {
                                if (Model.UserProfile.M_GBN == "S") //임직원
                                {
                                    <colgroup>
                                        <col width="73" />
                                        <col width="96" />
                                        <col width="*" />
                                        <col width="108" />
                                        <col width="122" />
                                        <col width="104" />
                                        <col width="119" />
                                        <col width="107" />
                                        <col width="135" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th class="chkbox"><label class="chkcon chkcon_on"><input type="checkbox" name="" value="" onclick="GridCheckAll(this)" checked="true" /></label></th>
                                            <th colspan="2">상품명</th>
                                            <th>상품금액</th>
                                            <th>임직원금액</th>
                                            <th>수량</th>
                                            <th>예상적립 포인트</th>
                                            <th>주문금액</th>
                                            <th></th>
                                        </tr>
                                    </thead>


                                }
                                else
                                {
                                    <colgroup>
                                        <col width="73" />
                                        <col width="96" />
                                        <col width="*" />
                                        <col width="150" />
                                        <col width="104" />
                                        <col width="110" />
                                        <col width="155" />
                                        <col width="160" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th class="chkbox"><label class="chkcon chkcon_on"><input type="checkbox" name="" value="" onclick="GridCheckAll(this)" checked="true" /></label></th>
                                            <th colspan="2">상품명</th>
                                            <th>상품금액</th>
                                            <th>수량</th>
                                            <th>예상적립 포인트</th>
                                            <th>주문금액</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                }
                                <tbody>


                                    @foreach (var item in @Model.CartList)
                                    {
                                        <tr>
                                            <td class="chkbox"><label class="chkcon chkcon_on"><input type="checkbox" name="gridchk" value="@item.CART_IDX" data-pcode="@item.P_CODE" onclick="GridCheck(this)" checked="true" /></label></td>
                                            <td>
                                                <a href="#"><img src="/aboutCom/images/sample/thum_cartpdt1.jpg" alt="상품 이미지" /></a>
                                            </td>
                                            <td class="product">
                                                <dl>
                                                    <dt>
                                                        <a href="#">
                                                            <span class="tag"><span class="ico_new">NEW</span></span>
                                                            @item.P_NAME
                                                        </a>
                                                    </dt>
                                                    <dd>제주 참마 유래성분으로 미백기능성</dd>
                                                </dl>
                                            </td>
                                            <td class="proprice">
                                                @if (@item.SELLING_PRICE != @item.DISCOUNT_PRICE)
                                                {
                                                    <del>@item.SELLING_PRICE.ToString("#,#0.") 원</del>
                                                }
                                                <strong>@String.Format("{0:#,#0.}", @item.DISCOUNT_PRICE)</strong>원
                                            </td>
                                            @if (Model.UserProfile.M_GBN == "S") //임직원
                                            {
                                                <td class="vipprice">
                                                    <strong>@item.EMP_DISCOUNT_PRICE.ToString("#,#0.")</strong>원
                                                </td>
                                            }
                                            <td class="count">
                                                <div class="counttypea">
                                                    <input type='text' name="count" id='count_txt_@item.CART_IDX' value='@item.P_COUNT' size='3' />
                                                    <p class="btn_updown">
                                                        <a href="javascript:void(0);" class="up"><i>up</i></a>
                                                        <a href="javascript:void(0);" class="down"><i>down</i></a>
                                                    </p>
                                                </div>
                                                <a href="#none" class="btn_white_w74h28" onclick="count_change('@item.CART_IDX')">변경</a>
                                            </td>
                                            <td class="point">
                                                <span class="val">@item.P_POINT.ToString("#,#0.")</span>
                                            </td>
                                            <td class="ordprice"><strong>@String.Format("{0:#,#0.}", item.ORDER_PRICE)</strong>원</td>
                                            <td class="wishdel">
                                                <p class="btn_group">
                                                    <a href="#none" class="wish" onclick="jjim_insert('@item.P_CODE')"><i>찜하기</i></a>
                                                    <a href="#none" class="del" onclick="cart_delete('@item.CART_IDX')"><i>삭제</i></a>
                                                </p>
                                            </td>
                                        </tr>
                                    }
                                    @*
                                        <tr>
                                            <td class="chkbox"><label class="chkcon"><input type="checkbox" name="gridchk" title="" /></label></td>
                                            <td>
                                                <a href="#"><img src="/aboutCom/images/sample/thum_cartpdt2.jpg" alt="상품 이미지" /></a>
                                                <div class="ico_area">
                                                    <span class="ico_time">TIME</span>
                                                    <!--- 각 종류별 아이콘 -->
                                                    <span class="ico_new">NEW</span>
                                                    <span class="ico_coupon">COUPON</span>
                                                    <span class="ico_1_1">1+1</span>
                                                    <span class="ico_best">BEST</span>
                                                    <span class="ico_soldout">SOLD OUT</span>
                                                    <span class="ico_set">SET</span>
                                                    <span class="ico_sale">SALE</span>
                                                    <span class="ico_custom">커스텀</span>

                                                </div>

                                            </td>
                                            <td class="product">
                                                <dl>
                                                    <dt>
                                                        <a href="#">
                                                            <span class="tag"><span class="ico_best">BEST</span></span>
                                                            뉴트리 워터 스킨
                                                        </a>
                                                    </dt>
                                                    <dd>강력한 보습 성분으로 윤기 넘치는 오아시스 피부</dd>
                                                </dl>
                                            </td>
                                            <td class="proprice">
                                                <del>32,000원</del>
                                                <strong>27,000</strong>원
                                            </td>
                                            <td class="count">
                                                <div class="counttypea">
                                                    <input type='text' name='count' value='1' size='3' />
                                                    <p class="btn_updown">
                                                        <a href="javascript:void(0);" class="up"><i>up</i></a>
                                                        <a href="javascript:void(0);" class="down"><i>down</i></a>
                                                    </p>
                                                </div>
                                                <a href="#" class="btn_white_w74h28">변경</a>
                                            </td>
                                            <td class="point">
                                                <span class="val">540</span>
                                            </td>
                                            <td class="ordprice"><strong>27,000</strong>원</td>
                                            <td class="wishdel">
                                                <p class="btn_group">
                                                    <a href="#" class="wish"><i>찜하기</i></a>
                                                    <a href="#" class="del"><i>삭제</i></a>
                                                </p>
                                            </td>
                                        </tr>
                                    *@
                                </tbody>
                            } @*cartcnt > 0*@
                        </table>
                    </div>
                    <div class="row2 mt20">
                        <div class="btn_group">
                            <!-- [Desc] 항목 선택 시 <a>태그 "on"클래스 추가 및 <strong>태그 안에 갯수 "(000)" 입력 -->
                            <a href="javascript:void(0)" class="wish @if (Model.CartCnt > 0) { @Html.Raw(new HtmlString("on")); }" onclick="jjim_chkinsert(this);">
                                <span class="ico"><i></i></span>
                                <span class="txt">찜하기<strong id="WishCntTxt">@if (Model.CartCnt > 0)
                                { @Html.Raw(new HtmlString("(" + Model.CartCnt + ")"));
                                }</strong></span>
                            </a>
                            <a href="javascript:void(0)" class="del @if (Model.CartCnt > 0){ @Html.Raw(new HtmlString("on")); }" onclick="CheckAllDelete(this);">
                                <span class="ico"><i></i></span>
                                <span class="txt">선택삭제<strong id="DelCntTxt">@if (Model.CartCnt > 0)
                                { @Html.Raw(new HtmlString("(" + Model.CartCnt + ")"));
                                } </strong></span>
                            </a>
                        </div>
                        <div class="totinfo">
                            <div class="point">
                                <p class="bubhelp">할인 혜택을 더 적용할 경우<br />예상 적립 표인트가 달라질 수 있습니다.</p>
                                <i></i>예상 적립 포인트<strong id="SumPointTxt">@String.Format("{0:#,#0.}", Model.SumPoint)P</strong>
                            </div>
                            <p class="totprice">총 주문 금액<strong id="SumPriceTxt">@String.Format("{0:#,#0.}", Model.SumPrice)</strong><span>원</span></p>
                        </div>
                    </div>
                    @if (Model.CartCnt > 0)
                    {
                    <div class="row3 mt40">
                        <div class="btn_group">
                            <a href="#none" class="btn_gray_w185h60" onclick="SelectNextStep(false);">선택 상품 주문</a>
                            <a href="#none" class="btn_brown_w185h60" onclick="SelectNextStep(true);">전체 상품 주문</a>
                        </div>
                    </div>
                    }
                </fieldset>
            </form>
        </div>
        @if (Model.UserProfile.IS_LOGIN == true)
        {
            if (!string.IsNullOrEmpty(Model.BannerUrl))
            {
                @MemberBanner(Model.BannerUrl)
            }
        }
        else
        {
            @NoMemberBanner()
        }


        @BuyAsGoods()

        @Model.UserProfile.SESSION_ID
        <a href="#none" class="btn_gray_w185h60" onclick="AddCartClick(this)" data-pcode="1111111" data-pcount="1">1111111 장바구니</a>
        <a href="#none" class="btn_gray_w185h60" onclick="AddCartClick(this)" data-pcode="1111112" data-pcount="1">1111112 장바구니</a>
    </div>
    <div class="container100per notify">
        <div class="inner">
            <div class="boxtyped">
                <h3>알려<br />드립니다.</h3>
                <ul>
                    <li>- 쇼핑백에 담긴 상품은 장기간 보관됩니다. (회원 전용 서비스)</li>
                    <li>- 쇼핑백 보관 기간 중 상품 가격이나 혜택이 변동 될 수 있습니다.</li>
                    <li>- 예상 적립 포인트 할인 혜택에 따라 달라 질 수 있습니다.</li>
                    <li>- 쇼핑백의 상품을  찜리스트에 보관하실 수 있습니다.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script language="javascript">


    function AddCartClick(b) {
        var arrP = new Array;
        var obj = new Object();
        obj.p_code = $(b).attr('data-pcode');//f.opt_p_code.value//P_CODE
        obj.p_count = $(b).attr('data-pcount');
        arrP.push(obj);
        Cart_Input(arrP);
    }

    function CartMerge(b) {
        var src_url = "/Cart/CartMerge";

        $.ajax({
            cache: false,
            type: "POST",
            url: src_url,
            success: function (data) {
                if (data.result == "true") {
                    alert("장바구니합치기, 성공적!!");
                }
                else {
                    if (data.msg != "") {
                        alert(data.msg);
                    }
                }
            },
            complete: function (jqXHR, textStatus) {
            }
        });
    }
</script>
