
@model IEnumerable<AboutMe.Domain.Entity.AdminEtc.SP_ADMIN_ADMIN_MEMBER_VIEW_Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AboutMeAdminLayoutA.cshtml";
}

@{

    var QueryStr = "";
    QueryStr = QueryStr + "PAGESIZE=" + ViewBag.PAGESIZE;
    QueryStr = QueryStr + "&SORTCOL=" + ViewBag.SORTCOL;
    QueryStr = QueryStr + "&SORTDIR=" + ViewBag.SORTDIR;

    QueryStr = QueryStr + "&SEARCH_COL=" + ViewBag.SEARCH_COL;
    QueryStr = QueryStr + "&SEARCH_KEYWORD=" + ViewBag.SEARCH_KEYWORD;



    @helper fCheckBoxChecked(string strList, string strChked)
{
    if (strList != null && strChked != null)
    {
        if (strList.Contains(strChked))
        {
            @(" checked")
        }
    }

}

    @helper fSelectBoxSelecteded(string str1, string str2)
{
    if (str1 != null && str2 != null)
    {
        if (str1 == str2)
        {
            @(" selected")
        }
    }

}

}




@section Scripts{
<script>
    function fGoSearch() {
        var f = document.frmSearch;
        f.PAGE.value = "1";
        f.action = "/AdminUser/Index";
        f.method = "post";
        f.submit();
    }

    function fExcel() {
        var f = document.frmSearch;
        f.action = "/AdminUser/Excel";
        f.method = "post";
        f.submit();
    }
</script>


}

@section Left {

    @{Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminLeft.cshtml");}
}

@section Header{
    @{ Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminHeader.cshtml");}
}

@section Body{


    <div class="content">
        <!--path-->
        <div class="path">
            <a href="/">HOME</a> &gt; <a href="#">수퍼어드민</a> &gt; <a href="#">관리자관리</a> &gt; <strong>관리자관리</strong>
        </div>
        <!--//path-->

        <div class="tar mb10">
            <a class="btn btn-default middium" href="/AdminUser/Insert">관리자 등록</a>
            <a class="btn btn-default middium" href="javascript:fExcel();">EXEL 다운로드</a>
        </div>

        <div class="panel">
            <h3 class="sub-header">관리자 관리</h3>
            <div class="alert alert-info">
                <ul>
                    <li>· 관리자를 등록/수정/삭제 합니다.</li>
                    <li>· 관리자를 등록/수정/삭제 합니다.</li>
                </ul>
            </div>
        </div>

        <div class="panel">
            <h4>관리자관리</h4>

            <form name="frmSearch" method="post" action="">
                <input type="hidden" name="PAGE" value="@ViewBag.PAGE">


                <table class="table table_row">
                    <colgroup><col style="width:12%" /><col style="width:auto" /></colgroup>
                    <tbody>
                        <tr>
                            <th scope="row" class="vam">검색</th>
                            <td class="condition_seacth">
                                <select name="SEARCH_COL" style="width:170px;">
                                    <option value="ADM_ID" @fSelectBoxSelecteded(ViewBag.SEARCH_COL, "ADM_ID")>아이디</option>
                                    <option value="ADM_NAME" @fSelectBoxSelecteded(ViewBag.SEARCH_COL, "ADM_NAME")>이름</option>
                                </select>  <input type="text" class="input-sm text-left" name="SEARCH_KEYWORD" maxlength="20"  value="@ViewBag.SEARCH_KEYWORD" />
                                <a href="javascript:fGoSearch();" class="btn btn-default small">search</a>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div class="">
                    <table class="table table_row">
                        <colgroup><col style="width:12%" /><col style="width:auto" /><col style="width:12%" /><col style="width:auto" /></colgroup>
                        <tr>
                            <th>총검색</th>
                            <td>@ViewBag.TotalRecord 건</td>
                            <th>출력수</th>
                            <td>
                                <select name="PAGESIZE" onchange="javascript:fGoSearch();">
                                    <option value="10" @fSelectBoxSelecteded(Convert.ToString(ViewBag.PAGESIZE), "10")>10개</option>
                                    <option value="20" @fSelectBoxSelecteded(Convert.ToString(ViewBag.PAGESIZE), "20")>20개</option>
                                    <option value="50" @fSelectBoxSelecteded(Convert.ToString(ViewBag.PAGESIZE), "50")>50개</option>
                                    <option value="100" @fSelectBoxSelecteded(Convert.ToString(ViewBag.PAGESIZE), "100")>100개</option>
                                    <option value="200" @fSelectBoxSelecteded(Convert.ToString(ViewBag.PAGESIZE), "200")>200개</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
</div>

        <div class="panel">
            <h4>관리자 리스트</h4>
            <!-- 처음과 마지막  th, td에 각각 "brnone" class 사용합니다.-->
            <table class="table table_col">
                <colgroup><col /><col /><col/><col /><col /><col  /><col /></colgroup>
                <thead>
                    <tr>
                        <th scope="col" class="brnone">No</th>
                        <th scope="col" >아이디</th>
                        <th scope="col">이름</th>
                        <th scope="col">등급</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">전화</th>
                        <th scope="col">등록일자</th>
                        <th scope="col" class="brnone">사용여부</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        if (Model.Count() <1)
                        {
                            <tr>
                                <td colspan="8" class="brnone">No data...</td>
                            </tr>
                        }
                    }

                    @{
                        var count = ViewBag.TotalRecord - (ViewBag.PAGE - 1) * ViewBag.PAGESIZE;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="brnone">@count.ToString("#,##0")</td>
                                <td><a href="/AdminUser/Edit?SEL_ADM_ID=@item.ADM_ID" class="btn btn-primary small">@item.ADM_ID</a></td>
                                <td><a href="/AdminUser/Edit?SEL_ADM_ID=@item.ADM_ID" class="btn btn-primary small">@item.ADM_NAME</a></td>
                                <td>@item.ADM_GRADE</td>
                                <td>@item.ADM_EMAIL</td>
                                <td>@item.ADM_PHONE</td>
                                <td>@item.ADM_INS_DATE</td>
                                <td class="brnone">@item.ADM_USE_YN</td>
                            </tr>
                        
                            count = count - 1;
                        }
                    }
                </tbody>
            </table>
        </div>


        @{Html.RenderAction("Paging", "CommonChildAction", new { TotalRecord = ViewBag.TotalRecord, RecordPerPage = ViewBag.PAGESIZE, PagePerBlock = 10, CurrentPage = ViewBag.PAGE, QueryStr = @QueryStr });}


        <!--버튼모음-->
        <!--
        ************************************************<br />
        버튼가이드 <br /><br />
        대버튼 : <br />
        <a href="#" class="btn btn-default large">확인</a>
        <a href="#" class="btn btn-primary large">취소</a>
        <br /><br />
        중버튼 : <br />
        <a href="#" class="btn btn-default middium">편집중인 설정으로 저장</a>
        <br /><br />
        소버튼 : <br />
        <a href="#" class="btn btn-default small">저장</a>
        <a href="#" class="btn btn-success small">수정</a>
        <a href="#" class="btn btn-primary small">삭제</a><br />
        ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑<br />
        3가지 타입 버튼이 필요할때 적용<br />
        <a href="#" class="btn btn-info small">추가</a>
            -->
        <!--//버튼모음-->

    </div>
}

