<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/cmsManager/aboutCom/css/bootstrap.css" rel="stylesheet">
    <link href="/cmsManager/aboutCom/css/jquery-ui.min.css" rel="stylesheet">
    <link href="/cmsManager/aboutCom/css/style.css" rel="stylesheet">
    <script src="/cmsManager/aboutCom/js/jquery-1.11.3.min.js"></script>
    <script src="/cmsManager/aboutCom/js/bootstrap.min.js"></script>
    <script src="/cmsManager/aboutCom/js/jquery-ui.js"></script>
    <script src="/cmsManager/aboutCom/js/ui.datepicker-ko.js"></script>
    <script src="/cmsManager/aboutCom/js/script.js"></script>
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/kendo")

    @RenderSection("Other", false)
    @RenderSection("Scripts",false)
    <title>ABOUT ME</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!--sidebar-->
            @if (IsSectionDefined("Left"))
	        {
                @RenderSection("Left")
            }
            <!--//sidebar-->
            <!--container-->
            <div class="col-xs-10 col-xs-offset-2 container">

                <!--header ssw -------------------->
            @if (IsSectionDefined("Header"))
	        {
                @RenderSection("Header")
            }
                <!--header ssw -------------------->
                <!--content-->
                @if (IsSectionDefined("Body"))
                {
                    @RenderSection("Body")
                }
                else
                { 
                    @RenderBody()
                }
                <!--//content-->
            </div>
            <!--//container-->
        </div>
    </div>
</body>
</html>