@model AboutMe.Web.Front.Models.MyReviewCompleteViewModel
@using AboutMe.Web.Front.Controllers
@using AboutMe.Domain.Entity.Review
@{
    Layout = "~/Views/Shared/_AboutMeLayoutA.cshtml";

    var myController = ViewContext.Controller as MyReviewController;
}
@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}
    <link href="/aboutCom/css/mypage.css" rel="stylesheet">
}



@section Body{
    <div class="wrap mypage">
        @{ Html.RenderPartial("~/Views/AboutMePartial/_Header.cshtml");}


        <!--container-->
        <div id="container" class="review">
            <div class="container1080">
                @{ Html.RenderPartial("~/Views/MyReview/_Top.cshtml");}

                <!--리뷰영역-->
                <div class="contypeb">
                    <div class="reviewwrap">
                        <!--리뷰 탭-->
                        <div class="reviewtab">
                            <ul class="">
                                <li><a href="/MyPage/MyReview">작성 가능한 리뷰</a></li>
                                <li class="cnt"><a href="#" onclick="return false;">작성한 리뷰</a></li>
                            </ul>
                        </div>
                        <!--//리뷰 탭-->
                        <!--리뷰 컨텐츠-->
                        <div id="tabCon2" class="wrote tab_content" style="display:block">
                            <!--리뷰 슬라이드-->
                            <div class="pur_review accordion">

    @{
        var i = 0;
        var count = Model.Reviews.Count;
    }
    @foreach (var item in Model.Reviews)
    {

                        var cssClassName = "";
                        var selectContent = "";
        
                        if (i == 0)
                        {
                            cssClassName = "first";
                            selectContent = "cnt";
                        }
                        else if (i >= count - 1)
                        {
                            cssClassName = "last";
            
                        }

                         <div class="cont accordcont @cssClassName @selectContent">

                             <div class="subj accordsubject">

                                 <div class="writer">
                                     <span class="userage"><em class="skin @(item.SKIN_TYPE_CSS)"></em><em class="age">@(item.M_BIRTHDAY_LBL)대, @item.M_SEX_LBL</em></span>
                                     <span class="date">@item.INS_DATE.Value.ToString("yyyy.MM.dd")</span>
                                 </div>
                                 <p class="txtdotdot">
                                     @Html.Raw(item.COMMENT)
                                 </p>
                                    @if (item.IS_PHOTO == "Y")
                                    {
                                        <!--사진이 등록된 리뷰일 때 사용-->
                                        <span class="ico_photo">포토리뷰</span>
                                        <!--//사진이 등록된 리뷰일 때 사용-->
                                    }

                             </div>
                             <div class="contxt accordtxt">

                                 <div class="writer">
                                     <span class="userage"><em class="skin @(item.SKIN_TYPE_CSS)"></em><em class="age">@(item.M_BIRTHDAY_LBL)대, @item.M_SEX_LBL</em></span>
                                 </div>
                                 @Html.Raw(item.COMMENT.Replace("\r\n", "<br />"))
                                 @if (item.IS_PHOTO == "Y")
                                 {
                                     <img src="@myController._img_path_review@item.ADD_IMAGE" alt="" />
                                 } 

                                 <a href="#none" class="btn_modify btn_gray_w96h38" onclick="PopupCenter('@Url.Action(string.Format("Update/{0}", item.IDX), "MyReview")', '', 780, 600); return false;">수정</a>             
                             </div>

                        </div>

                        i++;
                    }


                </div>
                <!--//리뷰 슬라이드-->

                <!--페이징-->
                @{

                    Html.RenderAction("Paging", "CommonChildAction", new { TotalRecord = Model.Total, RecordPerPage = 10, PagePerBlock = Model.PageSize, CurrentPage = Model.PageNo, QueryStr = "" });
                }
                <!--//페이징-->
            </div>
                        <!--//리뷰 컨텐츠-->
                        </div>
                    <!--//wrap review-->
                </div>
                <!--//리뷰영역-->

            </div>
            <!--//container1080-->
        </div>
        <!--//container-->
        @{ Html.RenderPartial("~/Views/AboutMePartial/_Footer.cshtml");}

    </div>
    <!--//wrap-->
}

