@model AboutMe.Domain.Entity.Review.MyReviewCompleteViewModel
@using AboutMe.Domain.Entity.Review
@using AboutMe.Web.Front.Controllers
@{
    ViewBag.Title = "나의 리뷰 - ABOUT ME";
    ViewBag.TopClass = "mypage";

    Layout = "~/Views/Shared/_AboutMeLayoutB.cshtml";

    var myController = ViewContext.Controller as MyReviewController;
}
@section Scripts {
    <link href="/aboutCom/css/mypage.css" rel="stylesheet" />
}

        <!--container-->
        <div id="container" class="review">
            <div class="container1080">
                <!--mypage_top-->
                <div class="mypage_top">
                    <!--h2_area-->
                    <div class="h2_area">
                        <h2>나의 리뷰<i></i></h2>
                        <!--mypage_menu-->
                        @{ Html.RenderPartial("~/Views/AboutMePartial/_MyPageSubMenu.cshtml");}
                        <!--//mypage_menu-->
                    </div>
                    <!--//h2_area-->
                    <!--꼭 읽어주세요-->
                    <div class="userread">
                        <p class="tit">꼭 읽어주세요</p>
                        <ul class="ps_list">
                            <li>베스트 리뷰로 선정되면 2,000포인트 추가 지급 됩니다.</li>
                            <li>포토리뷰 작성 시 1,000 포인트가 적립됩니다.</li>
                            <li>텍스트 리뷰 작성 시 500 포인트가 적립됩니다.</li>
                            <li>텍스트 리뷰 작성 후 포토리뷰로 수정 불가능합니다.</li>
                            <li>구매확정 후 작성 가능합니다.</li>
                            <li>리뷰 작성 시 개인정보는 가급적 노출하지 마시기 바랍니다. (본 쇼핑몰에서는 책임지지 않습니다.)</li>
                        </ul>
                    </div>
                    <!--//꼭 읽어주세요-->
                </div>
                <!--//mypage_top-->

                <!--리뷰영역-->
                <div class="contypeb">
                    <div class="reviewwrap">
                        <!--리뷰 탭-->
                        <div class="reviewtab">
                            <ul class="">
                                <li><a href="@Url.Action("Ready", "MyReview")">작성 가능한 리뷰</a></li>
                                <li class="cnt"><a href="#" onclick="">작성한 리뷰</a></li>
                            </ul>
                        </div>
                        <!--//리뷰 탭-->
                        <!--리뷰 컨텐츠-->
                        <div id="tabCon2" class="wrote tab_content" style="display:block">
                <!--리뷰 슬라이드-->
                <div class="pur_review accordion">

                    @if (Model.Reviews.Count > 0)
                    {
                        
                        var i = 0;
                        var count = Model.Reviews.Count;
                        
                        foreach (var item in Model.Reviews)
                        {

                            var cssClassName = "";
                            var selectContent = "";

                            if (i == 0)
                            {
                                cssClassName = "first";
                                selectContent = "cnt";
                            }
                            else if (i >= count - 1)
                            {
                                cssClassName = "last";

                            }

                            <div class="cont accordcont @cssClassName @selectContent">

                                <div class="subj accordsubject">

                                    <div class="writer">
                                        <span class="userage"><em class="skin @(item.SKIN_TYPE_CSS)"></em><em class="age">@(item.M_BIRTHDAY_LBL)대, @item.M_SEX_LBL</em></span>
                                        <span class="date">@item.INS_DATE.Value.ToString("yyyy.MM.dd")</span>
                                    </div>
                                    <p class="txtdotdot">
                                        @Html.Raw(item.COMMENT)
                                    </p>
                                    @if (item.IS_PHOTO == "Y")
                                    {
                                        <!--사진이 등록된 리뷰일 때 사용-->
                                        <span class="ico_photo">포토리뷰</span>
                                        <!--//사진이 등록된 리뷰일 때 사용-->
                                    }

                                </div>
                                <div class="contxt accordtxt">

                                    <div class="writer">
                                        <span class="userage"><em class="skin @(item.SKIN_TYPE_CSS)"></em><em class="age">@(item.M_BIRTHDAY_LBL)대, @item.M_SEX_LBL</em></span>
                                    </div>
                                    @Html.Raw(item.COMMENT.Replace("\r\n", "<br />"))
                                    @if (item.IS_PHOTO == "Y")
                                    {
                                        <img src="@string.Format("{0}R308_{1}", myController._img_path_review, item.ADD_IMAGE)" alt="" />
                                    }

                                    <a href="#none" class="btn_modify btn_gray_w96h38" onclick="PopupCenter('@Url.Action(string.Format("Update/{0}", item.IDX), "MyReview")', '', 780, 600); return false;">수정</a>
                                </div>

                            </div>

                                    i++;
                        }
                    }
                    else
                    {
                        <div class="no_data">
                            <img alt="" src="/aboutCom/images/common/ico_nodata2.gif">
                            <p class="txt">작성한 리뷰가 없습니다.</p>
                        </div>
                    }




                </div>
                <!--//리뷰 슬라이드-->
                            <!--페이징-->
                            @if (Model.Reviews.Count > 0)
                            {
    
                                Html.RenderAction("Paging", "CommonChildAction", new { TotalRecord = Model.Total, RecordPerPage = 10, PagePerBlock = Model.PageSize, CurrentPage = Model.PageNo, QueryStr = "" });
    
                            }
                            <!--//페이징-->

            </div>
                        <!--//리뷰 컨텐츠-->
                        </div>
                    <!--//wrap review-->
                </div>
                <!--//리뷰영역-->

            </div>
            <!--//container1080-->
        </div>
        <!--//container-->
