@model AboutMe.Domain.Entity.Review.MyReviewProductInputViewModel
@using AboutMe.Common.Helper
@using AboutMe.Common.Data
@using AboutMe.Web.Front.Controllers
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AboutMeLayoutPopup.cshtml";

    var myController = ViewContext.Controller as MyReviewController;
}
@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}

    <style>
        .field-validation-error, .validation-summary-errors {
            color: red;
            font-size: 13px;
            line-height: 15px;
        }
    </style>


    <script>

        //결과값 처리

        var rNum = "@TempData["ResultNum"]";
        var rMsg = "@TempData["ResultMessage"]";

        //console.log(rNum)

        if (rNum != "0" && rNum != "") {
            alert(rMsg);
        } else if (rNum == "0") {
            window.opener.location = "@Url.Action("Complete", "MyReview")";
            self.close();
        }
        

    </script>

}

@section Body{
    <!-- 상품리뷰등록_뷰티 팝업 -->
    <div class="popupwrap">
        <div class="pop">
            <!--pop_top-->
            <div class="pop_top">
                <div class="title_area">
                    <p class="title">상품 리뷰 등록</p>
                </div>
                <a href="#none" class="pop_close" onclick="PopupClose()"><img src="/aboutCom/images/review/reviewpop_close.gif" alt="닫기" /></a>
            </div>
            <!--//pop_top-->
            <!--pop_bottom-->
            <div class="write_review pro">
                @using (Html.BeginForm("Update", "MyReview", FormMethod.Post, new { id = "frm", name = "frm"}))
                {
                    @Html.AntiForgeryToken()
                    <div>@Html.ValidationSummary(true, "", new { @style = "display:inline;" })</div>
                    <input type="hidden" name="IDX" value="@Model.IDX" />
                    <input type="hidden" name="P_MAIN_IMG" value="@Model.P_MAIN_IMG" />
                    <input type="hidden" name="P_NAME" value="@Model.P_NAME" />
                    <input type="hidden" name="P_SUB_TITLE" value="@Model.P_SUB_TITLE" />
                    <input type="hidden" name="C_CATE_CODE" value="@Model.C_CATE_CODE" />
                    <input type="hidden" name="SKIN_TYPE" value="@Model.SKIN_TYPE" />
                    <input type="hidden" name="SKIN_TYPE_LBL" value="@Model.SKIN_TYPE_LBL" />
                    <fieldset>
                        <legend>상품 리뷰 등록 폼</legend>
                        <!-- [Desc]마지막 행에는 class="last"를 붙여줍니다. -->
                        <table summary="상품찾기, 피부타입, 제목">
                            <caption>상품 리뷰 등록 입력 표</caption>
                            <colgroup>
                                @if (ReviewHelper.CheckBeauty(@Model.C_CATE_CODE))
                                {
                                    <col width="147" />
                                    <col width="*" />
                                    <col width="88" />
                                    <col width="142" />
                                }
                                else
                                {
                                    <col width="147" />
                                    <col width="*" />
                                }
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>상품명</th>
                                    <td class="pro_info" colspan="@(ReviewHelper.CheckBeauty(Model.ProductInfo.C_CATE_CODE) ? "" : "3")" >
                                        <!--이미지사이즈 96x96-->
                                        <div class="photo"><img src="@string.Format("{0}R120_{1}", myController._img_path_product, Model.P_MAIN_IMG)" alt="" /></div>
                                        <div class="detail">
                                            <p class="tit">@Model.P_NAME</p>
                                            <p class="stit">@Model.P_SUB_TITLE</p>
                                        </div>
                                    </td>

                                    @if (ReviewHelper.CheckBeauty(@Model.C_CATE_CODE))
                                    {
                                        <th class="skintype">피부타입</th>
                                        <td class="skintype">
                                            @Model.SKIN_TYPE_LBL
                                        </td>
                                    }

                                </tr>
                                <tr class="edit">
                                    <th><span>@Html.ValidationMessageFor(model => model.COMMENT)</span>내용<br /></th>
                                    <td colspan="3">
                                        <textarea name="COMMENT" class="txtareatypea" style="width:100%">@Model.COMMENT</textarea>
                                    </td>
                                </tr>
                                <tr class="attach">
                                    <th>사진</th>
                                    <td colspan="3">
                                        <span class="imgbox">
                                            @if (@Model.ADD_IMAGE != null)
                                            {
                                                <img id="previewImage" src="@string.Format("{0}{1}", myController._img_path_review, Model.ADD_IMAGE)" alt="" />
                                            }
                                            
                                        </span>
                          
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="note">
                            <h3>유의사항</h3>
                            <ul>
                                <li>- 리뷰 작성 시 일반리뷰는 500포인트, 포토리뷰는 1,000포인트를 적립해 드립니다.</li>
                                <li>- 텍스트 리뷰 작성 후 포토리뷰로 수정 불가능합니다.</li>
                                <li>- 근거 없는 악성 비방글,게시판의 성격과 맞지 않는 글은 삭제 돌 수 있으니 양해 부탁 드립니다.</li>
                            </ul>
                        </div>
                        <div class="btngroup mt30">
                            <a href="#" class="btn_brown_w96h38" onclick="document.frm.submit(); return false;">수정</a><a href="#" onclick="PopupClose()" class="btn_white_w96h38 typeb">취소</a>
                        </div>
                    </fieldset>
                }
            </div>
            <!--//pop_bottom-->
        </div>
    </div>
    <!-- //상품리뷰등록_뷰티 팝업 -->
}

