@model IEnumerable<AboutMe.Domain.Entity.Product.SP_PRODUCT_SEARCH_SEL_Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AboutMeLayoutA.cshtml";
}
@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}
    <link href="/aboutCom/css/shoping.css" rel="stylesheet" />
}


<!--header-->
@section Header{

}
<!--//header-->
@section Scripts{

    <script language="javascript">

        $(function () {
            //ajaxSelectCateCodeJavascriptInit();
        });

        function bsearch() {
            var f = document.bform;
            //alert('ok');
            //alert(f.P_CATE_CODE_3DEPTH[0].checked);
            if (f.SEARCH_KEWWORD.value == '') {
                alert('검색어를 입력해 주세요')
                f.SEARCH_KEWWORD.focus();
                return false;
            }
            f.target = "";
            f.PAGE.value = 1;
            f.submit();
        }

        function sortGbn(code) {
            var f = document.bform;
            f.SORT_GBN.value = code;
            bsearch();
        }

        function rePageSize() {
            var f = document.bform;

            f.target = "";
            f.page.value = 1;
            f.submit();
        }

    </script>
}

<!--container-->
@section Body{

    <div class="wrap display">
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Header.cshtml");}
    @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { id = "bform", name = "bform" }))
    {
        @Html.AntiForgeryToken()  //폼 데이터 위조 방지 토큰 생성
                                    <input type="hidden" name="PAGE" value="@ViewBag.PAGE">
                                    <input type="hidden" name="SORT_GBN" value="@ViewBag.SORT_GBN">

        <!--container-->
    <div id="container">
        <div class="container100per search">
            <div class="inner">
                <!--display_top-->
                <div class="display_top">
                    <h2><img src="/aboutCom/images/shopping/h2_search.png" alt="SEARCH" /></h2>
                    <!--검색영역-->
                    <span class="search_ipt"><input type="text" id="SEARCH_KEWWORD" name="SEARCH_KEYWORD" value="@ViewBag.SEARCH_KEYWORD" /><a href="javascript:bsearch();" class="btn_search"></a></span>
                    <!--//검색영역-->
                </div>
                <!--//display_top-->
            </div>
        </div>
        <div class="container1080">
            <div class="display_bottom">
                <!--상품리스트-->
                <div class="product_area">
                    <div class="product_top">
                        <span class="totaltxt">"@ViewBag.SEARCH_KEYWORD" 관련 총 @ViewBag.TotalRecord 개의 상품이 있습니다.</span>
                        <!--분류-->
                        <ul class="sort">
                            <li @if (ViewBag.SORT_GBN == "NEW") { <text> class="cnt" </text>   }><a href="javascript:sortGbn('NEW');" onclick="javascript:sortGbn('NEW');">신상품순</a></li>
                            <li @if (ViewBag.SORT_GBN == "LIKE") { <text> class="cnt" </text>    }><a href="javascript:sortGbn('LIKE');" onclick="javascript:sortGbn('LIKE');">인기순</a></li>
                            <li @if (ViewBag.SORT_GBN == "UP") { <text> class="cnt" </text>    }><a href="javascript:sortGbn('UP');" onclick="javascript:sortGbn('UP');">최고가순 ↑</a></li>
                            <li @if (ViewBag.SORT_GBN == "DOWN") { <text> class="cnt" </text>    }><a href="javascript:sortGbn('DOWN');" onclick="javascript:sortGbn('DOWN');">최저가순 ↓</a></li>
                        </ul>
                        <!--//분류-->
                    </div>

                    <!--상품리스트-->
                    <ul class="product_list">
                        @foreach (var item in Model)
                        {
                            string imgUrl1 = ViewBag.PRODUCT_PATH + "R270_" + item.MAIN_IMG;
                            string imgUrl2 = ViewBag.PRODUCT_PATH + "R270_" + item.OTHER_IMG1;
                            <li>
                                <a href="/shopping/detail?pcode=@item.P_CODE" class="list">
                                    <span class="photo">
                                        <img src="@imgUrl1" data-pic="@imgUrl2" class="item" alt="" />
                                    </span>
                                    <span class="info">
                                        <span class="ico ">
                                            @if (!string.IsNullOrEmpty(item.ICON_YN))
                                            {
                                                if (item.ICON_YN.IndexOf('B') != -1)
                                                { <text> <span class="ico_best">BEST</span></text> }
                                                if (item.ICON_YN.IndexOf('S') != -1)
                                                { <text> <span class="ico_soldout">SOLD OUT</span></text> }
                                                if (item.ICON_YN.IndexOf('N') != -1)
                                                { <text> <span class="ico_new">NEW</span></text> }
                                                if (item.ICON_YN.IndexOf('C') != -1)
                                                { <text> <span class="ico_custom ">커스텀</span></text> }
                                            }
                                            @if (!string.IsNullOrEmpty(item.PMO_PRODUCT_CATEGORY))
                                            {
                                                if (item.PMO_PRODUCT_CATEGORY == "01")
                                                { <text> <span class="ico_set">SET</span></text> }
                                                if (item.PMO_PRODUCT_CATEGORY == "02")
                                                { <text> <span class="ico_1_1">1+1</span></text> }
                                                if (item.PMO_PRODUCT_CATEGORY == "03")
                                                { <text> <span class="ico_time">TIME</span></text> }
                                            }
                                            @if (!string.IsNullOrEmpty(item.COUPON_CODE))
                                            {
                                                <text> <span class="ico_coupon">COUPON</span></text>
                                            }
                                        </span>
                                        <span class="title">
                                                <em class="product_tit">@(new HtmlString(item.P_SUB_TITLE))</em>
                                                <em class="product_name">@(new HtmlString(item.P_NAME))</em>
                                            </span>
                                        <em class="price">
                                                <del>@string.Format("{0:#,##0}", item.SELLING_PRICE)원</del>
                                                <strong>@string.Format("{0:#,##0}", item.RESULT_PRICE)원</strong>
                                        </em>
                                    </span>
                                </a>
                                <a href="#" class="cart" onclick="javascript:Cart_Product_Input('@item.P_CODE','1');"><img src="/aboutCom/images/shopping/ico_cart.png" alt="" /></a>
                                <span class="frame"><span class="l"></span><span class="t"></span><span class="r"></span><span class="b"></span></span>
                            </li>
                        }
                        @if (ViewBag.TotalRecord == 0 )
                        { <text>
                        <!--검색결과없음-->
                        <div class="no_data">
                            <img src="/aboutCom/images/common/ico_nodata.gif" alt="" />
                            <p class="txt">
                                검색한 상품이 없습니다.<br />
                                다른 상품명으로 검색해주세요
                            </p>
                        </div>
                        <!--//검색결과없음-->
                        </text>}
                    </ul>
                    <!--//상품리스트-->
                </div>
                <!--//상품리스트-->
                <!--페이징-->
                @{
                        //paging 파라메터
                        string PagingParam = "";
                        PagingParam = PagingParam + "&SORT_GBN=" + ViewBag.SORT_GBN;
                        PagingParam = PagingParam + "&SEARCH_KEYWORD=" + ViewBag.SEARCH_KEYWORD;
                }
                @{Html.RenderAction("Paging", "CommonChildAction", new { TotalRecord = ViewBag.TotalRecord, RecordPerPage = ViewBag.PAGESIZE, PagePerBlock = 10, CurrentPage = ViewBag.PAGE, QueryStr = PagingParam });}
                <!--//페이징-->
            </div>
        </div>
    </div>
		<!--//container-->
    }                              
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Footer.cshtml");}
   </div>
}
<!--footer-->
@section Footer{
    
}
<!--//footer-->
