@{
    ViewBag.Title = "join Step3";
    Layout = "~/Views/Shared/_AboutMeLayoutA.cshtml";
}

@{
    @helper fM_SEX_NAME(string m_sex)
    {
        var m_sex_name = m_sex;
        switch (m_sex)
        {
            case "1": m_sex_name = "남자";
                break;
            case "3": m_sex_name = "남자";
                break;
            case "2": m_sex_name = "여자";
                break;
            case "4": m_sex_name = "여자";
                break;
        }
        @(m_sex_name)
    
    } //func
    
}

@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}
    <link href="/aboutCom/css/membership.css" rel="stylesheet" />
}


<!--header-->
@section Header{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Header.cshtml");}
}
<!--//header-->
<!--container-->
@section Body{


    <div class="wrap join">

<script type="text/javascript" src="/aboutCom/js/common_member.js"></script>

<script>
    var glID_DUP_CHECKED = false;  //아이디 중복확인 여부
    var glREGISTER_ING = false;  //저장처리중
    function fSetNewID()
    {
        glID_DUP_CHECKED = false;  //아이디 중복확인 여부
    }

    function fGoCancel() {
        if (confirm("회원가입을 중단하시겠습니까?"))
            window.location.href = "/";
    }

    function fSetEmailDomain()
        {
            var f = document.frmJOIN;
            if(f.M_EMAIL_SEL.selectedIndex>0)
            {
                f.M_EMAIL_2.value=f.M_EMAIL_SEL[f.M_EMAIL_SEL.selectedIndex].value;
            }
    }

    //신규가입 저장 성공후 -> 다음 스텝으로 이동
    function fGoRegisterComplete()
    {
        var f = document.frmJOIN;
        f.action = "/MemberShip/JoinStep4";
        f.targte = "";
        f.submit();
    }

    function fGoSave(){
        var f = document.frmJOIN;

        if (glREGISTER_ING) {
            alert("회원가입 처리중입니다. 잠시만 기다려 주십시오.");
            return;
        }

        //ID 유효성 검증
        if(fIsValidMemberID(f.M_ID.value) ==false)
        {
            glID_DUP_CHECKED = false;
            return;
        }
        //if (f.M_ID.value.length < 4) {
        //    alert("아이디를 4자이상 입력하세요");
        //    return;
        //}

        //ID 중혹확인여부
        if (!glID_DUP_CHECKED)
        {
            alert("아이디 중복 체크를 먼저 하십시오");
            return;
        }

        if (f.M_PWD.value != f.M_PWD2.value) {
            alert("암호와 암호 확인이 일치하지 않습니다.");
            return;
        }

        //암호 유효성 검증
        if(fIsValidMemberPWD(f.M_PWD.value) ==false)
        {
            return;
        }
        

        if (f.M_NAME.value.length < 1) {
            alert("이름이 없습니다. 실명인증부터 다시 받으셔야 합니다.");
            return;
        }
        if (f.M_BIRTHDAY.value.length < 1) {
            alert("생일이 없습니다. 실명인증부터 다시 받으셔야 합니다.");
            return;
        }
        if (f.M_MOBILE_1.value.length < 3 || f.M_MOBILE_2.value.length < 3 || f.M_MOBILE_3.value.length < 3) {
            alert("휴대폰 번호를 입력하세요.");
            return;
        }

        if (fIsValidMemberTEL_PART(f.M_MOBILE_2.value, "N") == false)
        {
            return;
        }
        if (fIsValidMemberTEL_PART(f.M_MOBILE_3.value, "N") == false) {
            return;
        }

        if (fIsValidMemberTEL_PART(f.M_PHONE_2.value, "Y") == false) {
            return;
        }
        if (fIsValidMemberTEL_PART(f.M_PHONE_3.value, "Y") == false) {
            return;
        }

        if (f.M_EMAIL_1.value.length < 2 || f.M_EMAIL_2.value.length < 3 ) {
            alert("EMAIL을 입력하세요.");
            return;
        }

        if (f.M_ISSMS[0].checked == false && f.M_ISSMS[1].checked == false) {
            alert("SMS수신여부를 선택하세요.");
            return;
        }
        if (f.M_ISEMAIL[0].checked == false && f.M_ISEMAIL[1].checked == false) {
            alert("이메일수신여부를 선택하세요.");
            return;
        }
        if (f.M_ISDM[0].checked == false && f.M_ISDM[1].checked == false) {
            alert("DM수신여부를 선택하세요.");
            return;
        }

        var strM_ID = f.M_ID.value;
        var strM_PWD = f.M_PWD.value;
        var strM_NAME = f.M_NAME.value;
        var strM_BIRTHDAY = f.M_BIRTHDAY.value;
        var strM_SEX = f.M_SEX.value;
        var strM_MOBILE = f.M_MOBILE_1.value + "-" + f.M_MOBILE_2.value + "-" + f.M_MOBILE_3.value;
        var strM_PHONE = f.M_PHONE_1.value + "-" + f.M_PHONE_2.value + "-" + f.M_PHONE_3.value;
        var strM_EMAIL = f.M_EMAIL_1.value + "@@" + f.M_EMAIL_2.value ;
        var strM_ZIPCODE = f.M_ZIPCODE.value ;
        var strM_ADDR1 = f.M_ADDR1.value;
        var strM_ADDR2 = f.M_ADDR2.value;
        var strM_ISSMS = "N";
        if (f.M_ISSMS[0].checked) strM_ISSMS = "Y";
        
        var strM_ISEMAIL = "N";
        if (f.M_ISEMAIL[0].checked) strM_ISEMAIL = "Y";

        var strM_ISDM = "N";
        if (f.M_ISDM[0].checked) strM_ISDM = "Y";

        var strM_AGREE = f.M_AGREE.value;
        var strM_AGREE2 = f.M_AGREE2.value;

        var strM_JOIN_MODE = f.M_JOIN_MODE.value;
        var strM_DI = f.M_DI.value;
        var strWORK_TMP_ID = f.WORK_TMP_ID.value;

        var strURL = "/MemberShip/AjaxJOIN_Register";

        glREGISTER_ING = true;  //저장 진행중 --------------------

        $.ajax({
            url: strURL,
            async: false,  //동기 통신
            type: 'POST',
            dataType: 'json',
            data: {
                M_ID: strM_ID
                , M_NAME: strM_NAME
                , M_PWD: strM_PWD

                , M_SEX: strM_SEX
                , M_BIRTHDAY: strM_BIRTHDAY

                , M_MOBILE: strM_MOBILE
                , M_PHONE: strM_PHONE
                , M_EMAIL: strM_EMAIL
                , M_ZIPCODE: strM_ZIPCODE
                , M_ADDR1: strM_ADDR1
                , M_ADDR2: strM_ADDR2
                , M_ISSMS: strM_ISSMS
                , M_ISEMAIL: strM_ISEMAIL
                , M_ISDM: strM_ISDM

                , M_AGREE: strM_AGREE
                , M_AGREE2: strM_AGREE2
            
                , M_JOIN_MODE: strM_JOIN_MODE
                , M_DI: strM_DI
                , WORK_TMP_ID: strWORK_TMP_ID

            },
            success: function (retDATA) {
                if (retDATA.ERR_CODE == "0") {
                    glID_DUP_CHECKED = true;
                    alert("회원가입을 축하합니다. 로그인후 사용하십시오.");
                    fGoRegisterComplete(); //다음 스텝으로 이동
                }
                else {
                    glID_DUP_CHECKED = false;
                    glREGISTER_ING = false; //저장 진행중 종료 --------------------
                    alert("회원가입중 오류가 발생했습니다.\n\n 오류내용:" + retDATA.ERR_MSG);
                }
            },
            error: function (e) {
                glID_DUP_CHECKED = false;
                glREGISTER_ING = false; //저장 진행중 종료 --------------------
                alert("ajax 오류발생2");
            }
        }); //ajax    
    } //func


    //ID중복 확인
    function fID_DupCheck()
    {
        var f = document.frmJOIN;
        //ID 유효성 검증
        if(fIsValidMemberID(f.M_ID.value) ==false)
        {
            glID_DUP_CHECKED = false;
            return;
        }
        //if (f.M_ID.value.length < 4) {
        //    alert("아이디를 영문 숫자 조합하여 4~12자리로 만들어 주세요");
        //    return;
        //}

        var strM_ID = f.M_ID.value;

        var strURL = "/MemberShip/AjaxID_DUPCheck"; 

        $.ajax({
            url: strURL,
            async: false,  //동기 통신
            type: 'POST',
            dataType: 'json',
            data: {
                M_ID: strM_ID
            },
            success: function (retDATA) {
                if (retDATA.ERR_CODE == "0") {
                    glID_DUP_CHECKED = true;
                    alert("사용가능한 ID입니다.");
                
                }
                else {
                    glID_DUP_CHECKED = false;
                    alert("이미 사용중이거나 사용할수 없는 아이디 입니다.다른 아이디를 입력하세요." );
                }
            },
            error: function (e) {
                alert("ajax 오류발생1");
            }
        }); //ajax


    } //function fID_DupCheck()
</script>


    <!--container-->
    <div id="container">
        <div class="container1080">
            <h2><img src="/aboutCom/images/membership/h2_join.gif" alt="회원가입" /><span>고객님의 가입여부 확인 및 개인 정보보호를 위해 실명확인 서비스를 실시하고 있습니다. </span></h2>
            <!--step-->
            <div class="joinstep"><img src="/aboutCom/images/membership/joinstep3.gif" alt="회원정보 입력" /></div>
            <div class="contypea step3">
                <form name="frmJOIN" method="post" action="">
                    <input type="hidden" name="WORK_TMP_ID" value="@ViewBag.WORK_TMP_ID" />
                    <input type="hidden" name="M_DI" value="@ViewBag.M_DI" />
                    <input type="hidden" name="M_JOIN_MODE" value="@ViewBag.M_JOIN_MODE" />

                    <input type="hidden" name="M_AGREE" value="@ViewBag.M_AGREE" />
                    <input type="hidden" name="M_AGREE2" value="@ViewBag.M_AGREE2" />
                                        

                    <fieldset>
                        <legend>회원가입 정보 입력 폼</legend>
                        <h3><img src="/aboutCom/images/membership/h3_userinfo.gif" alt="기본정보" /><span>표시는 필수 입력 항목입니다.</span></h3>
                        <div class="tabletypea mt20">
                            <table summary="아이디, 비밀번호, 비밀번호 확인, 이름, 생년월일, 성별, 휴대폰 번호, 집 전화번호, 이메일, 주소, SMS수신, 이메일 수신, DM 수신">
                                <colgroup><col width="115" /><col width="430" /><col width="130" /><col width="*" /></colgroup>
                                <tr>
                                    <th><span class="essential">아이디</span></th>
                                    <td colspan="3" class="memberid">
                                        <input type="text" class="ipttypea mr10" style="width:218px" title="아이디" name="M_ID" maxlength="12" onchange="javascript: fSetNewID();"/><a href="javascript:fID_DupCheck();" class="btn_white_w96h38 typeb">중복확인</a>
                                        <span class="ps_txt txt1"><em>※</em> 영문과 숫자를 조합하여 4~12자리로 만들어 주세요.<br />첫글자는 영문으로 입력해주세요. </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="password"><span class="essential">비밀번호</span></th>
                                    <td class="password"><input type="password" class="ipttypea" style="width:390px" title="비밀번호" name="M_PWD" value="" maxlength="12" /><br /><span class="ps_txt txt2"><em>※</em> 영문과 숫자를 조합하여 5~12자리로 만들어 주세요. 첫글자는 영문으로 입력해주세요 </span></td>
                                    <th class="password"><span class="essential">비밀번호 확인</span></th>
                                        <td class="password"><input type="password" class="ipttypea" style="width:100%" title="비밀번호확인" name="M_PWD2" value="" maxlength="12"  /></td>
                                    </tr>
                                    <tr>
                                        <th><span class="essential">이름</span></th>
                                        <td colspan="3" class="membername">
                                            <input type="hidden" class="ipttypea" style="width:390px" title="이름" name="M_NAME" value="@ViewBag.M_NAME" maxlength="15" readonly />
                                            @ViewBag.M_NAME
                                        </td>

                                    </tr>
                                    <tr>
                                        <th><span class="essential">생년월일</span></th>
                                        <td class="birth">
                                            <input type="hidden" class="ipttypea" style="width:390px" title="생년월일" name="M_BIRTHDAY" value="@ViewBag.M_BIRTHDAY" maxlength="10" readonly />
                                            @ViewBag.M_BIRTHDAY

                                            <!--
                                            <span class="select_w95">
                                                <select class="selectstyleb" title="">
                                                    <option selected="selected">1970</option>
                                                    <option>1971</option>
                                                    <option>1972</option>
                                                    <option>1973</option>
                                                </select>
                                            </span><span>
                                                <select class="selectstyleb" title="">
                                                    <option selected="selected">02</option>
                                                    <option>03</option>
                                                    <option>04</option>
                                                    <option>05</option>
                                                </select>
                                            </span><span>
                                                <select class="selectstyleb" title="">
                                                    <option selected="selected">02</option>
                                                    <option>03</option>
                                                    <option>04</option>
                                                    <option>05</option>
                                                </select>
                                            </span>
                                                -->
                                        </td>
                                        <th><span class="essential">성별</span></th>
                                        <td>
                                            <input type="hidden" name="M_SEX" value="@ViewBag.M_SEX" />
                                           
                                            <span class="txt">@fM_SEX_NAME(@ViewBag.M_SEX)</span>
                                            
                                    </tr>
                                    <tr>
                                        <th><span class="essential">휴대폰 번호</span></th>
                                        <td class="phone_num">
                                            <select class="selectstyleb" title="" name="M_MOBILE_1">
                                                <option value="010" selected="selected" >010</option>
                                                <option value="011">011</option>
                                                <option value="016">016</option>
                                                <option value="019">019</option>
                                            </select>
                                            <input type="text" class="ipttypea mr10" style="width:90px" title="휴대폰번호 가운데 자리 입력" name="M_MOBILE_2" maxlength="4" /><input type="text" class="ipttypea" style="width:90px" title="휴대폰번호 마지막 자리 입력" name="M_MOBILE_3" maxlength="4" />
                                        </td>
                                        <th><span>집 전화번호</span></th>
                                        <td class="home_num">
                                            <select class="selectstyleb" title="" name="M_PHONE_1">
                                                <option value="02" selected="selected" >02</option>
                                                <option value='031'>031</option>
                                                <option value='032'>032</option>
                                                <option value='033'>033</option>
                                                <option value='041'>041</option>
                                                <option value='042'>042</option>
                                                <option value='043'>043</option>
                                                <option value='044'>044</option>
                                                <option value='051'>051</option>
                                                <option value='052'>052</option>
                                                <option value='053'>053</option>
                                                <option value='054'>054</option>
                                                <option value='055'>055</option>
                                                <option value='061'>061</option>
                                                <option value='062'>062</option>
                                                <option value='063'>063</option>
                                                <option value='064'>064</option>
                                                <option value='070'>070</option>
                                            </select>
                                            <input type="text" class="ipttypea mr10" style="width:80px" title="집전화번호 가운데 자리 입력" name="M_PHONE_2" maxlength="4" /><input type="text" class="ipttypea" style="width:80px" title="집전화번호 마지막 자리 입력" name="M_PHONE_3" maxlength="4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><span class="essential">이메일</span></th>
                                        <td colspan="3" class="email">
                                            <input type="text" class="ipttypea" style="width:130px" title="이메일주소입력" name="M_EMAIL_1" maxlength="30" value="" />
                                            &nbsp;&nbsp;@@&nbsp;&nbsp;
                                            <input type="text" class="ipttypea mr10" style="width:130px" title="이메일 도메인 입력" name="M_EMAIL_2" maxlength="50" value="" />
                                            <select class="selectstyleb" title="" name="M_EMAIL_SEL" onchange="javascript:fSetEmailDomain()">
                                                <option value="">직접입력</option>
                                                <option value="daum.net">daum.net</option>
                                                <option value="hanmail.net">hanmail.net</option>
                                                <option value="hotmail.com">hotmail.com</option>
                                                <option value="gmail.com">gmail.com</option>
                                                <option value="yahoo.co.kr">yahoo.co.kr</option>
                                                <option value="lycos.co.kr">lycos.co.kr</option>
                                                <option value="nate.com">nate.com</option>
                                                <option value="naver.com">naver.com</option>
                                                <option value="hanafos.com">hanafos.com</option>
                                                <option value="empal.com">empal.com</option>
                                                <option value="hanmir.com">hanmir.com</option>
                                                <option value="netian.com">netian.com</option>
                                                <option value="freechal.com">freechal.com</option>
                                                <option value="chol.com">chol.com</option>
                                                <option value="hitel.net">hitel.net</option>
                                                <option value="paran.com">paran.com</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><span>주소</span></th>
                                        <td colspan="3" class="addr">
                                            <input type="text" class="ipttypea" style="width:200px" title="우편번호" id="M_ZIPCODE" name="M_ZIPCODE" maxlength="7" readonly />
                                            <a href="javascript:sample2_execDaumPostcode();" class="btn_white_w96h38 typeb" >우편번호 찾기</a>
                                            <br />
                                            <input type="text" class="ipttypea mt8 mr10" style="width:350px" title="주소입력" id="M_ADDR1" name="M_ADDR1" maxlength="50" readonly />
                                            <input type="text" class="ipttypea mt8" style="width:350px" title="상세주소입력" id="M_ADDR2" name="M_ADDR2" maxlength="50" />
                                         </td>
                                    </tr>
                                    <tr>
                                        <th><span class="essential">SMS 수신</span></th>
                                        <td colspan="3" class="selectradio">
                                            <label class="racon"><input type="radio"  title="수신" name="M_ISSMS" value="Y" /> <span class="txt">수신</span></label>
                                            <label class="racon"><input type="radio"  title="미수신" name="M_ISSMS" value="N" /> <span class="txt">미수신</span></label>
    </td>
                                    </tr>
                                    <tr>
                                        <th><span class="essential">이메일 수신</span></th>
                                        <td colspan="3" class="selectradio">
                                            <label class="racon"><input type="radio"  title="수신" name="M_ISEMAIL" value="Y" /> <span class="txt">수신</span></label>
                                            <label class="racon"><input type="radio" title="미수신" name="M_ISEMAIL" value="N" /> <span class="txt">미수신</span></label>
    </td>
                                    </tr>
                                    <tr>
                                        <th><span class="essential">DM 수신</span></th>
                                        <td colspan="3" class="selectradio">
                                            <label class="racon"><input type="radio"  title="수신" name="M_ISDM" value="Y" /> <span class="txt">수신</span></label>
                                            <label class="racon"><input type="radio"  title="미수신" name="M_ISDM" value="N" /> <span class="txt">미수신</span></label>
    </td>
                                    </tr>
                                </table>
                                <div class="ps_list">
                                    <ul>
                                        <li>수신 동의 시 어바웃미에서 제공해 드리는 각종 혜택과 이벤트 소식을 SMS 또는 이메일을 통해 받아 보실 수 있습니다.</li>
                                        <li>주문/ 결제시 안내 및 정책 병경&관련 법률 개정 시 수신 여부에 관계없이 SMS와 이메일이 발송 될 수 있습니다.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="btngroup">
                                <a href="javascript:fGoSave();" class="btn_brown_w185h60 mr10">가입완료</a><a href="javascript:fGoCancel();" class="btn_white_w185h60">취소</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    <!--//container-->
    
    </div>


<!-- 다음 우편번호 검색-->
<div id="layerPOST" style="display:none;position:fixed;overflow:hidden;z-index:9999;-webkit-overflow-scrolling:touch;">
    <img src="//i1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
</div>

<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script language="javascript">
    // 우편번호 찾기 화면을 넣을 element
    var element_layer = document.getElementById('layerPOST');

    function closeDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element_layer.style.display = 'none';
    }

    function sample2_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullAddr = data.address; // 최종 주소 변수
                var extraAddr = ''; // 조합형 주소 변수

                // 기본 주소가 도로명 타입일때 조합한다.
                if (data.addressType === 'R') {
                    //법정동명이 있을 경우 추가한다.
                    if (data.bname !== '') {
                        extraAddr += data.bname;
                    }
                    // 건물명이 있을 경우 추가한다.
                    if (data.buildingName !== '') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                    fullAddr += (extraAddr !== '' ? ' (' + extraAddr + ')' : '');
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById("M_ZIPCODE").value = data.postcode; //6자리 우편번호 사용
                //document.getElementById("sample2_postcode").value = data.zonecode; //5자리 기초구역번호 사용
                document.getElementById('M_ADDR1').value = fullAddr;
                // document.getElementById('sample2_addressEnglish').value = data.addressEnglish;

                // iframe을 넣은 element를 안보이게 한다.
                element_layer.style.display = 'none';
            },
            width: '100%',
            height: '100%'
        }).embed(element_layer);

        // iframe을 넣은 element를 보이게 한다.
        element_layer.style.display = 'block';

        // iframe을 넣은 element의 위치를 화면의 가운데로 이동시킨다.
        initLayerPosition();
    }

    // 브라우저의 크기 변경에 따라 레이어를 가운데로 이동시키고자 하실때에는
    // resize이벤트나, orientationchange이벤트를 이용하여 값이 변경될때마다 아래 함수를 실행 시켜 주시거나,
    // 직접 element_layer의 top,left값을 수정해 주시면 됩니다.
    function initLayerPosition() {
        var width = 300; //우편번호서비스가 들어갈 element의 width
        var height = 460; //우편번호서비스가 들어갈 element의 height
        var borderWidth = 5; //샘플에서 사용하는 border의 두께

        // 위에서 선언한 값들을 실제 element에 넣는다.
        element_layer.style.width = width + 'px';
        element_layer.style.height = height + 'px';
        element_layer.style.border = borderWidth + 'px solid';
        // 실행되는 순간의 화면 너비와 높이 값을 가져와서 중앙에 뜰 수 있도록 위치를 계산한다.
        element_layer.style.left = (((window.innerWidth || document.documentElement.clientWidth) - width) / 2 - borderWidth) + 'px';
        element_layer.style.top = (((window.innerHeight || document.documentElement.clientHeight) - height) / 2 - borderWidth) + 'px';
    }
</script>
<!-- 다음 우편번호 검색-->

 }
<!--//container-->
<!--footer-->
@section Footer{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Footer.cshtml");}
}
<!--//footer-->
