@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AboutMeLayoutA.cshtml";
}
@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}
    <link href="/aboutCom/css/membership.css" rel="stylesheet" />
}

@section Scripts{
<script>
    var glHTTPS_DOMAIN = "@ViewBag.HTTPS_DOMAIN";
    function fGoLogin() {
        var f = document.frmLOGIN;
        if (f.ID.value.length < 2) {
            alert("아이디를 입력하세요");
            return;
        }
        if (f.PW.value.length < 4) {
            alert("비밀번호를 입력하세요");
            return;
        }
        //f.action = "/MemberShip/LoginProc/";
        f.action = glHTTPS_DOMAIN + "/MemberShip/LoginProc/";
        f.submit();

    }

    function ChkOrderLogin() {
        var f = document.frmNoMemLOGIN;
        if ($("#orderNum").val().trim() == "") {
            alert("주문번호를 입력하세요");
            return false;
        }
        if ($("#orderPwd").val().trim() == "") {
            alert("비회원 주문 비밀번호를 입력하세요");
            return false;
        }
        //f.action = "/MemberShip/LoginProc/";
        f.action = "/MemberShip/NoMemOrderLoginProc/";
        f.submit();
    }
</script>


}


@section Header{

}

@section Body{
<div class="wrap login">
    <!--header-->
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Header.cshtml");}
    <!--//header-->

    <!--container-->
    <div id="container">
        <div class="container1080">
            <h2><img src="/aboutCom/images/membership/h2_login.png" alt="LOGIN 로그인" /></h2>
            <!--contypea-->

            SessionID:@Session.SessionID  ,M_ID:@ViewBag.M_ID
            <br />
            Request_Url_Host = @ViewBag.Request_Url_Host
            <br />
            Request_Url_Authority = @ViewBag.Request_Url_Authority
            <br />
            Request_Url_Port = @ViewBag.Request_Url_Port
            <br />
            DomainName = @ViewBag.DomainName

            <br />
            HTTPS_DOMAIN = @ViewBag.HTTPS_DOMAIN


            <div class="loginipt_area">
                <!--회원로그인-->
                <div class="member_login contypea">


                    @using (Html.BeginForm("LoginProc", "MemberShip", FormMethod.Post, new { id = "frmLOGIN", name = "frmLOGIN" }))
                    {
                        @Html.AntiForgeryToken()  //폼 데이터 위조 방지 토큰 생성
                              
                        <h3><img src="/aboutCom/images/membership/h3_memberlogin.gif" alt="회원 로그인" /></h3>
                        <div class="iptarea">
                            <label for="id"><span class="txt">아이디</span><input type="text" id="id" name="ID" value="" maxlength="13" class="ipttypea h35" style="width:210px" /></label>
                            <label for="pw" class="mt10"><span class="txt">비밀번호</span><input type="password" id="pw" name="PW" value="" maxlength="12" class="ipttypea h35" style="width:210px" /></label>
                            <a href="javascript:fGoLogin();" class="btn_login btn_brown_w175h80"><img src="/aboutCom/images/common/ico_lock.png" class="lockimg" alt="">로그인</a>
                            <label for="idsave" class="chkcon idsave"><input type="checkbox" id="idsave" /><span class="txt">아이디 저장</span></label>
                        </div>

                        <input type="hidden" name="RedirectUrl" value="@ViewBag.RedirectUrl"><!--로그인 성공후 이동할 페이지-->
                        <input type="hidden" name="OrderList" value="@ViewBag.OrderList">
                    }
                    <p class="idpw_search"><span class="txt">· 회원 아이디, 비밀번호를 잊으셨나요?</span>
                        <a href="javascript:PopupCenter('/MemberShip/IdSearch', '', '600', '500');" class="btn_white_w118h38">아이디 찾기</a>
                        <a href="javascript:PopupCenter('/MemberShip/PwSearch', '', '600', '500');" class="btn_white_w118h38 ml5">비밀번호 찾기</a>
                    </p>

                </div>

                <!--//회원로그인-->
                <!--비회원로그인-->
                <div class="nomember_check contypea">
                    @using (Html.BeginForm("NoMemLoginProc", "MemberShip", FormMethod.Post, new { id = "frmNoMemLOGIN", name = "frmNoMemLOGIN" }))
                    {
                        <h3><img src="/aboutCom/images/membership/h3_nomember_check.gif" alt="비회원 주문/배송조회" /></h3>
                        <div class="iptarea bbnone">
                            <label for="orderNum"><span class="txt">주문번호</span><input type="text" id="orderNum" name="orderNum" class="ipttypea h35" style="width:200px" /></label>
                            <label for="orderPwd" class="mt10"><span class="txt">비밀번호</span><input type="password" id="orderPwd" name="orderPwd" class="ipttypea h35" style="width:200px" /></label>
                            <a href="#none" class="btn_check btn_brown_w175h80" onclick="return ChkOrderLogin();">주문/배송 조회</a>
                            <p class="ps_txt">결제 완료 후 안내해드린 주문번호와<br />주문 결제 시에  입력하셨던 비밀번호를 입력해주세요.</p>
                        </div>
                        <input type="hidden" name="RedirectUrl" value="@ViewBag.RedirectUrl"><!--로그인 성공후 이동할 페이지-->
                    }
                    <div class="contact">
                        <span class="cti">고객센터</span>
                        <p class="ctxt"><img src="/aboutCom/images/membership/txt_callnum.gif" alt="" /><span>평일 : 오전 10시 ~ 12시, 오후 2시 ~ 5시<br />토,일 공휴일 : 휴무</span>							</p>
                    </div>
                </div>
                <!--//비회원로그인-->
            </div>
            <!--//contypea-->
            <!--비회원 주문하기-->
            @if (ViewBag.isOrderLogin == "true" )
            { 
                <div class="nomem_order boxtypef mt20">
                    <form name="orderLOGIN" method="post" action="/MemberShip/GoOrder">
                    <input type="hidden" name="OrderList" value="@ViewBag.OrderList">
                    <a href="#" class="jointxt"><img src="/aboutCom/images/cart/nonmb_jointxt.png" alt="지금 어바웃미 멤버십에 가입 하세요" /></a>
                    <ul class="ps_list">
                        <li>회원가입 없이 <span>비회원으로 구매</span>하실 수도 있습니다.</li>
                        <li>구매시 <span>할인 쿠폰, 포인트 적립 혜택</span>은 회원 전용 서비스 입니다.</li>
                    </ul>
                    <a href="#none" class="btn_nomem_order btn_blue_w185h48" onclick="document.orderLOGIN.submit();">비회원 주문하기</a>
                    </form>
                </div>
            }
            <!--//비회원 주문하기-->
            <!--contypeb-->
            <div class="contypeb mt40">
                <h3><img src="/aboutCom/images/membership/h3_membership.gif" alt="Membership 회원가입하고  회원 클래스별 많은 혜택을 누리세요. " /></h3>
                <div class="benefitbox">
                    <a href="/MemberShip/JoinStep1" class="btn_join btn_brown_w185h48">회원가입</a>
                </div>
            </div>
            <!--//contypeb-->
        </div>
    </div>
    <!--//container-->

    <!--footer-->
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Footer.cshtml");}
    <!--//footer-->
</div>
}

@section Footer{
}
