@model AboutMe.Domain.Entity.Winner.WINNER_ADMIN_SEARCH

@{
    ViewBag.Title = "당첨자발표";
    Layout = "~/Views/Shared/_AboutMeAdminLayoutA.cshtml";

    string pagesize = Convert.ToString(Model.PageSize);
    int pagesizeint = ((Model.PageSize == null) ? 1 : Convert.ToInt16(Model.PageSize));
}
@section Scripts{
}
@section Left {
    @{Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminLeft.cshtml");}
}
@section Header{
    @{ Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminHeader.cshtml");}
}
@section Body{


    <div class="content">
        <!--path-->
        <div class="path">
            <a href="/index.asp">HOME</a> &gt; <a href="#">C/S관리</a> &gt; <strong>당첨자 발표</strong>
        </div>
        <!--//path-->
        <div class="panel">
            <h3 class="sub-header">당첨자발표</h3>
        </div>
        <div class="panel">

            @using (Html.BeginForm("Index", "Winner", FormMethod.Post, new { id = "sform", name = "sform", onsubmit = "return frmCheck();" }))
            {
                @Html.Hidden("PageSize", @pagesize)
                @Html.Hidden("Page", "1")

                <table class="table table_row">
                    <colgroup><col width="250px" /><col width="*" /></colgroup>
                    <tbody>
                        <tr>
                            <th scope="row" class="vam"><label for="search_keyword">검색조건</label></th>
                            <td class="condition_seacth">
                                @(Html.Kendo().DropDownList()
                                    .Name("SearchCol")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                    //  .Events(e => e.Change("change"))
                                    .BindTo(new List<SelectListItem>() {
                                        new SelectListItem() {
                                            Text = "제목",
                                            Value = "TITLE"
                                        },
                                        new SelectListItem() {
                                            Text = "내용",
                                            Value = "CONTENTS"
                                        }
                                    })
                                    .Value(@Model.SearchCol)
                                )
                                @(Html.Kendo().TextBox()
                                    .Name("SearchKeyword")
                                    .Value(Model.SearchKeyword)
                                    .HtmlAttributes(new { @style = "width:250px" })
                                )
                                @Html.RadioButton("DisplayYn", "A") <label>전체 </label>
                                @Html.RadioButton("DisplayYn", "Y") <label>게시 </label>
                                @Html.RadioButton("DisplayYn", "N") <label>미게시 </label>


                                @(Html.Kendo().Button()
                                    .Name("submitBtn")
                                    .HtmlAttributes(new { type = "submit", @class = "k-primary", @style = "width:100px" })
                                    .Content("검색"))
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
        <div class="panel" style="height : 600px">
            @(Html.Kendo().Grid<AboutMe.Domain.Entity.Winner.SP_TB_WINNER_SEL_Result>()
            .Name("winnergrid")
            .Columns(columns =>
            {
                columns.Bound(p => p.IDX).Title("IDX").Filterable(false).Width(100);
                columns.Bound(p => p.TITLE)
                    .Title("제목")
                     .ClientTemplate("#= toggleLink(data) #");
                columns.Bound(p => p.DISPLAY_YN).Title("게시여부").Width(100);
                columns.Bound(p => p.REG_DATE).Title("등록일").Format("{0:yyyy/MM/dd}").Width(100);
                columns.Bound(p => p.M_ID).Title("등록자ID").Width(100);
            })
            .AutoBind(false)
            .Pageable(x => x.PageSizes(new int[] { 10, 20, 30, 50 }).Refresh(true))
            .Scrollable()
            .HtmlAttributes(new { style = "height:100%;" })
            .Selectable(selectable => selectable
                    .Mode(GridSelectionMode.Single)
            )
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(@pagesizeint)
                .ServerOperation(true)
                        .Read(read => read.Action("WinnerGridList", "Winner", new { Model.SearchCol, Model.SearchKeyword, Model.DisplayYn }))
             )
               .ToolBar(toolbar =>
                {
                    toolbar.Template(@<text>
                        <div class="k-tooltip-bottom ">
                            <a class="btn btn-default middium" href="#" onclick="CreateBtnClick()">신규등록</a>
                        </div>
                    </text>);
                })
            )
        </div>


        <script language="javascript">
    $(function () {
        var grid = $("#winnergrid").data("kendoGrid");
        grid.dataSource._page = @Model.Page;
        grid.dataSource._pageSize = @Model.PageSize;
        grid.dataSource.read();

    });

    function toggleLink(data) {
        var action = '@Url.Action("Edit", "Winner")';

        var grid = $("#winnergrid").data("kendoGrid");
        var page = grid.dataSource._page;
        var pagesize = grid.dataSource._pageSize;
        var searchcol = '@Model.SearchCol';

        var searchkeyword = '@Model.SearchKeyword';
        var DisplayYn = '@Model.DisplayYn';

        var html = kendo.format("<a href='{1}?IDX={2}&Page={3}&PageSize={4}&SearchCol={5}&SearchKeyword={6}&DisplayYn={7}'>{0}</a>",
            data.TITLE,
            action,
            data.IDX,
            page,
            pagesize,
            searchcol,
            searchkeyword,
            DisplayYn
        );
        return html;
    }

    function frmCheck() {
        var grid = $("#winnergrid").data("kendoGrid");
        var pagesize = grid.dataSource._pageSize;
        var pagesizebox =  $( "input[name$='PageSize']" );
        pagesizebox.val( pagesize );
        return true;
    }

    function CreateBtnClick () {
        var grid = $("#winnergrid").data("kendoGrid");
        var page = grid.dataSource._page;
        var pagesize = grid.dataSource._pageSize;
        var action = '@Html.Raw(Url.Action("New"))';
        location.href = action+'?Page='+page+'&PageSize='+pagesize;
    }
        </script>
    </div>
}
