
<div class="col-xs-2 sidebar">
    <h1><a href="/cmsManager/index.html"><img src="/cmsManager/aboutCom/images/h_logo.png" alt="ABOUT ME" /></a></h1>
    <!-- <a href="#" class="go_mystore">내 상점 바로가기</a> -->
    <!-- 왼쪽 메뉴 열고 닫기 -->
    <div class="menutoggle">
        <a href="#" class="btn btn-default small btnopen">전체열기</a>
        <a href="#" class="btn btn-primary small btnclose">전체닫기</a>
    </div>
    <!-- //왼쪽 메뉴 열고 닫기 -->
<!--
    <h2>상품관리</h2>
    <ul class="nav nav-sidebar depth1">
        <li class="active">
            <a href="/AdminProduct/Index" class="menu ">카테고리관리</a>
        </li>
        <li>
            <a href="/AdminProduct/ProductIndex" class="menu">상품관리</a>
            <ul class="depth2">
                <li><a href="/AdminProduct/ProductIndex">상품목록</a></li>
                <li><a href="/AdminProduct/ProductPriceIndex">상품가격설정</a></li>
                <li><a href="#">사은품관리</a></li>
            </ul>
        </li>
    </ul>
-->
@{

//Left메뉴 ON 처리
 @helper fLeftMenuCSSOn(string argMENU_DEPTH2_List = "", string controllerNm = "")
{
    var Path = Request.Url.LocalPath + "////"; // ex)/Control/Action/
    var arrPATH = Path.Split('/');

    argMENU_DEPTH2_List = argMENU_DEPTH2_List + ",";
    var arrMenu_Depth2 = argMENU_DEPTH2_List.Split(',');

    //var strAction = Path.Substring(1, 1);
    var strControl = arrPATH[1];
    var strAction = (String.IsNullOrEmpty(arrPATH[2]) ? "Index" : arrPATH[2]);

    if (argMENU_DEPTH2_List != null)
    {
        foreach (string word in arrMenu_Depth2)
        {
            if (!string.IsNullOrEmpty(controllerNm))
            {
                if (word != "" && word == strAction && controllerNm == strControl)
                {
                    @(" class=active ")      
                    break;
                }
            }
            else
            {
                if (word != "" && word == strAction)
                {
                    @(" class=active ")
                    break;    
                }
            }
        } //for
    } //if outter
} //fLeftMenuCSSOn

    //상단 1Dept 메뉴 에 따라 Left메뉴 처리
@helper fLeftMenuMake()
{
    var Path = Request.Url.LocalPath + "////"; // ex)/Control/Action/
    var arrPATH = Path.Split('/');

    //var strAction = Path.Substring(1, 1);
    var strControl = arrPATH[1];
    var strAction = arrPATH[2];
    var controllerNm = arrPATH[1];

    if (strControl == "Faq" || strControl == "Notice" || strControl == "Qna" || strControl == "Winner")
    {
        strControl = "C/S";
    }

    if (strControl == "Recall")
    {
        strControl = "Order";
    }

    if (strControl == "Event" || strControl == "Exhibit" || strControl == "Sample")
    {
        strControl = "AdminPromotion";
    }
    
    if (strControl == "Magazine" || strControl == "Shopinfo")
    {
        strControl = "AdminContents";
    }

    if (strControl == "AdminReport" || strControl == "OrderStat")
    {
        strControl = "AdminReport";
    }
       
    switch (strControl)
    {
        case "AdminUser":  //관리자 관리
            <h2>관리자관리</h2>
            <ul class="nav nav-sidebar depth1">
                <!-- 현재 페이지 활성화 시 "active" class 사용합니다.-->
                <li @fLeftMenuCSSOn("Index,Insert,Edit")>
                    <a href="/AdminUser/Index" class="menu ">관리자관리</a>
                </li>
            </ul>
            break;
        case "AdminProduct":  //상품관리
                <h2>상품관리</h2>
                <ul class="nav nav-sidebar depth1">
                    <!-- 현재 페이지 활성화 시 "active" class 사용합니다.-->
                    <li @fLeftMenuCSSOn("Index") >
                        <a href="/AdminProduct/Index" class="menu ">카테고리관리</a>
                    </li>
                    <li @fLeftMenuCSSOn("ProductIndex")>
                        <a href="/AdminProduct/ProductIndex" class="menu">상품관리</a>
                        <ul class="depth2">
                            <li><a href="/AdminProduct/ProductIndex">상품목록</a></li>
                            <li><a href="/AdminProduct/ProductPriceIndex">상품가격관리</a></li>
                            <li><a href="/AdminProduct/GiftIndex">사은품관리</a></li>
                        </ul>
                    </li>
                </ul>
            break;
       case "AdminFrontMember":  //회원관리
                <h2>회원관리</h2>
                <ul class="nav nav-sidebar depth1">
                    <!-- 현재 페이지 활성화 시 "active" class 사용합니다.-->
                    <li @fLeftMenuCSSOn("Index,Edit")>
                        <a href="/AdminFrontMember/Index" class="menu ">회원관리</a>
                    </li>
                    <li @fLeftMenuCSSOn("StaffRequestIndex,StaffRequestEdit")>
                        <a href="/AdminFrontMember/StaffRequestIndex?SEL_STATUS=@HttpUtility.UrlEncode("접수")" class="menu ">임직원신청내역</a>
                    </li>
                    <li @fLeftMenuCSSOn("StaffBaseIndex,StaffBaseInsert,StaffBaseEdit")>
                        <a href="/AdminFrontMember/StaffBaseIndex" class="menu ">임직원DB관리</a>
                    </li>
                    <li @fLeftMenuCSSOn("SleepingIndex")>
                        <a href="/AdminFrontMember/SleepingIndex" class="menu ">휴면계정관리</a>
                    </li>
                </ul>
            break;
            
       case "C/S" :  //CS관리
                <h2>C/S관리</h2>
                <ul class="nav nav-sidebar depth1">
                    <li @fLeftMenuCSSOn("Index,New,Edit", "Faq")>
                        <a href="/Faq/" class="menu ">Faq</a>
                    </li>
                    <li @fLeftMenuCSSOn("Index,New,Edit", "Notice")>
                        <a href="/Notice/" class="menu ">공지사항</a>
                    </li>
                    <li @fLeftMenuCSSOn("Index,New,Edit", "Qna")>
                        <a href="/Qna/" class="menu ">1:1문의</a>
                    </li>
                    <li @fLeftMenuCSSOn("Index,New,Edit", "Winner")>
                        <a href="/Winner/" class="menu ">당첨자발표</a>
                    </li>
                </ul>
            break;
       case "AdminContents":  //Contents관리

                <h2>컨텐츠관리</h2>
                <ul class="nav nav-sidebar depth1">
                    <!-- 현재 페이지 활성화 시 "active" class 사용합니다.-->
                    <li @fLeftMenuCSSOn("Review")>
                        <a href="@Url.Action("Index", "AdminReview")" class="menu">상품리뷰관리</a>
                    </li>
                    <li>
                        <a href="#" class="menu ">샘플신청</a>
                        <ul class="depth2">
                            <li><a href="#">신청 등록</a></li>
                            <li><a href="#">신청자 리스트</a></li>
                        </ul>
                    </li>
                    <li @fLeftMenuCSSOn("ReviewExp")>
                        <a href="@Url.Action("Index", "AdminReviewExp")" class="menu ">체험리뷰관리</a>
                    </li>
                    <li @fLeftMenuCSSOn("Index,New,Edit", "Magazine")><a href="/Magazine/" class="menu">매거진</a></li>
                    <li @fLeftMenuCSSOn("Index,New,Edit", "Shopinfo")><a href="/Shopinfo/" class="menu">매장안내</a></li>
                </ul>
            break;
       case "Order":  //주문, 취소반품요청
                <h2>주문/매출</h2>
                <ul class="nav nav-sidebar depth1">
                    <!-- 현재 페이지 활성화 시 "active" class 사용합니다.-->
                    <li @fLeftMenuCSSOn("Index,Detail", "Order")>
                        <a href="/Order/" class="menu ">주문관리</a>
                    </li>
                    <li @fLeftMenuCSSOn("Delivery", "Order")>
                        <a href="/Order/Delivery" class="menu ">송장등록</a>
                    </li>
                    <li @fLeftMenuCSSOn("Index,Edit", "Recall")>
                        <a href="/Recall" class="menu ">취소/반품/교환 요청</a>
                    </li>
                </ul>
            break;
       case "AdminPoint":  //포인트관리

            <h2>기본설정</h2>
            <ul class="nav nav-sidebar depth1">
                <!-- 현재 페이지 활성화 시 "active" class 사용합니다.-->
                <li>
                    <a href="#" class="menu ">기본환경설정관리</a>
                </li>
                <li>
                    <a href="#" class="menu">회원등급관리</a>
                </li>
                <li @fLeftMenuCSSOn("AdminPoint") >
                    <a href="#" class="menu">혜택관리</a>
                    <ul class="depth2">
                        <li @fLeftMenuCSSOn("AdminPoint")><a href="/AdminPoint/Index">포인트관리</a></li>
                        <li><a href="#">적립/사용내역</a></li>
                        <li><a href="#">쿠폰관리</a></li>
                        <li><a href="#">사용내역</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="menu">관리자설정</a>
                </li>
            </ul>
            break;
            
       case "AdminPromotion":  //프로모션 관리

        <h2>기본설정</h2>
        <ul class="nav nav-sidebar depth1">
            <!-- 현재 페이지 활성화 시 "active" class 사용합니다.-->
            <li @fLeftMenuCSSOn("AdminPromotion")>
                <a href="#" class="menu ">프로모션관리</a>
                <ul class="depth2">
                    <li @fLeftMenuCSSOn("AdminPromotion/Index")><a href="/AdminPromotion/Index">전체할인 프로모션 정책관리</a></li>
                    <li @fLeftMenuCSSOn("AdminPromotion/PrdIndex")><a href="/AdminPromotion/PrdIndex">상품별할인 프로모션 정책관리</a></li>
                    <!--<li><a href="#">적립/사용내역</a></li>-->
                </ul>
            </li>
            <!--
            <li>
                <a href="#" class="menu">회원등급관리</a>
            </li>
             -->

            <li @fLeftMenuCSSOn("AdminCoupon")>
                <a href="#" class="menu">쿠폰관리</a>
                <ul class="depth2">
                    <li @fLeftMenuCSSOn("PointIndex")><a href="/AdminCoupon/Index">쿠폰정책관리</a></li>
                    <!--
                    <li><a href="#">적립/사용내역</a></li>
                    <li><a href="#">쿠폰관리</a></li>
                    <li><a href="#">사용내역</a></li>
                        -->
                </ul>
            </li>

            <li @fLeftMenuCSSOn("Index,Edit,New,Main", "Event") @fLeftMenuCSSOn("Index,Edit,New", "Exhibit")>
                <a href="#" class="menu ">이벤트/기획전관리</a>
                <ul class="depth2">
                    <li @fLeftMenuCSSOn("Main", "Event")><a href="/Event/Main">이벤트메인관리</a></li>
                    <li @fLeftMenuCSSOn("Index,Edit,New", "Event")><a href="/Event/">이벤트관리</a></li>
                    <li @fLeftMenuCSSOn("Index,Edit,New", "Exhibit")><a href="/Exhibit/">기획전관리</a></li>
                    <li @fLeftMenuCSSOn("Index,Edit,New", "Sample")><a href="/Sample/">샘플/체험단 신청</a></li>
                </ul>
            </li>

        </ul>
            break;

    
      case "AdminCoupon":  //쿠폰 관리

    <h2>기본설정</h2>
    <ul class="nav nav-sidebar depth1">
        <!-- 현재 페이지 활성화 시 "active" class 사용합니다.-->
        <li @fLeftMenuCSSOn("AdminPromotion")>
            <a href="#" class="menu ">프로모션관리</a>
            <ul class="depth2">
                <li @fLeftMenuCSSOn("AdminPromotion/Index")><a href="/AdminPromotion/Index">프로모션 정책관리</a></li>
                <!--<li><a href="#">적립/사용내역</a></li>-->
            </ul>
        </li>
        <!--
        <li>
            <a href="#" class="menu">회원등급관리</a>
        </li>
         -->

        <li @fLeftMenuCSSOn("AdminCoupon")>
            <a href="#" class="menu">쿠폰관리</a>
            <ul class="depth2">
                <li @fLeftMenuCSSOn("PointIndex")><a href="/AdminCoupon/Index">쿠폰정책관리</a></li>
                <!--
                <li><a href="#">적립/사용내역</a></li>
                <li><a href="#">쿠폰관리</a></li>
                <li><a href="#">사용내역</a></li>
                    -->
            </ul>
        </li>

    </ul>
            break;
      case "AdminDisplay":  //쿠폰 관리
                <h2>전시관리</h2>
                <ul class="nav nav-sidebar depth1">
                    <!-- 현재 페이지 활성화 시 "active" class 사용합니다.-->
                    <li @fLeftMenuCSSOn("Index")><a href="/AdminDisplay/Index" class="menu ">웹메인메인</a></li>
                    <li @fLeftMenuCSSOn("MobileMain")><a href="/AdminDisplay/MobileMain" class="menu ">모바일메인관리</a></li>
                    <li @fLeftMenuCSSOn("MobileShopping")><a href="/AdminDisplay/MobileShopping" class="menu ">모바일쇼핑관리</a></li>
                    <li @fLeftMenuCSSOn("Cart")><a href="/AdminDisplay/Cart" class="menu ">쇼핑백전시관리</a></li>
                    <li @fLeftMenuCSSOn("GBNBanner")><a href="/AdminDisplay/GBNBanner" class="menu ">GNB배너관리</a></li>
                    <li @fLeftMenuCSSOn("ProductDetailBanner")><a href="/AdminDisplay/ProductDetailBanner" class="menu ">상품상세 배너관리</a></li>
                    <li @fLeftMenuCSSOn("ExpBanner")><a href="/AdminDisplay/ExpBanner" class="menu ">체험단신청배너관리</a></li>
                    <li @fLeftMenuCSSOn("Movie")><a href="/AdminDisplay/Movie" class="menu ">동영상관리</a></li>
                    <li @fLeftMenuCSSOn("Popup")><a href="/AdminDisplay/Popup" class="menu ">팝업관리</a></li>

                </ul>
            break;

      case "AdminReport":  //통계
    <h2>통계</h2>
    <ul class="nav nav-sidebar depth1">
        <!-- 현재 페이지 활성화 시 "active" class 사용합니다.-->
        <li @fLeftMenuCSSOn("AdminReport")>
            <a href="#" class="menu">회원통계</a>
            <ul class="depth2">
                <li @fLeftMenuCSSOn("MemberGrade")><a href="/AdminReport/MemberGrade">회원-등급별 현황</a></li>
                <li @fLeftMenuCSSOn("MemberMonthly")><a href="/AdminReport/MemberMonthly">회원-가입/탈퇴 현황</a></li>
            </ul>
        </li>
        <li @fLeftMenuCSSOn("OrderStat")>
            <a href="#" class="menu">주문통계</a>
            <ul class="depth2">
                <li @fLeftMenuCSSOn("Index")><a href="/OrderStat/Index">일별 주문통계</a></li>
                <li @fLeftMenuCSSOn("OrderStatCate")><a href="/OrderStat/OrderStatCate">카테고리별 매출 통계</a></li>
            </ul>
        </li>
</ul>
            break;

    } //switch

} //fLeftMenuMake()

}

 <!-- LEft 메뉴 만들기-->
@fLeftMenuMake()
</div>