@{

@helper fTopMenuCSSOn(string argMENU_DEPTH1="")
{
    var Path = Request.Url.LocalPath + "////";  // ex /Control/Action/
    var arrPATH = Path.Split('/');

    var strControl = arrPATH[1];
    var strAction = arrPATH[2];

    var arrMenu = argMENU_DEPTH1.Split(',');
    
    if (argMENU_DEPTH1 != null)
    {
        foreach (string word in arrMenu)
        {
            if (word != "" && word == strControl)
            {
                @(" class=active ")
                break;
            }

        } //for
    } //if outter
    
} //fTopMenuCSSOn()

@helper fTopMenuGetAdminName()
{
    @(Session["ADM_NAME_TXT"])
}//fTopMenuGetAdminName()

@helper fAdminAdminMenuDisplay()
{
    string strGRADE = "";
    if(Session["ADM_GRADE_TXT"] !=null)
    {
        strGRADE = Session["ADM_GRADE_TXT"].ToString() ;
    }
    if (@strGRADE == "S") 
    { 
        <li @fTopMenuCSSOn("AdminUser")><a href="/AdminUser/Index">관리자관리</a></li>
    }
    //if

}//fAdminAdminMenuDisplay()


}

<div class="navbar_top">
    <div class="pull-left">
        <span class="user"><strong>@fTopMenuGetAdminName()</strong>님 안녕하세요.</span>
        <span class="date"><strong>Today</strong>@DateTime.Now.ToString("yyyy. MM. dd")</span>
    </div>
    <div class="pull-right">
        <!--<a href="#" class="btn btn-primary small mr5">HTML 변환하기</a>
        <a href="#" class="btn btn-primary small mr5">메뉴얼 다운로드</a>-->
        <a href="/" class="btn btn-primary small mr5">관리자 메인</a>
        <a href="http://www.aboutmeshop.com" target="_blank" class="btn btn-primary small mr5">쇼핑몰 메인</a>
        <a href="/AdminUser/Logout" class="btn btn-primary small">로그아웃</a>
    </div>
</div>

<div class="navbar_menu">
    <!--활성화 페이지시 active class 사용합니다.-->
    <ul>
        <li @fTopMenuCSSOn("AdminPoint")><a href="@(Url.Action("Index", "AdminPoint"))">기본설정</a></li>
        @fAdminAdminMenuDisplay() <!--관리자관리:권한 체크 -->
        <li @fTopMenuCSSOn("AdminProduct")><a href="/AdminProduct/ProductIndex">상품관리</a></li>
        <li><a href="@Url.Action("Index", "AdminDisplay")" >전시관리</a></li>
        <li @fTopMenuCSSOn("AdminPromotion,AdminCoupon,Event,Exhibit")><a href="/AdminPromotion/index">프로모션관리</a></li>
        <li @fTopMenuCSSOn("Order")><a href="/Order/">주문/매출</a></li>
        <li @fTopMenuCSSOn("AdminContents,Review,ReviewExp,Magazine,Shopinfo")><a href="@Url.Action("Index", "AdminReview")">컨텐츠관리</a></li>
        <li @fTopMenuCSSOn("AdminFrontMember") ><a href="/AdminFrontMember/Index?SEL_IS_RETIRE=N">회원관리</a></li>
        <li @fTopMenuCSSOn("Faq,Notice,Qna")><a href="/Faq/">C/S관리</a></li>
        <li @fTopMenuCSSOn("AdminReport")><a href="/AdminReport/Index">통계</a></li>
    </ul>
</div>