
@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="Keywords" content="ABOUT ME" />
    <meta name="Description" content="ABOUT ME" />
    <link href="/aboutCom/css/import.css" rel="stylesheet" />
    <script src="/aboutCom/js/lib/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="/aboutCom/js/lib/jquery.easing-1.3.min.js" type="text/javascript"></script>
    <script src="/aboutCom/js/lib/jquery.countdown.js" type="text/javascript"></script>
    <script src="/aboutCom/js/lib/jquery.event.move.js" type="text/javascript"></script>
    <script src="/aboutCom/js/lib/jquery.event.swipe.js" type="text/javascript"></script>
    <script src="/aboutCom/js/lib/jquery.lazyload.min.js" type="text/javascript"></script>
    <script src="/aboutCom/js/script.js" type="text/javascript"></script>
    <title>ABOUT ME</title>


    <script>
        var glHTTPS_DOMAIN = "@ViewBag.HTTPS_DOMAIN";
        var glHTTP_DOMAIN = "@ViewBag.HTTP_DOMAIN";
        var glREGISTER_ING = false;  //저장처리중
        function fGoSaveStaffRequest() {
            var f = document.frmSTAFF_REQUEST;
            if (f.STAFF_COMPANY.selectedIndex == 0) {
                alert("소속 회사를 선택하세요.");
                return;
            }
            if (f.STAFF_ID.value.length < 2) {
                alert("사번을 입력하세요.");
                return;
            }
            f.method = "post";
            f.targte = "";
            f.action = glHTTPS_DOMAIN + "/MyPage/StaffRequestProc";;
            f.submit();

            /*
            //Ajax의 경우 ---------------------


            var strTOKEN = f.__RequestVerificationToken.value;
            var strM_ID = f.M_ID.value;
            var strM_NAME = f.M_NAME.value;
            var strM_GBN = f.M_GBN.value;
            var strSTAFF_COMPANY = f.STAFF_COMPANY[f.STAFF_COMPANY.selectedIndex].value;
            var strSTAFF_ID = f.STAFF_ID.value;

            //var strURL = "/MyPage/AjaxStaffRequestProc";
            var strURL = glHTTPS_DOMAIN + "/MyPage/AjaxStaffRequestProc";

            glREGISTER_ING = true;  //저장 진행중 --------------------

            $.ajax({
                url: strURL,
                async: false,  //동기 통신
                type: 'POST',
                dataType: 'json',
                data: {
                    __RequestVerificationToken: strTOKEN
                    , M_ID: strM_ID
                    , M_NAME: strM_NAME
                    , M_GBN: strM_GBN
                    , STAFF_COMPANY: strSTAFF_COMPANY
                    , STAFF_ID: strSTAFF_ID


                },
                success: function (retDATA) {
                    if (retDATA.ERR_CODE == "0") {
                        glREGISTER_ING = false; //저장 진행중 종료 --------------------
                        alert("임직원 신청이 접수되었습니다.");
                        self.close();  //다음 스텝으로 이동 =팝업 종료
                    }
                    else {
                        glREGISTER_ING = false; //저장 진행중 종료 --------------------
                        alert("임직원 신청중 오류가 발생했습니다.\n\n 오류내용:" + retDATA.ERR_MSG);
                    }
                },
                error: function (e) {
                    glREGISTER_ING = false; //저장 진행중 종료 --------------------
                    alert("ajax 오류발생2");
                }
            }); //ajax

            */

        }
    </script>


</head>

<body>
    <div class="container popupwrap">
        <div class="pop_head">
            <a href="#" class="pop_close" onclick="self.close()">닫기</a>
        </div>
        <div class="confirm">
            <h2>임직원인증신청</h2>

@using (Html.BeginForm("AjaxStaffRequestProc", "MyPage", FormMethod.Post, new { id = "frmSTAFF_REQUEST", name = "frmSTAFF_REQUEST" }))
{
    @Html.AntiForgeryToken()                                           //폼 데이터 위조 방지 토큰 생성



            <input type="hidden" name="M_ID" value="@ViewBag.M_ID" />
            <input type="hidden" name="M_NAME" value="@ViewBag.M_NAME" />
            <input type="hidden" name="M_GBN" value="@ViewBag.M_GBN" />
    

                <fieldset>
                    <legend>임직원인증신청 폼</legend>
                    <ul>
                        <li>
                            <dl>
                                <dt>아이디</dt>
                                <dd>@ViewBag.M_ID</dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>이름</dt>
                                <dd>@ViewBag.M_NAME</dd>
                            </dl>
                        </li>
                        <li class="company">
                            <dl>
                                <dt>회사명</dt>
                                <dd>
                                    <span class="selbox select_a">
                                        <select title="회사명 선택" name="STAFF_COMPANY">
                                            <option value="">선택해주세요.</option>
                                            <option value='비엔엠유통'>비엔엠유통</option>
                                            <option value='삼남석유화학'>삼남석유화학</option>
                                            <option value='삼양 EP 상해'>삼양 EP 상해</option>
                                            <option value='삼양 EP 헝가리'>삼양 EP 헝가리</option>
                                            <option value='삼양데이타시스템'>삼양데이타시스템</option>
                                            <option value='삼양밀맥스'>삼양밀맥스</option>
                                            <option value='삼양바이오팜'>삼양바이오팜</option>
                                            <option value='삼양사'>삼양사</option>
                                            <option value='삼양에프앤비'>삼양에프앤비</option>
                                            <option value='삼양엔텍'>삼양엔텍</option>
                                            <option value='삼양웰푸드'>삼양웰푸드</option>
                                            <option value='삼양이노켐'>삼양이노켐</option>
                                            <option value='삼양제넥스'>삼양제넥스</option>
                                            <option value='삼양제넥스바이오'>삼양제넥스바이오</option>
                                            <option value='삼양패키징'>삼양패키징</option>
                                            <option value='삼양푸드앤다이닝'>삼양푸드앤다이닝</option>
                                            <option value='삼양홀딩스'>삼양홀딩스</option>
                                            <option value='삼양화성'>삼양화성</option>
                                            <option value='삼양화인테크놀로지'>삼양화인테크놀로지</option>
                                            <option value='삼양EMS'>삼양EMS</option>
                                            <option value='양영수당재단'>양영수당재단</option>
                                            <option value='진황도 법인'>진황도 법인</option>

                                        </select>
                                    </span>
                                </dd>
                            </dl>
                        </li>
                        <li class="employee">
                            <dl>
                                <dt>사번</dt>
                                <dd><input class="ipttypea" title="사번 입력" name="STAFF_ID" value="" maxlength="25" /></dd>
                            </dl>
                        </li>
                    </ul>
                    <div class="btn_group">
                        <a href="javascript:fGoSaveStaffRequest();" class="btn btn_brown_h30">확인</a><a href="#none" onclick="self.close()" class="btn btn_white_h30 v2">취소</a>
                    </div>
                    <p class="contact">
                        <span class="number">고객센터 문의 : <img src="/aboutCom/images/membership/txt_csnumber.png" alt="080.740.7983"></span><br />
                        평일 오전 10시 - 12시 / 오후 2시 - 5시(토,일,공휴일 휴무)
                    </p>
                </fieldset>
}
        </div>
    </div>
</body>

</html>