@model AboutMe.Domain.Entity.AdminReview.AdminReviewListViewModel
@using AboutMe.Web.Admin.Controllers
@using AboutMe.Common.Helper
@using AboutMe.Common.Data
@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_AboutMeAdminLayoutA.cshtml";
    var myctrl = ViewContext.Controller as AdminReviewFreeController;
}
@section Left {

    @{Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminLeft.cshtml");}
}

@section Header{
    @{ Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminHeader.cshtml");}

}

@section Scripts{

    <script>

        function search_date_change(v) {
            //v 1: 오늘 ,2: -7 ~오늘 ,3:-30~오늘, 4: -60일~오늘 ,5 : -90일~오늘

            var from_date, to_date;

            if (v == "1") //-7 ~오늘
            {
                from_date = '@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")';
                to_date = '@DateTime.Now.ToString("yyyy-MM-dd")';
            }
            else if (v == "2") //-15~오늘
            {
                from_date = '@DateTime.Now.AddDays(-15).ToString("yyyy-MM-dd")';
                to_date = '@DateTime.Now.ToString("yyyy-MM-dd")';
            }
            else if (v == "3") // -한달~오늘
            {
                from_date = '@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd")';
                to_date = '@DateTime.Now.ToString("yyyy-MM-dd")';
            }
            else//  전체기간
            {
                from_date = '';
                to_date = '';
            }

            $('#SEL_DATE_FROM').val(from_date);
            $('#SEL_DATE_TO').val(to_date);
        }


        //DatePicker
        $(document).ready(function () {
            // create DatePicker from input HTML element
            $("#SEL_DATE_FROM").kendoDatePicker({
                format: "yyyy-MM-dd"
            });

            $("#SEL_DATE_TO").kendoDatePicker({
                format: "yyyy-MM-dd"
            });
        });

        function searching() {

            document.frmSearch.submit();

        }

    </script>

}

@section Body{
    <!--content-->
    <div class="content">
        <!--path-->
        <div class="path">
            <a href="/">HOME</a> &gt; <a href="@(Url.Action("Index","AdminReviewFree"))">컨텐츠관리 &gt; </a><strong>상품리뷰관리</strong>
        </div>
        <!--//path-->

        <div class="panel">
            <h3 class="sub-header">상품리뷰 관리</h3>
            <div class="tar mb10">
                <a href="#" class="btn btn-default middium" onclick="window.open('@Url.Action("Thema", "AdminReview")', 'window', 'width=800,height=700');" style="width:100px">테마설정</a>
            </div>
            <div class="">
                @using (Html.BeginForm("Index", "AdminReviewFree", FormMethod.Get, new { id = "frmSearch", name = "frmSearch" }))
                {
                    <table class="table table_row">
                        <colgroup><col width="10%" /><col width="*" /><col width="10%" /><col width="20%" /><col width="9%" /><col width="23%" /><col width="8%" /></colgroup>
                        <tbody>
                            <tr>
                                <th>등록일</th>
                                <td colspan="3">
                                    <input type="text" id="SEL_DATE_FROM" name="SEL_DATE_FROM" class="input-sm" style="width:120px" maxlength="10" value="@Model.RouteParam.SEL_DATE_FROM">
                                    ~
                                    <input type="text" id="SEL_DATE_TO" name="SEL_DATE_TO" class="input-sm" style="width:120px" maxlength="10" value="@Model.RouteParam.SEL_DATE_TO">
                                    <a href="#" class="btn btn-primary small" onclick="search_date_change('1'); return false;">7일전</a>
                                    <a href="#" class="btn btn-primary small" onclick="search_date_change('2'); return false;">15일전</a>
                                    <a href="#" class="btn btn-primary small" onclick="search_date_change('3'); return false;">한달전</a>
                                    <a href="#" class="btn btn-primary small" onclick="search_date_change('4'); return false;">전체</a>
                                </td>
                                <th rowspan="3">검색조건</th>
                                <td rowspan="3" class="condition_seacth">

                                    @{
                    List<SelectListItem> items = new List<SelectListItem>();

                    items.Add(new SelectListItem { Text = "상품품번", Value = "P_CODE" });

                    foreach (var xx in items)
                    {
                        if (xx.Value == Model.RouteParam.SEARCH_KEY)
                        {
                            xx.Selected = true;
                            break;
                        }
                    }
                                    }
                                    @Html.DropDownList("SEARCH_KEY", items, "선택", new { style = "width:100px;" })

                                    <br />
                                    <input type="text" name="SEARCH_VALUE" value="@Model.RouteParam.SEARCH_VALUE" class="input-sm mt10" id="txt1" style="width:170px; height:94px;">
                                </td>
                                <td rowspan="3">
                                    <a href="#" class="btn btn-default large btn_search" style="height:120px; line-height:90px;" onclick="searching(); return false;">검색</a>
                                </td>
                            </tr>
                            <tr>
                                <th>매체구분</th>
                                <td>
                                    <!--<label for="sort1"><input type="radio" id="sort1" name="MEDIA_GBN" value="" @(Model.RouteParam.MEDIA_GBN == null? "checked" : "") /><span class="txt mr5">전체</span></label>-->
                                    <label for="sort2"><input type="checkbox" id="sort2" name="MEDIA_GBN_W" value="@MediaCode.WEB" @(Model.RouteParam.MEDIA_GBN_W == MediaCode.WEB ? "checked" : "") /><span class="txt mr5">WEB</span></label>
                                    <label for="sort3"><input type="checkbox" id="sort3" name="MEDIA_GBN_M" value="@MediaCode.MOBILE" @(Model.RouteParam.MEDIA_GBN_M == MediaCode.MOBILE ? "checked" : "") /><span class="txt mr5">MOBILE</span></label>
                                </td>
                                <th>상품평</th>
                                <td>
                                    <!--<label for="sort4"><input type="radio" id="sort4" name="IS_PHOTO" value="" @(Model.RouteParam.IS_PHOTO == null? "checked" : "") /><span class="txt mr5">전체</span></label>-->
                                    <label for="sort5"><input type="checkbox" id="sort5" name="IS_PHOTO_Y" value="@YNCode.YES" @(Model.RouteParam.IS_PHOTO_Y == @YNCode.YES ? "checked" : "") /><span class="txt mr5">포토</span></label>
                                    <label for="sort6"><input type="checkbox" id="sort6" name="IS_PHOTO_N" value="@YNCode.NO" @(Model.RouteParam.IS_PHOTO_N == @YNCode.NO ? "checked" : "") /><span class="txt mr5">텍스트</span></label>
                                </td>
                            </tr>
                            <tr>
                                <th>전시여부</th>
                                <td colspan="3">
                                    <!--<label for="sort7"><input type="checkbox" id="sort7" name="IS_DISPLAY" value="" @(Model.RouteParam.IS_DISPLAY == null ? "checked" : "") /><span class="txt mr5">전체</span></label>-->
                                    <label for="sort8"><input type="checkbox" id="sort8" name="IS_DISPLAY_Y" value="@YNCode.YES" @(Model.RouteParam.IS_DISPLAY_Y == @YNCode.YES ? "checked" : "") /><span class="txt mr5">전시</span></label>
                                    <label for="sort9"><input type="checkbox" id="sort9" name="IS_DISPLAY_N" value="@YNCode.NO" @(Model.RouteParam.IS_DISPLAY_N == @YNCode.NO ? "checked" : "") /><span class="txt mr5">비전시</span></label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>

        <div class="panel">
            <h4>총 검색 :@(Model.Total)개</h4>
            <table class="table table_col">
                <colgroup><col width="5"><col width="5"><col width=""><col width=""><col width=""><col width=""><col width=""><col width=""><col width=""><col width=""><col width=""><col width=""><col width=""><col width=""></colgroup>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>베스트지정</th>
                        <th>최다리뷰지정</th>
                        <th>매체구분</th>
                        <th>포토이미지</th>
                        <th>내용</th>
                        <th>회원 ID</th>
                        <!--<th>등급</th>-->
                        <th>카테고리</th>
                        <th>상품이미지</th>
                        <th>상품품번</th>

                        <th>전시여부</th>
                        <th>등록일</th>
                        <th>수정</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.FreeList)
                    {
                        <tr>
                            <td>@item.IDX</td>
                            <td>@(item.IS_BEST == "Y" ? "O" : "")</td>
                            <td>@(item.IS_MOST_CNT == "Y" ? "O" : "")</td>
                            <td>@item.MEDIA_GBN_LBL</td>
                            <td>
                                @if (item.IS_PHOTO == "Y")
                                {
                                    <img src="@string.Format("{0}{1}",myctrl._img_path_review,item.ADD_IMAGE_PATH)" alt="" style="width:120px;" />
                                }

                            </td>
                            <td>@item.P_NAME</td>
                            <td>@item.M_ID</td>

                            <td>
                                @item.CATE_GBN_LBL
                            </td>
                            <td>
                                @if (item.P_MAIN_IMG != null)
                                {
                                    <img src="@string.Format("{0}R120_{1}", myctrl._img_path_product , item.P_MAIN_IMG)" alt="" />
                                }

                            </td>
                            <td>@item.P_CODE</td>

                            <td>
                                @item.IS_DISPLAY_LBL
                            </td>
                            <td>
                                @item.INS_DATE.Value.ToString("yyyy-MM-dd")
                            </td>
                            <td>
                                <a class="btn btn-success small" href="#" onclick="window.open('@Url.Action(string.Format("Update/{0}", item.IDX), "AdminReviewFree", Model.RouteParam)', 'window', 'width=800,height=500');">수정</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

            @{

                string search = Utility01.ConvertObject2UriQuery(Model.RouteParam);

            }

            @{
                Html.RenderAction("Paging", "CommonChildAction", new { TotalRecord = Model.Total, RecordPerPage = 10, PagePerBlock = 10, CurrentPage = Model.RouteParam.PAGE, QueryStr = search });
            }


        </div>

    </div>
    <!--//content-->
}


