@model IEnumerable<AboutMe.Domain.Entity.AdminProduct.SP_ADMIN_CATEGORY_ONE_SEL_Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AboutMeAdminLayoutA.cshtml";
}

@section Scripts{

    <script language="javascript">

        function formChk() {

            var f = document.bform;
            document.bform.submit();

        }

    </script>


}
@section Left {

    @{Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminLeft.cshtml");}
}

@section Header{
    @{ Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminHeader.cshtml");}
}

@section Body{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("CategoryOneInsert", "AdminProduct", FormMethod.Post, new { id = "bform", name = "bform", onsubmit = "return formChk();" }))
{
<a class="btn btn-default small" href="#" onclick="formChk();">수정</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATE_GBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATE_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RE_SORT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH1_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH1_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH2_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH2_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPTH_FLAG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DISPLAY_YN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REGDATE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDX)
            <input id="IsEnabled" type="checkbox" value="@Html.DisplayFor(modelItem => item.DEPTH1_CODE)" name="IsEnabled">
            <input id="DEPTH1_CODE" type="text" value="@Html.DisplayFor(modelItem => item.DEPTH1_CODE)" name="DEPTH1_CODE">
            <input type="text" id="DEPTH1_NAME" name="DEPTH1_NAME" maxlength="20" value="@Html.DisplayFor(modelItem => item.DEPTH1_NAME)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATE_GBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATE_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RE_SORT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH1_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH1_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH2_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH2_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPTH_FLAG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DISPLAY_YN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REGDATE)
        </td>
        <td>
            @Html.ActionLink("edit", "CategoryUpdate", new {  idx=item.IDX }) |
            @Html.ActionLink("Delete", "CategoryDelete", new { idx = item.IDX })
        </td>
    </tr>
}

</table>
}
    }