@model IEnumerable<AboutMe.Domain.Entity.AdminProduct.SP_ADMIN_PRODUCT_LIST_Result>

@{
    ViewBag.Title = "ProductIndex";
    Layout = "~/Views/Shared/_AboutMeAdminLayoutA.cshtml";
}
@section Left {

    @{Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminLeft.cshtml");}
}

@section Header{
    @{ Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminHeader.cshtml");}
}
@section Scripts{

    <script language="javascript">

        $(function () {
            ajaxSelectCateCodeJavascriptInit();
        });

      
        //문자열 안의 공백 지우기
        function deleteSpace(str) {
            var out = "";

            for (common_i = 0; common_i < str.length; common_i++) {
                if (str.charAt(common_i) == " ") {
                    continue;
                }
                out += str.charAt(common_i);
            }
            return out.length;
        }


        //카테고리 유형별(PRODUCT_TYPE) 초기화 1
        function ajaxSelectCateCodeJavascriptInit() {

            var f = document.bform;

            $.ajax({
                url: '/AdminProduct/CategoryListJavascript',
                type: 'POST',
                data: {
                    CATE_GBN: 'PRODUCT_TYPE',
                    DEPTH1_CODE: '',
                    DEPTH2_CODE: ''
                },
                success: function (data) {
                    //var result = "<select style='width:170px;' id='P_CATE_CODE1' name='P_CATE_CODE1' onchange='alert(this.options[this.selectedIndex].value)'>";
                    var result = "<select style='width:120px;' id='P_CATE_CODE1' name='P_CATE_CODE1' onchange='ajaxSelectCateCodeJavascriptProductType1();'>";
                    result += "<option value=''>=선택=</option>";
                    $('#ajaxPCateCode1').html('');
                    $.each(data.msg, function (id, category) {
                        result += '<option value=' + category.CATE_CODE + '>' + category.DEPTH1_NAME + '</option>';
                    });
                    result += "</select>";

                    $('#ajaxPCateCode1').html(result);

                },
                error: function (errorData) {
                    alert("ajaxSelectCateCodeJavascriptInit error");
                }
            });
        }

        //카테고리 유형별(PRODUCT_TYPE) ProductType 2
        function ajaxSelectCateCodeJavascriptProductType1() {

            var f = document.bform;
            var DEPTH1_CODE = $("#P_CATE_CODE1 option:selected").val().substring(0, 3);

            $('#ajaxPCateCode2').html('');
            $('#ajaxPCateCode3').html('');

            $.ajax({
                url: '/AdminProduct/CategoryListJavascript',
                type: 'POST',
                data: {
                    CATE_GBN: 'PRODUCT_TYPE',
                    DEPTH1_CODE: DEPTH1_CODE,
                    DEPTH2_CODE: ''
                },
                success: function (data) {
                    var result = "<select style='width:120px;' id='P_CATE_CODE2' name='P_CATE_CODE2' onchange='ajaxSelectCateCodeJavascriptProductType2();'>";
                    result += "<option value=''>=선택=</option>";
                    $('#ajaxPCateCode2').html('');
                    $.each(data.msg, function (id, category) {
                        result += '<option value=' + category.CATE_CODE + '>' + category.DEPTH2_NAME + '</option>';
                    });
                    result += "</select>";

                    $('#ajaxPCateCode2').html(result);

                },
                error: function (errorData) {
                    alert("ajaxSelectCateCodeJavascriptProductType1 error");
                }
            });
        }

        //카테고리 유형별(PRODUCT_TYPE) ProductType 2
        function ajaxSelectCateCodeJavascriptProductType2() {

            var f = document.bform;
            var DEPTH1_CODE = $("#P_CATE_CODE1 option:selected").val().substring(0, 3);
            var DEPTH2_CODE = $("#P_CATE_CODE2 option:selected").val().substring(3, 6);
            //var DEPTH1_CODE = $("#P_CATE_CODE1 option:selected").val();
            //var DEPTH2_CODE = $("#P_CATE_CODE2 option:selected").val();
            $.ajax({
                url: '/AdminProduct/CategoryListJavascript',
                type: 'POST',
                data: {
                    CATE_GBN: 'PRODUCT_TYPE',
                    DEPTH1_CODE: DEPTH1_CODE,
                    DEPTH2_CODE: DEPTH2_CODE
                },
                success: function (data) {
                    if ((data.msg).length > 0) { //데이타가 있을때만 생성한다.
                        var result = "<select style='width:120px;' id='P_CATE_CODE3' name='P_CATE_CODE3'>";
                        result += "<option value=''>=선택=</option>";
                        $('#ajaxPCateCode3').html('');
                        $.each(data.msg, function (id, category) {
                            result += '<option value=' + category.CATE_CODE + '>' + category.DEPTH3_NAME + '</option>';
                        });
                        result += "</select>";

                        $('#ajaxPCateCode3').html(result);
                    }

                },
                error: function (errorData) {
                    alert("ajaxSelectCateCodeJavascriptProductType2 error");
                }
            });
        }





    </script>


}
@section Body{

    <!--content-->
<div class="content">
    <!--path-->
    <div class="path">
        <a href="/index.asp">HOME</a> &gt; <a href="#">환경설정</a> &gt; <a href="#">전체운영설정</a> &gt; <strong>배송설정</strong>
    </div>
    <!--//path-->

    <div class="panel">
        <h3 class="sub-header">상품관리</h3>
@using (Html.BeginForm("ProductIndex", "AdminProduct", FormMethod.Post, new { id = "bform", name = "bform", onsubmit = "return frmCheck();" }))
{
    @Html.AntiForgeryToken()  //폼 데이터 위조 방지 토큰 생성
        <div class="tar mb10">
           
            <a class="btn btn-default middium" href="#">@Html.ActionLink("Create New", "ProductInsert")</a>
        </div>

        <div class="">
            <table class="table table_row">
                <colgroup><col width="15%" /><col width="*" /><col width="8%" /><col width="20%" /></colgroup>
                <tfoot>
                </tfoot>
                <tbody>
                    <tr>
                        <th>일자</th>
                        <td>
                            <input type="text" id="datepicker" name="from" class="input-sm" style="width:120px">
                            <a href="#" class="btn btn-primary small">7일</a>
                            <a href="#" class="btn btn-primary small">15일</a>
                            <a href="#" class="btn btn-primary small">31일</a>
                        </td>
                        <th rowspan="5">검색조건</th>
                        <td rowspan="5" class="condition_seacth">
                            <select name="SearchKey" style="width:170px;" >
                                <option value="P_CODE">상품품번</option>
                                <option value="P_NAME">상품명</option>
                            </select><br />
                            <input type="text" value="@ViewBag.SearchKeyword" placeholder="다중검색" class="input-sm mt10" name="SearchKeyword" id="SearchKeyword" style="width:170px; height:125px;">
                            <a href="javascript:document.bform.submit();" class="btn btn-default large btn_search" style="height:150px; line-height:120px;">검색</a>
                        </td>
                    </tr>

                    <tr>
                        <th>판매상태</th>
                        <td>
                            <label for="sale1"><input type="checkbox" id="searchDisplayY" value="Y" name="searchDisplayY" @if (ViewBag.searchDisplayY == "Y"){ <text>checked</text> } /><span class="txt mr5">전시</span></label>
                            <label for="sale2"><input type="checkbox" id="searchDisplayN" value="Y" name="searchDisplayN" @if (ViewBag.searchDisplayN == "Y") { <text> checked</text> } /><span class="txt mr5">비전시</span></label>
                            <label for="sale4"><input type="checkbox" id="soldoutYn" value="Y" name="soldoutYn" @if (ViewBag.soldoutYn == "Y") { <text> checked</text> } /><span class="txt mr5">품절</span></label>
                            <label for="sale4"><input type="checkbox" id="POutletYn" value="Y" name="POutletYn" @if (ViewBag.POutletYn == "Y") { <text> checked</text> } /><span class="txt mr5">아울렛</span></label>
                        </td>
                    </tr>
                    <tr>
                        <th>카테고리</th>
                        <td>
                            <span id="ajaxPCateCode1"></span>
                            <span id="ajaxPCateCode2"></span>
                            <span id="ajaxPCateCode3"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>아이콘</th>
                        <td>
                            <label for="icon1"><input type="checkbox" id="icon1" /><span class="txt mr5">아이콘1</span></label>
                            <label for="icon2"><input type="checkbox" id="icon2" /><span class="txt mr5">아이콘2</span></label>
                            <label for="icon3"><input type="checkbox" id="icon3" /><span class="txt mr5">아이콘3</span></label>
                            <label for="icon4"><input type="checkbox" id="icon4" /><span class="txt mr5">아이콘4</span></label>
                        </td>
                    </tr>
                    <tr>
                        <th>판매가</th>
                        <td>
                            <input type="text" class="input-sm" style="width:120px">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
}    
    </div>

    <div class="panel">
        <div class="">
            <table class="table table_row">
                <colgroup><col width="12%" /><col width="12%" /><col width="12%" /><col width="12%" /><col width="12%" /><col width="12%" /><col width="12%" /><col width="12%" /></colgroup>
                <tr>
                    <th>총검색</th>
                    <td>@ViewBag.TotalRecord 건</td>
                    <th>■ 판매상태 일괄변경</th>
                    <td>
                        <select>
                            <option>대기중</option>
                        </select>
                    </td>
                    <th>■ 아이콘 일괄삭제</th>
                    <td>
                        <select>
                            <option>NEW</option>
                        </select>
                    </td>
                    <th>출력수</th>
                    <td>
                        <select>
                            <option>50개</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <table class="table table_col addtable">
            <colgroup></colgroup>
            <thead>
                <tr>
                    <th scope="col"><input type="checkbox" /></th>
                    <th scope="col">이미지</th>
                    <th scope="col">상품품번</th>
                    <th scope="col">카테고리2</th>
                    <th scope="col">카테고리3</th>
                    <th scope="col">상품명</th>
                    <th scope="col">판매가</th>
                    <th scope="col">할인가</th>
                    <th scope="col">할인률</th>
                    <th scope="col">전시여부</th>
                    <th scope="col">품절여부</th>
                    <th scope="col">전시순서</th>
                    <th scope="col">등록일</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    if (Model.Count() < 1)
                    {
                        <tr>
                            <td colspan="7" class="brnone">No data...</td>
                        </tr>
                    }
                }
                @foreach (var item in Model)
                {
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.MAIN_IMG))
                        {
                            <span id="SPAN_MAIN_IMG"><img src="@ViewBag.PRODUCT_PATH@item.MAIN_IMG" width="100" height="100" /></span>
                        }
                    </td>
                    <td>
                        <a href="/AdminProduct/ProductUpdate?pcode=@item.P_CODE">
                            @item.P_CODE
                        </a>
                    </td>
                    <td>@item.DEPTH2_NAME</td>
                    <td>@item.DEPTH3_NAME</td>
                    <td><a href="/cmsManager/product/view.html">@item.P_NAME</a></td>
                    <td>@string.Format("{0:C}",item.SELLING_PRICE)</td>
                    <td>@string.Format("{0:C}", item.DISCOUNT_PRICE)</td>
                    <td>@Html.DisplayFor(modelItem => item.DISCOUNT_RATE)</td>
                    <td>@Html.DisplayFor(modelItem => item.DISPLAY_YN)</td>
                    <td>@Html.DisplayFor(modelItem => item.SOLDOUT_YN)</td>
                    <td>▲<br />▼</td>
                    <td>@item.REGDATE</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    @{Html.RenderAction("Paging", "CommonChildAction", new { TotalRecord = ViewBag.TotalRecord, RecordPerPage = ViewBag.PageSize, PagePerBlock = 10, CurrentPage = ViewBag.Page, QueryStr = "SearchCol=" + ViewBag.SearchCol + "&SearchKeyword=" + ViewBag.SearchKeyword + "&SortCol=" + ViewBag.SortCol + "&SortDir=" + ViewBag.SortDir });}

</div>
<!--//content-->



}