@model IEnumerable<AboutMe.Domain.Entity.AdminProduct.SP_ADMIN_PRODUCT_SEL_Result>

@{
    ViewBag.Title = "ProductIndex";
    Layout = "~/Views/Shared/_AboutMeAdminLayoutA.cshtml";
}
@section Left {

    @{Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminLeft.cshtml");}
}

@section Header{
    @{ Html.RenderPartial("~/Views/AboutMeAdminPartial/_AdminHeader.cshtml");}
}

@section Body{

    <!--content-->
<div class="content">
    <!--path-->
    <div class="path">
        <a href="/index.asp">HOME</a> &gt; <a href="#">환경설정</a> &gt; <a href="#">전체운영설정</a> &gt; <strong>배송설정</strong>
    </div>
    <!--//path-->

    <div class="panel">
        <h3 class="sub-header">상품관리</h3>
        <div class="tar mb10">
           
            <a class="btn btn-default middium" href="#">@Html.ActionLink("Create New", "ProductInsert")</a>
            <a class="btn btn-default middium" href="#">상품일괄저장</a>
            <a class="btn btn-default middium" href="#">아이콘일괄등록</a>
            <a class="btn btn-default middium" href="#">예약상품일괄전시</a>
            <a class="btn btn-default middium" href="#">EXEL 다운로드</a>
        </div>
        <div class="">
            <table class="table table_row">
                <colgroup><col width="15%" /><col width="*" /><col width="8%" /><col width="20%" /></colgroup>
                <tfoot>
                </tfoot>
                <tbody>
                    <tr>
                        <th>일자</th>
                        <td>
                            <select>
                                <option>선택하세요</option>
                                <option>최종수정일</option>
                                <option>최초전시일</option>
                            </select>
                            @*<script type="text/javascript">
											  $(function() {
												$( "#datepicker" ).datepicker({
													showOn: "button",
													buttonImage: "/cmsManager/aboutCom/images/bl_cal.png",
													changeMonth: true,
													changeYear: true,
													buttonImageOnly: true,
													buttonText: "Select date"
												});
											  });
                            </script>*@
                            <input type="text" id="datepicker" name="from" class="input-sm" style="width:120px">
                            <a href="#" class="btn btn-primary small">7일</a>
                            <a href="#" class="btn btn-primary small">15일</a>
                            <a href="#" class="btn btn-primary small">31일</a>
                        </td>
                        <th rowspan="5">검색조건</th>
                        <td rowspan="5" class="condition_seacth">
                            <select style="width:170px;">
                                <option>상품품번</option>
                                <option>상품품번</option>
                                <option>상품품번</option>
                                <option>상품품번</option>
                                <option>상품품번</option>
                            </select><br />
                            <input type="text" value="다중검색" class="input-sm mt10" id="txt1" style="width:170px; height:125px;">
                            <a href="#" class="btn btn-default large btn_search" style="height:150px; line-height:120px;">검색</a>
                        </td>
                    </tr>
                    <tr>
                        <th>판매상태</th>
                        <td>
                            <label for="sale1"><input type="checkbox" id="sale1" /><span class="txt mr5">비전시</span></label>
                            <label for="sale2"><input type="checkbox" id="sale2" /><span class="txt mr5">전시내림</span></label>
                            <label for="sale3"><input type="checkbox" id="sale3" /><span class="txt mr5">판매중</span></label>
                            <label for="sale4"><input type="checkbox" id="sale4" /><span class="txt mr5">품절</span></label>
                        </td>
                    </tr>
                    <tr>
                        <th>카테고리</th>
                        <td>
                            <select>
                                <option>대분류</option>
                                <option>대분류</option>
                                <option>대분류</option>
                            </select>
                            <select>
                                <option>중분류</option>
                                <option>중분류</option>
                                <option>중분류</option>
                            </select>
                            <select>
                                <option>소분류</option>
                                <option>소분류</option>
                                <option>소분류</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>아이콘</th>
                        <td>
                            <label for="icon1"><input type="checkbox" id="icon1" /><span class="txt mr5">아이콘1</span></label>
                            <label for="icon2"><input type="checkbox" id="icon2" /><span class="txt mr5">아이콘2</span></label>
                            <label for="icon3"><input type="checkbox" id="icon3" /><span class="txt mr5">아이콘3</span></label>
                            <label for="icon4"><input type="checkbox" id="icon4" /><span class="txt mr5">아이콘4</span></label>
                        </td>
                    </tr>
                    <tr>
                        <th>판매가</th>
                        <td>
                            <input type="text" class="input-sm" style="width:120px">
                            <input type="text" class="input-sm" style="width:120px">
                            <label for="price"><input type="checkbox" id="price" /><span class="txt ml5">상품이미지 노출</span></label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel">
        <div class="">
            <table class="table table_row">
                <colgroup><col width="12%" /><col width="12%" /><col width="12%" /><col width="12%" /><col width="12%" /><col width="12%" /><col width="12%" /><col width="12%" /></colgroup>
                <tr>
                    <th>총검색</th>
                    <td>250건</td>
                    <th>■ 판매상태 일괄변경</th>
                    <td>
                        <select>
                            <option>대기중</option>
                        </select>
                    </td>
                    <th>■ 아이콘 일괄삭제</th>
                    <td>
                        <select>
                            <option>NEW</option>
                        </select>
                    </td>
                    <th>출력수</th>
                    <td>
                        <select>
                            <option>50개</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <table class="table table_col addtable">
            <colgroup></colgroup>
            <thead>
                <tr>
                    <th scope="col"><input type="checkbox" /></th>
                    <th scope="col">상품번호▼</th>
                    <th scope="col">상품품번▼</th>
                    <th scope="col">상품상세</th>
                    <th scope="col">이미지</th>
                    <th scope="col">상품명</th>
                    <th scope="col">정상가▼</th>
                    <th scope="col">판매가▼</th>
                    <th scope="col">할인률▼</th>
                    <th scope="col">판매상태</th>
                    <th scope="col">예약상품</th>
                    <th scope="col">쿠폰여부</th>
                    <th scope="col">전시채널</th>
                    <th scope="col">모델정보</th>
                    <th scope="col">최초전시일</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>@Html.DisplayFor(modelItem => item.IDX)</td>
                    <td><a href="/AdminProduct/ProductUpdate?pcode=@Html.DisplayFor(modelItem => item.P_NAME)">
                            @Html.DisplayFor(modelItem => item.P_CODE)
                        </a>
                    </td>
                    <td>O</td>
                    <td></td>
                    <td><a href="/cmsManager/product/view.html">@Html.DisplayFor(modelItem => item.P_NAME)</a></td>
                    <td>@Html.DisplayFor(modelItem => item.SELLING_PRICE)</td>
                    <td>@Html.DisplayFor(modelItem => item.DISCOUNT_PRICE)</td>
                    <td>@Html.DisplayFor(modelItem => item.DISCOUNT_RATE)</td>
                    <td>
                        <select>
                            <option>대기중</option>
                            <option>대기중</option>
                            <option>대기중</option>
                        </select>
                    </td>
                    <td>YES</td>
                    <td>O</td>
                    <td>WEB</td>
                    <td>없음</td>
                    <td>@Html.DisplayFor(modelItem => item.REGDATE)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    @{Html.RenderAction("Paging", "CommonChildAction", new { TotalRecord = 5, RecordPerPage = 1, PagePerBlock = 10, CurrentPage = 1, QueryStr = "SearchCol=" + ViewBag.SearchCol + "&SearchKeyword=" + ViewBag.SearchKeyword + "&SortCol=" + ViewBag.SortCol + "&SortDir=" + ViewBag.SortDir });}

</div>
<!--//content-->



}