@model AboutMe.Domain.Entity.Review.MyReviewCompleteViewModel
@using AboutMe.Domain.Entity.Review
@using AboutMe.Web.Mobile.Controllers
@{
    ViewBag.Title = "나의 리뷰 - ABOUT ME";
    ViewBag.TopClass = "mypage";

    Layout = "~/Views/Shared/_AboutMeLayoutA.cshtml";

    var myController = ViewContext.Controller as MyReviewController;
}
@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}
    <link href="/aboutCom/css/mypage.css" rel="stylesheet" />
}

<!--header-->
@section Header{
}
<!--//header-->
@section Scripts{
    <script language="javascript">


    </script>
}
<!--container-->
@section Body{
    <div class="wrap myreview">
        @{ Html.RenderPartial("~/Views/AboutMePartial/_Header.cshtml");}

        <!--container-->
        <div class="container">
            <div class="h2_area">
                <a href="#" class="historyback"><img src="/aboutCom/images/common/btn_historyback.gif" alt="뒤로가기" /></a>
                <h2>나의 리뷰</h2>
            </div>
            <!-- 조회기간 -->
            <div class="bullistb boxtypeb pb20">
                <h3 class="info_sti">꼭 읽어주세요</h3>
                <ul>
                    <li>베스트 리뷰로 선정되면 2,000포인트 추가 지급 됩니다.</li>
                    <li>포토리뷰 작성 시 1,000 포인트가 적립됩니다.</li>
                    <li>텍스트 리뷰 작성 시 500 포인트가 적립니다.</li>
                    <li>텍스트 리뷰 작성 후 포토리뷰로 수정 불가능합니다.</li>
                    <li>구매확정 후 작성 가능합니다.</li>
                    <li>
                        리뷰 작성 시 개인정보는 가급적 노출하지 마시기 바랍니다.<br />
                        (본 쇼핑몰에서는 책임지지 않습니다.)
                    </li>
                </ul>
            </div>
            <!-- //조회기간 -->
            <!-- 리뷰 목록 -->
            <div class="tabbox">
                <ul class="tabs tabtypeb">
                    <li ><a href="@Url.Action("Ready", "MyReview")">작성 가능한 리뷰</a></li>
                    <li class="cnt"><a href="#tab_review2">작성한 리뷰</a></li>
                </ul>
            </div>
            <!-- 작성한 리뷰 -->
            <div id="tab_review2" class="tab_content" style="display:block">
                <h3>작성한 리뷰</h3>
                <ul class="review_list">

                    @foreach (var item in Model.Reviews)
                    {
                        <li class="product_info">
                            <div class="photo_info">
                                <div class="photo"><img src="/aboutCom/images/sample/thumb120.gif" alt="" /></div>
                                <div class="detail">
                                    <span class="tit">@item.P_NAME</span>
                                </div>
                            </div>
                            <div class="review_info">
                                <div class="rinfo_top">
                                    <p class="winfo"><span class="type oily"></span><span class="age">@(item.M_BIRTHDAY_LBL)대, @(item.M_SEX_LBL)</span><strong class="id">@item.M_ID_LBL</strong></p>
                                </div>
                                <div class="rinfo_con">
                                    <p class="txtbox">@item.COMMENT</p>
                                    @if (item.IS_PHOTO == "Y")
                                    {
                                        <div class="imgbox"><img src="/aboutCom/images/sample/thum_reviewimg1.jpg" alt="" /></div>
                                    <!-- [Desc] 텍스트의 길이가 3줄이 넘거나, 포토리뷰가 있으면 div.morebox가 있음 -->
                                        <div class="morebox">
                                            <!-- [Desc] 포토가 없으면 span.photo_review가 없음 -->
                                            <span class="photo_review"><i></i>포토리뷰</span>
                                            <a href="#none" class="btn_more"><i></i></a>
                                        </div>
                                    }

                                </div>
                            </div>
                        </li>
                    }



                </ul>

            </div>
            <!-- //작성 가능한 리뷰 -->
        </div>
        <!-- 리뷰 목록 -->
        <!--//container-->
        @{ Html.RenderPartial("~/Views/AboutMePartial/_Footer.cshtml");}
    </div>
}
<!--footer-->
@section Footer{
}
<!--//footer-->
