@model AboutMe.Domain.Entity.Exhibit.EXHIBIT_VIEW
@{
    if (Model.ExhibitInfo == null)
    {
        Response.Write("<script>alert('존재하지 않은 게시물입니다.'); history.go(-1);</script>");
        Response.End();
    }

    ViewBag.Title = "기획전 - ABOUT ME";
    ViewBag.TopClass = "exhibition";

    Layout = "~/Views/Shared/_AboutMeLayoutB.cshtml";

    string productImgPath = AboutMe.Common.Helper.Config.GetConfigValue("ProductPhotoPath");
}
@section Scripts {
    <link href="/aboutCom/css/event.css" rel="stylesheet" />
}

<!--container-->
<div class="container detail">
    <div class="h2_area">
        <h2>@Model.ExhibitInfo.EXHIBIT_NAME (@Model.ExhibitInfo.FROM_DATE ~ @Model.ExhibitInfo.TO_DATE)</h2>
    </div>
    <!--상세배너-->
    <div class="detailbnr">
        <a href="#none"><img src="@Model.ExhibitInfo.MOBILE_FILE" alt="" /></a>
    </div>
    <!--//상세배너-->
    <!--상세리스트-->
@foreach (var item in Model.TabProductList)
{

    <div class="product_wrap">
        <p class="list_tit">@item.Tabinfo.TAB_NAME</p>
        <ul class="product_list">
        
        @foreach (var productInfo in item.ProductList)
        {
            string imgUrl1 = productImgPath + "R270_" + productInfo.MAIN_IMG;

            <li>
                <a href="/shopping/detail?pcode=@productInfo.P_CODE">
                    <span class="photo"><img src="@imgUrl1" alt="" /></span>
                    <span class="detail">
                       @if (!string.IsNullOrEmpty(productInfo.ICON_YN))
                        {
                            if (productInfo.ICON_YN.IndexOf('B') != -1)
                            { <text> <span class="ico_best">BEST</span></text> }
                            if (productInfo.ICON_YN.IndexOf('S') != -1)
                            { <text> <span class="ico_soldout">SOLD OUT</span></text> }
                            if (productInfo.ICON_YN.IndexOf('N') != -1)
                            { <text> <span class="ico_new">NEW</span></text> }
                            if (productInfo.ICON_YN.IndexOf('C') != -1)
                            { <text> <span class="ico_custom ">커스텀</span></text> }
                        }
                        @if (!string.IsNullOrEmpty(productInfo.PMO_PRODUCT_CATEGORY))
                        {
                            if (productInfo.PMO_PRODUCT_CATEGORY == "01")
                            { <text> <span class="ico_set">SET</span></text> }
                            if (productInfo.PMO_PRODUCT_CATEGORY == "02")
                            { <text> <span class="ico_1_1">1+1</span></text> }
                            if (productInfo.PMO_PRODUCT_CATEGORY == "03")
                            { <text> <span class="ico_time">TIME</span></text> }
                        }
                        @if (!string.IsNullOrEmpty(productInfo.COUPON_CODE))
                        {
                              <text> <span class="ico_coupon">COUPON</span></text>
                        }
                        <span class="tit">@(new HtmlString(productInfo.P_NAME))</span>
                        <span class="stit">@(new HtmlString(productInfo.P_SUB_TITLE))</span>
                        <span class="price">
                            @if (productInfo.SELLING_PRICE != productInfo.DISCOUNT_PRICE)
                            {
                                <del>@String.Format("{0:#,#0.}", productInfo.SELLING_PRICE)원</del>
                            }
                            <strong>@String.Format("{0:#,#0.}", productInfo.DISCOUNT_PRICE)원</strong>
                        </span>
                    </span>
                </a>
                <a href="#none" class="btn_cart" onclick="javascript:Cart_Product_Input('@productInfo.P_CODE','1');"></a>
            </li>
        }
        </ul>
        <!--//상세리스트-->
    </div>
}

</div>
<!--//container-->









