@model AboutMe.Domain.Entity.Event.EVENT_MAIN_INDEX
@{
    ViewBag.Title = "이벤트 - ABOUT ME";
    ViewBag.TopClass = "event";
    Layout = "~/Views/Shared/_AboutMeLayoutB.cshtml";
}

@section Scripts {
<link href="/aboutCom/css/event.css" rel="stylesheet" />
<script type="text/javascript">
    /**
    $(function () {

			//타임세일 현재날짜와 종료날짜를 입력해주세요.
			$('#timesale').countdown({
				starttimestamp	: "2014,07,12,12,00,00",	//현재날짜
				endtimestamp	: "2014,07,13,10,20,30",	//종료날짜
				callback	: function(m){
					$('#timesale').html(m);
				}
			});
			//레이어타임세일의 현재날짜와 종료날짜 입력해주세요 (위와 같은 날자 입력)
			$('#ly_timesale').countdown({
				starttimestamp	: "2014,07,12,12,00,00",	//현재날짜
				endtimestamp	: "2014,07,13,10,20,30",	//종료날짜
				callback	: function(m){
					$('#ly_timesale').html(m);
				}
			});
			//Lazy Load Script
			$("img.lazyload").lazyload({
				threshold : 100,
				effect : "fadeIn",
				skip_invisible : false
			});
		});
        **/
</script>

}

<!--container-->
<div class="container">
    <div class="h2_area">
        <h2>이벤트</h2>
    </div>

    <!--tabs-->
    <div class="eventtabs">
        <ul class="tabs tabtypeb ea2">
            <li class="cnt"><a href="#eventCon1">진행중 이벤트</a></li>
            <li><a href="#eventCon2">종료 이벤트</a></li>
        </ul>
    </div>
    <!--//tabs-->
    <!--진행중 기획전/이벤트-->
    <div id="eventCon1" class="tab_content eventcon">
        <!--타임세일-->
        @{Html.RenderAction("EventPgTimeSaleBanner", "ChildActionPromotion");}
        <!--//타임세일-->

        <div class="event_plan">
            <ul>
                @if (Model.IngListInfo != null)
                { 
                    foreach (var item in Model.IngListInfo)
                    {

                        string urlPath = "";
                        if (item.GBN == "EVENT")
                        {
                            urlPath = "/Event/EventView?IDX=" + Convert.ToString(item.IDX);
                        }
                        else if (item.GBN == "EXHIBIT")
                        {
                            urlPath = "/Event/ExhibitView?IDX=" + Convert.ToString(item.IDX);
                        }
                        else if (item.GBN == "SAMPLE")
                        {
                            urlPath = "/Event/SampleView?IDX=" + Convert.ToString(item.IDX);
                        }

                        <li><a href="@urlPath"><img class="lazyload" data-original="@item.MOBILE_BANNER" alt="@item.NAME @item.FROM_DATE ~ @item.TO_DATE" /></a></li>
                    }
                }
            </ul>
        </div>

    </div>
    <!--//진행중 이벤트-->
    <!--종료 이벤트-->
    <div id="eventCon2" class="tab_content eventcon">
        <!--기획전/이벤트-->
        <div class="event_plan">
            <ul>
            @if (Model.EndListInfo != null)
            {
                foreach (var item in Model.EndListInfo)
                {

                    string urlPath = "";
                    if (item.GBN == "EVENT")
                    {
                        urlPath = "/Event/EventView?IDX=" + Convert.ToString(item.IDX);
                    }
                    else if (item.GBN == "EXHIBIT")
                    {
                        urlPath = "/Event/ExhibitView?IDX=" + Convert.ToString(item.IDX);
                    }
                    else if (item.GBN == "SAMPLE")
                    {
                        urlPath = "/Event/SampleView?IDX=" + Convert.ToString(item.IDX);
                    }
                    <li><a href="@urlPath"><img class="lazyload" data-original="@item.MOBILE_BANNER" alt="@item.NAME @item.FROM_DATE ~ @item.TO_DATE" /></a></li>
                }
            }
            </ul>
        </div>
        <!--//기획전-->
    </div>
    <!--//종료 이벤트-->

</div>
<!--//container-->
