@model  AboutMe.Web.Mobile.Controllers.EventController.MyMultiModelForPromotionProduct
@using AboutMe.Web.Mobile.Common;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AboutMeLayoutA.cshtml";
}
@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}
    <link href="/aboutCom/css/event.css" rel="stylesheet" />
}


<!--header-->
@section Header{

}
<!--//header-->
@{
    //모바일
    string FromYYYY = "", FromMM = "", FromDD = "", FromHH = "", FromMin = "", FromSS = "";
    string ToYYYY = "", ToMM = "", ToDD = "", ToHH = "", ToMin = "", ToSS = "";

    FromYYYY = Model.inst_PROMOTION_TOP_1_Result[0].PMO_PRODUCT_DATE_FROM.Value.Year.ToString();
    FromMM = Model.inst_PROMOTION_TOP_1_Result[0].PMO_PRODUCT_DATE_FROM.Value.Month.ToString().PadLeft(2, '0');
    FromDD = Model.inst_PROMOTION_TOP_1_Result[0].PMO_PRODUCT_DATE_FROM.Value.Day.ToString().PadLeft(2, '0');
    FromHH = Model.inst_PROMOTION_TOP_1_Result[0].PMO_PRODUCT_DATE_FROM.Value.Hour.ToString().PadLeft(2, '0');
    FromMin = Model.inst_PROMOTION_TOP_1_Result[0].PMO_PRODUCT_DATE_FROM.Value.Minute.ToString().PadLeft(2, '0');
    FromSS = Model.inst_PROMOTION_TOP_1_Result[0].PMO_PRODUCT_DATE_FROM.Value.Second.ToString().PadLeft(2, '0');

    ToYYYY = Model.inst_PROMOTION_TOP_1_Result[0].PMO_PRODUCT_DATE_TO.Value.Year.ToString();
    ToMM = Model.inst_PROMOTION_TOP_1_Result[0].PMO_PRODUCT_DATE_TO.Value.Month.ToString().PadLeft(2, '0');
    ToDD = Model.inst_PROMOTION_TOP_1_Result[0].PMO_PRODUCT_DATE_TO.Value.Day.ToString().PadLeft(2, '0');
    ToHH = Model.inst_PROMOTION_TOP_1_Result[0].PMO_PRODUCT_DATE_TO.Value.Hour.ToString().PadLeft(2, '0');
    ToMin = Model.inst_PROMOTION_TOP_1_Result[0].PMO_PRODUCT_DATE_TO.Value.Minute.ToString().PadLeft(2, '0');
    ToSS = Model.inst_PROMOTION_TOP_1_Result[0].PMO_PRODUCT_DATE_TO.Value.Second.ToString().PadLeft(2, '0');
}

@section Scripts{

    <script type="text/javascript">
        $(function () {
            //타임세일 현재날짜와 종료날짜를 입력해주세요.
            $('#timesale').countdown({
                starttimestamp: "@FromYYYY,@FromMM,@FromDD,@FromHH,@FromMin,@FromSS",	//현재날짜
                endtimestamp: "@ToYYYY,@ToMM,@ToDD,@ToHH,@ToMin,@ToSS",	//종료날짜
                callback: function (m) {
                    $('#timesale').html(m);
                }
            });
        });
    </script>



    <script language="javascript">

        $(function () {
            //ajaxSelectCateCodeJavascriptInit();
        });

        function bsearch() {
            var f = document.bform;
            //alert('ok');
            f.target = "";
            f.PAGE.value = 1;
            f.submit();
        }

        function pCateCode(code) {
            //alert(code);
            var f = document.bform;
            f.P_CATE_CODE.value = code;
            bsearch();
        }

        function cCateCode(code) {
            var f = document.bform;
            f.C_CATE_CODE.value = code;
            bsearch();
        }

        function lCateCode(code) {
            var f = document.bform;
            f.L_CATE_CODE.value = code;
            bsearch();
        }

        function sortGbn(code) {
            var f = document.bform;
            f.SORT_GBN.value = code;
            bsearch();
        }

        function rePageSize() {
            var f = document.aform;

            f.target = "";
            f.page.value = 1;
            f.submit();
        }

    </script>


    <script language="javascript">

        //아래 펑션을 변형해서 한번에 여러개를 넣으면 된다
        /**
         function AddCartClick(b) {
             var arrP = new Array;
             var obj = new Object();
             obj.p_code = $(b).attr('data-pcode');//f.opt_p_code.value//P_CODE
             obj.p_count = $(b).attr('data-pcount');
             arrP.push(obj);
             Cart_Input(arrP);
         }
         **/
    </script>


    <script language="javascript">


        function AddCartSingle(sel_p_code) {
            var arrP = new Array;
            var obj = new Object();
            /**
            obj.p_code = $(b).attr('data-pcode');//f.opt_p_code.value//P_CODE
            obj.p_count = $(b).attr('data-pcount');
            **/
            obj.p_code = sel_p_code;
            obj.p_count = 1;
            arrP.push(obj);
            Cart_Input(arrP);
        }



        //여러개의 상품을 장바구니에 넣고, 바로구매 하기 (ToDo)
        function NowOrderPluralInput() {
            if (confirm('바로구매하시겠습니까?')) {

                var arrP = new Array;

                var frmobj = document.frm001;
                var pcode = "";
                var obj = new Object();

                obj.p_code = sel_p_code;
                obj.p_count = 1;
                arrP.push(obj);
                Cart_Input(arrP);


                if (arrP.length > 0) {
                    //Cart_Input(arrP);

                    var jobj = JSON.stringify(arrP);
                    var f = document.nowOrderform;
                    f.OrderList.value = jobj;
                    var islogin = '@MemberInfo.IsMemberLogin()';

                    if (islogin == 'True') {
                        f.action = '/Order/InsertOrderStep1';
                    }
                    else {
                        f.action = '/MemberShip/Login';
                    }
                    f.submit();
                }
                else {
                    alert("구매할 상품을 선택해주세요!");
                }

            }
        }

        //div_total , discount , result



        //아래 펑션을 변형해서 한번에 여러개를 넣으면 된다
        function AddCartClick() {


            var arrP = new Array;


            var frmobj = document.frm001;
            var pcode = "";


            for (var i = 0; frmobj.ChkCalPrice.length > i ; i++) {
                if (frmobj.ChkCalPrice[i].checked == true) {
                    alert(frmobj.ChkCalPrice[i].checked);

                    var obj = new Object();
                    cur_arr = frmobj.ChkCalPrice[i].value.split('$');
                    pcode = cur_arr[0];

                    /**
                    obj.p_code = $(b).attr('data-pcode');//f.opt_p_code.value//P_CODE
                    obj.p_count = $(b).attr('data-pcount');
                    **/

                    obj.p_code = pcode;//f.opt_p_code.value//P_CODE
                    obj.p_count = 1;
                    arrP.push(obj);
                }

                //alert(total_discount_price);
            }



            if (arrP.length > 0) {
                Cart_Input(arrP);
            }
            else {
                alert("쇼핑백에 담을 상품을 선택해주세요!");
            }



        }


        //장바구니----아래 펑션을 변형해서 한번에 여러개를 넣으면 된다
        /**
        function AddCartClick(b) {
            var arrP = new Array;
            var obj = new Object();
            obj.p_code = $(b).attr('data-pcode');//f.opt_p_code.value//P_CODE
            obj.p_count = $(b).attr('data-pcount');
            arrP.push(obj);
            Cart_Input(arrP);
        }

        **/

    </script>

}


<!--container-->
@section Body{

    <div class="wrap">
        @{ Html.RenderPartial("~/Views/AboutMePartial/_Header.cshtml");}
        <!--container-->
        <div class="container">
            <div class="h2_area">
                <h2>타임세일</h2>
            </div>
            <div class="timesale_area">
                <p id="timesale" class="timesale"></p>

                <div class="timebnr">
                    <!-- <img src="/aboutCom/images/sample/timesale.jpg" alt="" />-->
                    <img src="@ViewBag.PromotionPhotoPath@Model.inst_PROMOTION_TOP_1_Result[0].PMO_PRODUCT_MOBILE_MAIN_IMG" alt="" />
                </div>
                <!--2015-08-21 추가-->
                <div class="eventtime_bnr">
                    <div class="btn_prevnext">
                        <a href="#" class="btn_prev"></a>
                        <a href="#" class="btn_next"></a>
                    </div>
                    <ul class="slider">
                        @foreach (var item in Model.inst_PROMOTION_BY_PRODUCT_PRICE_SEL_Result)
                        {
                            <li>
                                <div class="probnr">
                                    <div class="photo"><img src="/aboutCom/images/sample/thumb270_2.jpg" alt="" /></div>
                                    <div class="detail">
                                        <!--.ico_best
                                        .ico_coupon
                                        .ico_time
                                        .ico_soldout
                                        .ico_set-->
                                        @if (!string.IsNullOrEmpty(item.ICON_YN))
                                        {
                                            if (item.ICON_YN.IndexOf('B') != -1)
                                            { <text> <span class="ico_best">BEST</span></text> }
                                            if (item.ICON_YN.IndexOf('S') != -1)
                                            { <text> <span class="ico_soldout">SOLD OUT</span></text> }
                                            if (item.ICON_YN.IndexOf('N') != -1)
                                            { <text> <span class="ico_new">NEW</span></text> }
                                            if (item.ICON_YN.IndexOf('C') != -1)
                                            { <text> <span class="ico_custom ">커스텀</span></text> }
                                        }
                                        @if (!string.IsNullOrEmpty(item.PMO_PRODUCT_CATEGORY))
                                        {
                                            if (item.PMO_PRODUCT_CATEGORY == "01")
                                            { <text> <span class="ico_set">SET</span></text> }
                                            if (item.PMO_PRODUCT_CATEGORY == "02")
                                            { <text> <span class="ico_1_1">1+1</span></text> }
                                            if (item.PMO_PRODUCT_CATEGORY == "03")
                                            { <text> <span class="ico_time">TIME</span></text> }
                                        }
                                        @if (!string.IsNullOrEmpty(item.COUPON_CODE))
                                        {
                                            <text> <span class="ico_coupon">COUPON</span></text>
                                        }
                                        <span class="tit">@(new HtmlString(item.P_NAME))</span>
                                        <span class="stit">@(new HtmlString(item.P_SUB_TITLE))</span>
                                        <span class="price">
                                            <del>@String.Format("{0:#,##0}", item.SELLING_PRICE)원</del>
                                            <strong>@String.Format("{0:#,##0}", item.RESULT_PRICE)</strong>원
                                        </span>
                                    </div>
                                </div>
                                <div class="btn_area">
                                    <a href="#" class="btn btn_brown_h40 mr5" style="width:142px;">바로구매</a><a href="javascript:AddCartSingle('@item.P_CODE');" class="btn btn_white_h40 cart" style="width:142px;">쇼핑백</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <!--//2015-08-21 추가-->
            </div>
        </div>
        <!--//container-->
        @{ Html.RenderPartial("~/Views/AboutMePartial/_Footer.cshtml");}
    </div>
}
<!--footer-->
@section Footer{

}
<!--//footer-->
