@model AboutMe.Domain.Entity.Order.ORDER_STEP1_PRICEINFO

    <ul>
        <li class="product">
            <p class="tot"><span class="tit">상품 금액</span><span class="price"><strong>@String.Format("{0:#,#0.}", Model.PriceInfo.TOTAL_PRICE)</strong>원</span></p>
            <p><span class="tit">상품 금액</span><span class="price"><strong>@String.Format("{0:#,#0.}", Model.PriceInfo.TOTAL_ORDER_PRICE)</strong> 원</span></p>
            <p><span class="tit">배송비</span><span class="price"><strong>@String.Format("{0:#,#0.}", Model.PriceInfo.TRANS_PRICE)</strong> 원</span></p>
        </li>
        <li class="sale">
            <p class="tot"><span class="tit">할인 금액</span><span class="price"><strong>@String.Format("{0:#,#0.}", Model.PriceInfo.DISCOUNT_AMT)</strong>원</span></p>
@if (Model.UserProfile.IS_LOGIN == true && Model.UserProfile.M_GBN == "S")
{ 
            <p><span class="tit">임직원할인</span><span class="price"><strong>@String.Format("{0:#,#0.}", Model.PriceInfo.EMP_DISCOUNT_AMT)</strong> 원</span></p>
}
              <p><span class="tit">쿠폰 할인</span><span class="price"><strong>@String.Format("{0:#,#0.}", Model.PriceInfo.COUPON_DISCOUNT_AMT)</strong> 원</span></p>
            <p><span class="tit">보유 포인트 사용</span><span class="price point"><i></i><strong>@String.Format("{0:#,#0.}", Model.PriceInfo.POINT_USE_PRICE)</strong></span></p>
@if (Model.UserProfile.IS_LOGIN == true )
{
            <p><span class="tit">회원할인</span><span class="price"><strong>@String.Format("{0:#,#0.}", Model.PriceInfo.GRADE_DISCOUNT_AMT)</strong> 원</span></p>
}
        </li>
        <li class="total">
            <p class="tot"><span class="tit">총 결제 금액</span><span class="price"><strong>@String.Format("{0:#,#0.}", Model.PriceInfo.TOTAL_PAY_PRICE)</strong>원</span></p>
            <p><span class="tit">예상 적립포인트</span><span class="price point"><i></i><strong>@String.Format("{0:#,#0.}", Model.PriceInfo.ACCML_POINT)</strong></span></p>
            <p><span class="info"><i></i>최종 결제금액 기준으로 포인트 적립됩니다.</span></p>
        </li>
    </ul>
