@model AboutMe.Domain.Entity.Order.ORDER_STEP1_DISCOUNTINFO
<script language="javascript">

    function usePointChange() {
        var mypoint = parseInt('@Model.MyPoint');
        var usepoint = parseInt($("#use_my_point").val());

        if (usepoint == "" || isNaN(usepoint)) {
            usepoint = 0;
        }

        if (mypoint < 5000) {
            alert('보유포인트가 5,000 포인트 이상 보유시 사용 가능합니다.');
            $("#use_my_point").val("0");
            $("#use_my_point").focus();
            return;
        }

        if (usepoint > mypoint) {
            alert('보유포인트보다 큰값을 입력하였습니다.');
            $("#use_my_point").focus();
            return;
        }

        var useval = Math.floor(usepoint / 1000) * 1000;
        if (useval < usepoint) {
            $("#use_my_point").val(useval);
            usepoint = useval;
        }

        if (confirm("보유포인트를 적용하시겠습니까?")) {
            var src_url = "/Order/ApplyPoint";
            var param = "ORDER_IDX=@Model.OrderIdx";
            param += "&USE_POINT=" + $("#use_my_point").val().trim();
            $.ajax({
                cache: false,
                type: "POST",
                url: src_url,
                data: param,
                success: function (data) {
                    if (data.result == "true") {
                        document.dummyForm1.action = "/Order/Step1#_sale";
                        document.dummyForm1.submit();
                    }
                    else {
                        if (data.msg != "") {
                            alert(data.msg);
                        }
                    }
                },
                complete: function (jqXHR, textStatus) {
                }
            });
        }

    }

    function useAllPoint(chk) {
        if (chk) {
            var mypoint = parseInt('@Model.MyPoint');
            var use_price = parseInt('@Model.DiscountInfo.POINT_USE_PRICE');
            var pay_price = parseInt('@Model.PriceInfo.TOTAL_ORDER_PRICE'); //배송비는 포인트결제에서 뺌
            var maxpoint = pay_price + use_price;
            if (maxpoint <= 0) {
                alert('결제금액이 0원입니다. 현재보유포인트를 사용할 수 없습니다.');
                $("#use_1").removeAttr("checked");
                return;
            }

            if (mypoint < maxpoint) {
                $("#use_my_point").val(mypoint);
            }
            else {
                $("#use_my_point").val(maxpoint);
            }
            usePointChange();
        }
        else {
            $("#use_my_point").val('0');
            usePointChange();
        }
    }

    function setTransCoupon(selectbox) {
        var coupon_idx = $(selectbox).val();
        if (coupon_idx == '' || coupon_idx == null || coupon_idx == 'undefined')
        {
            coupon_idx = 0;
        }
        var src_url = "/Order/ApplyTransCoupon";
        var param = "ORDER_IDX=" + @Model.OrderIdx;
        param += "&COUPON_IDX=" + coupon_idx;
        $.ajax({
            cache: false,
            type: "POST",
            url: src_url,
            data: param,
            success: function (data) {
                if (data.result == "true") {
                    document.dummyForm1.action = "/Order/Step1#_sale";
                    document.dummyForm1.submit();
                }
                else {
                    if (data.msg != "") {
                        alert(data.msg);
                    }
                }
            },
            complete: function (jqXHR, textStatus) {
            }
        });
    }
</script>
    <!-- 할인 관련 정보 -->
    <div class="tit_h4"><a name="_sale"></a>
        <h4><img src="/aboutCom/images/cart/h4_saleinfo.png" alt="할인 혜택" /></h4>
    </div>
    <div class="tabletypea">
        <table>
            <caption>상품 할인정보 테이블</caption>
            <colgroup>
                <col width="126" />
                <col width="430" />
                <col width="*" />
            </colgroup>
            <tbody>
                <tr class="si_coupon">
                    <th>할인 쿠폰 사용</th>
                    <td>
                        <label>
                            <input type="text" class="ipttypea h30 mr5" style="width:122px" value="@String.Format("{0:#,#0.}", Model.DiscountInfo.COUPON_DISCOUNT_AMT)" title="쿠폰 할인금액" disabled />원
                        </label><a href="#none" class="btn_brown_w96h38 ml20" onclick="CouponPopup(''); return false;">쿠폰 사용</a>
                        <a href="/Mypage/MyCoupon/Availablelist" class="btn_white_w96h38 typeb" target="_blank">내 쿠폰 확인</a>
                    </td>
                    <td><span class="info"><i></i>쿠폰은 상품별로 사용가능 합니다.</span></td>
                </tr>
                <tr class="si_point">
                    <th>보유 포인트 사용</th>
                    <td>
                        <div class="insert">
                            <label>
                                <input type="text" name="use_my_point" id="use_my_point" max='999999999' class="ipttypea h30 mr5" style="width:122px" value="@Model.DiscountInfo.POINT_USE_PRICE" onkeydown="return digit_check(event)" title="사용할 포인트 입력" />원
                            </label><label class="ml5"><a href="#none" class="btn_brown_w96h38 btn_ptuse" onclick="usePointChange();">포인트 사용</a></label>
                            <label class="chkcon ml10">
                                <input type="checkbox" name="use_1" id="use_1" onclick="javascript:useAllPoint(this.checked)" title="" /><span class="txt">모두 사용하기</span>
                            </label>
                        </div>
                        <span class="mypoint"><i></i>나의 포인트 <span>@String.Format("{0:#,#0.}", Model.MyPoint)</span></span>
                    </td>
                    <td>
                        <span class="info"><i></i>포인트 5,000 이상 보유 시 1,000 단위로 사용 가능합니다.<br />할인 혜택에서 배송비는 제외됩니다.</span>
                        <span class="info"><i></i>적립된 포인트는 온라인 샵에서만 사용가능 (오프라인 매장사용불가)</span>
                    </td>
                </tr>
                <tr class="si_vip">
                    <th>VIP 회원 할인 금액</th>
                    <td><span class="price"><strong>@String.Format("{0:#,#0.}", Model.DiscountInfo.GRADE_DISCOUNT_AMT)</strong>원</span></td>
                    <td><span class="info"><i></i>VIP 클래스은 결제금액의 5% 추가 할인이 됩니다.</span></td>
                </tr>
                <tr class="si_delivery">
                    <th>무료배송 쿠폰</th>
                    <td>
                        <select class="selectstyleb" title="" name="TRANS_COUPON" @Model.TransCouponDisabled.ToString() onchange="setTransCoupon(this);">
                            <option selected="selected" value="">쿠폰을 선택하세요</option>
                            @foreach (var items in Model.TransCouponList)
                            {
                                string seltxt = "";
                                if (Model.DiscountInfo.TRANS_COUPON == items.IDX_COUPON_NUMBER)
                                {
                                    seltxt = "selected='selected'";
                                }
                                @Html.Raw(new HtmlString("<option " + seltxt + " value='" + items.IDX_COUPON_NUMBER.ToString() + "'>" + items.COUPON_NAME + "</option>"));
                                   
                            }
                        </select>
                    </td>
                    <td><span class="info"><i></i>총 결제금액이 30,000원 이상인 경우 배송비 무료입니다.</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- //할인 관련 정보 -->
