@model AboutMe.Domain.Entity.Order.ORDER_STEP1_ORDERLIST

@helper GridHeader()
{
    if (Model.UserProfile.IS_LOGIN == true)
    {
        if (Model.UserProfile.M_GBN == "S") //임직원
        {
            <colgroup>
                <col width="136" />
                <col width="*" />
                <col width="120" />
                <col width="120" />
                <col width="94" />
                <col width="104" />
                <col width="114" />
                <col width="127" />
            </colgroup>
            <thead>
                <tr>
                    <th colspan="2">상품명</th>
                    <th>상품금액</th>
                    <th>임직원금액</th>
                    <th>수량</th>
                    <th>쿠폰적용</th>
                    <th>예상적립 포인트</th>
                    <th>주문금액</th>
                </tr>
            </thead>
        }
        else
        {
            <colgroup>
                <col width="163" />
                <col width="*" />
                <col width="159" />
                <col width="121" />
                <col width="100" />
                <col width="141" />
                <col width="160" />
            </colgroup>
            <thead>
                <tr>
                    <th colspan="2">상품명</th>
                    <th>상품금액</th>
                    <th>수량</th>
                    <th>쿠폰할인</th>
                    <th>예상적립 포인트</th>
                    <th>주문금액</th>
                </tr>
            </thead>
        }
    }
    else
    {
        <colgroup>
            <col width="163" />
            <col width="*" />
            <col width="222" />
            <col width="117" />
            <col width="241" />
        </colgroup>
        <thead>
            <tr>
                <th colspan="2">상품명</th>
                <th>상품금액</th>
                <th>수량</th>
                <th>주문금액</th>
            </tr>
        </thead>
    }
}

<table summary="상품명, 상품금액, 수량, 쿠폰적용, 예상적립 포인트, 주문금액">
    <caption>주문상품 확인</caption>
    @GridHeader()
      <tbody>
    @foreach (var item in Model.OrderList)
    { 
        <tr>
            <td class="proimg">
                <a href="#"><img src="/aboutCom/images/sample/thum_cartpdt1.jpg" alt="상품 이미지" /></a>
            </td>
            <td class="product">
                <dl>
                    <dt>
                        <a href="#">
                            <span class="tag"><span class="ico_new">NEW</span></span>
                            @item.P_NAME
                        </a>
                    </dt>
                    <dd>제주 참마 유래성분으로 미백기능성</dd>
                </dl>
            </td>
            <td class="proprice">
                @if (@item.SELLING_PRICE != @item.DISCOUNT_PRICE)
                {
                    <del>@item.SELLING_PRICE.ToString("#,#0.") 원</del>
                }
                <strong>@String.Format("{0:#,#0.}", @item.DISCOUNT_PRICE)</strong>원
            </td>
            @if (Model.UserProfile.M_GBN == "S") //임직원
            {
                <td class="vipprice">
                    <strong>@item.EMP_DISCOUNT_PRICE.ToString("#,#0.")</strong>원
                </td>
            }
            <td class="count">
                <div class="relbox">
                    @item.P_COUNT
                    @if (item.PROMOTION_TYPE == "02") //1+1
                    { 
                    <span class="onenone">
                        <i>+1</i>
                        <span class="tooltip">동일한 상품이 하나 더 배송되는<br />1+1 상품입니다.</span>
                    </span>
                    }
                </div>
            </td>
            @if (Model.UserProfile.IS_LOGIN == true)
            { 
            <td class="coupon">
                <strong>@String.Format("{0:#,#0.}", item.COUPON_DISCOUNT_AMT)</strong>원<br />
                @if (string.IsNullOrEmpty(item.IDX_COUPON_NUMBER.ToString()) || item.IDX_COUPON_NUMBER == 0)
                {
                    <a href="#none" class="btn_coupondown mt10" onclick="CouponPopup('@item.P_CODE');">쿠폰 적용 <img src="/aboutCom/images/common/ico_change.gif" alt=""></a>
                }
                else
                {
                    <a href="#none" class="btn_coupondown mt10" onclick="CouponPopup('@item.P_CODE');">쿠폰 변경 <img src="/aboutCom/images/common/ico_change.gif" alt=""></a>
                }
                
            </td>
            <td class="point">
                <span class="val">@String.Format("{0:#,#0.}", item.POINT_ACCML)</span>
            </td>
            }
            <td class="ordprice"><strong>@String.Format("{0:#,#0.}", item.COUPON_DISCOUNT_PRICE)</strong>원</td>
        </tr>
    }
    </tbody>
</table>
