@model IEnumerable<AboutMe.Domain.Entity.Product.SP_PRODUCT_MAIN_SEL_Result>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AboutMeLayoutA.cshtml";
}
@section Head{
    @{ Html.RenderPartial("~/Views/AboutMePartial/_Head.cshtml");}
    <link href="/aboutCom/css/shopping.css" rel="stylesheet" />
}


<!--header-->
@section Header{

}
<!--//header-->
@section Scripts{

    <script language="javascript">

          $(function () {
              //ajaxSelectCateCodeJavascriptInit();
          });

    </script>

}

<!--container-->
@section Body{

    <div class="wrap display">
        @{ Html.RenderPartial("~/Views/AboutMePartial/_Header.cshtml");}
        <!--container-->
        <div class="container">
            <!--전시메인배너-->
            <div class="display_bnr">
                <div class="nav">
                    <ul></ul>
                </div>
                <div class="slider">
                    <img src="/aboutCom/images/sample/event_ban2.jpg" class="dummy" alt="" />
                    <ul>
                        <li><img src="/aboutCom/images/sample/event_ban2.jpg" alt="" /></li>
                        <li><img src="/aboutCom/images/sample/event_ban1.jpg" alt="" /></li>
                        <li><img src="/aboutCom/images/sample/event_ban2.jpg" alt="" /></li>
                    </ul>
                </div>
            </div>
            <!--//전시메인배너-->
            <!--best sellers-->
            <div class="best_sellers">
                <img src="/aboutCom/images/shopping/bnr_bestseller.jpg" class="imgtit" alt="Best Sellers 어바웃미 핫 아이템 베스트셀러 .10" />
                <ul class="tabs tabtyped">
                    <li class="cnt"><a href="#Beauty">뷰티</a></li>
                    <li><a href="#Health">헬스</a></li>
                    <li><a href="#Etc">셀렉샵</a></li>
                </ul>
                <!--뷰티-->
                <div id="Beauty" class="tab_content" style="display:block">
                    <ul class="product_list">
                        @{ var i = 0; }
                        @foreach (var item in ViewData["CateCodeB"] as List<AboutMe.Domain.Entity.Product.SP_PRODUCT_MAIN_SEL_Result>)
                        {
                            <li>
                                <a href="/shopping/detail?pcode=@item.P_CODE">
                                    <span class="photo"><img src="@ViewBag.PRODUCT_PATH@item.MAIN_IMG" alt="" /><em class="ranking">@i</em></span>
                                    <span class="detail">
                                        @if (!string.IsNullOrEmpty(item.ICON_YN))
                                        {
                                            if (item.ICON_YN.IndexOf('B') != -1)
                                            { <text> <span class="ico ico_best">BEST</span></text> }
                                            if (item.ICON_YN.IndexOf('S') != -1)
                                            { <text> <span class="ico ico_soldout">SOLD OUT</span></text> }
                                            if (item.ICON_YN.IndexOf('N') != -1)
                                            { <text> <span class="ico ico_new">NEW</span></text> }
                                            if (item.ICON_YN.IndexOf('C') != -1)
                                            { <text> <span class="ico ico_custom ">CUSTOM</span></text> }
                                        }
                                        <!--
            .ico_best
            .ico_coupon
            .ico_time
            .ico_soldout
            .ico_set
            -->
                                        <span class="tit">@(new HtmlString(item.P_NAME))</span>
                                        <span class="stit">@(new HtmlString(item.P_SUB_TITLE))</span>
                                        <span class="price"><del>@string.Format("{0:#,##0}", item.SELLING_PRICE)원</del><strong>@string.Format("{0:#,##0}", item.RESULT_PRICE)</strong>원</span>
                                    </span>
                                </a>
                                <a href="javascript:Cart_Product_Input('@item.P_CODE','1');" class="btn_cart"></a>
                            </li>
                          i++;
                        }
                        @*<li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">1</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">2</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">3</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">4</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">5</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">6</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">7</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">8</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">9</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">10</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>*@
                    </ul>
                </div>
                <!--//뷰티-->
                <!--헬스-->
                <div id="Health" class="tab_content">
                    <ul class="product_list">
                        @{ i = 0; }
                        @foreach (var item in ViewData["CateCodeH"] as List<AboutMe.Domain.Entity.Product.SP_PRODUCT_MAIN_SEL_Result>)
                        {
                            <li>
                                <a href="/shopping/detail?pcode=@item.P_CODE">
                                    <span class="photo"><img src="@ViewBag.PRODUCT_PATH@item.MAIN_IMG" alt="" /><em class="ranking">@i</em></span>
                                    <span class="detail">
                                        <!--
                    .ico_best
                    .ico_coupon
                    .ico_time
                    .ico_soldout
                    .ico_set
                    -->
                                        <span class="ico_best">BEST</span>
                                        <span class="tit">@(new HtmlString(item.P_NAME))</span>
                                        <span class="stit">@(new HtmlString(item.P_SUB_TITLE))</span>
                                        <span class="price"><del>@string.Format("{0:#,##0}", item.SELLING_PRICE)원</del><strong>@string.Format("{0:#,##0}", item.RESULT_PRICE)</strong>원</span>
                                    </span>
                                </a>
                                <a href="javascript:Cart_Product_Input('@item.P_CODE','1');" class="btn_cart"></a>
                            </li>
                            i++;
                        }
                        @*<li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">1</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">헬스</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">2</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">3</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">4</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">5</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">6</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">7</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">8</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">9</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">10</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>*@
                    </ul>
                </div>
                <!--//헬스-->
                <!--셀렉샵-->
                <div id="Etc" class="tab_content">
                    <ul class="product_list">
                        @{ i = 0; }
                        @foreach (var item in ViewData["CateCodeS"] as List<AboutMe.Domain.Entity.Product.SP_PRODUCT_MAIN_SEL_Result>)
                        {
                            <li>
                                <a href="/shopping/detail?pcode=@item.P_CODE">
                                    <span class="photo"><img src="@ViewBag.PRODUCT_PATH@item.MAIN_IMG" alt="" /><em class="ranking">@i</em></span>
                                    <span class="detail">
                                        <!--
                    .ico_best
                    .ico_coupon
                    .ico_time
                    .ico_soldout
                    .ico_set
                    -->
                                        <span class="ico_best">BEST</span>
                                        <span class="tit">@(new HtmlString(item.P_NAME))</span>
                                        <span class="stit">@(new HtmlString(item.P_SUB_TITLE))</span>
                                        <span class="price"><del>@string.Format("{0:#,##0}", item.SELLING_PRICE)원</del><strong>@string.Format("{0:#,##0}", item.RESULT_PRICE)</strong>원</span>
                                    </span>
                                </a>
                                <a href="javascript:Cart_Product_Input('@item.P_CODE','1');" class="btn_cart"></a>
                            </li>
                            i++;
                        }
                        @*<li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">1</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">셀렉샵 </span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">2</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">3</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">4</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">5</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">6</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">7</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">8</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">9</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="photo"><img src="/aboutCom/images/sample/thumb218.jpg" alt="" /><em class="ranking">10</em></span>
                                <span class="detail">
                                    <!--
                                .ico_best
                                .ico_coupon
                                .ico_time
                                .ico_soldout
                                .ico_set
                                -->
                                    <span class="ico_best">BEST</span>
                                    <span class="tit">멀티 사인즈 에이트 올 데이 브라이트</span>
                                    <span class="stit">청정 제주 참마 유래 성분이<br />맑고 환한 피부로 가꿔주는 미백기능성 토너</span>
                                    <span class="price"><del>32,000원</del><strong>25,000</strong>원</span>
                                </span>
                            </a>
                            <a href="#" class="btn_cart"></a>
                        </li>*@
                    </ul>
                </div>
                <!--//셀렉샵-->
            </div>
            <!--//best sellers-->

        </div>
        <!--//container-->
        @{ Html.RenderPartial("~/Views/AboutMePartial/_Footer.cshtml");}
    </div>
}
<!--footer-->
@section Footer{

}
<!--//footer-->
