@model AboutMe.Web.Admin.Models.AdminMyPointHistoryViewModel
@{
    Layout = "~/Views/Shared/_AboutMeAdminLayoutB.cshtml";
}


@section Scripts{
    <script>
        function closePopup() {
            if (window.opener) {
                window.opener.location.reload(true);
            }
            self.close();

        }


    </script>
}


@section Body{
    <h1>활동내역</h1>
    <br />
    <!-- tabs -->
    <ul class="nav nav-tabs">
        <li><a href="/AdminOrder/Index?M_ID=@(Model.Mid)">주문 내역</a></li>
        <li class="active"><a href="/AdminPoint/MyPointHistory?M_ID=@(Model.Mid)">포인트 내역</a></li>
        <li><a href="/AdminCoupon/Index?M_ID=@(Model.Mid)">쿠폰 내역</a></li>
        <li><a href="/AdminQna/Index?M_ID=@(Model.Mid)">1:1 문의 내역</a></li>
    </ul>
    <!-- //tabs -->
    <br />

    <table class="table table_col">
        <colgroup><col width="5%" /><col width="12%" /><col width="10%" /><col width="*" /><col width="15%" /><col width="18%" /><col width="18%" /><col width="10%" /></colgroup>
        <thead>
            <tr>
                <th scope="col" class="brnone">No.</th>
                <th scope="col">구분</th>
                <th scope="col">일자</th>
                <th scope="col">포인트</th>
                <th scope="col">주문번호</th>
                <th scope="col">설명</th>
                <th scope="col">메모</th>
                <th scope="col" class="brnone">등록자</th>
            </tr>
        </thead>
        <tbody>
            @{
                var count = Model.TotalItem - 10 * (Model.PageNo - 1) ;
            }
            @foreach (var item in Model.PointHistoryList)
            {
                <tr>
                    <td class="brnone">@count</td>
                    <td class="text-success">@item.KIND</td>
                    <td class="">@item.INS_DATE.Value.ToShortDateString()</td>
                    <td>@item.POINT</td>
                    <td>@item.SUM_POINT</td>
                    <td>@item.DETAIL</td>
                    <td>@item.ADDITION_REASON</td>
                    <td class="brnone">@item.ADM_NAME</td>
                    @{
                        count = count - 1;
                    }
                </tr>
            }
        
        </tbody>
    </table>

    @{

        Html.RenderAction("Paging", "CommonChildAction", new { TotalRecord = Model.TotalItem, RecordPerPage = 10, PagePerBlock = 10, CurrentPage = Model.PageNo, QueryStr = "M_ID=" + Model.Mid });
    }
}