@model AboutMe.Domain.Entity.Recallbbs.RECALL_INDEX
@{
    ViewBag.Title = "교환/반품신청 작성 - ABOUT ME";
    ViewBag.TopClass = "mypage";
    Layout = "~/Views/Shared/_AboutMeLayoutB.cshtml";
}
@section Scripts {
    <link href="/aboutCom/css/mypage.css" rel="stylesheet" />
    <script src="/aboutCom/js/lib/jquery-ui.js"></script>
    <script src="/aboutCom/js/lib/ui.datepicker-ko.js"></script>
    <script> 
         
    </script>
   
}
<!--container-->
<div id="container" class="return">
    <div class="container1080">
        <!--mypage_top-->
        <div class="mypage_top">
            <!--h2_area-->
            <div class="h2_area">
                <h2>교환/반품<br />신청<i></i></h2>    
                <!--mypage_menu-->
                @{ Html.RenderPartial("~/Views/AboutMePartial/_MyPageSubMenu.cshtml");}
                <!--//mypage_menu-->
            </div>
            <!--//h2_area-->
            <!--꼭 읽어주세요-->
            <div class="userread">
                <p class="tit">꼭 읽어주세요</p>
                <ul class="ps_list">
                    <li>주문취소는 배송 시작 전 단계에서만 기능합니다. 주문내역에서 취소 가능합니다.</li>
                    <li>이후에는 반품으로 진행되며, 단순변심으로 인한 반품일 경우 반품배송비가 추가 발생할 수 있습니다. </li>
                    <li>주문내역에서 선택 후 교환/반품 신청 가능합니다.</li>
                </ul>
            </div>
            <!--//꼭 읽어주세요-->
        </div>
        <!--//mypage_top-->
        <!--writerarea-->
        <div class="contypeb">
            <div class="tabletypec">
                @using (Html.BeginForm("RecallAction", "Recall", FormMethod.Post, new { id = "frm", name = "frm", onsubmit = "return;" }))
                {
                    @Html.Hidden("idx", @Model.model.IDX)
                    @Html.Hidden("order_code", @Model.model.ORDER_CODE)
                    @Html.Hidden("order_detail_idx", @Model.model.ORDER_DETAIL_IDX) 
                    @Html.Hidden("status", "1" ) 
                    @Html.Hidden("mode", @Model.mode)
                    <table>
                        <colgroup><col width="147" /><col width="*" /></colgroup>
                        <tr>
                            <th>주문번호</th>
                            <td><input type="text" class="ipttypea h35" style="width:236px;" readonly value="@Model.model.ORDER_CODE" /></td>
                        </tr>
                        <tr>
                            <th>신청분류 </th>
                            <td> 
                                <select class="selectstyleb" title="" name="gubun" id="gubun">
                                    <option value="">선택</option>
                                    <option selected=@(Model.model.GUBUN ==1) value="1">주문취소신청</option>
                                    <option selected=@(Model.model.GUBUN ==2) value="2">반품신청</option>
                                    <option selected=@(Model.model.GUBUN ==3) value="3">교환신청</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>제목</th>
                            <td><input type="text" class="ipttypea h35" style="width:910px;" name="title" id="title" value="@Model.model.TITLE" /></td>
                        </tr>
                        <tr class="last">
                            <th>내용</th>
                            <td>
                                <textarea class="textarea" style="width:910px; height:190px" name="contents" id="contents">@Model.model.CONTENTS</textarea>
                            </td>
                        </tr>
                    </table>
                }
            </div>
            <div class="btngroup mt20"> 
                @if(Model.mode.Equals("NEW")){<a href="javascript:" onclick="document.frm.submit();" class="btn_brown_w96h38">신청</a>}
                @if(Model.mode.Equals("EDIT")){<a href="javascript:" onclick="document.frm.submit();" class="btn_brown_w96h38">수정</a>} 
                <a href="javascript:" onclick="history.back();" class="btn_white_w96h38 typeb">취소</a>
            </div>
        </div>
        <!--//writerarea-->


    </div>
</div>
<!--//container-->